// @import '_variables';

body{
    margin: 0;
	overflow-y:  hidden;
	-webkit-text-size-adjust: none;
    #wrap {
        position: relative;
        overflow: hidden;
        #page{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: Border-box;
            min-height: 100vh;
            text-align: center;
            font-family: 'Pretendard';
            letter-spacing: 0.01rem;
            .page-head{
                .page-subject{
                    a {
                        font-size: 5rem;
                        line-height: 5rem;
                        color: #2d2d2d;
                    }
                }
                .sub-title{
                    font-size: 2rem;
                    line-height: 2rem;
                    color: #2d2d2d;
                    margin: 3rem 0 2rem;
                }
            }
            .page-body{
                .info-board{
                    .board-wrap{
                        .board-body{
                            .para{
                                font-size: inherit;
                                line-height: 160%;
                            }
                        }
                        .board-util{
                            margin-top: 5.125rem;
                            .button-display{
                                .button-area{
                                    padding: 0.5rem 1.25rem;
                                    border: 0.1rem solid #000;
                                    border-radius: 3rem;
                                    position: relative;
                                    transition: 0.3s ease-out;
                                    padding-left: 2rem;
                                    .btn-text{
                                        &::before{
                                            content: '>';
                                            display: block;
                                            position: absolute;
                                            left: 1rem;
                                        }
                                    }

                                    &:hover{
                                        background-color: #2d2d2d;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .page-foot{
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: #2d2d2d;
                .copyright{
                    padding: 1rem;
                    color: #fff;
                }
            }
        }
    }
}