/* Guide */
.guide {
    .main-contents {
        max-width:128rem;
        margin-left:auto;
        margin-right:auto;
    }
    .main-flex-layer { 
        display:flex;
        .banner-box-link {
        }
        ~ .main-flex-layer {
            margin-top:2rem;
        }
    }

    &.mo {
        .main-flex-layer {
            flex-wrap:wrap;
        }
    }
}