#guide-list {
    .page-body {
        .local-body {
            .section {
                
                //컬러
                &.color-guide {
					.subsection-body {
						.data-list {
							display: flex;
							align-items: center;
							flex-wrap: wrap;
							gap: 2rem;

							.data-item {
								width: 10rem;
								display: flex;
								flex-direction: column;
								align-items: center;

								.data-box {
									width: 7.5rem;
									height: 8rem;
									border-radius: 1rem;
									box-shadow: -0.3rem -0.4rem 0.7rem rgba(0, 0, 0, 0.1) inset;

									+.data-name {
										padding-top: 0.8rem;
									}
								}

								.data-name {
									font-size: 1.3rem;
									font-weight: 500;
									color: #555555;

									+.data-code {
										padding-top: 0.7rem;
									}
								}

								.data-code {
									font-size: 1.2rem;
									font-weight: 400;
									color: #8C8C8C;
								}

								span[class^=data] {
									text-align: center;
									display: block;
								}
							}
						}
					}
					@include mobile {
						.subsection-body {
							.data-list {
								gap: 1.5rem 0;
								.data-item {
									.data-name {
										+.data-code {
											padding-top: 0.3rem;
										}
									}
								}
							}
						}
					}
				}

                // 버튼
				&.button-guide {
					.subsection {
						.subsection-body {
							> .guide-button-area {
								padding-top: 1.8rem;
								.btn {
									~ .btn {
										margin-left: 0.5rem;
									}
								}
								.flex {
									~ .flex {
										margin-top: 0.5rem;
									}
								}
							}
						}
					}
				}

				// 폰트
				&.font-guide {
					.subsection {
						.subsection-body {
							
						}
					}
				}
            }
        }
    }
}