// guide head
#guide-list {
	.page-head {
		width: 100%;
		background-color: #2d2d2d;
		padding: 1rem 1.8rem;
	
		.page-head-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.page-subject {
			.page-name {
				font-size: 1.6rem;
				color: #ffffff;
			}
		}
		.page-control {
			z-index: 101;
			.control-name {
				display: block;
			}
			.control-name svg {
				fill: #ffffff;
			}
		}
	}

	.page-body {
		max-width: 120rem;
		margin: 0 auto;
	}

	.page-side {
		display: flex;
		align-items: flex-start;
		padding: 10rem 36rem;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #2d2d2d;
		color: #fff;

		.aside-body{
			.section{
				.section-head{
					margin-bottom: 8rem;
					.section-title{
						.section-name{
							font-size: 6rem;
							font-weight: 600;
							line-height: 5rem;
							margin-bottom: 3rem;
						}
					}
				}
				.section-body{
					position: relative;
					.gnb-list{
						.gnb-item{
							margin-bottom: 10rem;
							.gnb-name{
								font-size: 4rem;
								position: relative;
								&::after{
									content: '';
									display: block;
									position: absolute;
									bottom: 0.8rem;
									left: 20rem;
									width: 100rem;
									height: 0.1rem;
									background-color: #fff;
									opacity: 0.1;
								}
							}
						}
					}
					.lnb-list{
						position: absolute;
						left: 20rem;
						margin-top: 2rem;
						display: flex;
						gap: 5rem;
						.lnb-item{
							.lnb-name{}
						}
					}
				}
			}
		}

		&:not(.active) {
			display: none;
		}
		.close {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 72rem;
			height: 72rem;
			top: 0;
			right: 0;
	
			svg {
				display: block;
				fill: red;
				width: 24rem;
				height: 24rem;
			}
		}
	}


}


// 푸터 scss
.page-foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #2d2d2d;
	text-align: center;
	.copyright{
		font-size: 1.5rem;
		padding: 1rem;
		color: #fff;
	}
}