
#wrap{
    position: relative;
    overflow: hidden;
    #page-list{
        position: relative;
        .page-head{
            display: flex;
            justify-content: space-between;
            background-color: #2d2d2d;
            color: #fff;
            align-items: center;
            position: fixed;
            z-index: 30;
            top: 0;
            right: 0;
            left: 0;
            height: 4rem;
            padding: 0 2rem 0 3rem;
            .page-control{
                .control-list{
                    .control-item{
                        .content-name{
                            svg{
                                display: block;
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}