#guide-list {
    .page-body {
        .local-body {
            .section {
                
                //컬러
                &.color-guide {
					.subsection-body {
						.data-list {
							display: flex;
							align-items: center;
							flex-wrap: wrap;
							gap: 2rem;

							.data-item {
								width: 10rem;
								display: flex;
								flex-direction: column;
								align-items: center;

								.data-box {
									width: 7.5rem;
									height: 8rem;
									border-radius: 1rem;
									box-shadow: -0.3rem -0.4rem 0.7rem rgba(0, 0, 0, 0.1) inset;

									+.data-name {
										padding-top: 0.8rem;
									}
								}

								.data-name {
									font-size: 1.3rem;
									font-weight: 500;
									color: #555555;

									+.data-code {
										padding-top: 0.7rem;
									}
								}

								.data-code {
									font-size: 1.2rem;
									font-weight: 400;
									color: #8C8C8C;
								}

								span[class^=data] {
									text-align: center;
									display: block;
								}
							}
						}
					}
					@include mobile {
						.subsection-body {
							.data-list {
								gap: 1.5rem 0;
								.data-item {
									.data-name {
										+.data-code {
											padding-top: 0.3rem;
										}
									}
								}
							}
						}
					}
				}

                // 버튼
				&.button-guide {
					.subsection {
						.subsection-body {
							> .guide-button-area {
								padding-top: 1.8rem;
								display: flex;
								align-items: baseline;
								gap: 0.8rem;
							}
							.btn {
								&.text {
									&[class*=al-icon] .btn-text::before,
									&[class*=ar-icon] .btn-text::after {
										background-color: red;
									}
								}
							}
						}
					}
				}

				// 폰트
				&.font-guide {
					.subsection {
						.subsection-body {
							.table {
								thead {
									background-color: #14121F;
								}
								tbody {
									tr {
										height: 12rem;
										border-bottom: 0.1rem solid #b9b9b9;
									}
								}
								th {
									font-size: 1.4rem;
									font-weight: 500;
									line-height: normal;
									color: #ffffff;
									padding: 1.2rem;
									&:first-child {
										border-radius: 1.2rem 0 0 0;
									}
									&:last-child {
										border-radius: 0 1.2rem 0 0;
									}
								}
								td {
									&:first-child {
										text-align: left;
										padding-left: 1rem;
									}
									text-align: center;
									span {
										font-size: 1.4rem;
										font-weight: 500;
										line-height: 150%;
										color: #1a1a1a;
									}
								}
							}
						}
					}
				}
            }
        }
    }
}