<aside class="quick-scroll-move-top-mobile">
    <button onclick="javascript:void(0)" class="btn-go-top">
        <em class="text-wrap">
            <span class="text">
                TOP
            </span>
        </em>
    </button>
</aside>