<header id="header" class="header tnc guide">
                <div class="header-inner">
                    <div class="header-logo">
                        <h1 class="logo-top">
                            <a href="../../html/guide/GUT001W00.html" class="logo-hysung-link" title="클릭 : 메인 페이지 이동" aria-label="클릭 : 메인 페이지 이동">
                                <em class="logo logo-hyosung-tnc-eng color-white">HYOSUNG TNC</em>
                                <em class="text-wrap">
                                    <span class="text color-type1">Design Guide</span>
                                </em>
                            </a>
                        </h1>
                        <button onclick="javascript:void(0)" class="button-guide-gnb" title="클릭 : 메뉴 보기/닫기" aria-label="클릭 : 메뉴 보기/닫기">
                            <em class="bar-list">
                                <span class="bar-item bar1">라인</span>
                                <span class="bar-item bar2">라인</span>
                                <span class="bar-item bar3">라인</span>
                            </em>
                        </button>
                    </div>
                    <nav class="guide-gnb-wrap">
                        <ul class="accordian-button-view-list">
                            <li class="accordian-depth1-item depth1-item">
                                <div class="accordian-depth1-item-inner">
                                    <a href="../../html/guide/GUT001W01.html" class="accordian-depth1-link" title="클릭 : 서브페이지 이동" aria-label="클릭 : 서브페이지 이동">
                                        <span class="text">가이드 라인</span>
                                    </a>
                                    <button class="button-add-view accordian-depth1-add-view-button" title="클릭 : 서브항목 펼침/접기" aria-label="클릭 : 서브항목 펼침/접기">
                                        <em class="button-add-view-inner">
                                            <span class="bar bar1">라인1</span>
                                            <span class="bar bar2">라인2</span>
                                        </em>
                                    </button>
                                </div>
                                <ul class="accordian-depth2-list depth2-list">
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Color</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Font Family</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner depth1-item-menu">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Font Size &amp; Line Height</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner depth1-item-menu">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Example of Code Creation</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner depth1-item-menu">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Web Standard &amp; Accessibility</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="accordian-depth1-item depth1-item">
                                <div class="accordian-depth1-item-inner">
                                    <a href="../../html/guide/GUT001W02.html" class="accordian-depth1-link" title="클릭 : 서브페이지 이동" aria-label="클릭 : 서브페이지 이동">
                                        <span class="text">컴포넌트</span>
                                    </a>
                                    <button class="button-add-view accordian-depth1-add-view-button" title="클릭 : 서브항목 펼침/접기" aria-label="클릭 : 서브항목 펼침/접기">
                                        <em class="button-add-view-inner">
                                            <span class="bar bar1">라인1</span>
                                            <span class="bar bar2">라인2</span>
                                        </em>
                                    </button>
                                </div>
                                <ul class="accordian-depth2-list depth2-list">
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Button</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Cursor</span>
                                            </a>
                                        </div>
                                    </li>
                                    
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Icon</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Input Checkbox</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Input Radio</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Input Text 외</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Logo</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Photo</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Progress Bar</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Select &gt; Option</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Text</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">TextArea</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Title</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="accordian-depth1-item depth1-item">
                                <div class="accordian-depth1-item-inner">
                                    <a href="../../html/guide/GUT001W03.html" class="accordian-depth1-link"  title="클릭 : 서브페이지 이동" aria-label="클릭 : 서브페이지 이동">
                                        <span class="text">템플릿</span>
                                    </a>
                                    <button class="button-add-view accordian-depth1-add-view-button" title="클릭 : 서브항목 펼침/접기" aria-label="클릭 : 서브항목 펼침/접기">
                                        <em class="button-add-view-inner">
                                            <span class="bar bar1">라인1</span>
                                            <span class="bar bar2">라인2</span>
                                        </em>
                                    </button>
                                </div>
                                <ul class="accordian-depth2-list depth2-list">
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Accordion</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Agree</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Banner</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Bread Crumbs</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Bullet List</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Card Box</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Chart</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Diagram Markup</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Diagram Image</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Mobile Touch</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Search</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Pagination</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Tab</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Table</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="javascript:void(0)" class="accordian-depth2-link depth2-item-menu" title="클릭 : 서브페이지 해당항목 이동" aria-label="클릭 : 서브페이지 해당항목 이동">
                                                <span class="text">Thumbnail</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="accordian-depth1-item depth1-item">
                                <div class="accordian-depth1-item-inner">
                                    <a href="../../html/guide/GUT002W01.html" class="accordian-depth1-link" title="클릭 : 서브페이지 이동" aria-label="클릭 : 서브페이지 이동">
                                        <span class="text">페이지 목록</span>
                                    </a>
                                    <button class="button-add-view accordian-depth1-add-view-button" title="클릭 : 서브항목 펼침/접기" aria-label="클릭 : 서브항목 펼침/접기">
                                        <em class="button-add-view-inner">
                                            <span class="bar bar1">라인1</span>
                                            <span class="bar bar2">라인2</span>
                                        </em>
                                    </button>
                                </div>
                                <ul class="accordian-depth2-list depth2-list">
                                    <li class="accordian-depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="../../html/guide/GUT002W00.html" class="depth2-item-menu" title="클릭 : 서브페이지 이동" aria-label="클릭 : 서브페이지 이동">
                                                <span class="text">효성가이드 목록</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="accordian-depth2-item">
                                        <div class="accordian-depth2-item-inner">
                                            <a href="../../html/guide/GUT002W01.html" class="depth2-item-menu" title="클릭 : 서브페이지 이동" aria-label="클릭 : 서브페이지 이동">
                                                <span class="text">효성티엔씨 목록</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>