<div class="local-info">
    <div class="content-breadcrumb">
        <ul class="data-list case1">
            <li class="data-item"><a href="#" class="item-text">depth</a></li>
            <li class="data-item"><a href="#" class="item-text">depth</a></li>
            <li class="data-item"><a href="#" class="item-text">depth</a></li>
            <li class="data-item"><a href="#" class="item-text">depth</a></li>
        </ul>
    </div>
</div>