		<hr />
		<!-- page-foot -->
		<div class="page-foot" id="footer">
			<!-- section -->
			<div class="section widget-toolbar">
				<div class="section-wrap">
					<div class="section-head">
						<h2 class="section-name">도구모음</h2>
					</div>
					<div class="section-body">
						<ul class="navi-list">
							<li class="navi-item goto-top"><a class="navi-text" href="#page"><svg width="24" height="24" viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg"><title>맨위로</title><path d="M11.5286 5.06184C11.7889 4.80149 12.2111 4.80149 12.4714 5.06184L17.8047 10.3952C18.0651 10.6555 18.0651 11.0776 17.8047 11.338C17.5444 11.5983 17.1223 11.5983 16.8619 11.338L12.6667 7.14272V18.8666C12.6667 19.2348 12.3682 19.5332 12 19.5332C11.6318 19.5332 11.3333 19.2348 11.3333 18.8666V7.14272L7.13807 11.338C6.87772 11.5983 6.45561 11.5983 6.19526 11.338C5.93491 11.0776 5.93491 10.6555 6.19526 10.3952L11.5286 5.06184Z"></path></svg></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //section -->
			<!-- section -->
			<div class="section service-policy">
				<div class="section-wrap">
					<div class="section-head">
						<h2 class="section-subject"><span class="section-name">운영 정책</span></h2>
					</div>
					<div class="section-body">
						<!-- data-list -->
						<ul class="navi-list">
							<li class="navi-item em"><a class="navi-text" href="#">저작권 보호 정책</a></li>
							<li class="navi-item"><a class="navi-text" href="#sitemap" onclick="contentPopup.active('sitemap');">사이트맵</a></li>
							<li class="navi-item"><a class="navi-text" href="#">오시는 길</a></li>
						</ul>
						<!-- //data-list -->
					</div>
				</div>
			</div>
			<!-- //section -->
			<!-- section -->
			<div class="section general-info">
				<div class="section-wrap">
					<div class="section-head">
						<h2 class="section-subject"><span class="section-name">기업정보</span></h2>
					</div>
					<div class="section-body">
						<!-- data-list -->
						<ul class="data-list">
							<li class="data-item">22689 인천 서구 환경로 42 국립환경과학원 환경위성센터 </li>
							<li class="data-item">/ T. <a href="tel:032-560-7114">032-560-7114</a></li>
						</ul>
						<!-- data-list -->
						<p class="copyright"><span class="wbr">Copyright &copy; Environmental Satellite Center.  ALL RIGHT RESERVED</span></p>
					</div>
				</div>
			</div>
			<!-- //section -->
			<!-- section -->
			<div class="section family-site">
				<div class="section-wrap">
					<div class="section-head">
						<h2 class="section-subject"><span class="section-name" tabindex="0">환경과학원 소속기관</span></h2>
					</div>
					<div class="section-body">
						<!-- data-list -->
						<ul class="navi-list">
							<li class="navi-item"><a class="navi-text" target="_blank" href="#">국립환경과학원</a></li>
							<li class="navi-item"><a class="navi-text" target="_blank" href="#">교통환경연구소</a></li>
							<li class="navi-item"><a class="navi-text" target="_blank" href="#">한강물환경연구소</a></li>
							<li class="navi-item"><a class="navi-text" target="_blank" href="#">낙동강물환경연구소</a></li>
							<li class="navi-item"><a class="navi-text" target="_blank" href="#">금강물환경연구소</a></li>
							<li class="navi-item"><a class="navi-text" target="_blank" href="#">영산과학원소속기관</a></li>
						</ul>
						<!-- //data-list -->
					</div>
				</div>
			</div>
			<!-- //section -->

		</div>
		<!-- //page-foot -->