	<meta charset="utf-8" />
	<title>환경위성센터</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="keywords" content="국립환경과학원, 환경위성센터" />
	<link rel="shortcut icon" href="./../../assets/images/app/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css" />
	<% if (layoutTemplate) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/layout.<%= layoutTemplate %>.css"><% } %>
	<% if (pageStyle) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/page.<%= pageStyle %>.css"><% } %>
	<script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"><\/script>');</script>
	<script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js"><\/script>');</script>
	<script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\/script>');</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollToPlugin.min.js"></script>
	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
	<script src="https://unpkg.com/air-datepicker@3.1.0/air-datepicker.js"></script>
	<script src="./../../assets/js/bui.js"></script>
	<script src="./../../assets/js/bui.template.js" defer></script>
	<% if (pageJavascript) { %><script defer src="./../../assets/js/page.<%= pageJavascript %>.js"></script><% } %>