		<div id="skip" class="page-skip">
			<a class="skip-item" href="#content">본문 바로가기</a>
		</div>
		<!-- page-head -->
		<div class="page-head" id="header">
			<h1 class="page-subject" id="pageSubject">
				<a class="page-name" href="#">
					<svg width="290" height="40" viewBox="0 0 290 40" fill="none" xmlns="http://www.w3.org/2000/svg">
						<title>국립환경과학원 환경위성센터</title>
						<path d="M57.2573 23.1999V20.6999H50.5156V18.8624H66.1656V20.7166H59.3865V23.2166H64.9156V29.1374H62.8073V25.0541H51.5823V23.1999H57.2573ZM64.8573 12.4332V17.4999H62.7448V14.2874H51.7281V12.4332H64.8573Z" fill="black"/>
						<path d="M78.1404 21.2498H68.9737V16.0665H75.8529V14.3665H68.957V12.5706H77.9445V17.7873H71.0487V19.504H78.132L78.1404 21.2498ZM69.9154 22.1623H71.9987V23.5706H81.1654V22.1623H83.2487V28.7498H69.9154V22.1623ZM81.1654 25.2873H71.9987V27.0081H81.1654V25.2873ZM81.1237 12.079H83.2487V21.5748H81.1362L81.1237 12.079Z" fill="black"/>
						<path d="M90.2956 13.3331V11.6331H92.5789V13.3331H96.5831V15.1122H94.5747C95.1476 15.7048 95.4687 16.4963 95.4706 17.3206C95.4718 17.7949 95.3619 18.263 95.1497 18.6872C94.9348 19.1173 94.6392 19.5021 94.2789 19.8206C93.7643 20.2728 93.1483 20.5944 92.4831 20.7581V21.6956H96.9164V23.4956H85.8789V21.7122H90.3706V20.7539C89.718 20.5975 89.1141 20.2826 88.6122 19.8372C88.2535 19.5184 87.9593 19.1336 87.7456 18.7039C87.5302 18.2806 87.4187 17.8121 87.4206 17.3372C87.432 16.5141 87.7534 15.7255 88.3206 15.1289H86.2372V13.3331H90.2956ZM87.0914 28.7872V24.5831H89.1997V27.0289H100.65V28.8039L87.0914 28.7872ZM93.3997 17.2622C93.4057 16.7556 93.2004 16.2695 92.8331 15.9206C92.0656 15.177 90.8464 15.177 90.0789 15.9206C89.7091 16.2757 89.5001 16.7662 89.5001 17.2789C89.5001 17.7916 89.7091 18.2821 90.0789 18.6372C90.8482 19.3764 92.0638 19.3764 92.8331 18.6372C93.2047 18.2844 93.4104 17.7912 93.3997 17.2789V17.2622ZM100.333 24.4497H98.2206V12.0831H100.333V17.1997H102.521V19.0747H100.333V24.4497Z" fill="black"/>
						<path d="M111.338 20.6579H109.225V14.4454H103.092V12.5704H111.338V20.6579ZM117.063 25.4829C117.065 26.036 116.944 26.5826 116.708 27.0829C116.481 27.5764 116.163 28.023 115.771 28.3995C115.358 28.7842 114.878 29.0893 114.354 29.2996C113.812 29.5214 113.232 29.6347 112.646 29.6329C111.478 29.6263 110.354 29.18 109.5 28.3829C109.11 28.0112 108.792 27.5704 108.563 27.0829C108.326 26.5784 108.205 26.0275 108.208 25.4704C108.207 24.9108 108.328 24.3576 108.563 23.8496C108.79 23.3561 109.108 22.9095 109.5 22.5329C109.916 22.1483 110.399 21.8432 110.925 21.6329C111.472 21.4135 112.057 21.3018 112.646 21.3037C113.231 21.3005 113.812 21.4124 114.354 21.6329C114.877 21.8443 115.357 22.1493 115.771 22.5329C116.164 22.9132 116.482 23.3641 116.708 23.8621C116.945 24.3695 117.066 24.9231 117.063 25.4829ZM114.979 25.4829C114.989 24.8532 114.733 24.2485 114.275 23.8162C113.838 23.3674 113.235 23.1175 112.608 23.1246C111.32 23.138 110.278 24.1779 110.263 25.4662C110.255 26.0867 110.507 26.6822 110.958 27.1079C111.395 27.557 111.999 27.8045 112.625 27.7912C113.25 27.7995 113.852 27.5528 114.292 27.1079C114.747 26.6825 115.001 26.0848 114.992 25.4621L114.979 25.4829ZM115.596 12.0829H117.704V21.1079H115.596V18.9787H112.8V17.2371H115.596V15.6746H112.8V13.9371H115.596V12.0829Z" fill="black"/>
						<path d="M131.382 25.5246V27.3996H120.332V25.5246H123.811V19.9162H125.895V25.5246H131.382ZM128.249 23.5287V14.8954H120.965V13.0162H130.332V23.5287H128.249ZM134.811 29.0996H132.703V12.0829H134.811V19.2496H136.999V21.2496H134.811V29.0996Z" fill="black"/>
						<path d="M148.044 13.154V14.9707H138.119V13.154H141.998V11.729H144.248V13.154H148.044ZM138.823 23.2957H152.227V28.9415H150.115V25.1915H138.823V23.2957ZM147.069 18.9373C147.071 19.4242 146.964 19.9054 146.757 20.3457C146.557 20.781 146.274 21.173 145.923 21.4998C145.554 21.8285 145.131 22.092 144.673 22.279C144.19 22.4775 143.671 22.5766 143.148 22.5707C142.623 22.5754 142.102 22.4763 141.615 22.279C141.157 22.0922 140.734 21.8287 140.365 21.4998C140.015 21.173 139.732 20.781 139.532 20.3457C139.117 19.4541 139.117 18.4248 139.532 17.5332C139.731 17.0973 140.014 16.705 140.365 16.379C140.734 16.0488 141.157 15.7839 141.615 15.5957C142.102 15.4004 142.623 15.3013 143.148 15.304C143.671 15.3001 144.189 15.3993 144.673 15.5957C145.131 15.7841 145.554 16.049 145.923 16.379C146.274 16.705 146.558 17.0973 146.757 17.5332C146.964 17.9721 147.071 18.4518 147.069 18.9373ZM145.057 18.9373C145.069 18.4349 144.865 17.9514 144.498 17.6082C144.134 17.2585 143.645 17.0694 143.14 17.0832C142.638 17.0759 142.156 17.2729 141.802 17.629C141.448 17.9727 141.248 18.4455 141.248 18.9394C141.248 19.4333 141.448 19.9061 141.802 20.2498C142.156 20.6059 142.638 20.803 143.14 20.7957C143.651 20.7984 144.141 20.5939 144.498 20.229C144.861 19.8916 145.064 19.4162 145.057 18.9207V18.9373ZM152.227 22.354H150.115V12.0832H152.227V16.0707H154.669V18.154H152.227V22.354Z" fill="black"/>
						<path d="M167.487 22.2999H162.974V24.879H160.862V22.2999H156.166V20.4415H167.479L167.487 22.2999ZM157.329 28.804V23.9415H159.437V26.9707H171.141V28.804H157.329ZM165.983 15.8332C165.985 16.3634 165.868 16.8874 165.641 17.3665C165.413 17.8327 165.106 18.2557 164.733 18.6165C164.331 18.9705 163.872 19.2524 163.374 19.4499C162.312 19.8664 161.132 19.8664 160.07 19.4499C159.574 19.2531 159.115 18.9711 158.716 18.6165C158.34 18.257 158.032 17.8338 157.804 17.3665C157.348 16.395 157.348 15.2714 157.804 14.2999C158.032 13.8326 158.34 13.4094 158.716 13.0499C159.115 12.6953 159.574 12.4133 160.07 12.2165C161.132 11.8001 162.312 11.8001 163.374 12.2165C163.872 12.414 164.331 12.6959 164.733 13.0499C165.106 13.4107 165.413 13.8337 165.641 14.2999C165.868 14.779 165.985 15.303 165.983 15.8332ZM163.929 15.8332C163.938 15.2548 163.7 14.6998 163.274 14.3082C162.407 13.4759 161.038 13.4759 160.17 14.3082C159.752 14.7054 159.516 15.2567 159.516 15.8332C159.516 16.4097 159.752 16.961 160.17 17.3582C161.038 18.1905 162.407 18.1905 163.274 17.3582C163.7 16.9667 163.938 16.4117 163.929 15.8332ZM168.833 12.0832H170.945V25.0749H168.833V18.7999H166.47V16.9665H168.833V12.0832Z" fill="black"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M201.633 20.9199L201.777 22.3779C198.915 22.6659 196.737 22.7559 191.193 22.7559V21.2439C192.921 21.2439 194.307 21.2439 195.495 21.2259V20.1639C193.551 19.9479 192.579 18.9939 192.579 17.8239V17.3559C192.579 16.0239 193.857 14.9799 196.377 14.9799C198.897 14.9799 200.175 16.0419 200.175 17.3559V17.8239C200.175 18.9939 199.185 19.9479 197.259 20.1639V21.1899C198.789 21.1359 200.067 21.0639 201.633 20.9199ZM204.405 24.1419H202.641V11.5239H204.405V16.8699H206.745V18.4179H204.405V24.1419ZM195.603 23.6559V26.4279H204.855V27.9579H193.821V23.6559H195.603ZM197.259 12.9279H200.877V14.4219H191.823V12.9279H195.495V11.3799H197.259V12.9279ZM196.377 16.3839C194.955 16.3839 194.325 16.9059 194.325 17.4819V17.6979C194.325 18.2739 194.955 18.7959 196.377 18.7959C197.799 18.7959 198.429 18.2739 198.429 17.6979V17.4819C198.429 16.9059 197.799 16.3839 196.377 16.3839ZM210.849 25.4199V24.6999C210.849 22.9539 212.757 21.5319 215.943 21.5319C219.129 21.5319 221.037 22.9539 221.037 24.6999V25.4199C221.037 27.1659 219.129 28.5879 215.943 28.5879C212.757 28.5879 210.849 27.1659 210.849 25.4199ZM213.621 15.0339V14.0619H208.329V12.5499H215.367V15.1599C215.367 17.9139 214.017 18.9219 208.347 21.3339L207.645 19.9119C212.649 17.8239 213.621 16.9419 213.621 15.0339ZM220.965 21.3159H219.219V18.9039H216.015V17.3739H219.219V15.4479H216.285V13.9179H219.219V11.5239H220.965V21.3159ZM219.291 25.3119V24.8079C219.291 23.9259 217.995 22.9899 215.943 22.9899C213.891 22.9899 212.595 23.9259 212.595 24.8079V25.3119C212.595 26.1939 213.891 27.1299 215.943 27.1299C217.995 27.1299 219.291 26.1939 219.291 25.3119ZM228.615 19.0479C225.969 19.0479 224.295 17.5179 224.295 15.8079V15.0879C224.295 13.3779 225.933 11.8479 228.615 11.8479C231.297 11.8479 232.935 13.3779 232.935 15.0879V15.8079C232.935 17.5179 231.261 19.0479 228.615 19.0479ZM236.985 28.1199H235.221V11.5239H236.985V28.1199ZM229.605 27.6159H227.787V21.9459C226.473 21.9819 225.015 21.9819 223.395 21.9819V20.4339C228.147 20.4519 231.189 20.3439 234.177 20.0559L234.321 21.5499C232.827 21.7119 231.315 21.8199 229.605 21.8919V27.6159ZM228.615 17.4999C230.145 17.4999 231.225 16.7259 231.225 15.6819V15.2139C231.225 14.1159 230.145 13.3959 228.615 13.3959C227.085 13.3959 226.005 14.1159 226.005 15.2139V15.6819C226.005 16.7259 227.085 17.4999 228.615 17.4999ZM242.637 25.4379V24.7179C242.637 22.9719 244.545 21.5679 247.731 21.5679C250.917 21.5679 252.825 22.9719 252.825 24.7179V25.4379C252.825 27.1839 250.917 28.5879 247.731 28.5879C244.545 28.5879 242.637 27.1839 242.637 25.4379ZM244.059 17.3019H244.041C243.951 17.6079 243.393 18.2379 242.835 18.7419C242.097 19.4259 241.035 20.3259 240.081 21.0819L239.019 19.8219C240.171 18.9399 241.287 17.9859 241.917 17.3559C242.835 16.4379 243.087 15.7539 243.087 14.4939V12.2619H244.887V14.4219C244.887 15.5379 244.959 16.1319 245.823 16.9239C246.669 17.6979 247.695 18.5079 248.757 19.2819L247.713 20.5239C246.777 19.8219 245.949 19.1379 245.085 18.4179C244.545 17.9679 244.167 17.5719 244.059 17.3019ZM252.753 21.3339H250.989V16.6359H247.659V15.1059H250.989V11.5239H252.753V21.3339ZM251.079 25.3299V24.8259C251.079 23.9439 249.783 23.0259 247.731 23.0259C245.679 23.0259 244.383 23.9439 244.383 24.8259V25.3299C244.383 26.2119 245.679 27.1299 247.731 27.1299C249.783 27.1299 251.079 26.2119 251.079 25.3299ZM259.989 22.4679V26.3919H269.403V27.9399H258.207V22.4679H259.989ZM259.035 18.0219H259.017C258.945 18.3099 258.549 18.7599 258.243 19.1019C257.775 19.6419 256.749 20.6139 255.741 21.4959L254.607 20.2899C255.723 19.2999 256.767 18.3279 257.235 17.7339C258.009 16.7799 258.117 16.1859 258.117 15.0519V12.3879H259.845V14.9439C259.845 16.0239 259.971 16.7619 260.799 17.7159C261.375 18.3819 262.203 19.0839 263.067 19.7859L261.951 20.9739C261.141 20.2899 260.421 19.6059 259.935 19.1199C259.485 18.6699 259.125 18.2919 259.035 18.0219ZM265.839 11.7399V22.9179H264.147V16.7979H261.789V15.2679H264.147V11.7399H265.839ZM267.297 23.3139V11.5239H269.007V23.3139H267.297ZM279.609 14.3859H273.777V17.5719H278.979V19.0839H273.777V22.4859H275.343C277.521 22.4859 279.375 22.3779 281.031 22.1259L281.211 23.6379C279.267 23.9439 277.503 24.0159 274.911 24.0159H272.013V12.8559H279.609V14.3859ZM284.721 28.1199H282.939V19.0839H279.933V17.5359H282.939V11.5239H284.721V28.1199Z" fill="black"/>
						<path opacity="0.450223" d="M182.801 10.3999H181.801V30.3999H182.801V10.3999Z" fill="black"/>
						<g clip-path="url(#clip0_1360_17682)">
						<path d="M40 19.9943C40 23.9488 38.827 27.8145 36.6294 31.1025C34.4318 34.3905 31.3082 36.9532 27.6537 38.4666C23.9992 39.9799 19.9778 40.3759 16.0982 39.6044C12.2186 38.8329 8.65494 36.9286 5.85789 34.1323C3.06084 31.3361 1.15602 27.7735 0.384311 23.895C-0.387394 20.0165 0.0086451 15.9963 1.5224 12.3428C3.03615 8.68933 5.59961 5.56664 8.88859 3.36964C12.1776 1.17265 16.0444 0 20 0C22.6264 0 25.2272 0.517174 27.6537 1.52198C30.0802 2.52679 32.285 3.99955 34.1422 5.85619C35.9993 7.71283 37.4725 9.91699 38.4776 12.3428C39.4827 14.7686 40 17.3686 40 19.9943Z" fill="white"/>
						<path d="M29.3161 18.6192C28.5873 18.1154 27.7636 17.765 26.8952 17.5894C26.0267 17.4138 25.1316 17.4167 24.2643 17.5978C23.3969 17.779 22.5755 18.1346 21.8499 18.6431C21.1244 19.1515 20.51 19.8023 20.0439 20.5557C19.3662 21.6186 18.3942 22.462 17.2461 22.9832C16.098 23.5045 14.8232 23.6812 13.5766 23.4918C12.3299 23.3025 11.1651 22.7554 10.2237 21.9168C9.28218 21.0783 8.60456 19.9844 8.27312 18.7682C8.27312 18.7682 8.27312 18.7682 8.27312 18.6995C8.27165 18.6727 8.27165 18.646 8.27312 18.6192C8.0289 17.7785 7.9168 16.9049 7.94076 16.0297C7.94076 10.1976 13.935 3.68943 22.5539 3.68943C25.8453 3.71723 29.0529 4.7296 31.7636 6.5961C34.4743 8.46261 36.5638 11.0977 37.7631 14.1621C37.735 14.0951 37.712 14.0262 37.6943 13.9558C36.2639 9.79066 33.4023 6.26764 29.6182 4.01326C25.8341 1.75887 21.3729 0.919249 17.0278 1.64367C12.6828 2.3681 8.73558 4.60962 5.88809 7.96965C3.04061 11.3297 1.47747 15.5904 1.47656 19.9942C1.47656 29.1606 8.10119 37.0323 17.2932 37.0323C20.4323 37.1418 23.5259 36.2568 26.1318 34.5035C28.7377 32.7503 30.7226 30.2186 31.8032 27.27C32.4386 25.7609 32.5384 24.0798 32.0859 22.5061C31.6335 20.9324 30.6561 19.5608 29.3161 18.6192Z" fill="#003668"/>
						<path d="M37.8347 14.5168C36.6923 11.3635 34.6114 8.63541 31.8719 6.69964C29.1324 4.76387 25.8656 3.71321 22.5109 3.68896C13.892 3.68896 7.8977 10.1971 7.8977 16.0293C7.87373 16.9044 7.98591 17.778 8.23012 18.6188C8.11744 18.1847 8.05966 17.7381 8.05817 17.2896C8.05817 11.2169 14.1442 6.97742 20.4135 6.97742C22.4332 6.9774 24.4329 7.37621 26.2979 8.15095C28.163 8.92569 29.8566 10.0611 31.2815 11.492C32.7065 12.9229 33.8345 14.6211 34.6012 16.489C35.3678 18.357 35.7577 20.358 35.7487 22.377C35.7525 25.5258 34.8769 28.6131 33.2205 31.2913C31.5641 33.9695 29.1927 36.1323 26.3733 37.536C30.8625 35.9017 34.5536 32.608 36.6859 28.3339C38.8183 24.0598 39.2294 19.1308 37.8347 14.5626V14.5168Z" fill="#E6002D"/>
						</g>
						<defs>
						<clipPath id="clip0_1360_17682">
						<rect width="40" height="40" fill="white"/>
						</clipPath>
						</defs>
					</svg>
				</a>
			</h1>
			<!-- page-util -->
			<div class="page-util">
				<span class="button-area">
					<a class="btn language" href="#"><span class="btn-text">국영문변환</span></a>
					<a class="btn cart" href="#"><span class="btn-text">장바구니</span></a>
					<a class="btn unified-search" href="#unifiedSearch" data-bui-toggle-button="unifiedSearch"><span class="btn-text">검색</span></a>
				</span>
			</div>
			<!-- //page-util -->
			<!-- page-control -->
			<div class="page-control">
				<span class="button-area">
					<a class="btn goto-page-navi" href="#pageNavigation" data-bui-toggle-button="pageNavigation">
						<svg width="24" height="24" viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg">
							<title>전체메뉴</title>
							<line class="ob-01" x1="16.67%" y1="50%" x2="83.33%" y2="50%" />
							<line class="ob-02" x1="16.67%" y1="50%" x2="83.33%" y2="50%" />
							<line class="ob-03" x1="16.67%" y1="50%" x2="83.33%" y2="50%" />
						</svg>
					</a>
				</span>
			</div>
			<!-- //page-control -->
			<!-- page-navi -->
			<div class="page-navi" id="pageNavigation" data-bui-toggle="pageNavigation">
				<div class="section-wrap">
					<div class="section-head">
						<h2 class="section-subject"><span class="section-name">목차</span></h2>
					</div>
					<div class="section-body">
						<ul class="gnb-list">
							<% if (current === '1') { %><li class="gnb-item current active" title="선택 됨"><%} else {%><li class="gnb-item"><% } %>
								<a class="gnb-name" href="#">위성영상전시</a>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="#">위성영상 전시</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">알고리즘 문서</a></li>
								</ul>
							</li>
							<% if (current === '2') { %><li class="gnb-item current active" title="선택 됨"><%} else {%><li class="gnb-item"><% } %>
								<a class="gnb-name" href="#">자료서비스</a>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="#">OPEN-API</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">자료서비스</a></li>
								</ul>
							</li>
							<% if (current === '3') { %><li class="gnb-item current active" title="선택 됨"><%} else {%><li class="gnb-item"><% } %>
								<a class="gnb-name" href="#">정지궤도환경위성</a>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="#">위성소개</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">환경탑재체</a></li>
									<li class="lnb-item current active">
										<a class="lnb-name" href="#">산출물</a>
										<ul class="snb-list">
											<li class="snb-item current"><a class="snb-name" href="#">개요</a></li>
											<li class="snb-item"><a class="snb-name" href="#">에어로졸</a></li>
											<li class="snb-item"><a class="snb-name" href="#">에어로졸 유효 고도</a></li>
											<li class="snb-item"><a class="snb-name" href="#">구름정보</a></li>
											<li class="snb-item"><a class="snb-name" href="#">지표면 반사도</a></li>
											<li class="snb-item"><a class="snb-name" href="#">오존전량</a></li>
											<li class="snb-item"><a class="snb-name" href="#">오존프로파일</a></li>
											<li class="snb-item"><a class="snb-name" href="#">포름알데하이드</a></li>
											<li class="snb-item"><a class="snb-name" href="#">글리옥살</a></li>
											<li class="snb-item"><a class="snb-name" href="#">이산화질소 농도</a></li>
											<li class="snb-item"><a class="snb-name" href="#">이산화황</a></li>
											<li class="snb-item"><a class="snb-name" href="#">자외선지수</a></li>
											<li class="snb-item"><a class="snb-name" href="#">에어로졸 이동량 (L4)</a></li>
										</ul>									
									</li>
									<li class="lnb-item"><a class="lnb-name" href="#">운영정보</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">프로그램</a></li>
								</ul>
							</li>
							<% if (current === '4') { %><li class="gnb-item current active" title="선택 됨"><%} else {%><li class="gnb-item"><% } %>
								<a class="gnb-name" href="#">정보마당</a>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="#">공지사항</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">홍보마당</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">간행물</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">설문조사</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">Q&amp;A</a></li>
								</ul>
							</li>
							<% if (current === '5') { %><li class="gnb-item current active" title="선택 됨"><%} else {%><li class="gnb-item"><% } %>
								<a class="gnb-name" href="#">기관소개</a>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="#">인사말</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">연혁</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">비전/임무</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">주요업무</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">조직 구성도</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">상징(MI)</a></li>
									<li class="lnb-item"><a class="lnb-name" href="#">오시는 길</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //page-navi -->
		</div>
		<!-- //page-head -->

		<!-- data-finder -->
		<div class="data-finder unified-search style-b" id="unifiedSearch" data-bui-toggle="unifiedSearch">
			<!-- data-form -->
			<form class="data-form">
				<fieldset class="submit-form">
					<legend>전체 검색 서식</legend>
					<div class="form-list">
						<div class="form-item">
							<div class="form-wrap">
								<div class="form-head"><span class="form-name">검색 분류</span></div>
								<div class="form-body">
									<div class="form-area">
										<span class="form select module-b style-b type-none large-2x normal-02">
											<select class="form-elem">
												<option>전체</option>
												<option>제목</option>
												<option>내용</option>
											</select>
										</span>
										<span class="form textfield module-b style-b type-none large-2x normal-02 flex"><input type="search" class="form-elem" id="postsSearchKeyword" autocomplete="off" placeholder="검색어를 입력해주세요." /></span>
										<button type="submit" class="btn module-ico style-b type-fill large-1x accent-02">
											<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.3332 3C7.99442 3 3.6665 7.32791 3.6665 12.6667C3.6665 18.0054 7.99442 22.3333 13.3332 22.3333C15.6424 22.3333 17.7624 21.5236 19.425 20.1727L26.3378 27.0855C26.7284 27.4761 27.3615 27.4761 27.7521 27.0855C28.1426 26.695 28.1426 26.0619 27.7521 25.6713L20.8392 18.7585C22.1901 17.0959 22.9998 14.9759 22.9998 12.6667C22.9998 7.32791 18.6719 3 13.3332 3ZM5.6665 12.6667C5.6665 8.43248 9.09899 5 13.3332 5C17.5674 5 20.9998 8.43248 20.9998 12.6667C20.9998 16.9009 17.5674 20.3333 13.3332 20.3333C9.09899 20.3333 5.6665 16.9009 5.6665 12.6667Z" fill="#191D26"/></svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
			<!-- //data-form -->
		</div>
		<!-- //data-finder -->
		<hr />