@charset "utf-8";

body {
    .blind {
        position: absolute; 
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
    }
    
    .moOnly {
        display: none !important;
    }
    
    @include mobile {
        .pcOnly {
            display: none !important;
        }
        .moOnly {
            display: block !important;
        }
    }
    
    /* Accent */
    .accent {
        &.case1 {
            font-weight: 400 !important;
        }
        &.case2 {
            font-weight: 500 !important;
        }
        &.case3 {
            font-weight: 600 !important;
        }
        &.case4 {
            font-weight: 700 !important;
        }
    
        &.color1 {
            color: color(primary,100) !important;
        }
        &.color2 {
            color: color(etc,100) !important;
        }
        &.color3 {
            color: color(neutral,060) !important;
        }
        &.color4 {}
    }
}