@charset "utf-8";

body {
    .blind {
        position: absolute; 
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
    }
    
    .moOnly {
        display: none;
    }
    
    @include mobile {
        .pcOnly {
            display: none;
        }
        .moOnly {
            display: block;
        }
    }
    
    /* Accent */
    .accent {
        &.case1 {
            font-weight: 400;
        }
        &.case2 {
            font-weight: 400;
        }
    
        &.case3 {
            font-weight: 600;
        }
    
        &.case4 {
            font-weight: 700;
        }
    
        &.color1 {}
        &.color2 {}
        &.color3 {}
        &.color4 {}
    }
}
#skip {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}