.page-skip {
	// display: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 100;
	top: -120rem;
	right: 0;
	left: 0;
	height: 56rem;
	background-color: color(system, 100);

	.skip-item {
		color: color(typo, 100);
		@include font(small-5x, regular);
	}
	
	&:focus-within {
		top: 0;
	}
}

#wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	.main {
		.main-inner {
			.local-head {
				&.case1 {
					.local-title {
						.local-name {
							@include font(large-12x, bold);
							line-height: 120%;
							text-align: left;
						}
					}
				}
				&.case2 {
					.local-title {
						.local-name {
							@include font(large-5x, bold);
							text-align: center;
						}
					}
				}
				&.case3 {
					.local-title {
						.local-name {
							@include font(large-4x, extrabold);
							text-align: center;
						}
					}
				}
			}
			.local-body {
				.content-head {
					display: block;
					position: absolute;
					overflow: hidden;
					visibility: hidden;
					margin: -1px;
					padding: 0;
					width: 1px;
					height: 1px;
					line-height: 1px;
					font-size: 1px;
					border: 0;
					clip: rect(0 0 0 0);
					clip: rect(0, 0, 0, 0);
					pointer-events: none;
				}
				.content-body {
					.section {
						.section-head {
							.section-title {
								.section-name {
									.large {
										@include font(medium, bold);
									}
									.small {
										@include font(small-1x, bold);
									}
								}
								.section-summary {
									.large {
										@include font(small-3x, medium);
									}
									.small {
										@include font(small-4x, medium);
									}
								}
							}
						}
						.section-body {
							> .para-list {
								&.large {
									.para {
										@include font(small-3x, medium);
										+ .para {
											margin-top: 1.6rem
										}
									}
								}
								&.small {
									.para {
										@include font(small-4x, medium);
										+ .para {
											margin-top: 1.6rem
										}
									}
								}

							}
						}
					}

					.comment {
						@include font(small-5x, medium);
					}
				}
			}
		}
	}

	footer {
		.footer-inner {
			.footer-head {
				.site-logo {

				}
			}
			.footer-body {
				.section {

				}
			}
		}
	}
}