/* Company CSS */
.company {
    &.greetings {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 200vh;
            min-height: 810px;
            background: linear-gradient(90deg, #07060b 35%, #20091d 100%), url(../images/company/bg-representative-greetings-pc.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            z-index: -2;
            opacity: 0;
            transition: all 0.2s ease-out;
            @include mobile() {
                display: none;
                height: auto;
                min-height: 1624px;
                background: linear-gradient(90deg, rgb(25 13 27) 35%, rgb(189 71 157) 100%);
            }
        }
        // &::after {
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     width: 100vw;
        //     height: 100vh;
        //     background-image: url(../images/company/bg-representative-greetings-pc.jpg);
        //     background-repeat: no-repeat;
        //     opacity: 0.2;
        //     transition: all 0.5s ease-out;
        //     background-size: cover;
        //     @include mobile() {
        //         height: 812px;
        //         background-image: url(../images/company/bg-representative-greetings-mo.jpg);
        //     }
        // }
        &.active1 {
            &::before {
                opacity: 1;
            }
        }
        &.active2 {
            &::after {
                opacity: 1;
            }
        }
        .section {
            &.representative-greetings {
                // &::before {
                //     content: '';
                //     position: absolute;
                //     bottom: 0;
                //     left: 50%;
                //     transform: translateX(-50%);
                //     width: 100vw;
                //     height: 100vh;
                //     min-height: 812px;
                //     background: linear-gradient(90deg, rgba(7,6,11,1) 35%, rgba(32,9,29,1) 100%);
                //     transition: all 0.5s ease-out;

                //     @include mobile() {
                //         height: auto;
                //         min-height: 812px;
                //     }
                // }
            }
        }
    }
}