<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="kr">
    <div id="wrap">
        <%-include('../_templates/_header.ejs', {
            type: 'light',
        })
        %>
        <div class="main company greetings" id="main">
            <div class="main-inner">
                <div class="local case2">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'Company',
                        depth2: 'CEO 인사말',
                        depth3: null,
                    }) %>
                    <div class="local-head design5" local-animation="greetings">
                        <div class="local-subject"><h2 class="local-name">SK네트웍스는<br> 사회적 가치를 창출합니다.</h2></div>
                        <div class="local-aside">
                            <div class="local-wrap">
                                <h3 class="local-title">CEO 인사말</h3>
                            </div>
                        </div>
                        <div class="local-figure">
                            <img src="../../assets/images/company/bg-local-head-greetings-pc.jpg" alt=" " class="pc-only">
                            <img src="../../assets/images/company/bg-local-head-greetings-mo.jpg" alt=" " class="mo-only">
                        </div>
                        <div class="local-util">
                            <p class="scroll-guide">Scroll Down</p>
                        </div>
                    </div>
                    <div class="local-body">
                        <div class="content-head blind">주가정보 페이지</div>
                        <div class="content-body">
                            <div class="section representative-greetings" style="height:100vh; position: relative;" data-bui-animation="type-1">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../_templates/_footer.ejs')%>
    </div>
    <script>
        $(document).ready(function(){
            localAnimations_Greetings();

            function localAnimations_Greetings() {
                $('[local-animation="greetings"]').each(function(){
                    $header = $('header');
                    $this = $(this);
                    $breadcrumb = $this.prev('.local-info').find('.data-list.breadcrumb');
                    $main = $this.parents('.main');
                    $breadcrumb.removeClass('case1').addClass('case2');

                    setTimeout(function() {
                        $breadcrumb.addClass('active1');
                        $this.addClass('active1');
                    }, 500);

                    setTimeout(function() {
                        $header.removeClass('light').addClass('transparent');
                        $breadcrumb.removeClass('dark').addClass('light');
                        $breadcrumb.addClass('active2');
                        $this.addClass('active2');
                        setTimeout(function() {
                            main.classList.add('active1');
                        }, 500);
                    }, 1500);
                });

                gsap.utils.toArray('[local-animation="greetings"]').forEach((section, index) => {
                    var header = $(section).closest('.main').prev('header');
                    var breadcrumb = $(section).closest('.main').find('.local-info .data-list.breadcrumb');
                    var representativeGreetings = $(section).closest('.main').find('.representative-greetings');
                    var main = $(section).closest('.main');

                    gsap.to(section, {
                        scrollTrigger: {
                            //markers: true,
                            trigger: section,
                            start: '105% bottom',
                            end: 'top bottom',

                            onEnter: function(self) {
                                section.classList.add('active3');
                                main.addClass('active2');
                            },
                            onLeaveBack: function(self) {
                                section.classList.remove('active3');
                                main.removeClass('active2');
                            },
                        }
                    });
                });
            }
        });
    </script>
</body>
</html>