<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main company introduction" id="main">
        <div class="main-inner">
            <div class="local case2">
                <%-include('../_templates/_local-info.ejs', {
                    depth1: 'Company',
                    depth2: '기업소개',
                    depth3: null,
                }) %>
                <div class="local-head design4" local-animation="case-1">
                    <div class="local-subject"><h2 class="local-name">Our<br>Company</h2></div>
                    <div class="local-aside">
                        <div class="loca-wrap">
                            <h3 class="local-title">AI Company</h3>
                            <p class="local-summary">AI 기술을 활용한 비즈니스로,<br> 다양한 이해관계자의 행복을 창출하기 위해 끊임없이 노력하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/company/bg-local-head-greetings-pc.jpg" alt=" " class="pc-only">
                        <img src="../../assets/images/company/bg-local-head-introduction-pc.jpg" alt=" " class="mo-only">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head blind">주가정보 페이지</div>
                    <div class="content-body">
                        <div class="section" style="height:1000px; background-color: #fff;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
<script>
    $(document).ready(function(){
        localAnimations_Case01();
    });
</script>
</body>

</html>