.board-list {
    display: flex;
    .board-wrap {
        display: flex;
    }
    &.scroll {
        @include mobile {
            overflow: auto;
            margin-right: -1.8rem;
            padding-right: 1.8rem;
        }
    }
    // ir : 감사보고서
    &.design1 {
        &.case1 {
            gap: 2rem;
            flex-wrap: wrap;
            .board-item {
                padding: 4rem;
                border-radius: 0.4rem;
                background-color: color(neutral, 020);
                .board-wrap {
                    flex-direction: column;
                    .board-head {
                        .board-subject {
                            + .board-date {
                                margin-top: 1.6rem
                            }
                        }
                        + .board-util {
                            margin-top: 2.4rem;
                        }
                    }
                }
            }
            @include mobile {
                gap: 1.6rem;
                .board-item {
                    width: 100%;
                    padding: 2.4rem;
                }
            }
            &.type1 {
                .board-item {
                    .board-wrap {
                        .board-head {
                            .board-subject {
                                @include font(small-1x,bold);
                                color: color(typo,020);
                            }
                            .board-date {
                                @include font(small-3x,medium);
                                color: color(typo,020);
                            }
                        }
                    }
                }
                @include mobile {
                    .board-item {
                        .board-wrap {
                            .board-head {
                                .board-subject {
                                    @include font(small-2x,bold);
                                }
                                .board-date {
                                    @include font(small-4x,medium);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 상세페이지 : 이전글,다음글
    &.design2 {
        &.case1 {
            .board-item {
                width: 100%;
                padding: 4rem 6.4rem;
                border-radius: 1.6rem;
                background-color: color(neutral, 020);
                .board-info {
                    display: flex;
                    flex-wrap: nowrap;
                    .board-name {
                        + .board-caption {
                            margin-left: 2.4rem;
                        }
                    }
                    + .board-info {
                        margin-top: 1.6rem;
                    }
                }
            }
            @include mobile {
                .board-item {
                    padding: 2.5rem 3.2rem;
                    .board-info {
                        .board-name {
                            + .board-caption {
                                margin-left: 1.6rem;
                            }
                        }
                        + .board-info {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
            &.type1 {
                .board-item {
                    .board-info {
                        .board-name {
                            @include font(small-3x,bold);
                            color: color(typo,020);
                            white-space: nowrap;
                        }
                        .board-caption {
                            @include font(small-3x,medium);
                            color: color(typo,010);
                            @include ellipsis;
                        }
                    }
                }
                @include mobile {
                    .board-item {
                        .board-info {
                            .board-name {
                                @include font(small-4x,bold);
                            }
                            .board-caption {
                                @include font(small-4x,medium);
                            }
                        }
                    }
                }
            }
        }
    }
    &.design3 {
        // 공지 + 버튼
        &.case1 {
            .board-item {
                width: 100%;
                padding: 4rem;
                border-radius: 1.6rem;
                background-color: color(neutral, 020);
                .board-wrap {
                    justify-content: space-between;
                    align-items: center;
                    .board-info {
                        display: inline-block;
                    }
                }
            }
            @include mobile {
                .board-item {
                    padding: 3.2rem 2.4rem;
                    .board-wrap {
                        flex-direction: column;
                        align-items: flex-start;
                        .board-info {
                            + .board-util {
                                margin-top: 4.8rem;
                            }
                        }
                    }
                }
            }
            &.type1 {
                .board-item {
                    .board-wrap {
                        .board-info {
                            .board-name {
                                @include font(small-1x,bold);
                                color: color(typo,020);
                            }
                        }
                    }
                }
                @include mobile {
                    .board-item {
                        .board-wrap {
                            .board-info {
                                .board-name {
                                    @include font(small-2x,bold);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.design4 {
        // ir : ir일정
        &.case1 {
            gap: 2rem;
            flex-wrap: wrap;
            .board-item {
                display: inline-block;
                width: calc(100% / 4 - 1.5rem);
                padding: 4rem;

                background: color(system, 070);
                align-items: stretch;
                border-radius: 1.6rem;
                box-shadow: 0px 1.336px 5.342px 0px rgba(0, 0, 0, 0.10);
                .board-wrap {
                    height: 100%;
                    flex-direction: column;
                    justify-content: space-between;
                    .board-info {
                        .board-caption {
                            display: inline-block;
                            padding: 0.8rem 1.6rem;
                            background-color: rgba(109, 12, 166, 0.10);
                            border-radius: 1.2rem;
                            + .board-name {
                                margin-top: 1.6rem;
                            }
                        }
                        + .board-util {
                            margin-top: 2.4rem;
                        }
                    }
                }
            }
            @include mobile {
                gap: 1rem 0.6rem;
                flex-wrap: nowrap;
                .board-item {
                    padding: 2.4rem;
                    margin: 0.6rem;
                    min-width: 25rem;
                }
            }
            &.type1 {
                .board-item {
                    .board-wrap {
                        .board-info {
                            .board-caption {
                                @include font(small-5x,bold);
                                color: color(primary,080);
                            }
                            .board-name {
                                @include font(small-1x,bold);
                                color: color(typo,020);
                                @include ellipsis(2);
                            }
                        }
                    }
                }
                @include mobile {
                    .board-item {
                        .board-wrap {
                            .board-info {
                                .board-caption {
                                    @include font(small-6x,bold);
                                }
                                .board-name {
                                    @include font(small-2x,bold);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // ir : 주주환원
    &.design5 {
        &.case2 {
            gap: 2.4rem;
            flex-wrap: wrap;
            flex-direction: column;
            max-width: 49rem;
            .board-item {
                padding: 4rem 4rem 6.4rem;
                border: 2px solid color(system, 070);
                background: rgba(255, 255, 255, 0.75);
                border-radius: 1.8rem;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(2rem);
                .board-wrap {
                    flex-direction: column;
                    .board-head {
                        + .board-body {
                            margin-top: 1.6rem
                        }
                    }
                }
            }
            @include mobile {
                gap: 1.6rem;
                .board-item {
                    padding: 2.4rem 2.4rem 3.2rem;
                    .board-wrap {
                        .board-head {
                            + .board-body {
                                margin-top: 1.2rem
                            }
                        }
                    }
                }
            }
            &.type1 {
                .board-item {
                    .board-wrap {
                        .board-head {
                            .board-name {
                                @include font(small-1x,bold);
                                color: color(primary,080);
                            }
                        }
                        .board-body {
                            .para {
                                @include font(small-4x,medium);
                                color: color(typo,010);
                            }
                        }
                    }
                }
                @include mobile {
                    .board-item {
                        .board-wrap {
                            .board-head {
                                .board-name {
                                    @include font(small-2x,bold);
                                }
                            }
                            .board-body {
                                .para {
                                    @include font(small-5x,medium);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // ir : 신용평가
    &.design6 {
        &.case1 {
            gap: 4rem;
            flex-wrap: wrap;
            .board-item {
                width: calc(100% / 3 - 2.7rem);
                .board-wrap {
                    flex-direction: column;
                    .board-head {
                        padding: 8.9rem 3.2rem;
                        border: 1px solid color(neutral,030);
                        border-radius: 1.6rem;
                        background-color: color(system, 070);
                    }
                    .board-info {
                        padding: 2.4rem;
                        .data-head{
                            + .data-body {
                                margin-top: 0.8rem;
                            }
                        }
                        .data-body {
                            .head {
                                + .body {
                                    margin-left: 0.8rem;
                                }
                            }
                        }
                    }
                }
            }
            @include mobile {
                gap: 2.4rem;
                flex-wrap: nowrap;
                .board-item {
                    width: calc(100% / 3 - 1.6rem);
                    min-width: 24rem;
                    .board-wrap {
                        .board-head {
                            padding: 5.9rem 3.2rem;
                        }
                        .board-info {
                            padding: 1.6rem;
                        }
                    }
                }
            }
            &.type1 {
                .board-item {
                    .board-wrap {
                        .board-head {
                            .board-rank {
                                @include font(large-5x, bold);
                                color: color(system, 080);
                                text-align: center;
                            }
                        }
                        .board-info {
                            .data-head{
                                .data-subject {
                                    @include font(small-1x, bold);
                                    color: color(typo, 020);
                                }
                            }
                            .data-body {
                                @include font(small-3x, medium);
                                color: color(typo, 005);
                            }
                        }
                    }
                }
                @include mobile {
                    .board-item {
                        .board-wrap {
                            .board-info {
                                .data-head{
                                    .data-subject {
                                        @include font(small-2x, bold);
                                    }
                                }
                                .data-body {
                                    @include font(small-4x, medium);
                                }
                            }
                        }
                    }
                }
            }
        }
        + .comment {
            margin-top: 1.6rem;
            @include mobile {
                margin-top: 1.2rem;
            }
        }
    }
    // business : 전체, Career : 기업문화
    &.design7 {
        &.case1 {
            .board-item {
                padding: 6.4rem 2.4rem;
                text-align: center;
                flex: 1;
                background-color: color(system, 070);
                border-radius: 1.6rem;
                box-shadow: 0 0.1336rem 0.5342rem 0 rgba(0, 0, 0, 0.1);
                .board-wrap {
                    flex-direction: column;
                    align-items: center;
                    .board-figure {
                        display: inline-block;
                        width: 14rem;
                        height: 14rem;
                        >img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        +.board-info {
                            margin-top: 2.4rem;
                        }
                    }
                    .board-info {
                        .board-name {
                            +.para {
                                padding-top: 0.8rem;
                            }
                        }
                    }
                }
                ~.board-item {
                    margin-left: 2rem;
                }
            }
            @include mobile {
                flex-direction: column;
                .board-item {
                    padding: 3.2rem 1.6rem;
                    .board-figure {
                        width: 10rem;
                        height: 10rem;
                        +.board-info {
                            margin-top: 1.6rem;
                        }
                    }
                    ~.board-item {
                        margin-top: 0.8rem;
                        margin-left: 0;
                    }
                }
            }
        }
        &.type1 {
            .board-item {
                .board-wrap {
                    .board-info {
                        .board-name {
                            color: color(neutral, 100);
                            @include font(small-1x, bold);
                            @include mobile {
                                @include font(small-2x, bold);
                            }
                        }
                        .para {
                            color: color(neutral, 080);
                            @include font(small-4x, medium);
                            @include mobile {
                                @include font(small-5x, medium);
                            }
                        }
                    }
                }
            }
        }
        &.type2 {
            .board-item {
                .board-wrap {
                    .board-info {
                        .board-name {
                            color: color(typo, 010);
                            @include font(small-3x, bold);
                            @include mobile {
                                @include font(small-4x, bold);
                            }
                        }
                        .para {
                            color: color(primary, 080);
                            @include font(medium, bold);
                            @include mobile {
                                @include font(small-1x, bold);
                            }
                        }
                    }
                }
            }
        }
    }
    // business : 글로벌 투자
    &.design8 {
        &.case1 {
            .board-item {
                padding: 4rem;
                text-align: center;
                flex: 1;
                background-color: color(system, 070);
                border-radius: 1.6rem;
                box-shadow: 0 0.1336rem 0.5342rem 0 rgba(0, 0, 0, 0.1);
                .board-wrap {
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    .board-head {
                        +.board-body {
                            padding-top: 1.6rem;
                        }
                    }
                }
                +.board-item {
                    margin-left: 2rem;
                }
            }
            @include mobile {
                flex-direction: column;
                .board-item {
                    padding: 2.4rem;
                    .board-wrap {
                        .board-head {
                            +.board-body {
                                padding-top: 1.2rem;
                            }
                        }
                    }
                    +.board-item {
                        margin-top: 1.6rem;
                        margin-left: 0;
                    }
                }
            }
        }
        &.type1 {
            .board-head {
                .board-name {
                    color: color(typo, 020);
                    @include font(small-3x, bold);
                }
            }
            .board-body {
                color: color(typo, 010);
                @include font(medium, bold);
            }
            @include mobile {
                .board-head {
                    .board-name {
                        @include font(small-4x, bold);
                    }
                }
                .board-body {
                    @include font(small-1x, bold);
                }
            }
        }
    }

    // pr : 브랜드
    &.design9 {
        &.case1 {
            gap: 4rem;
            > .board-item {
                padding: 3.2rem 8rem 4rem 8rem;
                background-color: color(system, 070);
                border-radius: 0.8rem;
                width: calc(100% / 2 - 2rem);
                .board-wrap {
                    flex-direction: column;
                    align-items: center;
                    .board-subject {
                        +.board-figure {
                            margin-top: 0.8rem;
                            width: 100%;
                            img {
                                width: 100%;
                            }
                            + .board-info {
                                margin-top: 1.6rem;
                            }
                        }
                    }
                }
            }
            @include mobile {
                gap: 2.4rem;
                flex-direction: column;
                > .board-item {
                    padding: 2.4rem;
                    width: 100%;
                    .board-wrap {
                        .board-subject {
                            +.board-figure {
                                + .board-info {
                                    margin-top: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.type1 {
            > .board-item {
                .board-name {
                    color: color(typo, 020);
                    @include font(small-1x, bold);
                }
                .board-info {
                    color: color(typo, 010);
                    @include font(small-4x, medium);
                }
                @include mobile {
                    .board-name {
                        @include font(small-2x, bold);
                    }
                    .board-info {
                        @include font(small-5x, medium);
                    }
                }
            }
        }
    }
}