.data-display {

    /* common list */
    &.design1 {
        &.case1 {
            >.data-list {
                .data-item {
                    .data-head {
                        +.data-body {
                            margin-top: 1.6rem;
                        }
                    }
                }
            }
        }

        &.case2 {
            >.data-list {
                .data-item {
                    .data-head {
                        +.data-body {
                            margin-top: 2.4rem;
                        }
                    }
                }
            }
        }

        &.type1 {
            >.data-list {
                .data-item {
                    .data-head {
                        .data-subject {
                            @include font(small-1x, bold);
                            color: color(typo, 020);
                        }

                        .data-summary {
                            @include font(small-3x, bold);
                            color: color(typo, 020);
                        }
                    }

                    .data-body {
                        >.para {
                            @include font(small-3x, medium);
                            color: color(typo, 010);

                            +.para {
                                margin-top: 1.6rem;
                            }

                            +.bullet {
                                margin-top: 0.4rem;
                            }
                        }
                    }
                }
            }
        }

    }

    /* util list */
    &.design2 {
        &.case1 {
            >.data-list {
                .data-item {
                    padding: 0.8rem 1.6rem;
                    border-bottom: 1px solid color(neutral, 030);

                    .item-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                @include mobile {
                    .data-item {
                        padding: 0.8rem 1.2rem;

                        .item-wrap {
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                }
            }

            &.type1 {
                >.data-list {
                    .data-item {
                        .item-wrap {
                            .item-head {
                                .item-date {
                                    @include font(small-3x, medium);
                                    color: color(typo, 020);
                                }
                            }
                        }
                    }

                    @include mobile {
                        .data-item {
                            .item-wrap {
                                .item-head {
                                    .item-date {
                                        @include font(small-4x, medium);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.case2 {
            >.data-list {
                .data-item {
                    padding: 0 0 2.4rem;
                    border-bottom: 1px solid color(neutral, 030);

                    .item-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                @include mobile {
                    .data-item {
                        padding: 2.3rem 1.2rem;
                    }
                }
            }

            &.type1 {
                >.data-list {
                    .data-item {
                        .item-wrap {
                            .item-head {
                                .item-date {
                                    @include font(small-3x, medium);
                                    color: color(typo, 005);
                                }
                            }
                        }
                    }

                    @include mobile {
                        .data-item {
                            .item-wrap {
                                .item-head {
                                    .item-date {
                                        @include font(small-4x, medium);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.case3 {
            >.data-list {
                .data-item {
                    padding: 3.2rem 0;
                    border-top: 1px solid color(neutral, 030);
                    border-bottom: 1px solid color(neutral, 030);

                    .item-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .item-util {
                            .download-list {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end
                            }

                            .download-item {
                                +.download-item {
                                    margin-top: 1.6rem;
                                }
                            }
                        }
                    }
                }

                @include mobile {
                    .data-item {
                        .item-wrap {
                            .item-data {
                                .data-item {
                                    +.data-item {
                                        margin-top: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.type1 {
                >.data-list {
                    .data-item {
                        .item-wrap {
                            .item-head {
                                .item-subject {
                                    @include font(small-3x, bold);
                                    color: color(typo, 010);
                                }
                            }

                            .item-util {
                                .download-item {
                                    @include font(small-4x, medium);
                                    color: color(typo, 005);
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    @include mobile {
                        .data-item {
                            .item-wrap {
                                .item-head {
                                    .item-subject {
                                        @include font(small-4x, bold);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.case4 {
            >.data-list {
                .data-item {
                    .item-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                    }
                }

                @include mobile {
                    .data-item {
                        .item-wrap {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 2.4rem;
                        }
                    }
                }
            }

            &.type1 {
                >.data-list {
                    .data-item {
                        .item-wrap {
                            .item-head {
                                .item-subject {
                                    @include font(medium, bold);
                                    color: color(typo, 020);
                                }
                            }
                        }
                    }

                    @include mobile {
                        .data-item {
                            .item-wrap {
                                .item-head {
                                    .item-subject {
                                        @include font(small-1x, bold);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* special list */

    // business : 전체
    &.business-overview {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 120rem;

        .data-head {
            width: 100%;
            max-width: 59rem;
            border-radius: .8rem;
            overflow: hidden;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .data-body {
            width: 100%;
            max-width: 54.6rem;
            padding-top: 6.4rem;
            margin-left: 3rem;

            .overview-head {
                .overview-name {
                    @include font(small-1x, bold);
                }

                +.overview-body {
                    margin-top: 2.4rem;
                }
            }

            .overview-body {

                .des {
                    @include font(small-3x, medium);
                }
            }
        }

        @include mobile {
            flex-direction: column;

            .data-head {
                height: 40rem;
                max-width: unset;

                +.data-body {
                    padding-top: 4.8rem;
                }
            }

            .data-body {
                margin-left: 0;
                max-width: unset;

                .overview-head {
                    .overview-name {
                        @include font(small-2x, bold);
                    }

                    +.overview-body {
                        margin-top: 1.6rem;
                    }
                }

                .overview-body {
                    .des {
                        @include font(small-4x, medium);
                    }
                }
            }
        }
    }

    // business : 전체
    &.business-network {
        display: flex;

        .data-head {
            min-width: 34.3rem;
            flex-shrink: 0;

            .data-name {
                display: inline-block;
                color: color(neutral, 100);
                font-weight: 700;
                font-size: 7.2rem;
            }

            +.data-body {
                margin-left: 6.4rem;
            }
        }

        .data-body {
            .network-list {
                .network-item {
                    background-repeat: no-repeat;
                    background-position: top center;

                    .network-head {
                        .network-name {
                            @include font(small-1x, bold);

                            +.para {
                                padding-top: 2.4rem;
                            }
                        }

                        .para {
                            @include font(small-3x, medium);

                            +.para,
                            +.note {
                                padding-top: 1.6rem;
                            }
                        }

                        .note {
                            display: inline-block;
                            color: color(typo, 010);
                            @include font(small-5x, medium);
                        }

                        ~.network-figure {
                            padding-top: 6.4rem;
                        }

                        ~.board-list.design8 {
                            padding-top: 16rem;
                        }
                    }

                    .network-figure {
                        width: 100%;
                        text-align: center;

                        img {
                            width: 100%;
                        }
                    }

                    &[class*=back-] {
                        padding-top: 42rem;

                        &.back- {
                            &hicosystem {
                                background-image: url('../images/business/thumb-02-pc.png');
                            }
                        }
                    }

                    +.network-item {
                        margin-top: 16rem;
                    }
                }
            }
        }

        @include mobile {
            flex-direction: column;

            .data-head {
                .data-name {
                    @include font(large-1x, bold);
                }

                +.data-body {
                    margin-top: 3.2rem;
                    margin-left: 0;
                }
            }

            .data-body {
                .network-list {
                    .network-item {
                        .network-head {
                            .network-name {
                                @include font(small-2x, bold);

                                +.para {
                                    padding-top: 1.6rem;
                                }
                            }

                            .para {
                                @include font(small-4x, medium);

                                +.para,
                                +.note {
                                    padding-top: 1.2rem;
                                }
                            }

                            ~.network-figure {
                                padding-top: 3.2rem;
                            }

                            ~.board-list.design8 {
                                padding-top: 8rem;
                            }
                        }

                        &[class*=back-] {
                            padding-top: 32.8rem;

                            &.back- {
                                &hicosystem {
                                    background-image: url('../images/business/thumb-02-mo.png');
                                }
                            }
                        }

                        +.network-item {
                            margin-top: 8rem;
                        }
                    }
                }
            }
        }
    }

    // business : 글로벌 투자
    &.investment {
        .data-list {
            display: flex;

            .data-item {
                flex: 1;
                padding: 4rem;
                box-shadow: 0 0.1336rem 0.5342rem 0 rgba(0, 0, 0, 0.1);
                border-radius: 1.6rem;
                text-align: center;

                .data-head {
                    .data-name {
                        @include font(small-3x, bold);
                    }

                    +.data-body {
                        padding-top: 0.8rem;
                    }
                }

                .data-body {
                    @include font(large-3x, bold);
                }

                &.design1 {
                    background-color: color(primary, 080);

                    .data-head {
                        .data-name {
                            color: color(typo, 000);
                        }
                    }

                    .data-body {
                        color: color(typo, 000);
                    }
                }

                &.design2 {
                    background-color: color(system, 070);

                    .data-head {
                        .data-name {
                            color: color(typo, 020);
                        }
                    }

                    .data-body {
                        color: color(typo, 010);
                    }
                }

                +.data-item {
                    margin-left: 2rem;
                }
            }

            ~.data-aside {
                padding-top: 1.6rem;
            }
        }

        +.portfolio {
            margin-top: 16rem;
        }

        @include mobile {
            .data-list {
                flex-direction: column;

                .data-item {
                    padding: 2.4rem;
                    border-radius: .8rem;

                    .data-head {
                        .data-name {
                            @include font(small-4x, bold);
                        }

                        +.data-body {
                            padding-top: 0.4rem;
                        }
                    }

                    .data-body {
                        @include font(medium, bold);
                    }

                    +.data-item {
                        margin-top: 1.6rem;
                        margin-left: 0;
                    }
                }

                ~.data-aside {
                    padding-top: 1.2rem;
                }
            }

            +.portfolio {
                margin-top: 8rem;
            }
        }
    }

    // business : 글로벌 투자
    &.portfolio {
        .data-head {
            .data-name {
                color: color(typo, 020);
                @include font(medium, bold);
            }

            +.data-util,
            ~.data-body {
                margin-top: 4rem;
            }

            ~.data-aside {
                margin-top: 1.6rem;
            }
        }

        .data-body {
            border-top: .1rem solid color(neutral, 030);

            .data-item {
                display: flex;
                align-items: center;
                padding: 6.4rem 0;
                border-bottom: .1rem solid color(neutral, 030);

                .portfolio-figure {
                    width: 30rem;

                    >img {
                        width: 100%;
                    }

                    +.portfolio-info {
                        margin-left: 8rem;
                    }
                }

                .portfolio-info {
                    .portfolio-head {
                        .portfolio-name {
                            display: inline-block;
                            color: color(primary, 080);
                            @include font(small-1x, bold);
                        }

                        ~.portfolio-body {
                            padding-top: 1.6rem;
                        }

                        ~.portfolio-aside {
                            padding-top: 4rem;
                        }
                    }

                    .portfolio-body {
                        .para {
                            color: color(typo, 010);
                            @include font(small-3x, medium);
                        }
                    }

                    .portfolio-aside {
                        font-size: 0;

                        .label {
                            display: inline-block;
                            padding: 0.8rem 1.6rem;
                            border-radius: .8rem;
                            background-color: color(secondary, 070);

                            .label-name {
                                display: inline-block;
                                color: color(typo, 005);
                                @include font(small-4x, medium);

                                +.label-data {
                                    padding-left: 1.6rem;
                                }
                            }

                            .label-data {
                                display: inline-block;
                                color: color(typo, 010);
                                @include font(small-4x, bold);

                                .mail {
                                    display: inline-block;
                                    text-decoration: underline;
                                    vertical-align: top;
                                }
                            }

                            +.label {
                                margin-left: 1.6rem;
                            }
                        }

                        br {
                            &.mo-only {
                                +.label {
                                    margin-left: 1.6rem;
                                }
                            }

                            +.label {
                                margin-top: 1.6rem;
                            }
                        }
                    }
                }
            }
        }

        @include mobile {
            .data-head {
                .data-name {
                    @include font(small-1x, bold);
                }

                +.data-util,
                ~.data-body {
                    margin-top: 2.4rem;
                }

                ~.data-aside {
                    margin-top: 1.2rem;
                }
            }

            .data-body {
                .data-item {
                    flex-direction: column;
                    padding: 4.8rem 0;

                    .portfolio-figure {

                        +.portfolio-info {
                            margin-top: 4.8rem;
                            margin-left: 0;
                        }
                    }

                    .portfolio-info {
                        align-self: flex-start;

                        .portfolio-head {
                            .portfolio-name {
                                @include font(small-2x, bold);
                            }

                            ~.portfolio-body {
                                padding-top: 1.2rem;
                            }

                            ~.portfolio-aside {
                                padding-top: 2.4rem;
                            }
                        }

                        .portfolio-body {
                            .para {
                                @include font(small-4x, medium);
                            }
                        }

                        .portfolio-aside {
                            .label {
                                padding: 0.8rem 1.2rem;

                                .label-name {
                                    @include font(small-5x, medium);

                                    +.label-data {
                                        padding-left: 1.2rem;
                                    }
                                }

                                .label-data {
                                    @include font(small-5x, bold);
                                }
                            }

                            br {
                                &.mo-only {
                                    +.label {
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // ir : 브랜드
    &.sk-color {
        >.data-list {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem 1.95rem;

            .data-item {
                width: calc(100% / 3 - 1.3rem);

                .item-head {
                    padding: 1.2rem 2.4rem;
                    border: 1px solid transparent;

                    .item-subject {
                        @include font(small-2x, bold);
                        color: color(system, 070);
                    }

                    +.item-body {
                        margin-top: 0.8rem;
                    }
                }

                .item-body {
                    padding: 2.4rem;
                    box-shadow: 0px 1.336px 5.342px 0px rgba(0, 0, 0, 0.10);
                    background-color: color(system, 070);

                    >.color-list {
                        .list-item {
                            display: flex;
                            color: color(typo, 010);
                            justify-content: space-between;

                            .head {
                                @include font(small-4x, bold);
                            }

                            .body {
                                @include font(small-3x, bold);
                            }

                            +.list-item {
                                margin-top: 0.8rem;
                            }
                        }
                    }
                }
            }

            @include mobile {
                flex-direction: column;

                .data-item {
                    width: 100%;

                    .item-head {
                        .item-subject {
                            @include font(small-3x, bold);
                        }
                    }

                    .item-body {
                        >.color-list {
                            .list-item {
                                .head {
                                    @include font(small-5x, bold);
                                }

                                .body {
                                    @include font(small-4x, medium);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // ir : 아코디언 테이블
    &.financial-table {
        >.data-list {
            overflow: auto;

            .data-item {
                min-width: 38.5rem;

                .data-head {
                    border-radius: 0.8rem;
                    background-color: color(neutral, 090);

                    .data-tr {
                        display: flex;

                        .data-th {
                            width: calc(100% / 3);
                            padding: 1.8rem;
                            color: color(system, 070);
                            text-align: center;
                            @include font(small-3x, bold);

                            +.data-th {
                                border-left: 1px solid color(neutral, 060);
                            }
                        }
                    }
                }

                .data-body {
                    border-radius: 0 0 0.8rem 0.8rem;
                    overflow: hidden;

                    .data-tr {
                        display: flex;

                        .data-th {
                            width: calc(100% / 3);
                            padding: 1.8rem 2rem;
                            color: color(typo, 010);
                            text-align: center;
                            border-bottom: 1px solid color(neutral, 030);
                            @include font(small-3x, bold);

                            &.al {
                                padding: 1.6rem 2rem;
                                line-height: 2.9rem;
                                text-align: left;

                                @include mobile {
                                    padding: 1.6rem 2.4rem;
                                    line-height: 2.6rem;
                                }
                            }

                            +.data-th {
                                border-left: 1px solid color(neutral, 030);
                            }
                        }

                        .data-td {
                            width: calc(100% / 3);
                            padding: 1.4rem;
                            color: color(typo, 010);
                            text-align: center;
                            @include font(small-4x, bold);
                        }
                    }

                    .accordion-head.active {
                        [class*=arrow-down1-line] {
                            .btn-text {
                                &::after {
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                    }

                    .accordion-body {
                        background-color: color(neutral, 020);
                    }
                }

                [class*=arrow-down1-line] {
                    .btn-text {
                        line-height: 2.9rem;
                        justify-content: space-between;

                        &::after {
                            width: 3.2rem;
                            height: 3.2rem;
                            border: 1px solid color(neutral, 030);
                            margin-left: 0;
                            background-image: icon(arrow-down1, color(neutral, 060));
                            background-size: 1.4rem 0.9rem;
                            background-position: center 56%;
                            border-radius: 1.2rem;
                            transition: unset;

                            @include mobile {
                                width: 2.4rem;
                                height: 2.4rem;
                            }
                        }

                        @include mobile {
                            line-height: 2.6rem;
                            @include font(small-4x, bold);

                            &::after {
                                width: 2.4rem;
                                height: 2.4rem;
                                background-size: 1.2rem 0.7rem;
                                border-radius: 0.9rem;
                            }
                        }
                    }
                }
            }

            +.comment {
                margin-top: 1.6rem;

                @include mobile {
                    margin-top: 1.2rem;
                }
            }
        }

        @include mobile {
            margin-right: -1.8rem;

            >.data-list {
                padding-right: 1.8rem;

                .data-item {
                    .data-head {
                        .data-tr {
                            .data-th {
                                width: calc((100% - 46.2%) / 2);
                                padding: 1.5rem;
                                @include font(small-4x, bold);

                                &:first-child {
                                    width: 46.2%;
                                }
                            }
                        }
                    }

                    .data-body {
                        .data-tr {
                            .data-th {
                                width: calc((100% - 46.2%) / 2);
                                padding: 1.5rem 2.4rem;
                                @include font(small-4x, bold);

                                &:first-child {
                                    width: 46.2%;
                                }
                            }

                            .data-td {
                                width: calc((100% - 46.2%) / 2);
                                padding: 1.5rem;
                                @include font(small-4x, bold);

                                &:first-child {
                                    width: 46.2%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // ir : 전자공시
    &.table-layout {
        >.data-list {
            .data-item {
                .data-head {
                    border-radius: 0.8rem;
                    background-color: color(neutral, 090);

                    .data-tr {
                        display: flex;

                        .data-th {
                            @include font(small-3x, bold);
                            padding: 1.8rem;
                            color: color(system, 070);
                            text-align: center;

                            +.data-th {
                                border-left: 1px solid color(neutral, 060);
                            }
                        }
                    }
                }

                .data-body {
                    .data-tr {
                        display: flex;
                        border-bottom: 1px solid color(neutral, 030);

                        .data-td {
                            @include font(small-3x, bold);
                            padding: 1.8rem;
                            color: color(typo, 010);
                            text-align: center;

                            +.data-td {
                                border-left: 1px solid color(neutral, 030);
                            }
                        }
                    }
                }
            }

            +.comment {
                margin-top: 1.6rem;

                @include mobile {
                    margin-top: 1.2rem;
                }
            }
        }

        &.case1 {
            >.data-list {
                .data-item {
                    .data-head {
                        .data-tr {
                            .data-th {
                                &:nth-child(1) {
                                    width: 8.5%;
                                }

                                &:nth-child(2) {
                                    width: 57.5%;
                                }

                                &:nth-child(3) {
                                    width: 17%;
                                }

                                &:nth-child(4) {
                                    width: 17%;
                                }
                            }
                        }
                    }

                    .data-body {
                        .data-tr {
                            .data-td {
                                &:nth-child(1) {
                                    width: 8.5%;
                                }

                                &:nth-child(2) {
                                    width: 57.5%;
                                }

                                &:nth-child(3) {
                                    width: 17%;
                                }

                                &:nth-child(4) {
                                    width: 17%;
                                }
                            }
                        }
                    }
                }

                @include mobile {
                    .data-item {
                        .data-body {
                            .data-tr {
                                .data-td {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        @include mobile {
            >.data-list {
                .data-item {
                    .data-head {
                        @include blind;
                    }

                    .data-body {
                        border-top: 1px solid color(system, 080);

                        .data-tr {
                            padding: 2.4rem 0.8rem;
                            flex-direction: column;

                            .data-td {
                                padding: unset;
                                text-align: left;

                                &.num {
                                    @include blind;
                                }

                                &.title {
                                    margin: 1.2rem 0;
                                    color: color(typo, 020);
                                    order: 2;
                                    @include font(small-2x, bold);
                                }

                                &.name {
                                    color: color(typo, 005);
                                    order: 3;
                                    @include font(small-5x, bold);
                                }

                                &.date {
                                    color: color(typo, 005);
                                    order: 1;
                                    @include font(small-6x, medium);
                                }

                                +.data-td {
                                    border-left: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.video-layout {
        >.data-list {
            .data-item {
                .data-figure {
                    position: relative;
                    height: 0;
                    aspect-ratio: 16 / 9;
                    padding-bottom: 56%;
                    overflow: hidden;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    +.data-script {
                        margin-top: 3.2rem;
                    }
                }

                .data-script {
                    .head {
                        @include font(small-1x, bold);
                        color: color(typo, 020);

                        +.body {
                            margin-top: 3.2rem;
                        }
                    }

                    .body {
                        padding: 2.4rem;
                        background: #F6F6F7;

                        .para {
                            @include font(small-4x, medium);
                            color: color(typo, 010);
                        }
                    }

                    +.data-swiper {
                        margin-top: 8rem;
                    }
                }

                .data-swiper {
                    position: relative;
                }
            }

            @include mobile {
                .data-item {
                    .data-script {
                        .head {
                            @include font(small-2x, bold);
                        }

                        .body {
                            .para {
                                @include font(small-5x, medium);
                            }
                        }

                        +.data-swiper {
                            margin-top: 4.8rem;
                        }
                    }
                }
            }
        }
    }
}

/* bullet list */
.bullet-display {
    &.design1 {
        &.case1 {
            >.data-list {
                .data-item {
                    display: flex;
                    padding-left: 1rem;

                    @include mobile {
                        padding-left: 0.8rem;
                    }

                    &::before {
                        content: '•';
                        margin-right: 1rem;

                        @include mobile {
                            margin-right: 0.8rem;
                        }
                    }
                }
            }
        }

        &.type1 {
            >.data-list {
                .data-item {
                    @include font(small-4x, medium);
                    color: color(typo, 010);

                    @include mobile {
                        @include font(small-5x, medium);
                    }

                    &::before {
                        @include font(small-5x, medium);
                        color: color(typo, 010);

                        @include mobile {
                            @include font(small-6x, medium);
                        }
                    }
                }
            }
        }
    }
}