.HTNCWXD10D00W06 {
    .contents-article-limit {
        max-width: 137.2rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        margin: 0 auto;
    }
    .contents-section-head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        padding-top: 20rem;
        background-color: color(achromatic, 999);
        @include mobile {
            display: block;
        }
        .data-display {
            max-width: 133.6rem;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
            margin: 0 auto;
        }
        
        .wide-thumb-area {
            position: relative;
            bottom: 0;
            width: 100%;
            transition: .7s ease-out;
            @include mobile {
                padding-top: 6rem;
            }
        }
        .wide-thumb-wrap {
            height: 49.6rem;
            background-image: url(../../assets/images/photo/sustainability/ethical/img-wide-ethical-01.jpg);
            background-position: center;
            background-size: cover;
            transition: .7s ease-out;
            @include mobile {
                height: 20rem;
                background-position: 86%;
            }
        }
    }
    &.pc {
        .contents-section2.active {
            .wide-thumb-area {
                bottom: 10rem;
                padding-left: 3rem;
                padding-right: 3rem;
            }
            .wide-thumb-wrap {
                border-radius: 3.2rem;
            }
        }   
    }
    &.mo {
    }
}