.container {
    &.tnc {
        min-height:calc(100vh - 22.2rem);
    }
    &.sub {
        .contents-section2 {
            .contents-section-inner {
                padding-top: 25.6rem;
                @include mobile {
                    padding-top: 11rem;
                }
                .contents-section-head {
                    padding-left: 1.8rem;
                    padding-right: 1.8rem;
                    .title {
                        max-width: 133.6rem;
                        margin: 0 auto;
                    }
                }
            }
            .contents-article {
                width: 100%;
                padding-left: 1.8rem;
                padding-right: 1.8rem;
                .contents-article-inner {
                    max-width: 133.6rem;
                    margin: 0 auto;
                }
                &.case-1 {
                    padding-left: 0;
                    padding-right: 0;
                    .contents-article-inner {
                        max-width: unset;
                        width: 100%;
                    }
                }
            }
        }
        .contents-section {
            // page interaction
            .contents-section-inner {
                .contents-section-head {
                    opacity: 0;
                    transition-duration: 0.7s;
                    transform: translateY(5rem);
                }

                .contents-section-body {
                    .contents-article {
                        opacity: 0;
                        transition-duration: 0.7s;
                        transform: translateY(5rem);

                        &.active {
                            opacity: 1;
                            transition-duration: 0.7s;
                            transform: translateY(0);
                        }
                    }
                }
            }

            &.active {
                .contents-section-inner {
                    .contents-section-head {
                        opacity: 1;
                        transition-duration: 0.7s;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}