.footer {
    &.tnc {
        position:relative;
        z-index:1000;
        background-color: #121212;
        padding-left:1.8rem;
        padding-right:1.8rem;

        .footer-sustainability-inner {
            max-width: 133.6rem;
            margin-left: auto;
            margin-right: auto;
            padding-top: 6rem;
            padding-bottom: 5rem;

            .footer-sustainability-inner-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo-sustainability-bottom {
                    .logo-bottom-link {
                        display: inline-block;
                        font-size: 0;
                        transition-duration: unset;
                        .text-wrap {
                            display: inline-block;
                            font-size: 0;

                            ~.text-wrap {
                                margin-left: 2.4rem;
                            }

                            .hyosung-tnc-eng {
                                display: block;
                                width: 14.9rem;
                                height: 1.9rem;
                                background-image: url(../images/logo/footer-hyosung-tnc-eng-white.svg);
                                background-repeat: no-repeat;
                                transition-duration: unset;
                            }

                            .logo-sustainability-eng {
                                font-family: "Pretendard";
                                font-size: 2rem;
                                line-height: 2.4rem;
                                font-weight: 700;
                                color: rgba(255, 255, 255, 1);
                                transition-duration: unset;
                            }
                        }
                    }
                }

                .footer-sustainability-use-link-wrap {
                    .footer-use-link-list {
                        font-size: 0;

                        .footer-use-link-item {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 0;

                            .footer-use-link-menu {
                                display: inline-block;
                                font-size: 0;

                                .text-wrap {
                                    display: inline-block;
                                    font-size: 0;

                                    .text {
                                        display: inline-block;
                                        font-family: 'Pretendard';
                                        font-weight: 700;
                                        font-size: 1.5rem;
                                        line-height: 1.8rem;
                                        color: rgba(255, 255, 255, 1);
                                        transition-duration: .3s;
                                    }
                                }
                            }

                            ~.footer-use-link-item {
                                &:before {                                    
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotate3d(0, 0, 0, 0deg);
                                    display: block;
                                    width: 0.1rem;
                                    height: 1.4rem;
                                    background-color: rgba(77, 77, 78, 1);

                                    @include mobile {
                                        display: none;
                                    }
                                }

                                margin-left:1.4rem;
                                padding-left:1.4rem;

                                @include mobile {
                                    margin-left:1rem;
                                    padding-left:1rem;
                                }
                            }
                        }
                    }
                }

                ~.footer-inner-bottom {
                    margin-top: 3.8rem;
                }
            }

            .footer-inner-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .footer-contact-us {
                    .footer-address {
                        display: block;
                        font-size: 0;

                        .text-wrap {
                            display: inline-block;
                            font-size: 0;

                            .text {
                                font-family: 'Pretendard';
                                font-weight: 700;
                                font-size: 1.4rem;
                                line-height: 1.7rem;
                                color: #999999;
                            }
                        }

                        ~.footer-copyright {
                            margin-top: 1.2rem;
                        }
                    }

                    .footer-copyright {
                        display: block;
                        font-size: 0;

                        .text-wrap {
                            display: inline-block;
                            font-size: 0;

                            .text {
                                font-family: 'Pretendard';
                                font-weight: 700;
                                font-size: 1.3rem;
                                line-height: 1.6rem;
                                color: #A4A4A4;
                            }
                        }
                    }
                }

                .info-right {
                    display: flex;
                    align-items: center;
                    gap: 3.2rem;

                    @include mobile {
                        margin-top: 3rem;
                        flex-direction: column;
                        gap: 1.6rem;
                    }

                    .newsletter-application {
                        position: relative;
                        display: block;
                        padding-left: 2.8rem;
                        font-weight: 700;
                        font-size: 1.4rem;
                        line-height: 2.2rem;
                        color: #FBFBFB;
                
                        &::before {
                            content:'';
                            position: absolute;
                            top:0;
                            left:0;
                            display: block;
                            width: 2.4rem;
                            height: 2.4rem;
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V12' stroke='%23FFC633' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M21 5L12 14L8 10' stroke='%23FFC633' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
                    }
    
                    .accordion-footer-family-site {
                        .button-family-site {
                            .icon-familysite-direction {
                                width: 1.4rem;
                                height: .9rem;
                                background-image: url(../images/icon/icon-familysite-direction-mobile.svg);
                                transition-duration: .3s;

                                .text-wrap {
                                    .text {
                                        position: relative;
                                        font-size: 0;
                                        line-height: 0;
                                        text-indent: -99999rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        
        &.mo {
            z-index: 998;

            .footer-sustainability-inner {
                padding-top: 3rem;
                padding-bottom: 6rem;

                .footer-sustainability-inner-top {
                    display: unset;
                    justify-content: unset;
                    align-items: unset;

                    .logo-sustainability-bottom {
                        text-align: center;

                        .logo-bottom-link {
                            display: block;
                            font-size: 0;

                            .text-wrap {
                                position: relative;
                                display: inline-block;
                                font-size: 0;

                                .hyosung-tnc-eng {
                                    width: 9.42rem;
                                    height: 1.1rem;
                                    background-image: url(../images/logo/footer-hyosung-tnc-eng-white.svg);
                                    background-size: 100%;
                                }

                                .logo-sustainability-eng {
                                    font-size: 1.2rem;
                                    line-height: 1.4rem;
                                    font-weight: 600;
                                    color: rgba(255, 255, 255, 1);
                                }

                                ~.text-wrap {
                                    margin-left: .9rem;
                                    padding-left: 1rem;

                                    &:before {
                                        display: inline-block;
                                        content: "";
                                        width: .1rem;
                                        height: 1.2rem;
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
                                        background-color: rgba(91, 91, 93, 1);
                                    }
                                }
                            }
                        }

                        ~.footer-sustainability-use-link-wrap {
                            margin-top: 3rem;
                        }
                    }

                    .footer-sustainability-use-link-wrap {
                        .footer-use-link-list {
                            text-align: center;

                            .footer-use-link-item {

                                .footer-use-link-menu {
                                    display: inline-block;
                                    font-size: 0;

                                    .text-wrap {
                                        display: inline-block;
                                        font-size: 0;

                                        .text {
                                            display: inline-block;
                                            font-family: 'Pretendard';
                                            font-weight: 600;
                                            font-size: 1.2rem;
                                            line-height: 1.4rem;
                                            color: rgba(255, 255, 255, 1);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    ~.footer-inner-bottom {
                        margin-top: 2.4rem;
                    }
                }

                .footer-inner-bottom {
                    display: block;
                    justify-content: unset;
                    align-items: unset;
                    text-align: center;

                    .footer-contact-us {
                        .footer-address {
                            display: block;
                            font-size: 0;
                            text-align: center;

                            .text-wrap {
                                display: inline-block;
                                font-size: 0;

                                .text {
                                    display: inline-block;
                                    font-family: 'Pretendard';
                                    font-weight: 500;
                                    font-size: 1rem;
                                    line-height: 1.4rem;
                                    color: #999999;
                                }
                            }

                            ~.footer-copyright {
                                margin-top: 1.4rem;
                            }
                        }

                        .footer-copyright {
                            display: block;
                            font-size: 0;
                            text-align: center;

                            .text-wrap {
                                display: inline-block;
                                font-size: 0;

                                .text {
                                    display: inline-block;
                                    font-family: 'Pretendard';
                                    font-weight: 500;
                                    font-size: .9rem;
                                    line-height: 1.2rem;
                                    color: rgba(102, 102, 102, 1);
                                }
                            }
                        }

                        ~.accordion-footer-family-site {
                            margin-top: 2.4rem;
                        }
                    }
                }
            }
        }

        // footer 패밀리 사이트 아코디언
        .accordion-footer-family-site {
            position: relative;
            display: inline-block;
            width: 25rem;

            @include mobile {
                width: 100%;
            }

            .button-family-site {
                position: relative;
                width: 100%;
                height: 5.4rem;
                padding: 1.2rem 3rem;
                background-color: #212121;
                border-radius: 2.4rem;

                @include mobile {
                    height: 4.8rem;
                    padding: 1.5rem 3.2rem;
                }

                .text-button-wrap {
                    display: block;
                    font-size: 0;
                    text-align: left;

                    .text-wrap {
                        display: inline-block;
                        font-size: 0;

                        .text {
                            font-family: 'Pretendard';
                            font-weight: 700;
                            font-size: 1.8rem;
                            line-height: 3rem;
                            color: rgba(255, 255, 255, 1);

                            @include mobile {
                                font-size: 1.4rem;
                                line-height: 1.8rem;
                            }
                        }
                    }
                }

                .icon-familysite-direction {
                    position: absolute;
                    top: 50%;
                    right: 2.9rem;
                    transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotate3d(0, 0, 0, 0deg);
                    transition-duration: .3s;
                }

                &.active {
                    .icon-familysite-direction {
                        transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotate3d(0, 0, 1, -540deg);
                    }

                    ~.family-site-layer-wrap {
                        max-height: 30rem;
                        z-index: 1;
                    }
                }
            }

            .family-site-layer-wrap {
                width: 100%;
                max-width: calc(100% - 4.4rem);
                max-height: 0;
                text-align: left;
                position: absolute;
                left: 2.2rem;
                bottom: 100%;
                overflow-y: auto;
                transition-duration: .3s;

                /* 스크롤바 설정*/
                &::-webkit-scrollbar{
                    display: block;
                    width: 3px;
                }
        
                /* 스크롤바 막대 설정*/
                &::-webkit-scrollbar-thumb{
                    height: 10%;
                    background-color: rgba(255,255,255,0.5);
                }
        
                /* 스크롤바 뒷 배경 설정*/
                &::-webkit-scrollbar-track{
                    background-color: rgba(255,255,255,0.4);
                }

                .family-site-layer-list {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    background-color: rgba(51, 51, 51, 1);
                    border: .1rem solid rgba(22, 22, 24, 1);

                    .family-site-layer-item {
                        display: block;

                        .link-text-family-site-item {
                            display: block;
                            font-size: 0;
                            padding-left: 1.8rem;
                            padding-right: 1.8rem;
                            transition-duration: .3s;
                            text-align: left;

                            .text-wrap {
                                display: inline-block;
                                font-size: 0;

                                .text {
                                    display: inline-block;
                                    font-family: 'Pretendard';
                                    font-weight: 500;
                                    font-size: 1.4rem;
                                    line-height: 3rem;
                                    color: rgba(255, 255, 255, .5);
                                    transition-duration: .3s;
                                }
                            }

                            &:focus,
                            &:hover {
                                transition-duration: .3s;
                                background-color: rgba(22, 22, 24, 1);

                                .text-wrap {
                                    .text {
                                        color: rgba(255, 255, 255, 1);
                                        transition-duration: .3s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ta,
        .mo {
            .accordion-footer-family-site {
                max-width: unset;

                .button-family-site {
                    padding: 1.5rem 3.2rem 1.6rem;
                    height: 4.8rem;

                    .text-button-wrap {
                        .text-wrap {
                            .text {
                                font-size: 1.4rem;
                                line-height: 1.7rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer.main {
    .accordion-footer-family-site {
        .family-site-layer-wrap {
            &::-webkit-scrollbar-thumb {
                background-color:gray;
            }
        }
    }
}