* {
    margin:0;
    padding:0;
    outline:none;
    background:transparent;
    font-weight:normal;
    font-style:normal;
    box-sizing:border-box;
    touch-action:auto;
    -webkit-tap-highlight-color:transparent !important;
    -webkit-tap-highlight-color:rgba(255,255,255,0) !important;
}

html {
    font-size:62.5%;
}

body {    
    font-size:1rem;
    &.scroll-hidden {
        overflow:hidden;
    }
}

html,body {
    font-family:"Pretendard", "Roboto", "NotoSansKR", sans-serif;
    letter-spacing:0;
    -webkit-overflow-scrolling:touch;
    -moz-overflow-scrolling:touch;
    text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -o-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

ul,
ol,
li {
    list-style:none;
}

em,
i,
cite,
code,
address {
    font-style:normal;
    font-weight:normal;
}

a,
u,
ins {
    text-decoration:none;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse:collapse;
}

table {
    caption {
        font-size:0;
        line-height:0;
        text-indent:-9999rem;
        > div,
        legend,
        .hide {
            overflow:hidden;
            display:block;
            position:absolute;
            border:0;
            width:0;
            height:0;
            clip:rect(0,0,0,0);
        }
    }
} 

button {
    border:none;
    background:none;
    font-family:"Pretendard";
    cursor:pointer;
}

label,
img,
input,
select,
textarea,
button,
a {
    vertical-align:middle;
}

input,
button,
select,
textarea {
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    border-radius:0;
}

input::-ms-expand,
button::-ms-expand,
select::-ms-expand,
textarea::-ms-expand {
    display: none; /*for IE10,11*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.pc-only {
    @include mobile {
        display: none;
    }
}
.mo-only {
    display: none;
    @include mobile {
        display: inline-block;
    }
}

br {
    &.br-mo {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &.br-pc {
        display: block;

        @include mobile {
            display: none;
        }
    }
}

.blind {
    position:absolute;
    margin:-.1rem;
    width:0;
    height:0;
    padding:0;
    border:0;
    white-space:nowrap;
    overflow:hidden;
    clip:rect(0,0,0,0);
    clip-path:inset(50%);
}

// 윤리경영 공통 라인

.notice-line {
    width: 100%;
    height: 0.1rem;
    margin-top: 12rem;
    margin-bottom: 6rem;
    background-color: color(achromatic, 768);
    .notice-text {
        display: block;
        padding-top: 1.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.2rem;
        color: color(achromatic, 157);
        text-align: right;
        @include mobile {
            padding-top: 1.2rem;
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }
    .accent {
        display: inline-block;
        width: 0.9rem;
        padding-right: 0.2rem;
        font-weight: 600;
        color: color(chromatic, 377);
        text-align: center;
    }
    @include mobile {
        margin-top: 10rem;
    }
}

.couple-text {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}