/* font-family:'Montserrat' */
@font-face {
    font-family:'Montserrat';
    font-weight:100;
    font-style:normal;
    src:url('../fonts/Montserrat-Thin.eot');
    src:url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.ttf') format("truetype"),
        url('../fonts/Montserrat-Thin.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:100;
    font-style:italic;
    src:url('../fonts/Montserrat-ThinItalic.eot');
    src:url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('../fonts/Montserrat-ThinItalic.ttf') format("truetype"),
        url('../fonts/Montserrat-ThinItalic.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:200;
    font-style:normal;
    src:url('../fonts/Montserrat-ExtraLight.eot');
    src:url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLight.ttf') format("truetype"),
        url('../fonts/Montserrat-ExtraLight.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:200;
    font-style:italic;
    src:url('../fonts/Montserrat-ExtraLightItalic.eot');
    src:url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLightItalic.ttf') format("truetype"),
        url('../fonts/Montserrat-ExtraLightItalic.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:300;
    font-style:normal;
    src:url('../fonts/Montserrat-Light.eot');
    src:url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format("truetype"),
        url('../fonts/Montserrat-Light.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:400;
    font-style:normal;
    src:url('../fonts/Montserrat-Regular.eot');
    src:url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format("truetype"),
        url('../fonts/Montserrat-Regular.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:400;
    font-style:italic;
    src:url('../fonts/Montserrat-Italic.eot');
    src:url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff'),
        url('../fonts/Montserrat-Italic.ttf') format("truetype"),
        url('../fonts/Montserrat-Italic.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:500;
    font-style:normal;
    src:url('../fonts/Montserrat-Medium.eot');
    src:url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format("truetype"),
        url('../fonts/Montserrat-Medium.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:500;
    font-style:italic;    
    src:url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
        url('../fonts/Montserrat-MediumItalic.ttf') format("truetype"),
        url('../fonts/Montserrat-MediumItalic.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:600;
    font-style:normal;    
    src:url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format("truetype"),
        url('../fonts/Montserrat-SemiBold.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:600;
    font-style:italic;    
    src:url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-SemiBoldItalic.ttf') format("truetype"),
        url('../fonts/Montserrat-SemiBoldItalic.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:700;
    font-style:normal;
    src:url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format("truetype"),
        url('../fonts/Montserrat-Bold.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:700;
    font-style:italic;    
    src:url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-BoldItalic.otf') format('opentype'),
        url('../fonts/Montserrat-BoldItalic.ttf') format("truetype"),
        url('../fonts/Montserrat-BoldItalic.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:800;
    font-style:normal;
    src:url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.otf') format('opentype'),
        url('../fonts/Montserrat-ExtraBold.ttf') format("truetype"),
        url('../fonts/Montserrat-ExtraBold.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:800;
    font-style:italic;
    src:url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBoldItalic.otf') format('opentype'),
        url('../fonts/Montserrat-ExtraBoldItalic.ttf') format("truetype"),
        url('../fonts/Montserrat-ExtraBoldItalic.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:900;
    font-style:normal;
    src:url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff'),
        url('../fonts/Montserrat-Black.otf') format('opentype'),
        url('../fonts/Montserrat-Black.ttf') format("truetype"),
        url('../fonts/Montserrat-Black.svg') format('svg');
    font-display:swap;
}
@font-face {
    font-family:'Montserrat';
    font-weight:900;
    font-style:italic;
    src:url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('../fonts/Montserrat-BlackItalic.otf') format('opentype'),
        url('../fonts/Montserrat-BlackItalic.ttf') format("truetype"),
        url('../fonts/Montserrat-BlackItalic.svg') format('svg');
    font-display:swap;
}

/* font-family:'Pretendard' */
@font-face {
    font-family:'Pretendard';
    font-weight:100;
    font-style:normal;
    src:url('../fonts/Pretendard-Thin.woff2') format('woff2'),
        url('../fonts/Pretendard-Thin.woff') format('woff'),
        url('../fonts/Pretendard-Thin.otf') format('opentype'),
        url('../fonts/Pretendard-Thin.ttf') format("truetype"),
        url('../fonts/Pretendard-Thin.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family:'Pretendard';
    font-weight:200;
    font-style:normal;
    src:url('../fonts/Pretendard-ExtraLight.woff2') format('woff2'),
        url('../fonts/Pretendard-ExtraLight.woff') format('woff'),
        url('../fonts/Pretendard-ExtraLight.otf') format('opentype'),
        url('../fonts/Pretendard-ExtraLight.ttf') format("truetype"),
        url('../fonts/Pretendard-ExtraLight.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family:'Pretendard';
    font-weight:300;
    font-style:normal;
    src:url('../fonts/Pretendard-Light.woff2') format('woff2'),
        url('../fonts/Pretendard-Light.woff') format('woff'),
        url('../fonts/Pretendard-Light.otf') format('opentype'),
        url('../fonts/Pretendard-Light.ttf') format("truetype"),
        url('../fonts/Pretendard-Light.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family:'Pretendard';
    font-weight:400;
    font-style:normal;    
    src:url('../fonts/Pretendard-Regular.woff2') format('woff2'),
        url('../fonts/Pretendard-Regular.woff') format('woff'),
        url('../fonts/Pretendard-Regular.otf') format('opentype'),
        url('../fonts/Pretendard-Regular.ttf') format("truetype"),
        url('../fonts/Pretendard-Regular.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family:'Pretendard';
    font-weight:500;
    font-style:normal;
    src:url('../fonts/Pretendard-Medium.woff2') format('woff2'),
        url('../fonts/Pretendard-Medium.woff') format('woff'),
        url('../fonts/Pretendard-Medium.otf') format('opentype'),
        url('../fonts/Pretendard-Medium.ttf') format("truetype"),
        url('../fonts/Pretendard-Medium.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family:'Pretendard';
    font-weight:600;
    font-style:normal;
    src:url('../fonts/Pretendard-SemiBold.woff2') format('woff2'),
        url('../fonts/Pretendard-SemiBold.woff') format('woff'),
        url('../fonts/Pretendard-SemiBold.otf') format('opentype'),
        url('../fonts/Pretendard-SemiBold.ttf') format("truetype"),
        url('../fonts/Pretendard-SemiBold.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family:'Pretendard';
    font-weight:700;
    font-style:normal;
    src:url('../fonts/Pretendard-Bold.woff2') format('woff2'),
        url('../fonts/Pretendard-Bold.woff') format('woff'),
        url('../fonts/Pretendard-Bold.otf') format('opentype'),
        url('../fonts/Pretendard-Bold.ttf') format("truetype"),
        url('../fonts/Pretendard-Bold.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family:'Pretendard';
    font-weight:800;
    font-style:normal;    
    src:url('../fonts/Pretendard-ExtraBold.woff2') format('woff2'),
        url('../fonts/Pretendard-ExtraBold.woff') format('woff'),
        url('../fonts/Pretendard-ExtraBold.otf') format('opentype'),
        url('../fonts/Pretendard-ExtraBold.ttf') format("truetype"),
        url('../fonts/Pretendard-ExtraBold.svg') format('svg');
    font-display: swap;
}

@font-face {
    font-family:'Pretendard';
    font-weight:900;
    font-style:normal;    
    src:url('../fonts/Pretendard-Black.woff2') format('woff2'),
        url('../fonts/Pretendard-Black.woff') format('woff'),
        url('../fonts/Pretendard-Black.otf') format('opentype'),
        url('../fonts/Pretendard-Black.ttf') format("truetype"),
        url('../fonts/Pretendard-Black.svg') format('svg');
    font-display: swap;
}

/* font-family:'Questrial' */
@font-face {
	font-family:'PretendardJP';
	font-weight:100;
	font-display:swap;	
	src:url('../fonts/PretendardJP-Thin.woff2') format('woff2'), 
        url('../fonts/PretendardJP-Thin.woff') format('woff'),
        url('../fonts/PretendardJP-Thin.otf') format('opentype'),
        url('../fonts/PretendardJP-Thin.ttf') format('truetype'),
        url('../fonts/PretendardJP-Thin.svg') format('svg');
}
@font-face {
	font-family:'PretendardJP';
	font-weight:200;
	font-display:swap;	
	src:url('../fonts/PretendardJP-ExtraLight.woff2') format('woff2'), 
        url('../fonts/PretendardJP-ExtraLight.woff') format('woff'),
        url('../fonts/PretendardJP-ExtraLight.otf') format('opentype'),
        url('../fonts/PretendardJP-ExtraLight.ttf') format('truetype'),
        url('../fonts/PretendardJP-ExtraLight.svg') format('svg');
}
@font-face {
	font-family:'PretendardJP';
	font-weight:300;
	font-display:swap;
	src:url('../fonts/PretendardJP-Light.woff2') format('woff2'), 
        url('../fonts/PretendardJP-Light.woff') format('woff'),
        url('../fonts/PretendardJP-Light.otf') format('opentype'),
        url('../fonts/PretendardJP-Light.ttf') format('truetype'),
        url('../fonts/PretendardJP-Light.svg') format('svg');
}
@font-face {
	font-family:'PretendardJP';
	font-weight:400;
	font-display:swap;
	src:url('../fonts/PretendardJP-Regular.woff2') format('woff2'), 
        url('../fonts/PretendardJP-Regular.woff') format('woff'),
        url('../fonts/PretendardJP-Regular.otf') format('opentype'),
        url('../fonts/PretendardJP-Regular.ttf') format('truetype'),
        url('../fonts/PretendardJP-Regular.svg') format('svg');
}
@font-face {
	font-family:'PretendardJP';
	font-weight:500;
	font-display:swap;
	src:url('../fonts/PretendardJP-Medium.woff2') format('woff2'), 
        url('../fonts/PretendardJP-Medium.woff') format('woff'),
        url('../fonts/PretendardJP-Medium.otf') format('opentype'),
        url('../fonts/PretendardJP-Medium.ttf') format('truetype'),
        url('../fonts/PretendardJP-Medium.svg') format('svg');
}
@font-face {
	font-family:'PretendardJP';
	font-weight:600;
	font-display:swap;	
	src:url('../fonts/PretendardJP-SemiBold.woff2') format('woff2'), 
        url('../fonts/PretendardJP-SemiBold.woff') format('woff'),
        url('../fonts/PretendardJP-SemiBold.otf') format('opentype'),
        url('../fonts/PretendardJP-SemiBold.ttf') format('truetype'),
        url('../fonts/PretendardJP-SemiBold.svg') format('svg');
}
@font-face {
	font-family:'PretendardJP';
	font-weight:700;
	font-display:swap;	
	src:url('../fonts/PretendardJP-Bold.woff2') format('woff2'), 
        url('../fonts/PretendardJP-Bold.woff') format('woff'),
        url('../fonts/PretendardJP-Bold.otf') format('opentype'),
        url('../fonts/PretendardJP-Bold.ttf') format('truetype'),
        url('../fonts/PretendardJP-Bold.svg') format('svg');
}
@font-face {
	font-family:'PretendardJP';
	font-weight:800;
	font-display:swap;	
	src:url('../fonts/PretendardJP-ExtraBold.woff2') format('woff2'), 
        url('../fonts/PretendardJP-ExtraBold.woff') format('woff'),
        url('../fonts/PretendardJP-ExtraBold.otf') format('opentype'),
        url('../fonts/PretendardJP-ExtraBold.ttf') format('truetype'),
        url('../fonts/PretendardJP-ExtraBold.svg') format('svg');
}
@font-face {
	font-family:'PretendardJP';
	font-weight:900;
	font-display:swap;
	src:url('../fonts/PretendardJP-Black.woff2') format('woff2'), 
        url('../fonts/PretendardJP-Black.woff') format('woff'),
        url('../fonts/PretendardJP-Black.otf') format('opentype'),
        url('../fonts/PretendardJP-Black.ttf') format('truetype'),
        url('../fonts/PretendardJP-Black.svg') format('svg');
}

/* font-family:'Roboto' */
@font-face {
	font-family:'Roboto';
	font-weight:100;
	font-style:normal;
	src://url('../fonts/Roboto-Thin.woff2') format('woff2'), 
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.otf') format('opentype'),
        url('../fonts/Roboto-Thin.ttf') format('truetype'),
        url('../fonts/Roboto-Thin.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:100;
	font-style:italic;	
	src://url('../fonts/Roboto-ThinItalic.woff2') format('woff2'), 
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.otf') format('opentype'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype'),
        url('../fonts/Roboto-ThinItalic.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:200 300;
	font-style:normal;	
	src://url('../fonts/Roboto-Light.woff2') format('woff2'), 
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.otf') format('opentype'),
        url('../fonts/Roboto-Light.ttf') format('truetype'),
        url('../fonts/Roboto-Light.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:200 300;
	font-style:italic;
	src://url('../fonts/Roboto-LightItalic.woff2') format('woff2'), 
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.otf') format('opentype'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
        url('../fonts/Roboto-LightItalic.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:400;
	font-style:normal;
	src:url('../fonts/Roboto-Regular.woff2') format('woff2'), 
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.otf') format('opentype'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:400;
	font-style:italic;	
	src://url('../fonts/Roboto-Italic.woff2') format('woff2'), 
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.otf') format('opentype'),
        url('../fonts/Roboto-Italic.ttf') format('truetype'),
        url('../fonts/Roboto-Italic.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:500 600;
	font-style:normal;	
	src://url('../fonts/Roboto-Medium.woff2') format('woff2'), 
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.otf') format('opentype'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:500 600;
	font-style:italic;
	src://url('../fonts/Roboto-MediumItalic.woff2') format('woff2'), 
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.otf') format('opentype'),
        url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),
        url('../fonts/Roboto-MediumItalic.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:700 800;
	font-style:normal;	
	src://url('../fonts/Roboto-Bold.woff2') format('woff2'), 
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.otf') format('opentype'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:700 800;
	font-style:italic;	
	src://url('../fonts/Roboto-BoldItalic.woff2') format('woff2'), 
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.otf') format('opentype'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype'),
        url('../fonts/Roboto-BoldItalic.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:900;
	font-style:normal;
	src://url('../fonts/Roboto-Black.woff2') format('woff2'), 
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.otf') format('opentype'),
        url('../fonts/Roboto-Black.ttf') format('truetype'),
        url('../fonts/Roboto-Black.svg') format('svg');
}
@font-face {
	font-family:'Roboto';
	font-weight:900;
	font-style:italic;
	src://url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto-BlackItalic.otf') format('opentype'),
        url('../fonts/Roboto-BlackItalic.ttf') format('truetype'),
        url('../fonts/Roboto-BlackItalic.svg') format('svg');
}

/* font-family:'Questrial' */
@font-face {
    font-family:'Questrial';
    font-weight:400;
    font-style:normal;
    src:url('../fonts/Questrial-Regular.eot');
    src:url('../fonts/Questrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Questrial-Regular.woff2') format('woff2'),
        url('../fonts/Questrial-Regular.woff') format('woff'),
        url('../fonts/Questrial-Regular.otf') format('opentype'),
        url('../fonts/Questrial-Regular.ttf') format("truetype"),
        url('../fonts/Questrial-Regular.svg') format('svg');
    font-display: swap;
}

/* font-family:'slick' */
@font-face {
    font-family:'slick';
    font-weight:900;
    font-style:normal;
    src:url('../fonts/slick.eot');
    src:url('../fonts/slick.eot?#iefix') format('embedded-opentype'),
        //url('../fonts/slick.woff2') format('woff2'),
        url('../fonts/slick.woff') format('woff'),
        url('../fonts/slick.otf') format('opentype'),
        url('../fonts/slick.ttf') format("truetype"),
        url('../fonts/slick.svg') format('svg');
    font-display: swap;
}

/* font-family:'효성폰트' */
@font-face {
	font-family:'Hyosung';
	font-weight:100 200 300;
	font-style:normal;
	src:url('../fonts/Brand-New-Hyosung-OTF-Light.otf') format('opentype'),
        url('../fonts/Brand-New-Hyosung-OTF-Light.woff2') format('woff2'),
        url('../fonts/Brand-New-Hyosung-OTF-Light.woff') format('woff'),
        url('../fonts/Brand-New-Hyosung-OTF-Light.ttf') format("truetype"),
        url('../fonts/Brand-New-Hyosung-OTF-Light.svg') format('svg');
}

@font-face {
	font-family:'Hyosung';
	font-weight:400 500 600;
	font-style:normal;
	src:url('../fonts/Brand-New-Hyosung-OTF-Medium.otf') format('opentype'),
        url('../fonts/Brand-New-Hyosung-OTF-Medium.woff2') format('woff2'),
        url('../fonts/Brand-New-Hyosung-OTF-Medium.woff') format('woff'),
        url('../fonts/Brand-New-Hyosung-OTF-Medium.ttf') format("truetype"),
        url('../fonts/Brand-New-Hyosung-OTF-Medium.svg') format('svg');
}

@font-face {
	font-family:'Hyosung';
	font-weight:700 800 900;
	font-style:normal;
	src:url('../fonts/Brand-New-Hyosung-OTF-Bold.otf') format('opentype'),
        url('../fonts/Brand-New-Hyosung-OTF-Bold.woff2') format('woff2'),
        url('../fonts/Brand-New-Hyosung-OTF-Bold.woff') format('woff'),
        url('../fonts/Brand-New-Hyosung-OTF-Bold.ttf') format("truetype"),
        url('../fonts/Brand-New-Hyosung-OTF-Bold.svg') format('svg');
}

/* font-family:'효성OTF폰트' */
@font-face {
	font-family:'HyosungOTF';
	font-weight:100 200 300;
	font-style:normal;
	src:url('../fonts/Brand-New-Hyosung-OTF-Light.otf') format('opentype'),
        url('../fonts/Brand-New-Hyosung-OTF-Light.woff2') format('woff2'),
        url('../fonts/Brand-New-Hyosung-OTF-Light.woff') format('woff'),
        url('../fonts/Brand-New-Hyosung-OTF-Light.ttf') format("truetype"),
        url('../fonts/Brand-New-Hyosung-OTF-Light.svg') format('svg');
}

@font-face {
	font-family:'HyosungOTF';
	font-weight:400 500 600;
	font-style:normal;
	src:url('../fonts/Brand-New-Hyosung-OTF-Medium.otf') format('opentype'),
        url('../fonts/Brand-New-Hyosung-OTF-Medium.woff2') format('woff2'),
        url('../fonts/Brand-New-Hyosung-OTF-Medium.woff') format('woff'),
        url('../fonts/Brand-New-Hyosung-OTF-Medium.ttf') format("truetype"),
        url('../fonts/Brand-New-Hyosung-OTF-Medium.svg') format('svg');
}

@font-face {
	font-family:'HyosungOTF';
	font-weight:700 800 900;
	font-style:normal;
	src:url('../fonts/Brand-New-Hyosung-OTF-Bold.otf') format('opentype'),
        url('../fonts/Brand-New-Hyosung-OTF-Bold.woff2') format('woff2'),
        url('../fonts/Brand-New-Hyosung-OTF-Bold.woff') format('woff'),
        url('../fonts/Brand-New-Hyosung-OTF-Bold.ttf') format("truetype"),
        url('../fonts/Brand-New-Hyosung-OTF-Bold.svg') format('svg');
}


/* font-family:'Poppins' */
@font-face {
	font-family:'Poppins';
	font-weight: 600;
	font-style:normal;
	src:url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/poppins/Poppins-SemiBold.otf') format('opentype'),
        url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-SemiBold.svg') format('svg');
}

@font-face {
	font-family:'Poppins';
	font-weight: 700;
	font-style:normal;
	src:url('../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Bold.woff') format('woff'),
        url('../fonts/poppins/Poppins-Bold.otf') format('opentype'),
        url('../fonts/poppins/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-Bold.svg') format('svg');
}

