// color palettes
$color-palettes: (
  chromatic: (
    132: #091943,
    146: #1E1E34,
    234: #006D46,
    261: #383957,
    266: #1B4B66,
    311: #313489,
    341: #A6520D,
    377: #FF1111,
    431: #4D51AC,
    434: #2856CE,
    449: #1D6ECD,
    464: #22CD74,
    494: #DA7828,
    454: #D06E1E,
    528: #666AC4,
    542: #F4AA01,
    550: #3A95D6,
    560: #FF7C32,
    563: #6485C6,
    564: #FF8D24,
    572: #EE8C3C,
    584: #4B84F0,
    658: #FFC633,
    761: #A2A6FF,
    769: #A5A9FF,
    777: #FFD282,
    784: #87D3FE,
  ),
  achromatic: (
    999: #FFFFFF,
    906: #E1E6EF,
    889: #E3E3E3,
    975: #F4F8FF,
    966: #F2F8FA,
    978: #F8F9FC,
    799: #CCCCCC,
    768: #C4C4C4,
    713: #B6B6B6,
    850: #D9D9D9,
    599: #999999,
    451: #737373,
    490: #767B86,
    445: #626C87,
    325: #535353,
    225: #37373E,
    157: #282828,
    127: #1B1F27,
    123: #191F26,
    0: #000000,
  ),
);

// Create Color
@function color($theme: achromatic, $variant: 900, $opacity: 1) {
  $set-color: map-get($color-palettes, $theme, $variant);
  $create-color: rgba(red($set-color), green($set-color), blue($set-color), $opacity);
  @return $create-color;
}

// 반응형 사이즈 정의
$mobile: 280px;
$tablet: 1024px;
$web: 1336px;
