<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'main',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<%-include('../_templates/_header.ejs', {
			current: '0',
		}) %>
		<!-- page-body -->
		<div class="page-body main">
			<!-- local -->
			<div id="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-subject" id="localSubject"><span class="local-name"></span></h2>
				</div>
				<!-- //local-head -->
				<!-- local-body -->        
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-body -->
						<div class="content-body">

							<!-- display-board -->
							<div class="display-board billboard">
								<div class="board-list">
									<div class="board-item" style="--background-image: url(./../images/main/main_bg_01.png);">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-subject">
													<span class="board-name"><span class="wbr">세계최초 정지궤도 환경위성</span> <span class="wbr">운영 국가 대한민국!</span></span>
												</p>
												<p class="board-summary">글로벌 과학 강국을 향한 힘찬 도약을 시작합니다.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //display-board -->

							<!-- data-display -->
							<div class="data-display operational-inform">

							</div>
							<!-- //data-display -->

							<!-- section -->
							<div class="section main-contents">
								<div class="section-wrap">
									<div class="section-head">
										<p class="section-subject"><span class="section-name">주요 컨텐츠</span></p>
									</div>
									<div class="section-body">
										<!-- subsection -->
										<div class="subsection data-service">
											<div class="subsection-wrap">
												<div class="subsection-head">
													<p class="subsection-subject"><span class="section-name">위성영상 자료 서비스</span></p>
												</div>
												<div class="subsection-body">
													<p class="para">정지궤도 환경위성의 주요 산출물 20종</p>
												</div>
											</div>
										</div>
										<!-- //subsection -->
										<!-- subsection -->
										<div class="subsection data-output">
											<div class="subsection-wrap">
												<div class="subsection-head">
													<p class="subsection-subject"><span class="section-name">주요 산출물</span></p>
												</div>
												<div class="subsection-body">
													<p class="para">환경위성 관측 영상의 알기 쉬운 이해</p>
												</div>
											</div>
										</div>
										<!-- //subsection -->
										<!-- subsection -->
										<div class="subsection data-notice">
											<div class="subsection-wrap">
												<div class="subsection-head">
													<p class="subsection-subject"><span class="section-name">공지사항</span></p>
												</div>
												<div class="subsection-body">
													<!-- tab-display -->
													<div class="tab-display">
														<ul class="tab-list">
															<li class="tab-item current" title="현재 선택된 항목">
																<a href="#" class="tab-text">일반공지</a>
															</li>
															<li class="tab-item">
																<a href="#" class="tab-text">공지사항</a>
															</li>
														</ul>
													</div>
													<!-- //tab-display -->
													<!-- subsubsection -->
													<div class="subsubsection">
														<div class="subsubsection-wrap">
															<div class="subsubsection-head">
																<p class="subsubsection-subject"><span class="subsubsection-name">게시글 목록</span></p>
															</div>
															<div class="subsubsection-body">
																<div class="posts-display">
																	<ul class="posts-list">
																		<li class="posts-item">
																			<div class="posts-wrap">
																				<div class="posts-inform">
																					<div class="posts-head">
																						<p class="posts-subject"><a class="posts-name" href="#">환경위성(GEMS 영상 서비스 장애 공지 (L4)</a></p>
																					</div>
																					<div class="posts-data">
																						<div class="data-list">
																							<span class="data-item">
																								<span class="head">등록일</span>
																								<span class="body">2021.04.01</span>
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</li>
																		<li class="posts-item">
																			<div class="posts-wrap">
																				<div class="posts-inform">
																					<div class="posts-head">
																						<p class="posts-subject"><a class="posts-name" href="#">환경위성(GEMS) 영상 서비스 실시간 장애 공지 및 서비스 관련 (L2 및 L4 장애 대응 관련 등)</a></p>
																					</div>
																					<div class="posts-data">
																						<div class="data-list">
																							<span class="data-item">
																								<span class="head">등록일</span>
																								<span class="body">2021.04.01</span>
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</li>
																		<li class="posts-item">
																			<div class="posts-wrap">
																				<div class="posts-inform">
																					<div class="posts-head">
																						<p class="posts-subject"><a class="posts-name" href="#">지상 초미세먼지 및 미세먼지 추정 농도(L4) 산출물 생성 및 배포 시간 관련 안내 사항</a></p>
																					</div>
																					<div class="posts-data">
																						<div class="data-list">
																							<span class="data-item">
																								<span class="head">등록일</span>
																								<span class="body">2021.04.01</span>
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</li>
																		<li class="posts-item">
																			<div class="posts-wrap">
																				<div class="posts-inform">
																					<div class="posts-head">
																						<p class="posts-subject"><a class="posts-name" href="#">특이현상 분석 결과 (경남 밀양 산불)</a></p>
																					</div>
																					<div class="posts-data">
																						<div class="data-list">
																							<span class="data-item">
																								<span class="head">등록일</span>
																								<span class="body">2021.04.01</span>
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</li>
																	</ul>





																</div>
															</div>
														</div>
													</div>
													<!-- //subsubsection -->
												</div>
											</div>
										</div>
										<!-- //subsection -->
										<!-- subsection -->
										<div class="subsection data-output">
											<div class="subsection-wrap">
												<div class="subsection-head">
													<p class="subsection-subject"><span class="section-name">주요 산출물</span></p>
												</div>
												<div class="subsection-body">
													<p class="para">환경위성 관측 영상의 알기 쉬운 이해</p>
												</div>
											</div>
										</div>
										<!-- //subsection -->
									</div>
								</div>
							</div>
							<!-- //section -->

							<!-- navi-display -->
							<div class="navi-display">
								<ul class="navi-list">
									<li class="navi-item">
										<div class="navi-wrap">
											<div class="navi-head"><a class="navi-name" href="#">국내 위성운영 기관</a></div>
											<div class="navi-body">
												<ul class="navi-list">
													<li class="navi-item"><a href="#">한국항공우주연구원</a></li>
													<li class="navi-item"><a href="#">기상위성센터</a></li>
													<li class="navi-item"><a href="#">해양위성센터</a></li>
												</ul>
											</div>
											<div class="navi-side"><button type="button" class="btn expand">접기</button></div>
										</div>
									</li>
									<li class="navi-item">
										<div class="navi-wrap">
											<div class="navi-head"><a class="navi-name" href="#">국외 위성운영 기관</a></div>
											<div class="navi-body">
												<ul class="navi-list">
													<li class="navi-item"><a href="#">NASA</a></li>
													<li class="navi-item"><a href="#">NOAA</a></li>
													<li class="navi-item"><a href="#">ESA</a></li>
													<li class="navi-item"><a href="#">EUMETSAT</a></li>
													<li class="navi-item"><a href="#">JAXA(일본)</a></li>
													<li class="navi-item"><a href="#">MSC(일본)</a></li>
													<li class="navi-item"><a href="#">NSMC(중국)</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li class="navi-item">
										<div class="navi-wrap">
											<div class="navi-head"><a class="navi-name" href="#">유용한 사이트</a></div>
											<div class="navi-body">
												<ul class="navi-list">
													<li class="navi-item"><a href="#">에어로넷</a></li>
													<li class="navi-item"><a href="#">에어코리아</a></li>
													<li class="navi-item"><a href="#">한반도 에어로졸 라이다 네트워크</a></li>
													<li class="navi-item"><a href="#">역궤적모델</a></li>
													<li class="navi-item"><a href="#">TROPOMI</a></li>
													<li class="navi-item"><a href="#">OMI</a></li>
													<li class="navi-item"><a href="#">연세대학교(알고리즘사업단)</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li class="navi-item">
										<div class="navi-wrap">
											<div class="navi-head"><a class="navi-name" href="#">환경과학원 정보서비스</a></div>
											<div class="navi-body">
												<ul class="navi-list">
													<li class="navi-item"><a href="#">대기배출원관리시스템</a></li>
													<li class="navi-item"><a href="#">물환경정보시스템</a></li>
													<li class="navi-item"><a href="#">자동차배출가스 및 소음인증 전산시스템</a></li>
													<li class="navi-item"><a href="#">전국오염원조사</a></li>
													<li class="navi-item"><a href="#">토양지하수정보시스템</a></li>
													<li class="navi-item"><a href="#">통합환경허가시스템</a></li>
													<li class="navi-item"><a href="#">환경시험검사종합운영시스템</a></li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- //navi-display -->
							
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_footer.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>