<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'main',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<%-include('../_templates/_header.ejs', {
			type: 'dark',
		}) 
		%>
		<!-- page-body -->
		<div class="page-body main">
			
		</div>
		<!-- //page-body -->
	</div>
	<!-- //page -->
</div>
</body>
</html>