<footer id="footer" class="footer guide">
                <div class="footer-inner">
                    <div class="footer-logo">
                        <h1 class="logo-top">
                            <a href="../guide/GUT001W00.html" class="logo-hysung-link" title="클릭 : 메인 페이지 이동" aria-label="클릭 : 메인 페이지 이동">
                                <em class="logo logo-hyosung-tnc-eng color-white">HYOSUNG TNC</em>
                            </a>
                        </h1>
                    </div>
                    <div class="footer-info-area">
                        <div class="footer-info-inner">
                            <div class="footer-info footer-info-top">
                                <div class="footer-info-top-contents company-area">
                                    <p class="text text-company">Textile / Trading</p>
                                    <ul class="company">
                                        <li class="company-item">
                                            <a href="http://www.hyosung.co.kr/kr/index.do" class="link-text" target="-blank" title="클릭 : 새창페이지 열기" aria-label="클릭 : 새창페이지 열기">효성그룹</a>
                                        </li>
                                        <li class="company-item">
                                            <a href="http://www.hyosungtnc.com/kr/fiber/nylon.do" class="link-text" target="-blank" title="클릭 : 새창페이지 열기" aria-label="클릭 : 새창페이지 열기">섬유</a>
                                        </li>
                                        <li class="company-item">
                                            <a href="http://www.hyosungtnc.com/kr/trade/led.do" class="link-text" target="-blank" title="클릭 : 새창페이지 열기" aria-label="클릭 : 새창페이지 열기">무역</a>
                                        </li>
                                        <li class="company-item">
                                            <a href="http://www.hyosungtnc.com/kr/csr/csr_system.do" class="link-text" target="-blank" title="클릭 : 새창페이지 열기" aria-label="클릭 : 새창페이지 열기">지속가능경영</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="accordian-guide-familysite color-black">
                                    <div class="footer-info-top-contents familysite-area">
                                        <div class="familysite">
                                            <button type="button" class="familysite-button">
                                                <span class="text text-label">FAMILY SITE</span>
                                                <em class="icon icon-guide-familysite-arrow-top color-type1">
                                                    <i class="icon-inner">화살표 위로</i>
                                                </em>
                                            </button>
                                            <div class="family-layer">
                                                <ul class="option-list">
                                                    <li class="option-list-item"><a href="http://www.hyosung.com" target="-blank" class="text text-option-item">㈜효성</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://blog.hyosung.com" target="-blank" class="text text-option-item">효성
                                                            블로그</a></li>
                                                    <li class="option-list-item"><a href="http://www.facebook.com/myfriendhyosung" target="-blank" class="text text-option-item">효성
                                                            페이스북</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.youtube.com" target="-blank" class="text text-option-item">효성
                                                            유투브</a></li>
                                                    <li class="option-list-item"><a href="http://recruit.hyosung.com" target="-blank" class="text text-option-item">효성
                                                            채용</a></li>
                                                    <li class="option-list-item"><a href="http://research.hyosung.co.kr" target="-blank" class="text text-option-item">효성기술원</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.hyosungtnc.com" target="-blank" class="text text-option-item">효성티앤씨㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.hyosungheavyindustries.com" target="-blank" class="text text-option-item">효성중공업㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.hsgoodsprings.com" target="-blank" class="text text-option-item">효성굿스프링스㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.chinhung.co.kr" target="-blank" class="text text-option-item">진흥기업㈜</a></li>
                                                    <li class="option-list-item"><a href="http://www.hyosungadvancedmaterials.com" target="-blank" class="text text-option-item">효성첨단소재㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.hyosungchemical.com" target="-blank" class="text text-option-item">효성화학㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.hyosung-tns.co.kr" target="-blank" class="text text-option-item">효성티앤에스㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.his21.co.kr" target="-blank" class="text text-option-item">효성인포메이션시스템㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.hyosungitx.com" target="-blank" class="text text-option-item">효성
                                                            ITX㈜</a></li>
                                                    <li class="option-list-item"><a href="http://www.galaxialed.com" target="-blank" class="text text-option-item">갤럭시아일렉트로닉스㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.galaxiamoneytree.co.kr" target="-blank" class="text text-option-item">갤럭시아머니트리㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.galaxiadevice.com" target="-blank" class="text text-option-item">갤럭시아디바이스㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.theclasshyosung.com" target="-blank" class="text text-option-item">더클래스효성㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.hyosungtoyota.com" target="-blank" class="text text-option-item">효성토요타㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.hyosunglexus.com" target="-blank" class="text text-option-item">더프리미엄효성㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.maserati.com" target="-blank" class="text text-option-item">㈜FMK</a></li>
                                                    <li class="option-list-item"><a href="http://www.hyosung.landroverkorea.co.kr" target="-blank" class="text text-option-item">효성프리미어모터스㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.asag.co.kr" target="-blank" class="text text-option-item">㈜아승오토모티브그룹</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.shinwha.com/kor" target="-blank" class="text text-option-item">신화인터텍㈜</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://cold.hyosung.com" target="-blank" class="text text-option-item">광주냉동창고</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.creora.co.kr" target="-blank" class="text text-option-item">creora®</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.finestar.co.kr" target="-blank" class="text text-option-item">Finestar®</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.somesevit.co.kr" target="-blank" class="text text-option-item">세빛섬</a></li>
                                                    <li class="option-list-item"><a href="http://www.harrington.co.kr" target="-blank" class="text text-option-item">효성해링턴
                                                            플레이스</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://harrington.chinhung.co.kr" target="-blank" class="text text-option-item">해링턴
                                                            플레이스</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.swancarpet.co.kr" target="-blank" class="text text-option-item">SWAN
                                                            CARPET</a></li>
                                                    <li class="option-list-item"><a href="http://www.r200p.com" target="-blank" class="text text-option-item">TOPILENE®</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://www.poketone.com" target="-blank" class="text text-option-item">POKETONE™</a>
                                                    </li>
                                                    <li class="option-list-item"><a href="http://harringtonsquare.hyosung.com" target="-blank" class="text text-option-item">공덕
                                                            효성해링턴
                                                            스퀘어</a></li>
                                                    <li class="option-list-item"><a href="http://visit.hyosung.com" target="-blank" class="text text-option-item">방문신청</a></li>
                                                    <li class="option-list-item"><a href="http://msrm.hyosunghi.com" target="-blank" class="text text-option-item">전자구매</a></li>
                                                    <li class="option-list-item"><a href="http://winwin.hyosung.com" target="-blank" class="text text-option-item">협력업체
                                                            동반성장</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-info footer-info-bottom">
                                <div class="address-area">
                                    <address class="text text-address">
                                        119, Mapo-daero, Mapo-gu, Seoul, South Korea (04144)
                                        <br class="br-mo" />
                                        Tel : +82-2-707-7114
                                    </address>
                                </div>
                                <div class="copyright-area">
                                    <span class="text text-copyright">COPYRIGHT© 2023 HYOSUNG TNC. ALL RIGHTS RESERVED.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>