#wrap {
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	.main {
		padding: 0 1.8rem;
	}

	.local {
		&.design1 {
			max-width: 120rem;
			margin: 0 auto;

			.local-body {
				.content-body {
					padding-bottom: 16rem;

					@include mobile {
						padding-bottom: 8rem;
					}
				}
			}
		}

		&.design2 {
			width: 100%;

			.local-body {
				.content-body {
					padding-bottom: 0;
				}
			}
		}
	}

	.local-head {
		&.design1 {
			.local-subject {
				.local-name {
					@include font(large-12x, bold);
					line-height: 120%;
					text-align: left;
				}
			}
		}

		&.design2 {
			.local-subject {
				.local-name {
					@include font(large-5x, bold);
					text-align: center;
				}
			}
		}

		&.design3 {
			padding: 3.2rem 1.8rem 12rem;

			.local-subject {
				.local-name {
					@include font(large-4x, extrabold);
					text-align: center;
				}
			}

			@include mobile {
				padding: 4rem 1.8rem 6.4rem;

				.local-subject {
					.local-name {
						@include font(medium, extrabold);
					}
				}
			}
		}

		&.design4 {
			position: relative;
			height: 100vh;
			min-height: 810px;
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
			padding: 242px 0 0 0;
			opacity: 0;
			transition: opacity 0.5s ease-out;

			@include mobile() {
				height: auto;
				max-width: 100%;
				width: 100%;
				padding: 200px 0 336px 0;
			}

			.local-subject {
				position: relative;
				top: 50px;
				transition: top 0.5s ease-out;

				.local-name {
					@include font(large-12x, bold);
					line-height: 1.2;
					color: color(typo, 020);
					transition: color 1s ease-out;

					@include mobile() {
						@include font(large-1x, bold);
					}
				}

				&+.local-aside {
					margin-top: 80px;

					@include mobile() {
						margin-top: 48px;
					}
				}
			}

			.local-aside {
				position: relative;
				top: 50px;
				display: flex;
				justify-content: flex-end;
				transition: top 0.5s ease-out;

				.loca-wrap {
					width: 506px;

					@include mobile() {
						width: 100%;
					}

					.local-title {
						@include font(medium, bold);
						color: color(primary, 080);
						transition: color 1s ease-out;

						@include mobile() {
							@include font(small-1x, bold);
						}

						&+.local-summary {
							margin-top: 16px;
						}
					}

					.local-summary {
						@include font(small-3x, bold);
						color: color(neutral, 080);
						transition: color 1s ease-out;

						@include mobile() {
							@include font(small-4x, bold);
						}
					}
				}
			}

			.local-figure {
				position: absolute;
				width: 0;
				height: 0;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				overflow: hidden;
				border-radius: 16px 16px 0 0;
				z-index: -1;
				transition: all 0.5s ease-out;

				@include mobile() {
					border-radius: 8px 8px 0 0;
				}

				img {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 1200px;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;

					@include mobile() {
						width: 100vw;
					}
				}

			}

			.local-util {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 48px;
			}

			&.active1 {
				opacity: 1;

				.local-subject {
					top: 0;
				}

				.local-aside {
					top: 0;
				}

				.local-figure {
					width: 1200px;
					height: 200px;

					@include mobile() {
						width: 100%;
					}
				}
			}

			&.active2 {
				.local-subject {
					.local-name {
						color: color(system, 070);
					}
				}

				.local-aside {
					.loca-wrap {
						.local-title {
							color: color(system, 070);
						}

						.local-summary {
							color: color(system, 070);
						}
					}
				}

				.local-figure {
					width: 100vw;
					height: 100%;
					border-radius: 0;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		&.design5 {
			position: relative;
			height: 100vh;
			min-height: 810px;
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
			padding: 360px 0 0 0;

			@include mobile() {
				height: auto;
				max-width: 100%;
				width: 100%;
				padding: 280px 0 430px 0;
			}

			.local-subject {
				position: relative;
				top: 50px;
				display: flex;
				justify-content: center;
				text-align: center;
				opacity: 0;
				transition: all 0.3s ease-out 0.2s;

				.local-name {
					@include font(large-5x, bold);
					color: color(typo, 020);

					@include mobile() {
						@include font(medium, bold);
					}
				}
			}

			.local-aside {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				transition: opacity 1.5s ease-out 0.2s;
				z-index: -1;

				.local-wrap {
					.local-title {
						opacity: 1;
						@include font(large-5x, bold);
						color: color(typo, 000);

						@include mobile() {
							@include font(large-3x, bold);
						}
					}
				}
			}

			.local-figure {
				position: absolute;
				width: 0;
				height: 0;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%) scale(1);
				overflow: hidden;
				z-index: -1;
				opacity: 0;
				transition: all 0.5s ease-out 0s;

				img {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: calc(100vw - 82px - 82px);
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;

					@include mobile() {
						width: 100vw;
					}
				}
			}

			.local-util {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 48px;
			}

			&.active1 {
				.local-subject {
					opacity: 1;
					top: 0;
				}

				.local-figure {
					width: calc(100vw - 82px - 82px);
					height: 262px;
					opacity: 1;

					@include mobile() {
						width: 100%;
					}
				}
			}

			&.active2 {
				.local-subject {
					top: -800px;
					opacity: 0;
					transition: all 0.5s linear;
				}

				.local-aside {
					opacity: 1;
					z-index: 0;
				}

				.local-figure {
					width: 100vw;
					height: 100%;

					img {
						width: 110%;
						height: 100%;
					}
				}
			}

			&.active3 {
				.local-figure {
					transform: translateX(-50%);
					width: calc(100vw - 56px - 56px);

					@include mobile() {
						width: 100%;
					}
				}
			}
		}
	}

	.local-body {
		.content-head {
			display: block;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			margin: -1px;
			padding: 0;
			width: 1px;
			height: 1px;
			line-height: 1px;
			font-size: 1px;
			border: 0;
			clip: rect(0 0 0 0);
			clip: rect(0, 0, 0, 0);
			pointer-events: none;
		}

		.content-body {
			.section {

				// normal
				&.design1 {}

				// section-head와 section-body가 flex 되는 경우
				&.design2 {
					.section-wrap {
						display: flex;
						align-items: flex-start;

						@include mobile {
							flex-direction: column;
						}
					}
				}

				// name과 util이 flex 되는 경우
				&.design3 {
					.section-head {
						display: flex;
						align-items: center;
						justify-content: space-between;

						+.section-body {
							margin-top: 4rem;
						}

						@include mobile {
							flex-direction: column;

							+.section-body {
								margin-top: 2.4rem;
							}
						}
					}
				}

				&.case1 {
					.section-wrap {
						.section-head {
							+.section-body {
								margin-top: 4rem;

								@include mobile {
									margin-top: 2.4rem;
								}
							}
						}
					}
				}

				&.case2 {
					.section-wrap {
						.section-head {
							+.section-body {
								margin-top: 2.4rem;

								@include mobile {
									margin-top: 1.6rem;
								}
							}
						}
					}
				}

				&.case3 {
					.section-wrap {
						.section-head {
							+.section-body {
								margin-top: 6.4rem;

								@include mobile {
									margin-top: 3.2rem;
								}
							}
						}
					}
				}

				&.case4 {
					.section-wrap {
						.section-head {
							+.section-body {
								margin-top: 8rem;

								@include mobile {
									margin-top: 4.8rem;
								}
							}
						}
					}
				}

				// font style
				&.type1 {
					.section-name {
						@include font(medium, bold);

						@include mobile {
							@include font(small-1x, bold);
						}

						+.section-summary {
							@include font(small-3x, medium);
							margin-top: 2.4rem;

							@include mobile {
								@include font(small-5x, medium);
								margin-top: 1.6rem;
							}
						}
					}
				}

				&.type2 {
					.section-name {
						@include font(small-1x, bold);

						@include mobile {
							@include font(small-2x, bold);
						}

						+.section-summary {
							@include font(small-4x, medium);
							margin-top: 1.6rem;

							@include mobile {
								@include font(small-5x, medium);
								margin-top: 1.6rem;
							}
						}
					}
				}

				// align
				&.align1 {
					.section-head {
						text-align: left;
					}
				}

				&.align2 {
					.section-head {
						text-align: right;
					}
				}

				&.align3 {
					.section-head {
						text-align: center;
					}
				}

				// para
				.section-body {
					>.para {
						@include font(small-3x, medium);
						color: color(typo, 010);

						+.para {
							margin-top: 1.6rem;
						}

						@include mobile {
							@include font(small-4x, medium);

							+.para {
								margin-top: 1.2rem;
							}
						}
					}
				}

				// color
				.section-name {
					color: color(typo, 020);

					+.section-summary {
						color: color(typo, 010);
					}
				}
			}
		}

		// 별첨 공통
		.comment {
			@include font(small-5x, medium);
			color: color(typo, 010);

			@include mobile {
				@include font(small-6x, medium);
			}
		}
	}

	// breadcrumb
	.local-info {
		max-width: 120rem;
		margin: 0 auto;

		.data-list {
			&.breadcrumb {
				width: 100%;
				display: flex;
				align-items: center;

				&.design1 {
					&.case1 {
						padding-top: 17.2rem;
						justify-content: center;

						@include mobile {
							padding-top: 8.2rem;
						}
					}

					&.case2 {
						position: absolute;
						top: 140px;
						opacity: 0;

						&.active1 {
							opacity: 1;
							transition: opacity 0.2s ease-out;
						}
					}

					&.dark {
						color: color(typo, 005);

						.data-item:last-child {
							.item-text {
								@include font(small-5x, bold);
								color: color(neutral, 090);
							}
						}
					}

					&.light {
						color: color(system, 070);

						.data-item:last-child {
							.item-text {
								@include font(small-5x, bold);
							}
						}
					}

					.data-item {
						position: relative;

						.item-text {
							@include font(small-5x, medium);
							position: relative;
						}

						+.data-item {
							margin-left: 3.2rem;

							.item-text {
								&::before {
									content: '';
									width: 1.6rem;
									height: 1.6rem;
									background-image: icon(arrow-right1, color(neutral, 030));
									background-size: 0.7rem 1rem;
									background-repeat: no-repeat;
									background-position: center center;
									position: absolute;
									left: -2.3rem;
									top: 0.1rem;
								}
							}
						}

						@include mobile {
							.item-text {
								@include font(small-6x, medium);
							}

							+.data-item {
								margin-left: 2.4rem;

								.item-text {
									&::before {
										content: '';
										width: 1.6rem;
										height: 1.6rem;
										background-size: 0.6rem 1.1rem;
										left: -1.9rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		.footer-inner {
			.footer-head {
				.site-logo {}
			}

			.footer-body {
				.section {}
			}
		}
	}
}