// 효성 티앤씨 ------------------------------------
$icon: (
  // Button
  down-arrow01:
    (
      sizeW: 22,
      sizeH: 22,
      path:
        "M11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2ZM0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11ZM6.29289 10.2929C6.68342 9.90237 7.31658 9.90237 7.70711 10.2929L10 12.5858V7C10 6.44772 10.4477 6 11 6C11.5523 6 12 6.44772 12 7V12.5858L14.2929 10.2929C14.6834 9.90237 15.3166 9.90237 15.7071 10.2929C16.0976 10.6834 16.0976 11.3166 15.7071 11.7071L11.7078 15.7064C11.7054 15.7088 11.703 15.7112 11.7005 15.7136C11.5208 15.8901 11.2746 15.9992 11.003 16C11.002 16 11.001 16 11 16C10.999 16 10.998 16 10.997 16C10.8625 15.9996 10.7343 15.9727 10.6172 15.9241C10.502 15.8764 10.3938 15.8063 10.2995 15.7136C10.297 15.7112 10.2946 15.7088 10.2922 15.7064L6.29289 11.7071C5.90237 11.3166 5.90237 10.6834 6.29289 10.2929Z",
    ),
  down-arrow02: (
    sizeW: 12,
    sizeH: 8,
    path:
      "M0.292893 0.792894C0.683417 0.402369 1.31658 0.402369 1.70711 0.792894L6 5.08579L10.2929 0.792893C10.6834 0.402369 11.3166 0.402369 11.7071 0.792893C12.0976 1.18342 12.0976 1.81658 11.7071 2.20711L6.70711 7.20711C6.31658 7.59763 5.68342 7.59763 5.29289 7.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792894Z",
  ),
  right-arrow01: (
    sizeW: 10,
    sizeH: 10,
    path:
      "M0.8 4C0.358172 4 -2.42698e-07 4.44771 -2.18557e-07 5C-1.94416e-07 5.55228 0.358172 6 0.8 6L6.58579 6L4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711C4.68342 10.0976 5.31658 10.0976 5.70711 9.70711L9.70711 5.70711C10.0976 5.31658 10.0976 4.68342 9.70711 4.29289L5.70711 0.292893C5.31658 -0.0976317 4.68342 -0.0976317 4.29289 0.292893C3.90237 0.683417 3.90237 1.31658 4.29289 1.70711L6.58579 4L0.8 4Z",
  ),
  right-arrow02: (
    sizeW: 10,
    sizeH: 10,
    path:
      "M2.29289 0.292893C2.68342 -0.0976311 3.31658 -0.0976311 3.70711 0.292893L7.70711 4.29289C8.09763 4.68342 8.09763 5.31658 7.70711 5.70711L3.70711 9.70711C3.31658 10.0976 2.68342 10.0976 2.29289 9.70711C1.90237 9.31658 1.90237 8.68342 2.29289 8.29289L5.58579 5L2.29289 1.70711C1.90237 1.31658 1.90237 0.683417 2.29289 0.292893Z",
  ),
  right-arrow03: (
    sizeW: 8,
    sizeH: 14,
    path:
      "M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.70711 6.29289C8.09763 6.68342 8.09763 7.31658 7.70711 7.70711L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z",
  ),
  left-arrow02: (
    sizeW: 6,
    sizeH: 10,
    path:
      "M5.70711 0.292893C5.31658 -0.0976311 4.68342 -0.0976311 4.29289 0.292893L0.292893 4.29289C-0.0976311 4.68342 -0.0976311 5.31658 0.292893 5.70711L4.29289 9.70711C4.68342 10.0976 5.31658 10.0976 5.70711 9.70711C6.09763 9.31658 6.09763 8.68342 5.70711 8.29289L2.41421 5L5.70711 1.70711C6.09763 1.31658 6.09763 0.683417 5.70711 0.292893Z",
  ),
  left-arrow03: (
    sizeW: 8,
    sizeH: 14,
    path:
      "M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893C6.68342 -0.097631 7.31658 -0.097631 7.70711 0.292893C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L2.41421 7L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z",
  ),
  close01: (
    sizeW: 16,
    sizeH: 16,
    path:
      "M15.2135 2.48558C15.604 2.09505 15.604 1.46189 15.2135 1.07136C14.8229 0.68084 14.1898 0.68084 13.7992 1.07136L8.14249 6.72812L2.48533 1.07097C2.09481 0.680445 1.46165 0.680445 1.07112 1.07097C0.680596 1.46149 0.680596 2.09466 1.07112 2.48518L6.72827 8.14233L1.07132 13.7993C0.680795 14.1898 0.680794 14.823 1.07132 15.2135C1.46184 15.604 2.09501 15.604 2.48553 15.2135L8.14249 9.55655L13.799 15.2131C14.1896 15.6036 14.8227 15.6036 15.2133 15.2131C15.6038 14.8226 15.6038 14.1894 15.2133 13.7989L9.5567 8.14233L15.2135 2.48558Z",
  ),
  plus01: (
    sizeW: 28,
    sizeH: 28,
    path:
      "M2.05025 2.05025C0 4.1005 0 7.40034 0 14C0 20.5997 0 23.8995 2.05025 25.9497C4.1005 28 7.40034 28 14 28C20.5997 28 23.8995 28 25.9497 25.9497C28 23.8995 28 20.5997 28 14C28 7.40034 28 4.1005 25.9497 2.05025C23.8995 0 20.5997 0 14 0C7.40034 0 4.1005 0 2.05025 2.05025ZM14 8C14.6627 8 15.2 8.53726 15.2 9.2V12.8H18.8C19.4627 12.8 20 13.3373 20 14C20 14.6627 19.4627 15.2 18.8 15.2H15.2V18.8C15.2 19.4627 14.6627 20 14 20C13.3373 20 12.8 19.4627 12.8 18.8V15.2H9.2C8.53726 15.2 8 14.6627 8 14C8 13.3373 8.53726 12.8 9.2 12.8H12.8V9.2C12.8 8.53726 13.3373 8 14 8Z",
  ),
  minus01: (
    sizeW: 28,
    sizeH: 28,
    path:
      "M2.05025 2.05025C0 4.1005 0 7.40034 0 14C0 20.5997 0 23.8995 2.05025 25.9497C4.1005 28 7.40034 28 14 28C20.5997 28 23.8995 28 25.9497 25.9497C28 23.8995 28 20.5997 28 14C28 7.40034 28 4.1005 25.9497 2.05025C23.8995 0 20.5997 0 14 0C7.40034 0 4.1005 0 2.05025 2.05025ZM18.8 12.8C19.4627 12.8 20 13.3373 20 14C20 14.6627 19.4627 15.2 18.8 15.2H9.2C8.53726 15.2 8 14.6627 8 14C8 13.3373 8.53726 12.8 9.2 12.8H18.8Z",
  ),
  down-left-arrow01: (
    sizeW: 14,
    sizeH: 14,
    path:
      "M9.97327 13.2543L0.975886 13.0372C0.423762 13.0239 -0.0130241 12.5655 0.000296766 12.0134L0.217378 3.01599C0.230699 2.46386 0.689083 2.02708 1.24121 2.0404C1.79333 2.05372 2.23012 2.5121 2.2168 3.06423L2.05795 9.6481L11.8935 0.276001L13.2732 1.72391L3.43764 11.096L10.0215 11.2549C10.5736 11.2682 11.0104 11.7266 10.9971 12.2787C10.9838 12.8308 10.5254 13.2676 9.97327 13.2543Z",
  ),
  check01: (
    sizeW: 13,
    sizeH: 10,
    path:
      "M12.0691 0.947859C12.6502 1.53831 12.6426 2.48803 12.0521 3.06911L5.95537 9.06911C5.37158 9.64363 4.43487 9.64363 3.85108 9.06911L0.947859 6.21197C0.357405 5.63089 0.349808 4.68117 0.930889 4.09072C1.51197 3.50026 2.46169 3.49266 3.05214 4.07375L4.90323 5.89545L9.94786 0.930889C10.5383 0.349808 11.488 0.357405 12.0691 0.947859Z",
  ),
  up-arrow02: (
    sizeW: 12,
    sizeH: 7,
    path: "M11.7071 6.70711C11.3166 7.09763 10.6834 7.09763 10.2929 6.70711L6 2.41421L1.70711 6.70711C1.31658 7.09763 0.683417 7.09763 0.292894 6.70711C-0.0976312 6.31658 -0.0976312 5.68342 0.292894 5.29289L5.29289 0.292893C5.68342 -0.0976311 6.31658 -0.0976311 6.70711 0.292893L11.7071 5.29289C12.0976 5.68342 12.0976 6.31658 11.7071 6.70711Z",
  )
);

@function icon($name, $color) {
  $sizeW: map-get($icon, $name, "sizeW");
  $sizeH: map-get($icon, $name, "sizeH");
  $path: map-get($icon, $name, "path");
  $data: "data:image/svg+xml,%0A%3Csvg width='#{$sizeW}' height='#{$sizeH}' viewBox='0 0 #{$sizeW} #{$sizeH}' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='#{$path}' fill='rgb(" +
    red($color) + "," + green($color) + "," + blue($color) + ")'/%3E%3C/svg%3E%0A";
  @return url($data);

  // @if $backgroundColor != & {
  //     $data: "data:image/svg+xml,%0A%3Csvg width='#{$size}' height='#{$size}' viewBox='0 0 #{$size} #{$size}' fill='rgb(" + red($backgroundColor) + "," + green($backgroundColor) + "," + blue($backgroundColor) + ")' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='#{$path}' fill='rgb(" + red($color) + "," + green($color) + "," + blue($color) + ")'/%3E%3C/svg%3E%0A";
  //     @return url($data);
  // } @else {
  // }
}
.guide-button {
  vertical-align: bottom !important;
  &.sample {
    .icon-rtl {
      .button-text-core {
        gap: 1.6rem;
      }
    }
    .icon-ltr {
      .button-text-core {
        gap: 1.6rem;
      }
    }
  }
}

.text-guide-class-name {
  display: block;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
  .background-black & {
    color: color(achromatic, 999);
  }
}
.button-display {
  .button-wrap {
    display: flex;
    width: 100%;
    &.form-1 {
      gap: 1.6rem;
    }
    &.form-2 {
      flex-direction: column;
      gap: 2rem;
    }
    &.form-3 {
      flex-wrap: wrap;
      gap: 0.8rem;
    }
    &.form-4 {
      gap: 2rem;
        @include mobile {
            flex-direction: column;
            gap: 2rem;
        }
    }
  }
  &.form-1 {
    display: flex;
    .button-wrap {
      flex: 1 1 100%;
    }
    &.align-1 {
      .button-wrap {
        justify-content: start;
      }
    }
    &.align-2 {
      .button-wrap {
        justify-content: end;
      }
    }
    &.align-3 {
      .button-wrap {
        justify-content: center;
      }
    }
    &.sort-1 {
      @include mobile {
        width: 100%;
      }
    }
    &.sort-2 {
      @include mobile {
      .form-1 {
        flex-direction: column;
          gap: 2rem;
        }
      }
    }
  }
}

.button {
    display: inline-block;
    font-size: 0;
    color: rgba(0, 0, 0, 1);
    transition: .3s ease;
    .button-text-core {
      display: flex;
      height: 100%;
      &::after {
        background-repeat: no-repeat;
      }
    }
    &.design-1 {
        // case : padding, border
        &.case-1 {
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
            padding-left: 3rem;
            padding-right: 3rem;
            border-style: solid;
            border-width: 0.2rem;
            border-radius: 1.6rem;
            .button-text-core {
              min-width: 12.5rem;
            }
            &:hover {
                background-color: color(chromatic, 464);
                border-color: color(chromatic, 464);
                .button-text-core {
                    color: color(achromatic, 999) !important;
                }
            }
            @include mobile {
                width: 100%;
                padding: 1.6rem 2rem;
                border-radius: 1.2rem;
            }
          }
          &.case-2 {
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
            border-radius: 1.6rem;
            &:hover {
                background-color: color(chromatic, 464);
                border-color: color(chromatic, 464);
                .button-text-core {
                    color: color(achromatic, 999) !important;
                }
            }
            @include mobile {
                width: 100%;
                padding-top: 1.6rem;
                padding-bottom: 1.6rem;
                padding-left: 2.4rem;
                padding-right: 2.4rem;
                .button-text-core {
                    justify-content: space-between;
                }
            }
          }
          &.case-3 {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 2.3rem;
            padding-right: 2.3rem;
            border-style: solid;
            border-width: 0.1rem;
            border-radius: 1.6rem;
            &:hover {
                background-color: color(chromatic, 464);
                border-color: color(chromatic, 464);
                .button-text-core {
                    color: color(achromatic, 999) !important;
                }
            }
            @include mobile {
              width: 100%;
            }
          }
          &.case-4 {
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 2.4rem;
            padding-right: 2.4rem;
            border-radius: 1.2rem;
            &:hover {
                background-color: color(chromatic, 464);
                border-color: color(chromatic, 464);
                .button-text-core {
                    color: color(achromatic, 999) !important;
                }
            }
          }
          &.case-5 {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 2.2rem;
            padding-right: 2.2rem;
            border-style: solid;
            border-width: 0.2rem;
            border-radius: 1.6rem;
            @include mobile {
              width: 100%;
              padding-top: 1.4rem;
              padding-bottom: 1.4rem;
              border-radius: 1.2rem;
            }
          }
          &.case-6 {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 0.7rem;
          }
          &.case-7 {
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            padding-left: 3rem;
            padding-right: 3rem;
            border-radius: 1.6rem;
            &:hover {
                background-color: color(chromatic, 464);
                border-color: color(chromatic, 464);
                .button-text-core {
                    color: color(achromatic, 999) !important;
                }
            }
          }
          &.case-8 {
            padding-top: 1.1rem;
            padding-bottom: 1.1rem;
            padding-left: 1.9rem;
            padding-right: 1.9rem;
            border-style: solid;
            border-width: 0.1rem;
            border-radius: 0.8rem;
            &.hover-1 {
              transition: 0.3s ease-out;
              &:hover {
                background-color: color(chromatic, 563);
                border-color: color(chromatic, 563);
              }
            }
            @include mobile {
              padding-top: 0.7rem;
              padding-bottom: 0.7rem;
              padding-left: 1.1rem;
              padding-right: 1.1rem;
            }
        }
          &.case-9 {
            min-width: 24rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
            border-radius: 1.6rem;
            &:hover {
                background-color: color(chromatic, 464);
                border-color: color(chromatic, 464);
                .button-text-core {
                    color: color(achromatic, 999) !important;
                }
            }
            @include mobile {
                min-width: unset;
                width: 100%;
                padding-top: 1.6rem;
                padding-bottom: 1.6rem;
                padding-left: 2rem;
                padding-right: 2rem;
                border-radius: 1.2rem;
            }
        }

        // Align
        &.align-1 {
            .button-text-core {
            justify-content: start;
            }
        }
        &.align-2 {
            .button-text-core {
            justify-content: end;
            }
        }
        &.align-3 {
            .button-text-core {
            justify-content: center;
            }
        }
        &.align-4 {
          .button-text-core {
            justify-content: space-between;
        }
        &.align-5 {
            .button-text-core {
                justify-content: center;
                @include mobile {
                    justify-content: space-between;
                }
            }
        }
      }

        // Fill
        &.fill-999 {
            background-color: color(achromatic, 999);
            border-color: color(achromatic, 999);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 0);
              }
            }
          }
          &.fill-490 {
            background-color: color(achromatic, 490);
            border-color: color(achromatic, 490);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
          }
          &.fill-445 {
            background-color: color(achromatic, 445);
            border-color: color(achromatic, 445);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
          }
          &.fill-550 {
            background-color: color(chromatic, 550);
            border-color: color(chromatic, 550);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
          }
          &.fill-449 {
            background-color: color(chromatic, 449);
            border-color: color(chromatic, 449);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
          }
          &.fill-266 {
            background-color: color(chromatic, 266);
            border-color: color(chromatic, 266);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
          }
          &.fill-325 {
            background-color: color(achromatic, 325);
            border-color: color(achromatic, 325);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
          }
          &.fill-157 {
            background-color: color(achromatic, 157);
            border-color: color(achromatic, 157);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
          }
          &.fill-127 {
            background-color: color(achromatic, 127);
            border-color: color(achromatic, 127);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
          }
          &.fill-0 {
            background-color: color(achromatic, 0);
            border-color: color(achromatic, 0);
            &.color-1 {
              .button-text-core {
                color: color(achromatic, 999);
              }
            }
        }

        // Line
        &[class*="line-"] {
          border-style: solid;
        }
        &.line-999 {
          border-color: color(achromatic, 999);
    
          &.color-1 {
            .button-text-core {
              color: color(achromatic, 999);
            }
          }
          &.opacity-1 {
            border-color: color(achromatic, 999, 0.2);
          }
          &.opacity-2 {
            border-color: color(achromatic, 999, 0.5);
            .button-text-core {
              color: color(achromatic, 999, 0.5);
            }
          }
        }
        &.line-799 {
          border-color: color(achromatic, 799);
          &.color-1 {
            .button-text-core {
              color: color(achromatic, 0);
              &::after {
                background-image: icon(down-arrow01, #000000);
              }
            }
          }
          &:hover {
            .button-text-core {
              &::after {
                background-image: icon(down-arrow01, #fff);
              }
            }
          }
        }
        &.line-768 {
          border-color: color(achromatic, 768);
          &.color-1 {
            .button-text-core {
              color: color(achromatic, 0);
            }
          }
        }
        &.line-325 {
          border-color: color(achromatic, 325);
          &.color-1 {
            .button-text-core {
              color: color(achromatic, 0);
            }
          }
        }
        &.line-0 {
          border-color: color(achromatic, 0);
          &.color-1 {
            .button-text-core {
              color: color(achromatic, 0);
              &::after {
                background-image: icon(right-arrow01, #000000);
              }
            }
          }
        }
        
        // Border Width
        &.border-width-1 {
            border-width: 0.1rem;
        }
        &.border-width-2 {
            border-width: 0.2rem;
        }
        &.border-width-3 {
            border-width: 0.3rem;
        }
        &.border-width-4 {
            border-width: 0.4rem;
        }
        
        // Icon Direction
        &.ltr {
            .button-text-core {
            flex-direction: row-reverse;
            }
        }
    }

    &.design-2 {
        // Color
        &.color-999 {
            .button-text-core {
                color: color(achromatic, 999);
                &::after {
                    background-image: icon(down-arrow01, #ffffff);
                }
            }
        }
        &.color-325 {
            .button-text-core {
                color: color(achromatic, 325);
                &::after {
                    background-image: icon(down-arrow01, #535353);
                }
            }
        }
        &.color-0 {
            .button-text-core {
                color: color(achromatic, 0);
                &::after {
                    background-image: icon(down-arrow01, #000000);
                }
            }
        }
    }
    
    // Font Size
    &.medium {
        .button-text-core {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
        }
        &.small {
        .button-text-core {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 2.2rem;
            @include mobile {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.4rem;
            }
        }
        }
        &.small-1v {
        .button-text-core {
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.8rem;
            @include mobile {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 2rem;
            }
        }
    }
    
    // Icon
    &[class*="icon-"] {
        .button-text-core {
          display: flex;
          justify-content: center;
          align-items: center;
          &::after {
            content: "";
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        &.mo-hide {
          @include mobile {
              .button-text-core::after {
                  display: none;
              }
          }
        }
    }
    &.icon-sample {
        .button-text-core {
            gap: 1.6rem;
            &::after {
                width: 2.4rem;
                height: 2.4rem;
                background-color: color(achromatic, 999);
            }
        }
    }

    &.icon-down-arrow01 {
        .button-text-core {
            gap: 1.6rem;
            &::after {
                width: 2.4rem;
                height: 2.4rem;
                background-image: icon(down-arrow01, #ffffff);
            }
        }
    }
    &.icon-right-arrow01 {
        .button-text-core {
            gap: 0.4rem;
            &::after {
                width: 2.4rem;
                height: 2.4rem;
                background-image: icon(right-arrow01, #ffffff);
            }
        }
    }
    &.icon-close01 {
        .button-text-core {
            &::after {
                width: 2.4rem;
                height: 2.4rem;
                background-image: icon(close01, #ffffff);
            }
        }
    }
    &.icon-left-arrow02 {
        .button-text-core {
            &::after {
                width: 2.4rem;
                height: 2.4rem;
                background-image: icon(left-arrow02, #ffffff);
            }
        }
    }
    &.icon-right-arrow02 {
        .button-text-core {
            &::after {
                width: 2.4rem;
                height: 2.4rem;
                background-image: icon(right-arrow02, #ffffff);
            }
        }
    }
    &.icon-plus01 {
        .button-text-core {
            &::after {
                width: 3.2rem;
                height: 3.2rem;
                background-image: icon(plus01, #000);
            }
        }
        &:hover {
            .button-text-core {
                &::after {
                    background-image: icon(plus01, #fff);
                }
            }
        }
    }
    &.icon-minus01 {
        .button-text-core {
            &::after {
                width: 3.2rem;
                height: 3.2rem;
                background-image: icon(minus01, #000);
            }
        }
        &:hover {
            .button-text-core {
                &::after {
                    background-image: icon(minus01, #fff);
                }
            }
        }
    }
    &.icon-down-left-arrow01 {
        .button-text-core {
            &::after {
                width: 2.6rem;
                height: 2.6rem;
                background-image: icon(down-left-arrow01, #fff);
            }
        }
    }
    &.icon-check01 {
        .button-text-core {
            &::after {
                width: 3.2rem;
                height: 3.2rem;
                background-image: icon(check01, #fff);
            }
        }
    }
    &.icon-right-arrow03 {
        .button-text-core {
            &::after {
                width: 3.2rem;
                height: 3.2rem;
                background-image: icon(right-arrow03, #fff);
            }
        }
    }
    &.icon-left-arrow03 {
        .button-text-core {
            &::after {
                width: 3.2rem;
                height: 3.2rem;
                background-image: icon(left-arrow03, #fff);
            }
        }
    }
    &.icon-down-arrow02 {
        .button-text-core {
            &::after {
                width: 2.4rem;
                height: 2.4rem;
                background-image: icon(down-arrow02, #fff);
            }
        }
    }
    &.icon-up-arrow02 {
        .button-text-core {
            &::after {
                width: 2.4rem;
                height: 2.4rem;
                background-image: icon(up-arrow02, #fff);
            }
        }
    }
}

