.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid transparent;
    transition: 0.3s ease;
    
    // 텍스트 버튼
    &.text {
        .btn-text {
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            text-align: center;
            position: relative;
        }
    
        // shape
        &.design1 {
            padding: 1.5rem 3rem;
            border-radius: 0.4rem;
        }
    
        &.design2 {
            padding: 2.2rem 5rem;
            border-radius: 3.9rem;
        }

        &.design3 {
            padding: 0.8rem 1.6rem;
            border-radius: 0.4rem;
        }
        &.design4 {
            padding: 1.5rem 1.5rem;
        }

        // font
        &.case1 {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 125%;
        }
        &.case2 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 125%;
        }
        &.case3 {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 125%;
        }
    
        // color
        &.color1 {
            background-color: #ffffff;
            border-color: #CDCDCD;
            color: #222222;
        }
        &.color2 {
            background-color: #222222;
            border-color: #222222;
            color: #ffffff;
        }
        &.color3 {
            background-color: transparent;
            border-color: #ffffff;
            color: #ffffff;
        }
        &.color4 {
            background-color: transparent;
            border-color: #2970FF;
            color: #2970FF;
        }
        &.color5 {
            background-color: #2970FF;
            border-color: #2970FF;
            color: #ffffff;
        }

        &[class*=-icon] {
            &[class*=al] .btn-text::before,
            &[class*=ar] .btn-text::after {
                content: '';
                display: block;
                width: 1.5em;
                height: 1.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% auto;
            }
    
    
            &[class*=al] {
                .btn-text {
                    &::before {
                        margin-right: 0.25em;
                    }
                }
            }
        
            &[class*=ar] {
                .btn-text {
                    &::after {
                        margin-left: 0.25em;
                    }
                }
            }
        }
    }

    // 아이콘 버튼
    &.icon {

    }

    &.disabled,
    &:disabled {
        background-color: #9A9A9A !important;
        border-color: #9A9A9A !important;
        color: #ffffff !important;
        pointer-events: none;
        cursor: not-allowed;

        &:hover {
            background-color: #9A9A9A !important;
            border-color: #9A9A9A !important;
        }
    }
}

//button display
.btn-display {
    display: flex;
    &.design1 {
        .btn {
            &.flex {
                width: 100%;
            }
        }
    }
    &.design2 {
        flex-direction: column;
    }

    // gap
    &.case1 {
        gap: 0.5rem;
    }

    &.case2 {
        gap: 1rem;
    }

    // align
    &.align1 {}

    &.align2 {
        justify-content: center;
    }

    &.align3 {
        justify-content: end;
    }

    &.align4 {
        justify-content: space-between;
    }
}