/* font-family:"SUIT" */
@font-face {
    font-family:"SUITE";
    font-weight:300;
    font-style:normal;
    src:url('../fonts/SUITE-Light.woff2') format('woff2'),
        url('../fonts/SUITE-Light.otf') format('opentype'),
        url('../fonts/SUITE-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"SUITE";
    font-weight:400;
    font-style:normal;
    src:url('../fonts/SUITE-Regular.woff2') format('woff2'),
        url('../fonts/SUITE-Regular.otf') format('opentype'),
        url('../fonts/SUITE-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"SUITE";
    font-weight:500;
    font-style:normal;
    src:url('../fonts/SUITE-Medium.woff2') format('woff2'),
        url('../fonts/SUITE-Medium.otf') format('opentype'),
        url('../fonts/SUITE-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"SUITE";
    font-weight:600;
    font-style:normal;
    src:url('../fonts/SUITE-SemiBold.woff2') format('woff2'),
        url('../fonts/SUITE-SemiBold.otf') format('opentype'),
        url('../fonts/SUITE-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"SUITE";
    font-weight:700;
    font-style:normal;
    src:url('../fonts/SUITE-Bold.woff2') format('woff2'),
        url('../fonts/SUITE-Bold.otf') format('opentype'),
        url('../fonts/SUITE-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"SUITE";
    font-weight:800;
    font-style:normal;
    src:url('../fonts/SUITE-ExtraBold.woff2') format('woff2'),
        url('../fonts/SUITE-ExtraBold.otf') format('opentype'),
        url('../fonts/SUITE-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family:"SUITE";
    font-weight:900;
    font-style:normal;
    src:url('../fonts/SUITE-Heavy.woff2') format('woff2'),
        url('../fonts/SUITE-Heavy.otf') format('opentype'),
        url('../fonts/SUITE-Heavy.ttf') format("truetype");
    font-display: swap;
}