.submit-display.design-1 {
    width: 100%;
    max-width: 133.6rem;
    margin: 0 auto;
    padding: 0;
    border: hidden;
    .form-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &~ .form-list {
            padding-top: 3rem;
        }
        &.case-1 {
            flex: 1 1 100%;
            row-gap: 3rem;
        }
        &.case-2 {
            flex-wrap: wrap;
            flex-direction: row;
            row-gap: 3rem;
            column-gap: 2rem;
            @include mobile {
                row-gap: 2.4rem;
            }
            .form-item {
                width: calc(50% - 1rem);
                @include mobile {
                    width: 100%;
                }
            }
        }
        &.case-3 {
            flex-direction: row;
        }
        &.case-4 {
            max-width: 65.8rem;
            margin: 0 auto;
            flex: 1 1 100%;
            row-gap: 3rem;
        }

        .form-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            .form-wrap {
                display: flex;
                align-items: stretch;
                flex-direction: column;
                flex: 1 1 100%;
                row-gap: 1rem;
                .form-head {
                    .form-name {
                        display: inline-block;
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: 2.8rem;
                        color: #282828;
                        @include mobile {
                            font-size: 1.8rem;
                        }
                    }
                }
                .form-body {
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;
                    position: relative;
                    .form-area {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        row-gap: 1rem;
                        @include mobile {
                            overflow: hidden;
                        }
                        .form {
                            position: relative;
                            display: flex;
                            transition: 0.2s;
                            // row-gap: 1rem;
                            @include mobile {
                                overflow: auto;
                            }
                            &.flex {
                                display: inline-flex;
                                flex: 1 1 100%;
                            }
                            &.design-1 {
                                flex-direction: column;
                            }
                            &.design-2 {
                                flex-direction: row;
                            }
                            &.case-1 {
                                width: 100%;
                                > input {
                                    width: 100%;
                                }
                            }
                            &.case-2 {
                                width: calc(50% - 1rem);
                                @include mobile {
                                    width: 100%;
                                }
                            }
                            &.type-1 {
                                &::after {
                                    content: "";
                                    width: calc(100% - 0.4rem);
                                    height: calc(100% - 0.4rem);
                                    border: 0.2rem solid transparent;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    border-radius: 1.2rem;
                                    transition: 0.2s;
                                    @include mobile {
                                        display:none;
                                    }
                                }
                                &:hover {
                                    &::after {
                                        border-color: rgba(40, 40, 40, 0.8);
                                    }
                                }
                            }
                        }
                        .textarea {
                            width: 100%;
                            height: 30rem;
                            padding-top: 1.4rem;
                            padding-bottom: 1.4rem;
                            resize: none;
                        }
                    }
                    .txt-error {
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 157.143%;
                        padding-left: 1rem;
                        color: #999;
                        @include mobile {
                            font-size: 1.2rem;
                        }
                    }

                    //Warning
                    .checkText {
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 2.2rem;
                        padding-left: 1rem;
                        &.color-red {
                            color: #FF1111;
                        }
                        &.color-green {
                            color: #22CD74;
                        }
                    }
                }
                .required {
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: normal;
                    color: #F11;
                }
                .form-btn {
                    display: inline-block;
                    width: 10.4rem;
                    height: 6.4rem;
                    line-height: 6.4rem;
                    margin-left: 0.8rem;
                    vertical-align: middle;
                    border-radius: 1.2rem;
                    background-color: #767B86;
                    cursor: pointer;
        
                    font-size: 1.6rem;
                    font-weight: 700;
                    text-align: center;
                    color: #fff;
                    @include mobile {
                        height: 5rem;
                        line-height: 5rem;
                    }
                }
            }
        }
    }
    &.submit-form {
        margin-top: 3rem;
    }
}

.submit-display.design-2 {
    width: 100%;
    max-width: 133.6rem;
    margin: 0 auto;
    .form-list {
        .form-item {
            &~ .form-item {
                padding-top: 8rem;
                @include mobile {
                    padding-top: 10rem;
                }
            }
        }
    }
    .form-head {
        padding-bottom: 3rem;
        @include mobile {
            padding-bottom: 2.4rem;
        }
    }
    .form-body {
        width: 100%;
        height: 36rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        border-radius: 1.2rem;
        border: 0.1rem solid rgba(225, 230, 239, 0.8);
        overflow: hidden;
        @include mobile {
            padding-right: 1rem;
            height: 32rem;
        }
        .data-display.design-1{
            width: 100%;
            height: 100%;
            padding: 4rem;
            overflow-x: hidden;
            overflow-y: auto;
            &::-webkit-scrollbar{
                width: 0.8rem;
            }
            &::-webkit-scrollbar-thumb{
                width: 0.8rem;
                background-color: rgb(34, 205, 116);
                border-radius: 0.2rem;
            }
            &::-webkit-scrollbar-track{
                width: 0.8rem;
                background: linear-gradient(to right, transparent .1rem, #EBEBEB .1rem .7rem, transparent .7rem .8rem);
                margin-top: 2rem;
                border-radius: 0.2rem;
            }
            &::-webkit-scrollbar-track-piece {
                border-radius: 0.2rem;
            }
            @include mobile {
                padding: 2rem;
                &::-webkit-scrollbar{
                    width: 0.4rem;
                    border-radius: 0.4rem;
                }
                &::-webkit-scrollbar-thumb{
                    width: 0.4rem;
                    background-color: rgb(34, 205, 116);
                    border-radius: 0.4rem;
                }
                &::-webkit-scrollbar-track{
                    width: 0.4rem;
                    background-color: #EBEBEB;
                    margin-top: 2rem;
                    border-radius: 0.4rem;
                }
                &::-webkit-scrollbar-track-piece {
                    border-radius: 0.4rem;
                }
            }

            .data-list {
                .data-item {
                    &~ .data-item {
                        padding-top: 4rem;
                    }
                    .data-wrap {
                        .data-head {
                            .subjext {
                                font-size: 1.8rem;
                                font-weight: 700;
                                line-height: 177.778%; 
                                color: #282828;
                                @include mobile {
                                    font-size: 1.6rem;
                                }
                            }
                            .summary {
                                font-size: 1.6rem;
                                font-weight: 500;
                                line-height: 175%;
                                color: #282828;
                                @include mobile {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                        .data-body {
                            padding-top: 3rem;
                            @include mobile {
                                padding-top: 2rem;
                            }
                            > dt {
                                font-size: 1.6rem;
                                font-weight: 600;
                                line-height: 175%;
                                color: #282828;
                                &~ dt {
                                    padding-top: 1.2rem;
                                }
                                @include mobile {
                                    font-size: 1.4rem;
                                    &~ dt {
                                        padding-top: 1rem;
                                    }
                                }
                            }
                            > dd {
                                font-size: 1.6rem;
                                font-weight: 500;
                                line-height: 175%;
                                color: #737373;
                                padding-left: 1.7rem;
                                @include mobile {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .form-footer {
        padding-top: 2rem;
    }
}