@import '_variables';

// IR
@mixin hidden {
	display: block;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	border: 0;
	clip: rect(0 0 0 0);
	clip: rect(0,0,0,0);
	pointer-events: none;
}

// ellipsis
// @inlcude ellipsis(2);
@mixin ellipsis($line:1) {
    @if $line == 1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }@else{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

// 반응형
@mixin mobile {
    @media (min-width:#{$mobile}) and (max-width:#{$tablet - 1}){
        @content;
    }
}
@mixin tablet {
    @media (min-width:#{$tablet}) and (max-width:#{$web - 1}){
        @content;
    }
}
@mixin web {
    @media (min-width:#{$web}) {
        @content;
    }
}
