
// Ratio --------------------------------------*/

// width
.width-auto { width:auto; }

.width-ratio1 { width:1%; }
.width-ratio2 { width:2%; }
.width-ratio3 { width:3%; }
.width-ratio4 { width:4%; }
.width-ratio5 { width:5%; }
.width-ratio6 { width:6%; }
.width-ratio7 { width:7%; }
.width-ratio8 { width:8%; }
.width-ratio9 { width:9%; }
.width-ratio10 { width:10%; }
.width-ratio11 { width:11%; }
.width-ratio12 { width:12%; }
.width-ratio13 { width:13%; }
.width-ratio14 { width:14%; }
.width-ratio15 { width:15%; }
.width-ratio16 { width:16%; }
.width-ratio17 { width:17%; }
.width-ratio18 { width:18%; }
.width-ratio19 { width:19%; }
.width-ratio20 { width:20%; }
.width-ratio21 { width:21%; }
.width-ratio22 { width:22%; }
.width-ratio23 { width:23%; }
.width-ratio24 { width:24%; }
.width-ratio25 { width:25%; }
.width-ratio26 { width:26%; }
.width-ratio27 { width:27%; }
.width-ratio28 { width:28%; }
.width-ratio29 { width:29%; }
.width-ratio30 { width:30%; }
.width-ratio31 { width:31%; }
.width-ratio32 { width:32%; }
.width-ratio33 { width:33%; }
.width-ratio34 { width:34%; }
.width-ratio35 { width:35%; }
.width-ratio36 { width:36%; }
.width-ratio37 { width:37%; }
.width-ratio38 { width:38%; }
.width-ratio39 { width:39%; }
.width-ratio40 { width:40%; }
.width-ratio41 { width:41%; }
.width-ratio42 { width:42%; }
.width-ratio43 { width:43%; }
.width-ratio44 { width:44%; }
.width-ratio45 { width:45%; }
.width-ratio46 { width:46%; }
.width-ratio47 { width:47%; }
.width-ratio48 { width:48%; }
.width-ratio49 { width:49%; }
.width-ratio50 { width:50%; }
.width-ratio51 { width:51%; }
.width-ratio52 { width:52%; }
.width-ratio53 { width:53%; }
.width-ratio54 { width:54%; }
.width-ratio55 { width:55%; }
.width-ratio56 { width:56%; }
.width-ratio57 { width:57%; }
.width-ratio58 { width:58%; }
.width-ratio59 { width:59%; }
.width-ratio60 { width:60%; }
.width-ratio61 { width:61%; }
.width-ratio62 { width:62%; }
.width-ratio63 { width:63%; }
.width-ratio64 { width:64%; }
.width-ratio65 { width:65%; }
.width-ratio66 { width:66%; }
.width-ratio67 { width:67%; }
.width-ratio68 { width:68%; }
.width-ratio69 { width:69%; }
.width-ratio70 { width:70%; }
.width-ratio71 { width:71%; }
.width-ratio72 { width:72%; }
.width-ratio73 { width:73%; }
.width-ratio74 { width:74%; }
.width-ratio75 { width:75%; }
.width-ratio76 { width:76%; }
.width-ratio77 { width:77%; }
.width-ratio78 { width:78%; }
.width-ratio79 { width:79%; }
.width-ratio80 { width:80%; }
.width-ratio81 { width:81%; }
.width-ratio82 { width:82%; }
.width-ratio83 { width:83%; }
.width-ratio84 { width:84%; }
.width-ratio85 { width:85%; }
.width-ratio86 { width:86%; }
.width-ratio87 { width:87%; }
.width-ratio88 { width:88%; }
.width-ratio89 { width:89%; }
.width-ratio90 { width:90%; }
.width-ratio91 { width:91%; }
.width-ratio92 { width:92%; }
.width-ratio93 { width:93%; }
.width-ratio94 { width:94%; }
.width-ratio95 { width:95%; }
.width-ratio96 { width:96%; }
.width-ratio97 { width:97%; }
.width-ratio98 { width:98%; }
.width-ratio99 { width:99%; }
.width-ratio100 { width:100%; }

// height
.height-ratio1 { height:1%; }
.height-ratio2 { height:2%; }
.height-ratio3 { height:3%; }
.height-ratio4 { height:4%; }
.height-ratio5 { height:5%; }
.height-ratio6 { height:6%; }
.height-ratio7 { height:7%; }
.height-ratio8 { height:8%; }
.height-ratio9 { height:9%; }
.height-ratio10 { height:10%; }
.height-ratio11 { height:11%; }
.height-ratio12 { height:12%; }
.height-ratio13 { height:13%; }
.height-ratio14 { height:14%; }
.height-ratio15 { height:15%; }
.height-ratio16 { height:16%; }
.height-ratio17 { height:17%; }
.height-ratio18 { height:18%; }
.height-ratio19 { height:19%; }
.height-ratio20 { height:20%; }
.height-ratio21 { height:21%; }
.height-ratio22 { height:22%; }
.height-ratio23 { height:23%; }
.height-ratio24 { height:24%; }
.height-ratio25 { height:25%; }
.height-ratio26 { height:26%; }
.height-ratio27 { height:27%; }
.height-ratio28 { height:28%; }
.height-ratio29 { height:29%; }
.height-ratio30 { height:30%; }
.height-ratio31 { height:31%; }
.height-ratio32 { height:32%; }
.height-ratio33 { height:33%; }
.height-ratio34 { height:34%; }
.height-ratio35 { height:35%; }
.height-ratio36 { height:36%; }
.height-ratio37 { height:37%; }
.height-ratio38 { height:38%; }
.height-ratio39 { height:39%; }
.height-ratio40 { height:40%; }
.height-ratio41 { height:41%; }
.height-ratio42 { height:42%; }
.height-ratio43 { height:43%; }
.height-ratio44 { height:44%; }
.height-ratio45 { height:45%; }
.height-ratio46 { height:46%; }
.height-ratio47 { height:47%; }
.height-ratio48 { height:48%; }
.height-ratio49 { height:49%; }
.height-ratio50 { height:50%; }
.height-ratio51 { height:51%; }
.height-ratio52 { height:52%; }
.height-ratio53 { height:53%; }
.height-ratio54 { height:54%; }
.height-ratio55 { height:55%; }
.height-ratio56 { height:56%; }
.height-ratio57 { height:57%; }
.height-ratio58 { height:58%; }
.height-ratio59 { height:59%; }
.height-ratio60 { height:60%; }
.height-ratio61 { height:61%; }
.height-ratio62 { height:62%; }
.height-ratio63 { height:63%; }
.height-ratio64 { height:64%; }
.height-ratio65 { height:65%; }
.height-ratio66 { height:66%; }
.height-ratio67 { height:67%; }
.height-ratio68 { height:68%; }
.height-ratio69 { height:69%; }
.height-ratio70 { height:70%; }
.height-ratio71 { height:71%; }
.height-ratio72 { height:72%; }
.height-ratio73 { height:73%; }
.height-ratio74 { height:74%; }
.height-ratio75 { height:75%; }
.height-ratio76 { height:76%; }
.height-ratio77 { height:77%; }
.height-ratio78 { height:78%; }
.height-ratio79 { height:79%; }
.height-ratio80 { height:80%; }
.height-ratio81 { height:81%; }
.height-ratio82 { height:82%; }
.height-ratio83 { height:83%; }
.height-ratio84 { height:84%; }
.height-ratio85 { height:85%; }
.height-ratio86 { height:86%; }
.height-ratio87 { height:87%; }
.height-ratio88 { height:88%; }
.height-ratio89 { height:89%; }
.height-ratio90 { height:90%; }
.height-ratio91 { height:91%; }
.height-ratio92 { height:92%; }
.height-ratio93 { height:93%; }
.height-ratio94 { height:94%; }
.height-ratio95 { height:95%; }
.height-ratio96 { height:96%; }
.height-ratio97 { height:97%; }
.height-ratio98 { height:98%; }
.height-ratio99 { height:99%; }
.height-ratio100 { height:100%; }