.t-display {
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	table {
		table-layout: fixed;
		border-spacing: 0;
		border-collapse: collapse;
		border-right: hidden;
		border-left: hidden;
	}
    &.design1 {
		table {
			thead {
				tr {
					th {
						// color: color(typo, 020);
						font-weight: 600;
						font-size: 1.8rem;
						text-align: center;
						line-height: 160%;
						padding: 1.4rem 1.15rem;
						// background-color: color(neutral, 050);
						// border-right: 1px solid color(neutral, 060);
						// border-bottom: 1px solid color(neutral, 060);
					}
				}
			}
	
			tbody {
				tr {
					th {
						font-weight: 600;
						font-size: 1.8rem;
						// color: color(typo, 020);
						padding: 1.4rem 1.15rem;
						// border-right: 1px solid color(neutral, 020);
					}
					td {
						font-weight: 400;
						font-size: 1.8rem;
						line-height: 160%;
						// color: color(typo, 020);
						vertical-align: middle;
						// border-right: 1px solid color(neutral, 020);
					}
					+tr {
						td {
							// border-top: 1px solid color(normal, 040);
						}
					}
				}
			}
		}

		&.case1 {}
		&.case2 {}
		&.case3 {}
    }
    &.design2 {
		thead {
			tr {
				th {

				}
			}
		}

		tbody {
			tr {
				td {
					
				}
				+tr {
					td {
						// border-top: 1px solid color(neutral, 060);
					}
				}
			}
		}

		&.case1 {}
		&.case2 {}
		&.case3 {}
    }

	//align
	&.al {
		tbody {
			text-align: left;
		}
	}
	&.ar {
		tbody {
			text-align: right;
		}
	}
	&.ac {
		tbody {
			text-align: center;
		}
	}

	th,
	td {
		&.al {
			text-align: left;
		}
		&.ar {
			text-align: right;
		}
		&.ac {
			text-align: center;
		}
	}

	// table info
    .t-info {
		&.type1 {
			color: color(neutral, 050);
			font-size: 3.2rem;
			font-weight: 600;
			line-height: 160%;
		}
		&.type2 {
			// color: color(neutral, 050);
			font-size: 1.3rem;
			font-weight: 600;
			line-height: 160%;
		}
		+ table {
			margin-top: 2ren;
		}
    }

	table + .t-info {
		margin-top: 2rem;
	}

	// table 정보가 없는 경우
	.no-results {
		padding: 6.6rem 0 7.8rem;
	}
}