// breakpoints
$mobile : 320px;
$tablet : 1024px;
$web : 1920px;

// color palettes
$color-palettes: (
    base: (100: #000000,
        090: #191d26,
        080: #373b44,
        070: #696d76,
        060: #999da8,
        050: #afb2bb,
        040: #bfc2ca,
        030: #d8dbe1,
        020: #eceff5,
        010: #f4f6fb,
        005: #f9fafc,
        000: #ffffff,
    ),
    primary: (100: #000000,
        090: #052538,
        080: #003553,
        070: #014f7d,
        060: #016aa6,
        050: #0184d0,
        040: #41a3dc,
        030: #73bce5,
        020: #a6d4ef,
        010: #d9edf8,
        005: #f2f9fc,
        000: #ffffff,
    ),
    secondary: (100: #000000,
        090: #15bd68,
        080: #fbbf01,
        070: #ed6701,
        060: #000000,
        050: #000000,
        040: #000000,
        030: #000000,
        020: #000000,
        010: #000000,
        000: #000000,
    ),
    normal: (100: #000000,
        010: #191d26,
        020: #373b44,
        030: #afb2bb,
        040: #d8dbe1,
        050: #eceff5,
        060: #ffffff,
        070: #ffffff,
        080: #ffffff,
        090: #ffffff,
        000: #ffffff,
    ),
    accent: (100: #000000,
        010: #0184d0,
        020: #15bd68,
        030: #fbbf01,
        040: #ed6701,
        050: #ff2f22,
        060: #ffffff,
        070: #ffffff,
        080: #ffffff,
        090: #ffffff,
        000: #ffffff,
    ),
);

// text accent
$text-accent: (
    normal-00: color(normal, 100),
    normal-01: color(normal, 010),
    normal-02: color(normal, 020),
    normal-03: color(normal, 030),
    normal-04: color(normal, 040),
    normal-10: color(normal, 000),
    accent-01: color(accent, 010),
    accent-02: color(accent, 020),
    accent-03: color(accent, 030),
    accent-04: color(accent, 040),
);