<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/guide/GUT00100HEAD.ejs') %>
        <script>
            document.addEventListener("DOMContentLoaded", () =>{
                thumbSwiper('.thumbnail-display.design-8 .tnumbSwiper', 6);
                thumbSwiper2('.thumbnail-display.design-18 .tnumbSwiper', 20);
            });
        </script>
    </head>
    <body>
        <div id="wrap" class="wrap guide">
            <%-include('../include/guide/GUT00101HEADER.ejs') %>
            <main class="container guide HTNCWXD10D00W04 sub">
                <section class="container-wrap">
                    <div class="container-inner">
                        <em class="guide-sort-bar">
                            <span class="text-wrap">
                                <span class="text">&lt; only Mobile Swiper &gt;</span>
                            </span>
                            <span class="bar"></span>
                        </em>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">&lt; 모바일에서 스와이퍼가 되는 경우 &gt;</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="thumbnail-display design-8">
                                                <div class="thumbnail-swiper swiper tnumbSwiper swiper-backface-hidden">
                                                    <div class="thumbnail-list swiper-wrapper" id="swiper-wrapper-5a8e8cc4d8acb7101" aria-live="polite" style="">
                                                        <div class="thumbnail-item swiper-slide" role="group" aria-label="1 / 4">
                                                            <div class="thumbnail-wrap">
                                                                <div class="thumbnail-head">
                                                                    <em class="num">1</em>
                                                                </div>
                                                                <div class="thumbnail-body">
                                                                    <p class="para">
                                                                        자원 절약을 위해<br class="br-mo"> 불필요한 구매는 지양하여
                                                                        가능한 잔량이 나오지 않도록 합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide" role="group" aria-label="2 / 4">
                                                            <div class="thumbnail-wrap">
                                                                <div class="thumbnail-head">
                                                                    <em class="num">2</em>
                                                                </div>
                                                                <div class="thumbnail-body">
                                                                    <p class="para">
                                                                        품질과 가격 이외에 제품의 환경성을 검토하고 친환경 상품을 우대합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide" role="group" aria-label="3 / 4">
                                                            <div class="thumbnail-wrap">
                                                                <div class="thumbnail-head">
                                                                    <em class="num">3</em>
                                                                </div>
                                                                <div class="thumbnail-body">
                                                                    <p class="para">
                                                                        녹색구매 확대를 위해 유해화학물질 저사용 제품이나 폐기물 저감 제품, 자원소모 축소 제품 등을 발굴하기 위해 지속적인 노력을 기울입니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide" role="group" aria-label="4 / 4">
                                                            <div class="thumbnail-wrap">
                                                                <div class="thumbnail-head">
                                                                    <em class="num">4</em>
                                                                </div>
                                                                <div class="thumbnail-body">
                                                                    <p class="para">
                                                                        당사의 녹색 구매 방침을 협력사에 공유하고 납품 제품의 환경성 개선 활동을 독려합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="thumbnail-list">
                                                        <div class="thumbnail-item"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">&lt; 모바일에서 스와이퍼가 되는 경우 &gt;</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="thumbnail-display design-18">
                                                <div class="thumbnail-swiper swiper tnumbSwiper case-2">
                                                    <div class="thumbnail-list swiper-wrapper">
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-01.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-01-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-01-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">01</span>위험성 평가</p>
                                                                    <p class="thumbnail-body">
                                                                        작업환경, 기계ㆍ기구ㆍ설비, 원재료, 작업행동, 그 밖의 유해ㆍ위험 요인을 발굴하며, 안전사고 예방을 위해 필요한 조치를 취한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-02.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-02-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-02-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">02</span>작업환경 안전조치</p>
                                                                    <p class="thumbnail-body">
                                                                        작업환경 내 추락, 붕괴, 낙하, 기타 위험 발생 우려가 있는 장소를 관리하는 기준을 설정하고 주기적으로 유지ㆍ보수ㆍ점검한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-03.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-03-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-03-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">03</span>기계ㆍ기구ㆍ설비 안전조치</p>
                                                                    <p class="thumbnail-body">
                                                                        설비의 기능과 특성을 고려하여 안전조치를 취하며, 잠재적 위험이 없도록 유지ㆍ보수ㆍ점검한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-04.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-04-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-04-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">04</span>건강장해 예방 및 건강증진 활동</p>
                                                                    <p class="thumbnail-body">
                                                                        건강장해를 예방하기 위해 필요한 예방ㆍ보건조치를 취하고 호흡기, 근골격계 등 업무상 질병 예방 조치와, 각종 건강증진 프로그램을 운영한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-05.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-05-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-05-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">05</span>개인 보호장비 지급</p>
                                                                    <p class="thumbnail-body">
                                                                        작업환경 등에 적합한 보호 장비를 지급하고 예비 보호구를 비치ㆍ관리하는 등 보호구 착용을 의무화한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-06.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-06-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-06-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">06</span>안전보건 진단</p>
                                                                    <p class="thumbnail-body">
                                                                        추락,붕괴, 화재, 폭발, 유해물질 누출 등 재해 발생의 위험이 높은 사업장에 대해 안전 보건 진단을 실기한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-07.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-07-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-07-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">07</span>비상상황 대응</p>
                                                                    <p class="thumbnail-body">
                                                                        재새 상황 별 비상 대응 시나리오에 따라 훈련을 지속하고, 관련 장비의 기능 점검을 주기적으로 실시한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-08.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-08-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-08-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">08</span>유해물질 관리</p>
                                                                    <p class="thumbnail-body">
                                                                        취급 유해물질의 물질안전보건자료를 목록화 및 비치하며, 물리적/화학적 유해인자를 정기적으로 측정하고 개선조치를 취한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-09.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-09-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-09-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">09</span>협력사 안전보건 지원</p>
                                                                    <p class="thumbnail-body">
                                                                        협력사 안전보건 관리 시스템을 구축하여 위험성 평가를 내실화하며, 협력사 진단/교육/협의 등 현장 밀착관리로 재해예방을 강화한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="thumbnail-item swiper-slide">
                                                            <div class="thumbnail-wrap">
                                                                <picture class="thumbnail-figure">
                                                                    <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-10.png">
                                                                    <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/safety/img-thumb-chart-10-pc.png">
                                                                    <img class="img" src="../../assets/images/photo/sustainability/safety/img-thumb-chart-10-pc.png" alt=" ">
                                                                </picture>
                                                                <div class="thumbnail-inform">
                                                                    <p class="thumbnail-head"><span class="num">10</span>재해 조사 및 통계의 활용</p>
                                                                    <p class="thumbnail-body">
                                                                        재해 발생 시 원인조사를 실시하고 재발방지 대책을 마련한다. 산업재해 등 통계 분석을 정기적으로 실시하고 안전보건 성과개선 목표에 반영한다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slide-paging">
                                                        <div class="swiper-button-next">
                                                            <div class="button-display form-1 sort-1 align-3">
                                                                <div class="button-wrap form-1">
                                                                    <a href="javascript:void(0)" class="button design-1 case-6 fill-500 icon-right-arrow02">
                                                                        <span class="button-text-core">
                                                                            <span class="blind">다음</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-button-prev">
                                                            <div class="button-display form-1 sort-1 align-3">
                                                                <div class="button-wrap form-1">
                                                                    <a href="javascript:void(0)" class="button design-1 case-6 fill-500 icon-left-arrow02">
                                                                        <span class="button-text-core">
                                                                            <span class="blind">이전</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-pagination"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%-include('../include/guide/GUT00103FOOTER.ejs') %>
        </div>
    </body>
</html>