<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/guide/GUT00100HEAD.ejs') %>
    </head>
    <body>
        <div id="wrap" class="wrap guide">
            <%-include('../include/guide/GUT00101HEADER.ejs') %>
            <main class="container guide HTNCWXD10D00W12 sub">
                <section class="container-wrap">
                    <div class="container-inner">
                        <em class="guide-sort-bar">
                            <span class="text-wrap">
                                <span class="text">&lt; board 템플릿 가이드 &gt;</span>
                            </span>
                            <span class="bar"></span>
                        </em>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">&lt; 상생경영 board &gt;</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="board-display design-2 case-1">
                                                <div class="board-list">
                                                    <div class="board-item">
                                                        <div class="board-wrap">
                                                            <div class="board-head">
                                                                <p class="name">더 깨끗한<br /> 환경 경영</p>
                                                            </div>
                                                            <div class="board-body">
                                                                <div class="tag-display">
                                                                    <ul class="tag-list">
                                                                        <li class="tag-item">환경오염</li>
                                                                        <li class="tag-item">기후변화 및 탄소배출</li>
                                                                        <li class="tag-item">자원, 폐기물 관리</li>
                                                                        <li class="tag-item">에너지 효율</li>
                                                                        <li class="tag-item">생태계 보호</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="board-display design-2 case-2">
                                                <div class="board-list">
                                                    <div class="board-item">
                                                        <div class="board-wrap">
                                                            <div class="board-head">
                                                                <p class="name">더 따뜻한<br /> 이해관계자 경영</p>
                                                            </div>
                                                            <div class="board-body">
                                                                <div class="tag-display">
                                                                    <ul class="tag-list">
                                                                        <li class="tag-item">인권 및 성평등</li>
                                                                        <li class="tag-item">산업보건</li>
                                                                        <li class="tag-item">데이터 보안</li>
                                                                        <li class="tag-item">품질 및 고객만족</li>
                                                                        <li class="tag-item">공급망 관리</li>
                                                                        <li class="tag-item">지역사회 관계</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="board-display design-2 case-3">
                                                <div class="board-list">
                                                    <div class="board-item">
                                                        <div class="board-wrap">
                                                            <div class="board-head">
                                                                <p class="name">더 정직한<br /> 윤리 경영</p>
                                                            </div>
                                                            <div class="board-body">
                                                                <div class="tag-display">
                                                                    <ul class="tag-list">
                                                                        <li class="tag-item">윤리경영</li>
                                                                        <li class="tag-item">반부패</li>
                                                                        <li class="tag-item">법규 준수</li>
                                                                        <li class="tag-item">공정경쟁</li>
                                                                        <li class="tag-item">이사회 및 감사</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">&lt; 상생경영 board + text 템플릿 &gt;</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap" style="background-color: #191F26;">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="data-display design-1 case-8 align-1 color-12">
                                                <ul class="data-list">
                                                    <li class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <h4 class="title design-1 case-1 small-v3 color-1">
                                                                    <em class="name">효성티앤씨<br class="br-mo"> 중소기업 협력사 ESG 역량 진단 항목</em>
                                                                </h4>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="data-para">
                                                                    효성티앤씨는 중소기업인 협력사의 ESG 역량진단시, 객관적이고 현실에 맞는 진단을 위해 중소벤처기업진흥공단에서 제공하는 중소기업 ESG 자가진단 시스템을 활용하고 있습니다.
                                                                </p>
                                                            </div>
                                                            <div class="data-aside">
                                                                <div class="data-display design-2 case-1">
                                                                    <div class="data-list">
                                                                        <div class="data-item">
                                                                            <div class="data-head">
                                                                                <p class="sup color-1">환경</p>
                                                                                <p class="name">Environment</p>
                                                                                <p class="summary">환경관리체계 수립 및<br> 활동을 통해 더 큰 환경가치를 창조</p>
                                                                            </div>
                                                                            <div class="data-body">
                                                                                <div class="board-display design-2 case-1">
                                                                                    <div class="board-list">
                                                                                        <div class="board-item">
                                                                                            <div class="board-wrap">
                                                                                                <div class="board-head">
                                                                                                    <p class="name">더 깨끗한<br> 환경 경영</p>
                                                                                                </div>
                                                                                                <div class="board-body">
                                                                                                    <div class="tag-display">
                                                                                                        <ul class="tag-list">
                                                                                                            <li class="tag-item">환경오염</li>
                                                                                                            <li class="tag-item">기후변화 및 탄소배출</li>
                                                                                                            <li class="tag-item">자원, 폐기물 관리</li>
                                                                                                            <li class="tag-item">에너지 효율</li>
                                                                                                            <li class="tag-item">생태계 보호</li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="data-item">
                                                                            <div class="data-head">
                                                                                <p class="sup color-2">사회</p>
                                                                                <p class="name">Social</p>
                                                                                <p class="summary">다양한 이해관계자와의 우호적<br> 관계 형성을 통해 더 큰 사회 가치창조</p>
                                                                            </div>
                                                                            <div class="data-body">
                                                                                <div class="board-display design-2 case-2">
                                                                                    <div class="board-list">
                                                                                        <div class="board-item">
                                                                                            <div class="board-wrap">
                                                                                                <div class="board-head">
                                                                                                    <p class="name">더 따뜻한<br> 이해관계자 경영</p>
                                                                                                </div>
                                                                                                <div class="board-body">
                                                                                                    <div class="tag-display">
                                                                                                        <ul class="tag-list">
                                                                                                            <li class="tag-item">인권 및 성평등</li>
                                                                                                            <li class="tag-item">산업보건</li>
                                                                                                            <li class="tag-item">데이터 보안</li>
                                                                                                            <li class="tag-item">품질 및 고객만족</li>
                                                                                                            <li class="tag-item">공급망 관리</li>
                                                                                                            <li class="tag-item">지역사회 관계</li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="data-item">
                                                                            <div class="data-head">
                                                                                <p class="sup color-3">지배구조</p>
                                                                                <p class="name">Governance</p>
                                                                                <p class="summary">체계적이고 엄격한 지배구조<br> 구축을 통해 더 큰 윤리가치 창조</p>
                                                                            </div>
                                                                            <div class="data-body">
                                                                                <div class="board-display design-2 case-3">
                                                                                    <div class="board-list">
                                                                                        <div class="board-item">
                                                                                            <div class="board-wrap">
                                                                                                <div class="board-head">
                                                                                                    <p class="name">더 정직한<br> 윤리 경영</p>
                                                                                                </div>
                                                                                                <div class="board-body">
                                                                                                    <div class="tag-display">
                                                                                                        <ul class="tag-list">
                                                                                                            <li class="tag-item">윤리경영</li>
                                                                                                            <li class="tag-item">반부패</li>
                                                                                                            <li class="tag-item">법규 준수</li>
                                                                                                            <li class="tag-item">공정경쟁</li>
                                                                                                            <li class="tag-item">이사회 및 감사</li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%-include('../include/guide/GUT00103FOOTER.ejs') %>
        </div>
    </body>
</html>