<footer id="footer" class="footer tnc">
    <div class="footer-sustainability-inner">
        <div class="footer-sustainability-inner-top">
            <h2 class="logo-sustainability-bottom">
                <a href="../kor/HTNCWKD00D00W00.html" class="logo-bottom-link" title="클릭 : 메인페이지 이동" area-label="클릭 : 메인페이지 이동">
                    <em class="text-wrap">
                        <span class="logo hyosung-tnc-eng">HYOSUNG TNC</span>
                    </em>
                </a>
            </h2>
            <div class="footer-sustainability-use-link-wrap">
                <div class="footer-use-link-list">
                    <span class="footer-use-link-item">
                        <a href="../kor/HAMSWKD03D10W01.html" class="footer-use-link-menu" title="클릭 : 페이지 이동" area-label="클릭 : 페이지 이동">
                            <em class="text-wrap">
                                <span class="text">고객문의</span>
                            </em>
                        </a>
                    </span>
                    <span class="footer-use-link-item">
                        <a href="../kor/HAMSWKD03D20W01.html" class="footer-use-link-menu" title="클릭 : 페이지 이동" area-label="클릭 : 페이지 이동">
                            <em class="text-wrap">
                                <span class="text">법적고지</span>
                            </em>
                        </a>
                    </span>
                    <span class="footer-use-link-item">
                        <a href="../kor/HAMSWKD03D30W01.html" class="footer-use-link-menu" title="클릭 : 페이지 이동" area-label="클릭 : 페이지 이동">
                            <em class="text-wrap">
                                <span class="text">개인정보처리방침</span>
                            </em>
                        </a>
                    </span>
                    <span class="footer-use-link-item">
                        <a href="../kor/HAMSWKD03D40W01.html" class="footer-use-link-menu" title="클릭 : 페이지 이동" area-label="클릭 : 페이지 이동">
                            <em class="text-wrap">
                                <span class="text">제보센터</span>
                            </em>
                        </a>
                    </span>
                    <!--
                    <span class="footer-use-link-item">
                        <a href="../kor/HAMSWKD03D50W01.html" class="footer-use-link-menu" title="클릭 : 페이지 이동" area-label="클릭 : 페이지 이동">
                            <em class="text-wrap">
                                <span class="text">규정 및 지침</span>
                            </em>
                        </a>
                    </span>
                    <span class="footer-use-link-item">
                        <a href="../kor/HAMSWKD03D60W01.html" class="footer-use-link-menu" title="클릭 : 페이지 이동" area-label="클릭 : 페이지 이동">
                            <em class="text-wrap">
                                <span class="text">인증서</span>
                            </em>
                        </a>
                    </span>
                    <span class="footer-use-link-item">
                        <a href="../kor/HAMSWKD03D70W01.html" class="footer-use-link-menu" title="클릭 : 페이지 이동" area-label="클릭 : 페이지 이동">
                            <em class="text-wrap">
                                <span class="text">사이트맵</span>
                            </em>
                        </a>
                    </span>
                    -->
                </div>
            </div>
        </div>
        <div class="footer-inner-bottom">
            <div class="footer-contact-us">
                <address class="footer-address">
                    <em class="text-wrap">
                        <span class="text">(04144)서울특별시 마포구 마포대로 119(공덕동)</span>
                        <span class="text tel">Tel : 02-707-7114</span>
                    </em>
                </address>
                <div class="footer-copyright">
                    <em class="text-wrap">
                        <span class="text">
                            COPYRIGHTⓒ2018 HYOSUNG TNC.<br class="br-mo" />
                            ALL RIGHTS RESERVED.
                        </span>
                    </em>
                </div>
            </div>
            <div class="info-right">
                <!-- <a href="javascript:void(0);" onclick="openPop('popup-layer1')" class="newsletter-application">뉴스레터 신청하기</a> -->
                <div class="accordion-footer-family-site">
                    <button onclick="javascript:void(0)" class="button-family-site" title="클릭 : 패밀리 사이트 목록 펼침/닫힘" aria-label="클릭 : 패밀리 사이트 목록 펼침/닫힘">
                        <span class="text-button-wrap">
                            <em class="text-wrap">
                                <span class="text">Family Site</span>
                            </em>
                        </span>
                        <i class="icon icon-familysite-direction">
                            <em class="text-wrap">
                                <span class="text">닫힘</span>
                            </em>
                        </i>
                    </button>
                    <div class="family-site-layer-wrap">
                        <ul class="family-site-layer-list">
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosung.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">㈜효성</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="https://blog.hyosung.com/" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성 블로그</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="https://www.facebook.com/myfriendhyosung" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성 페이스북</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="https://www.youtube.com/@Hyosung_TV" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성TV 유튜브</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="https://hyosung.recruiter.co.kr/appsite/company/index" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성 채용</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://research.hyosung.co.kr/kor/index.jsp" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성기술원</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosungtnc.com/kr/main.do" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성티앤씨㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosungheavyindustries.com/kr/main.do" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성중공업㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hsgoodsprings.com/kr/main.do" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성굿스프링스㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.chinhung.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">진흥기업㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosungadvancedmaterials.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성첨단소재㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosungchemical.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성화학㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosung-tns.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성티앤에스㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.his21.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성인포메이션시스템㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosungitx.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성 ITX㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.galaxialed.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">갤럭시아일렉트로닉스㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.galaxiamoneytree.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">갤럭시아머니트리㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.galaxiadevice.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">갤럭시아디바이스㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.theclasshyosung.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">더클래스효성㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosungtoyota.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성토요타㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosunglexus.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">더프리미엄효성㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.maserati.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">㈜FMK</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.hyosung.landroverkorea.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성프리미어모터스㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.asag.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">㈜아승오토모티브그룹</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.shinwha.com/kor" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">신화인터텍㈜</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://cold.hyosung.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">광주냉동창고</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.creora.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">creora®</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.finestar.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">Finestar®</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.somesevit.co.kr" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">세빛섬</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.harrington.co.kr/index.jsp" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성해링턴 플레이스</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.swancarpet.co.kr/kr/index.do" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">효성 스완카페트</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.r200p.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">TOPILENE®</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://www.poketone.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">POKETONE™</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://harringtonsquare.hyosung.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">공덕 효성해링턴 스퀘어</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://visit.hyosung.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">방문신청</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://msrm.hyosunghi.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">전자구매</span>
                                    </em>
                                </a>
                            </li>
                            <li class="family-site-layer-item">
                                <a href="http://winwin.hyosung.com" class="link-text-family-site-item" target="_blank" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                                    <em class="text-wrap">
                                        <span class="text">협력업체 동반성장</span>
                                    </em>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>