<header id="header" class="header tnc site">
    <div class="header-wrap">
        <div class="header-inner">
            <h1 class="logo-tnc-top">
                <a href="../kor/HTNCWKD00D00W00.html" class="logo-top-link" title="클릭 : 메인 페이지 이동" area-label="클릭 : 메인 페이지 이동">
                    <em class="logo logo-hyosung-tnc-eng">HYOSUNG TNC</em>
                </a>
            </h1>
            <div class="gnb-area">
                <div class="gnb-space gnb-area-before"></div>
                <nav id="gnb-wrap" class="gnb-wrap">
                    <ul class="gnb-depth1-list">
                        <li class="gnb-depth1-item gnb-depth1-item01">
                            <a href="javascript:void(0)" class="gnb-depth1-link" title="마우스오버 : 서브 메뉴 펼침" aria-label="마우스오버 : 서브 메뉴 펼침">
                                <em class="text-wrap">
                                    <span class="text">Company</span>
                                </em>
                            </a>
                            <div class="gnb-depth2-wrap">
                                <div class="gnb-depth2-box gnb-depth2-box01-01">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">회사소개</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">소개</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">인사말</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">Hyosung Way</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">연혁</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">R&amp;D</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">글로벌네트워크</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box01-02">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">IR</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">기업지배구조</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">재무정보</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">IR 정보</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">공시</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">공고</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">IR 자료실</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box01-03">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">인재채용</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">인재상</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">인사제도</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">인재육성</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">직무소개</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="gnb-depth1-item gnb-depth1-item02">
                            <a href="javascript:void(0)" class="gnb-depth1-link" title="마우스오버 : 서브 메뉴 펼침" aria-label="마우스오버 : 서브 메뉴 펼침">
                                <em class="text-wrap">
                                    <span class="text">Business</span>
                                </em>
                            </a>
                            <div class="gnb-depth2-wrap">
                                <div class="gnb-depth2-box gnb-depth2-box02-01">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">섬유</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">스판덱스</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">나일론</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">폴리에스터</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">직물</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">염색</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box02-02">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">무역</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">철강</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">화학</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">LED</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">세빛섬</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">광주냉동창고</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="gnb-depth1-item gnb-depth1-item03">
                            <a href="javascript:void(0)" class="gnb-depth1-link" title="마우스오버 : 서브 메뉴 펼침" aria-label="마우스오버 : 서브 메뉴 펼침">
                                <em class="text-wrap">
                                    <span class="text">Brand</span>
                                </em>
                            </a>
                            <div class="gnb-depth2-wrap">
                                <div class="gnb-depth2-box gnb-depth2-box03-01">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">Brand Now</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">브랜드 저널리즘</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">브랜드TV</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">소셜미디어</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box03-02">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">ESG NOW</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">ESG 브랜드</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">ESG 성과</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">ESG Story</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">ESG 활동</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box03-03">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">Brand Strategy</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">브랜드 비전</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">아이덴티티</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">브랜드 체계</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">그룹 브랜드 현황</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="gnb-depth1-item gnb-depth1-item04">
                            <a href="javascript:void(0)" class="gnb-depth1-link" title="마우스오버 : 서브 메뉴 펼침" aria-label="마우스오버 : 서브 메뉴 펼침">
                                <em class="text-wrap">
                                    <span class="text">Sustainability</span>
                                </em>
                            </a>
                            <div class="gnb-depth2-wrap">
                                <div class="gnb-depth2-box gnb-depth2-box04-01">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">개요</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">지속가능경영</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">보고서</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">외부평가</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">참여 이니셔티브</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">ESG규정 및 지침</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box04-02">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">Environmental</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">그린 경영</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">기후변화 대응</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">자원순환</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">오염 저감</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box04-03">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">Social</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">인권경영</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">상생 경영</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">안전보건경영</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">나눔 경영</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">정보보안</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box04-04">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">Governance</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">이사회 구성 및 운영</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">주주총회</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">윤리경영</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">감사기구</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">리스크 관리</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="gnb-depth2-box gnb-depth2-box04-05">
                                    <h4 class="title-gnb-depth2">
                                        <em class="text-wrap">
                                            <span class="text">인증서</span>
                                        </em>
                                    </h4>
                                    <ul class="gnb-depth2-list">
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">환경</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">안전 보건</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">품질</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="gnb-depth2-item">
                                            <a href="javascript:void(0)" class="gnb-depth2-link" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text">기타</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="gnb-space gnb-area-after"></div>
            </div>
            <div class="service-top-wrap">
                <ul class="service-top-list">
                    <li class="service-top-item">
                        <a href="javascript:void(0)" class="service-top-link" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                            <em class="text-wrap">
                                <span class="text text-kor">홍보센터</span>
                            </em>
                        </a>
                    </li>
                    <li class="service-top-item">
                        <a href="javascript:void(0)" class="service-top-link" title="클릭 : 새창 페이지 열기" aria-label="클릭 : 새창 페이지 열기">
                            <em class="text-wrap">
                                <span class="text text-eng">regen Alliance</span>
                            </em>
                        </a>
                    </li>
                </ul>
                <div class="language-wrap">
                    <div class="language-select">
                        <a href="javascript:void(0)" class="language-select-link" title="마우스오버 : 언어 선택 메뉴 펼침" aria-label="마우스오버 : 언어 선택 메뉴 펼침">
                            <em class="text-wrap">
                                <span class="text">KR</span>
                            </em>
                            <i class="icon-language-select-link-direction">&gt;</i>
                        </a>
                    </div>
                    <ul class="language-list">
                        <li class="language-item language-kr">
                            <a href="javascript:void(0)" class="language-link" title="클릭 : 언어 영문 페이지 이동" aria-label="클릭 : 언어 영문 페이지 이동">
                                <em class="text-wrap">
                                    <span class="text">KR</span>
                                </em>
                            </a>
                        </li>
                        <li class="language-item language-en">
                            <a href="javascript:void(0)" class="language-link" title="클릭 : 언어 영문 페이지 이동" aria-label="클릭 : 언어 영문 페이지 이동">
                                <em class="text-wrap">
                                    <span class="text">EN</span>
                                </em>
                            </a>
                        </li>
                        <li class="language-item language-cn">
                            <a href="javascript:void(0)" class="language-link" title="클릭 : 언어 중문 페이지 이동" aria-label="클릭 : 언어 중문 페이지 이동">
                                <em class="text-wrap">
                                    <span class="text">CN</span>
                                </em>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-sitemap-wrap">
                <div class="menu-sitemap-inner">
                    <a href="javascript:void(0)" class="button-sitemap-link" title="클릭 : 사이트맵 메뉴 열기/닫기" aria-label="클릭 : 사이트맵 메뉴 열기/닫기">
                        <span class="button-sitemap-link-inner">
                            <em class="button-sitemap-icon-wrap">
                                <span class="icon-button-sitemap icon-button-sitemap1">
                                    <em class="round-line-box-wrap">
                                        <span class="round-line-box">라운드박스</span>
                                        <span class="round-line-box">라운드박스</span>
                                    </em>
                                </span>
                                <span class="icon-button-sitemap icon-button-sitemap2">
                                    <em class="round-line-box-wrap">
                                        <span class="round-line">라운드선</span>
                                        <span class="round-line-box">
                                            <em class="line-wrap">
                                                <span class="line line1">선</span>
                                                <span class="line line2">선</span>
                                            </em>
                                        </span>
                                    </em>
                                </span>
                            </em>
                        </span>
                        <span class="text-button-sitemap">
                            <em class="text-wrap">
                                <span class="text text1">MENU</span>
                                <span class="text text2">CLOSE</span>
                            </em>
                        </span>
                    </a>

                    <div class="menu-sitemap-list-area">
                        <div class="menu-sitemap-list-depth1-wrap">
                            <ul class="menu-sitemap-list-depth1">
                                <li class="menu-sitemap-item-depth1">
                                    <a href="javascript:void(0)" class="title-menu-sitemap-list-depth1" title="클릭 : 모바일 서브메뉴 펼침" aria-label="클릭 : 모바일 서브메뉴 펼침">
                                        <em class="text-wrap">
                                            <span class="text text1">Company</span>
                                        </em>
                                        <em class="mobile-addview-wrap">
                                            <span class="line-wrap">
                                                <span class="line line1"></span>
                                                <span class="line line2"></span>
                                            </span>
                                        </em>
                                    </a>
                                    <div class="menu-sitemap-list-depth2-area">
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">회사소개</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">소개</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">인사말</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">Hyosung Way</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">연혁</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">R&amp;D</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">글로벌네트워크</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">IR</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">기업지배구조</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">재무정보</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">IR 정보</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">공시</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">공고</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">IR 자료실</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">인재채용</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">인재상</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">인사제도</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">직무소개</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">조직별 사업분야</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-sitemap-item-depth1">
                                    <a href="javascript:void(0)" class="title-menu-sitemap-list-depth1" title="클릭 : 모바일 서브메뉴 펼침" aria-label="클릭 : 모바일 서브메뉴 펼침">
                                        <em class="text-wrap">
                                            <span class="text text1">Business</span>
                                        </em>
                                        <em class="mobile-addview-wrap">
                                            <span class="line-wrap">
                                                <span class="line line1"></span>
                                                <span class="line line2"></span>
                                            </span>
                                        </em>
                                    </a>
                                    <div class="menu-sitemap-list-depth2-area">
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">섬유</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">CREORA</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">regen</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">직물</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">염색</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">무역</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">철강</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">화학</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">LED</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">세빛섬</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">광주냉동창고</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-sitemap-item-depth1">
                                    <a href="javascript:void(0)" class="title-menu-sitemap-list-depth1" title="클릭 : 모바일 서브메뉴 펼침" aria-label="클릭 : 모바일 서브메뉴 펼침">
                                        <em class="text-wrap">
                                            <span class="text text1">Brand</span>
                                        </em>
                                        <em class="mobile-addview-wrap">
                                            <span class="line-wrap">
                                                <span class="line line1"></span>
                                                <span class="line line2"></span>
                                            </span>
                                        </em>
                                    </a>
                                    <div class="menu-sitemap-list-depth2-area">
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">Brand Now</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">브랜드 미디어</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">브랜드TV</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">소셜미디어</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">브랜드 이미지</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">ESG NOW</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">ESG 브랜드 개요</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">ESG 브랜드 아이덴티티</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">ESG 브랜드 체계</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">ESG 브랜드 스토리</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">ESG Story</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">Brand Strategy</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">브랜드 아이덴티티</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">브랜드 체계</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">비주얼 아이덴티티</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">브랜드 스토리</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">ESG 브랜드</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">그룹 브랜드 현황</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-sitemap-item-depth1">
                                    <a href="javascript:void(0)" class="title-menu-sitemap-list-depth1" title="클릭 : 모바일 서브메뉴 펼침" aria-label="클릭 : 모바일 서브메뉴 펼침">
                                        <em class="text-wrap">
                                            <span class="text text1">Sustainability</span>
                                        </em>
                                        <em class="mobile-addview-wrap">
                                            <span class="line-wrap">
                                                <span class="line line1"></span>
                                                <span class="line line2"></span>
                                            </span>
                                        </em>
                                    </a>
                                    <div class="menu-sitemap-list-depth2-area">
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">개요</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">지속가능경영</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">보고서</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">외부평가</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">참여 이니셔티브</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">ESG 정책</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">Environmental</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">그린 경영</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">기후변화 대응</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">자원순환</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">오염 저감</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">Social</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">인권 경영</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">상생 경영</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">안전보건경영</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">나눔 경영</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">정보 보안</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">Governance</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">윤리경영</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">리스크 관리</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-sitemap-list-depth2-wrap">
                                            <a href="javascript:void(0)" class="title-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                <em class="text-wrap">
                                                    <span class="text text1">인증서</span>
                                                </em>
                                            </a>
                                            <ul class="menu-sitemap-list-depth2">
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">환경</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">안전 보건</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">품질</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="menu-sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="link-menu-sitemap-list-depth2" title="클릭 : 페이지 이동" aria-label="클릭 : 페이지 이동">
                                                        <em class="text-wrap">
                                                            <span class="text text1">기타</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
