.green-management-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    &.design-1{
    max-width: 102.8rem;
        @include mobile{
            flex-direction: column;
            align-items: center;
        }
        .green-item{
            background-color: #4D51AC;
            border: 1px solid #383957;
            border-radius: 1.6rem;
            max-width: 32.8rem;
            height: 26rem;
            width: 100%;
            transition: all 0.5s;
            @include mobile{
                height: auto;
            }
            &.middle{
                margin: 0 2.2rem;
                @include mobile{
                    margin: 1.6rem 0;
                }
            }
            .green-item-title{
                color: #fff;
                font-family: 'Brand New Hyosung OTF';
                text-align: center;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: 3.6rem;
                padding-top: 4rem;
                @include mobile{
                    font-size: 1.8rem;
                    line-height: 3rem;
                }
            }
            .green-item-body{
                color: #fff;
                font-family: 'Pretendard';
                text-align: center;
                font-size: 1.4rem;
                line-height: 2.2rem;
                padding: 3.2rem 3rem;
                @include mobile{
                    line-height: 2.4rem;
                }
            }
        }
    }
    &.design-2{
        max-width: 67.8rem;
        @include mobile{
            flex-direction: column;
            align-items: center;
        }
        .green-item{
            background-color: #DA7828;
            border: 1px solid #A6520D;
            border-radius: 1.6rem;
            max-width: 32.8rem;
            height: 26rem;
            width: 100%;
            transition: all 0.5s;
            @include mobile{
                height: auto;
                &.top{
                    margin-top: 1.6rem;
                }
            }
            .green-item-title{
                color: #fff;
                font-family: 'Brand New Hyosung OTF';
                text-align: center;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: 3.6rem;
                padding-top: 4rem;
                @include mobile{
                    font-size: 1.8rem;
                    line-height: 3rem;
                    padding-top: 3.2rem;
                }
            }
            .green-item-body{
                color: #fff;
                font-family: 'Pretendard'; 
                text-align: center;
                font-size: 1.4rem;
                line-height: 2.2rem;
                padding: 3.2rem 3rem;
                @include mobile{
                    line-height: 2.4rem;
                    padding: 1rem 8rem 3.2rem;
                }
            }
        }
    }
}

.climate-change-box{
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     max-width: 127.6rem;
     width: 100%;
     @include mobile{
        flex-direction: column;
        align-items: center;
     }
     &.design-1{
        .climate-change-item{
            width: 31.9rem;
            height: 29.2rem;
            padding: 4rem;
            position: relative;
            background-color: #69A2FF;
            border-radius: 4.6rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transition: all 0.5s;
            @include mobile{
                height: 13.2rem;
                border-radius: 3.2rem;
                justify-content: center;
                width: 33.9rem;
                padding: 3rem;
                flex-direction: unset;
                align-items: center;
                justify-content: flex-start;
            }
            &:nth-child(1){
                .climate-change-body{
                    max-width: 22.9rem;
                    width: 100%;
                }
            }
            &:nth-child(2){
                background-color: #4B84F0;
                margin: 0 1rem 0 2rem;
                .climate-change-body{
                    max-width: 16.4rem;
                    width: 100%;
                    @include mobile{
                        max-width: 17.4rem;
                    }
                }
                @include mobile{
                   margin: 0.8rem 0 0.4rem;
                }
            }
            &:nth-child(3){
                background-color: #336BCD;
                margin: 0 2rem 0 1rem;
                .climate-change-body{
                    max-width: 21.9rem;
                    width: 100%;
                    @include mobile{
                        max-width: 22.9rem;
                    }
                }
                @include mobile{
                    margin: 0.4rem 0 0.8rem;
                 }
            }
            &:nth-child(4){
                background-color: #2057B1;
                .climate-change-body{
                    max-width: 19.5rem;
                    width: 100%;
                    @include mobile{
                        max-width: 20.5rem;
                    }
                }
            }
            &.middle{
                margin: 0 1rem;
            }
            .climate-change-number{
                width: 5.6rem;
                height: 5.6rem;
                text-align: center;
                background-color: rgb(255, 255, 255);
                font-family: 'Pretendard';
                border-radius: 1.6rem;
                box-shadow: inset 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
                color: #000;
                @include mobile{
                    max-width: 4rem;
                    width: 100%;
                    height: 4rem;
                    border-radius: 1.2rem;
                }
                .subject{
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 5.6rem;
                    color: rgb(0, 0, 0);
                    @include mobile{
                        font-size: 1.6rem;
                        line-height: 4.25rem;
                    }
                }
            }
            .climate-change-body{
                color: #fff;
                font-size: 1.6rem;
                font-style: normal;
                font-family: 'Pretendard'; 
                font-weight: 600;
                line-height: 2.8rem;
                background: transparent;
                padding: 6rem 0 1.2rem;
                word-break: keep-all;
                @include mobile{
                    padding: 0 0 0 3rem;
                    font-size: 1.4rem;
                }
            }
        }
     }
     &.design-2{
        max-width: 133.4rem;
        align-items: flex-start;
        flex-direction: unset;
        @include mobile{
            max-width: 130rem;
            width: 100%;
            overflow: hidden;
            overflow-x: auto;
            white-space: nowrap;
            padding-bottom: 2.5rem;
        }
        .climate-change-item{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-right: 4rem;
            &:last-child{
                margin-right: 0;
            }
            max-width: 18.9rem;
            @include mobile{
                margin-right: 4.4rem;
                &:last-child{
                    margin-right: 0;
                }
            }
            &::after{
                content: '';
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                background: url('../../assets/images/diagram/sustainability/climate/right-arrow.svg') no-repeat;
                position: absolute;
                top: 4.25rem;
                right: -3.7rem;;
                @include mobile{
                    top: 3.5rem;
                    right: -3.95rem;
                }
            }
            &:last-child::after{
                display: none;
            }
            .climate-change-title{
                color: #fff;
                font-size: max(1vw, 1.6rem);
                font-family: 'Brand New Hyosung OTF';
                font-style: normal;
                font-weight: 700;
                line-height: 2vw;
                background-color: #6485C6;
                border-radius: 0.8rem;
                padding: 1.9rem 3rem;
                text-align: center;
                height: 10.1rem;
                max-width: 18.9rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                word-break: keep-all;
                @include mobile{
                    height: 8.4rem;
                    padding: 3rem;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
                
            }
            .climate-change-body{
                color: #737373;
                font-size: 1.6rem;
                font-style: normal;
                font-family: 'Pretendard';
                font-weight: 500;
                line-height: 2.8rem;
                text-align: center;
                margin-top: 1rem;
                @include mobile{
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                }
            }
        }
     }
}


.recycling-resource-box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 133.4rem;
    width: 100%;
    @include mobile{
        max-width: 102.6rem;
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 2.5rem;
    }
    &.design-1{
        .recycling-resource-item{
            display: flex;
            width: 100%;
            flex-direction: column;
            position: relative;
            margin-right: 5.6rem;
            @include mobile{
                margin-right: 4.4rem;
            }
            &:nth-child(2){
                .recycling-resource-title{
                    background-color: #4B84F0;
                }
            }
            &:nth-child(3){
                .recycling-resource-title{
                    background-color: #336BCD;
                }
            }
            &:nth-child(4){
                .recycling-resource-title{
                    background-color: #2057B1;
                }
            }
            &:nth-child(5){
                .recycling-resource-title{
                    background-color: #0C439D;
                }
            }
            &:last-child{
                margin-right: 0;
            }
            &::after{
                content: '';
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                background: url('../../assets/images/diagram/sustainability/recycle/right-arrow.svg') no-repeat;
                position: absolute;
                top: 4.25rem;
                right: -4.5rem;
                @include mobile{
                    top: 2.75rem;;
                    right: -3.95rem;
                }
            }
            &:last-child::after{
                display: none;
                margin-right: 0;
            }
            .recycling-resource-title{
                height: 10.1rem;
                padding: 3.5rem 4.9rem;
                color: #FFF;
                text-align: center;
                font-family: 'Brand New Hyosung OTF';
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: 3.2rem;
                background-color: #69A2FF;
                border-radius: 1.6rem;
                width: 22.2rem;
                @include mobile{
                    width: 17rem;
                    height: 7.4rem;
                    padding: 2.4rem 4rem;
                    font-size: 1.6rem;
                }
            }
            .recycling-resource-body{
                width: 100%;
                color: #1B4B66;
                font-size: 1.6rem;
                font-style: normal;
                font-family: 'Pretendard';
                font-weight: 600;
                line-height: 2.8rem;
                margin: 2rem 5.6rem 0 1.5rem;
                word-break: keep-all;
                .grey-text{
                    color: #737373;
                    letter-spacing: -0.05rem;
                }
                @include mobile{
                    max-width: 15.4rem;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    margin: 2rem 0rem 0 1.5rem;
                }
            }
        }
    }
}
 

.human-rights-box{
    max-width: 111.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    // 사용시 background-color 빼기
    background-color: #0C439D;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    &.design-1{
        .human-rights-item{
            border-radius: 2.4rem;
            background: rgba(255, 255, 255, 0.22);
            padding: 4rem 0 3.8rem 2.9rem;
            max-width: 30.8rem;
            width: 100%;
            height: 21.6rem;
            position: relative;
            color: #FFF;
            transition: all 0.5s;
            margin-right: 9.4rem;
            @include mobile{
                max-width: 25.3rem;
                width: 100%;
                height: 14rem;
                margin-bottom: 3.2rem;
                padding: 2.2rem 0 2.2rem 3rem;
                margin-right: 0;
            }
            &:last-child{
                margin-bottom: 0;
                margin-right: 0;
            }
            &::after{
                content: '';
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                background: url('../../assets/images/diagram/sustainability/human/white-arrow.svg') no-repeat;
                position: absolute;
                top: 10rem;
                right: -6.25rem;
                background-size: contain;
                transition: all 0.5s;
                @include mobile{
                    top: 14.75rem;
                    right: 11.5rem;
                    transform: rotate(90deg);
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
            .human-rights-number{
                font-family: 'Poppins';
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 4rem;
                margin-bottom: 1rem;
                @include mobile{
                    font-size: 1.8rem;
                    line-height: 3rem;
                    margin-bottom: 0;
                }
            }
            .human-rights-title{
                font-family: 'Brand New Hyosung OTF';
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 700;
                line-height: 3.6rem;
                @include mobile{
                    font-size: 2.2rem;
                    line-height: 3.4rem;
                }
            }
            .human-rights-text{
                font-family: 'Pretendard';
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: 3.2rem;
                margin-top: 2rem;
                @include mobile{
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    margin-top: 0.8rem;
                }
            }
        }
    }
}

.safety-health-box{
    max-width: 133.6rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    &.design-1{
        .safety-health-item{
           display: flex;
           flex-direction: column;
           align-items: center;
           max-width: 27.7rem;
           width: 100%;
           margin-right: 7.6rem;
           margin-top: 2rem;
           position: relative;
           @include mobile{
                margin: 1rem 0 3.3rem 0;
                height: 11rem;
           }
                &::after{
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    right: -7.5rem;
                    width: 7.6rem;
                    height: 0.1rem;
                    background-color: #c4c4c4;
                    margin-top: 1rem;
                    @include mobile{
                        width: 0.1rem;
                        height: 14rem;
                        top: 90%;
                        right: 50%;
                        transform: translateX(-50%);
                    }
                }
                &::before{
                    position: absolute;
                    content: "";
                    top: 43%;
                    right: -8.75rem;
                    width: 1.6rem;
                    height: 1.6rem;
                    border: 0.2rem solid #BBD4FF;
                    background-color: #83ADF8;
                    border-radius: 100%;
                    z-index: 10;
                    margin-top: 1rem;
                    @include mobile{
                        width: 1.4rem;
                        height: 1.4rem;
                        top: 82%;
                        right: 44%;
                        transform: translateX(-50%);
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
                &:last-child::after{
                    display: none;
                }
                &:last-child::before{
                    display: none;
                }
           .safety-health-top{
                background-color: #4B84F0;
                border-radius: 4rem;
                color: #fff;
                max-width: 15rem;
                width: 100%;
                text-align: center;
                font-family: 'Pretendard';
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.8rem;
                height: 4rem;
                padding: 0.6rem 0;
                z-index: 10;
                @include mobile{
                    max-width: 12.7rem;
                    height: 3.2rem;
                    width: 100%;
                    margin-top: -1rem;
                    padding: 0.3rem 0;
                }
           }
           .safety-health-body{
                background-color: #F4F8FF;
                border-radius: 1.6rem;
                height: 13rem;
                width: 100%;
                color: #000;
                text-align: center;
                font-family: 'Brand New Hyosung OTF';
                font-size: max(1.15vw, 2.2rem);
                font-style: normal;
                font-weight: 700;
                line-height: 3.2rem;
                letter-spacing: -0.16rem;
                word-break: keep-all;
                margin-top: -2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 3rem 1.5rem;
                transition: all 0.5s;
                @include mobile{
                    font-size: 2rem;
                    line-height: 3rem;
                    padding-top: 4rem;
                    height: 11rem;
                }
                .text{
                    color: #282828;
                    text-align: center;
                    font-family: 'Pretendard';
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.8rem;
                }
           }
        }
    }
    &.design-2{
        .safety-health-item{
            max-width: 133.6rem;
            width: 100%;
            margin: 1rem auto;
            transition: all 0.5s;
            .safety-health-top{
                display: flex;
                justify-content: space-between;
                text-align: center;
                height: 9rem;
                @include mobile{
                    flex-direction: column;
                    align-items: center;
                }
                .line01{
                    border-radius: 1.6rem;
                    color: #fff;
                    background-color: #1B4B66;
                    max-width: 26.6rem;
                    width: 100%;
                    padding: 3.25rem 5rem;
                    font-family: 'Brand New Hyosung OTF';
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    margin-right: 2rem;
                    @include mobile{
                        background-color: unset;
                        color: #000;
                        text-align: left;
                        padding: 0;
                        max-width: 33.9rem;
                        margin: 0 0 2.4rem 0;
                    }
                }
                .line02{
                    border-radius: 1.6rem;
                    color: #fff;
                    background-color: #1B4B66;
                    max-width: 105rem;
                    width: 100%;
                    padding: 3.25rem 5rem;
                    font-family: 'Brand New Hyosung OTF';
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    @include mobile{
                        max-width: 33.9rem;
                        height: 8rem;
                        width: 100%;
                        font-size: 1.6rem;
                        padding: 3.25rem 5rem;
                        padding: 3rem;
                    }
                }
            }
            .safety-health-middle{
                display: flex;
                justify-content: space-between;
                text-align: center;
                height: 9rem;
                margin-top: 3rem;
                @include mobile{
                    flex-direction: column;
                    align-items: center;
                    height: 31rem;
                }
                .line01{
                    border-radius: 1.6rem;
                    color: #fff;
                    background-color: #FF7C32;
                    max-width: 26.6rem;
                    width: 100%;
                    padding: 1.65vw 1rem;
                    font-family: 'Brand New Hyosung OTF';
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    margin-right: 2rem;
                    word-break: keep-all;
                    @include mobile{
                        background-color: unset;
                        color: #000;
                        text-align: left;
                        padding: 0;
                        margin: 4rem 0 2.4rem;
                        max-width: 33.9rem;
                    }
                }
                .line02{
                    border-radius: 1.6rem;
                    color: #fff;
                    background-color: #FF7C32 ;
                    max-width: 34.3rem;
                    width: 100%;
                    padding: 2rem 5rem;
                    font-family: 'Brand New Hyosung OTF';
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    margin-right: 1rem;
                    @include mobile{
                        margin: 0 0 0.8rem 0;
                        height: 8rem;
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                        padding: 1.5rem;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    .text{
                        font-family: 'Pretendard';
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 2.8rem;
                        @include mobile{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .safety-health-bottom2 {
                display: flex;
                gap: 2rem;
                justify-content: space-between;
                padding-top: 3rem;
                @include mobile{
                    flex-direction: column;
                    align-items: center;
                }
                .safety-health-title {
                    display: block;
                    font-family: 'Hyosung';
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 3.2rem;
                    letter-spacing: -.036rem;
                    color: color(achromatic, 999);
                    @include mobile{
                        color: #000;
                    }
                }
                .safety-health-head-wrap {
                    display: flex;
                    flex-basis: 26.6rem;
                    align-items: center;
                    padding-left: 7.6rem;
                    padding-right: 7.5rem;
                    border-radius: 1.6rem;
                    background-color: color(chromatic, 584);
                    @include mobile{
                        text-align: left;
                        padding: 0;
                        margin: 4rem 0 0rem;
                        max-width: 33.9rem;
                        height: auto;
                        flex-basis: auto;
                        background-color: unset;
                        width: 33.9rem;
                    }
                }
                .safety-health-body-wrap {
                    flex: 1;
                    .safety-health-body-list {
                        display: flex;
                        gap: 1rem;
                        flex-wrap: wrap;
                        @include mobile{
                            flex-direction: column;
                        }
                    }
                    .safety-health-body-item {
                        display: flex;
                        gap: 2rem;
                        width: calc(50% - .5rem);
                        padding: 4rem;
                        border: .1rem solid color(achromatic, 906);
                        border-radius: 1.6rem;
                        @include mobile{
                            width: 33.9rem;
                            padding: 2rem 1rem 2rem 2rem;
                        }
                    }
                    .safety-health-title {
                        min-width: 7rem;
                        color: color(achromatic, 0);
                        @include mobile{
                            min-width: 5.3rem;
                        }
                    }
                    .safety-health-bullet-list {
                    }
                    .safety-health-bullet-item {
                        position: relative;
                        padding-left: 2.1rem;
                        font-size: 1.6rem;
                        font-weight: 500;
                        line-height: 2.8rem;
                        color: color(achromatic, 0);
                        &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 1.2rem;
                            left: .9rem;
                            width: 0.3rem;
                            height: 0.3rem;
                            background-color: color(achromatic, 157);
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }
}


.ethical-management-box{
    max-width: 90.4rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &.design-1{
        .ethical-management-top{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 4.5rem;
            .top-box{
                width: 17.7rem;
                height: 17.7rem;
                background-color: #FF7C32;
                border-radius: 3.2rem;
                transform: rotate(-46.049deg);
                margin: 2.75rem 0 4.5rem;
            }
            .top-title{
                position: absolute;
                top: 8.75rem;
                left: 50%;
                transform: translateX(-50%);
                color: #FFF;
                text-align: center;
                font-family: 'Brand New Hyosung OTF';
                font-size: 2.2rem;
                font-style: normal;
                font-weight: 700;
                line-height: 3.2rem;
            }
        }
        .ethical-management-bottom{
            display: flex;
            justify-content: space-between;
            .box{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 41.4rem;
                width: 100%;
                .blue-text{
                    border-radius: 1.6rem;
                    background: #4B84F0;
                    padding: 2.7rem 0;
                    text-align: center;
                    color: #fff;
                    font-family: 'Brand New Hyosung OTF';
                    font-size: 2.2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 3.2rem;
                    margin-bottom: 2rem;
                }
                .steps{
                    display: flex;
                    justify-content: space-between;
                    height: 5.6rem;
                    li{
                        border-radius: 1.6rem;
                        background: #F5F5F5;
                        padding: 1.2rem 2rem;
                        color: #282828;
                        text-align: center;
                        font-family: 'Pretendard';
                        font-size: 1.8rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 3.2rem;
                        
                    }
                }
            }
        }
    }
}