// Sustainability 나눔경영
.slide-display.design-1 {
    width: 100%;
    // max-width: 215.6rem;
    margin: 0 auto;
    overflow: hidden;
    .slide-list {
        width: 100%;
        max-width: 133.6rem;
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        gap: 10.479%;
        @include mobile {
            flex-direction: column;
        }
    }
    .slide-subject {
        font-family: 'hyosung';
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 4.8rem;
        color: color(achromatic, 0);

        position: absolute;
        top:0;
        left: 0;
        z-index: 5;
        @include mobile {
            font-size: 2.4rem;
            line-height: 3.6rem;
        }
    }
    // top
    .slide-item.case-1 {
        position: relative;
        width: 40.34%;
        min-height: 51.8rem;
        padding-top: 8.08%;
        background-color: color(achromatic, 999);
        z-index: 2;
        @include mobile {
            width: 100%;
            padding-top: 6rem;
            padding-bottom: 4rem;
            min-height: unset;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: -100vw;
            width:100vw;
            height:100%;
            background-color: color(achromatic, 999);
        }
        .swiper-slide {
            width: 100%;
            height: 100%;
            background-color: color(achromatic, 999);
            opacity: 0;
            &.swiper-slide-active {
                opacity: 1;
            }
        }
        .slide-summary {
            font-family: 'hyosung';
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 4.2rem;
            padding-bottom: 3rem;
            color: #1B4B66;
            @include mobile {
                font-size: 1.8rem;
                line-height: 3rem;
                padding-bottom: 1.6rem;
            }
            .year {
                display: block;
                font-weight: 700;
                font-size: 2rem;
                line-height: 3.2rem;
                color: color(chromatic, 564);
                padding-bottom: 0.4rem;
                @include mobile {
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    padding-bottom: 0.02rem;
                }
            }
        }
        .para {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 3.2rem;
            color: color(achromatic, 0);
            @include mobile {
                font-size: 1.4rem;
                line-height: 2.4rem;
            }
        }
    }

    // bottom
    .slide-item.case-2 {
        width: 65.7rem;
        height: 45.2rem;
        @include mobile {
            width: 26.6rem;
            height: 18.3rem;
            margin-bottom: 7.2rem;
        }
        .swiper-slide {
            opacity: 0;
            width: 100%;
            &.swiper-slide-active {
                width: 100%;
                height: auto;
                opacity: 1;
            }
            &.swiper-slide-prev {
                width: 100%;
                opacity: 0;
            }
            &.swiper-slide-next {
                width: 52.3rem;
                height: 36rem;
                position: relative;
                opacity: 1;
                &::after {
                    content: '';
                    // padding-bottom: 54.3%;
                    background: linear-gradient(0deg, rgba(255, 141, 36, 0.1), rgba(255, 141, 36, 0.1));
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: 3rem;
                    @include mobile {
                        border-radius: 4rem;
                    }
                }
                .img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.2;
                }
                @include mobile {
                    width: 22.4rem;
                    height: 15.4rem;
                }
            }
            .img {
                width: 100%;
                height: 100%;
            }
        }
    }

    // pagination
    .slide-paging {
        width: 100%;
        max-width: 17rem;
        position: absolute;
        left: 0;
        bottom: 0;
        @include mobile {
            left: 50%;
            transform: translateX(-50%);
        }
        .swiper-pagination-fraction {
            bottom: 0;
        }
        .swiper-button-next, .swiper-button-prev {
            top: unset;
            bottom: 0;
            align-items: end;
            width: 3.2rem;
            height: 3.2rem;
            z-index: 11;
            &::after {
                content: '';
            }
        }
        .swiper-button-next {
            right: 0;
            left: auto;
        }
        .swiper-button-prev {
            left: 0;
            right: auto;
        }
        .swiper-pagination {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.8rem;
            color: #282828;
            span {
                font-weight: 600;
            }
        }
    }
}