/* Sustainability - local */

.local {
    &.sustainability-common {
        width: 100%;
        height: 150vh;
        padding: 0 1.8rem;

        .local-head {
            position: sticky;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            //height: calc(100vh - 13.6rem);
            padding-top: 8rem;
            padding-bottom: 13.6rem;
            overflow: hidden;

            @include mobile {
                padding-top: 9.4rem;
                padding-bottom: 0;
            }

            &.design-1 {
                width: 100%;
                max-width: 133.6rem;
                margin: 0 auto;
                transition: all .5s ease-out;

                @include mobile {
                    max-width: 100%;
                }

                .local-head-wrap {
                    position: relative;
                    width: 100%;
                    height: 0rem;
                    transition: all .5s ease-out;

                    .local-figure {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 5.6rem;
                        overflow: hidden;

                        @include mobile {
                            border-radius: 3.2rem;
                        }

                        img {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .local-subject {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        transition: transform .5s ease-out;
                        z-index: 2;

                        .local-name {
                            font-weight: 700;
                            font-size: 6rem;
                            line-height: 7.2rem;

                            @include mobile {
                                font-size: 3.2rem;
                                line-height: 4rem;
                            }
                        }

                        &:nth-child(1) {
                            top: 0;
                            bottom: auto;
                            left: 0;
                            right: 0;
                            transform: translateY(-50%);

                            @include mobile {
                                transform: translateY(-100%);
                            }

                            .local-name {
                                font-family: 'Poppins';
                                &.ko {
                                    font-family: 'Hyosung';
                                }
                            }
                        }

                        &:nth-child(2) {
                            bottom: 0;
                            left: 0;
                            right: 0;
                            transform: translateY(50%);

                            @include mobile {
                                transform: translateY(100%);
                            }

                            .local-name {
                                font-family: 'Hyosung';
                            }
                        }

                        .local-name {
                            .wbr {
                                &.hide {
                                    opacity: 0;
                                    @include mobile {
                                       display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &.action-01 {
                    .local-head-wrap {
                        height: 47.222vh;

                        @include mobile {
                            height: 20.935vh;
                        }

                        .local-subject {
                            &:nth-child(1) {
                                padding-bottom: 1rem;
                                transform: translateY(-100%);

                                @include mobile {
                                    padding-bottom: 2rem;
                                }
                            }

                            &:nth-child(2) {
                                padding-top: 1rem;
                                transform: translateY(100%);

                                @include mobile {
                                    padding-top: 2rem;
                                }
                            }
                        }
                    }
                }

                &.action-02 {
                    max-width: 100%;

                    .local-head-wrap {
                        width: 100%;
                        // height: 67.87vh;
                    }
                }
            }
        }
    }

    &.company-common {
        position: relative;
        width: 100%;
        height: 120vh;
        z-index: 1;
        @include mobile {
            height: 100vh;
        }

        .local-head {
            position: sticky;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            &::after {
                content: '';
                width: 100%;
                height: 13rem;
                border-radius: 6.4rem 6.4rem 0 0;
                background-color: #ffffff;
                position: absolute;
                bottom: 0;
                left: 0;
                @include mobile {
                    display: none;
                }
            }

            &.design-1 {
                width: 100%;
                height: 100vh;
                .local-head-wrap {
                    position: relative;
                    width: 100%;
                    overflow: hidden;

                    .local-figure {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100vh;
                        overflow: hidden;

                        img {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .local-subject {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        top: 0;
                        bottom: auto;
                        left: 0;
                        right: 0;
                        margin-top: 23.258vh;
                        z-index: 2;
                        @include mobile {
                            top: 50%;
                            transform: translateY(-50%);
                            margin-top: unset;
                        }

                        .local-name {
                            text-align: center;
                            .subject {
                                font-size: 64px;
                                font-weight: 700;
                                font-family: 'hyosung';
                                line-height: 76px;
                                color: #000;
                                @include mobile {
                                    font-size: 3.2rem;
                                    line-height: 40px;
                                }
                            }
                            .summary {
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 32px;
                                color: #000;
                                margin-top: 4.2rem;
                                @include mobile {
                                    font-size: 1.4rem;
                                    line-height: 2.2rem;
                                    margin-top: 2rem;
                                }
                            }
                        }
                        &.type-1 {
                            .local-name {
                                .subject,
                                .summary {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                    .local-desc {
                        position: absolute;
                        bottom: -2%;
                        left: 50%;
                        // width: 100%;
                        z-index: 1;
                        transition: all .1s ease-out;
                        .local-name {
                            .desc {
                                font-size: 30rem;
                                font-weight: 600;
                                font-family: 'Poppins';
                                line-height: normal;
                                letter-spacing: -0.9rem;
                                color: transparent;
                                white-space: nowrap;
                                
                                background-image: url('../../assets/images/photo/company/introduction/local-pc-type1-bg.jpg');
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center bottom;
                                background-attachment: fixed;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                -webkit-font-smoothing: antialiased;
                                text-rendering: optimizeLegibility;
                            }
                        }
                        &.type-1 {
                            .local-name {
                                .desc {
                                    background-image: url('../../assets/images/photo/company/ir/local-pc-type1-bg.jpg');
                                }
                            }
                        }
                        &.type-2 {
                            .local-name {
                                .desc {
                                    background-image: url('../../assets/images/photo/company/recruitment/local-pc-type1-bg.jpg');
                                }
                            }
                        }
                        @include mobile {
                            display: none;
                        }
                    }
                }
            }
            &.action-01 {

            }
        }
    }
    &.brand-common {
        position: relative;
        height: 100vh;
        overflow: hidden;
        .local-head {
            &.design-1 {
                .local-head-wrap {
                    .local-subject {
                        &.type-1 {
                            position: absolute;
                            top: 22rem;
                            left: 50%;
                            transform: translateX(-50%);
                            .local-name {
                                .subject {
                                    font-size: 12rem;
                                    font-weight: 700;
                                    font-family: Poppins;
                                    line-height: normal;
                                    text-align: center;
                                    color: #000;
                                }
                                .summary {
                                    font-size: 3.2rem;
                                    font-weight: 700;
                                    font-family: 'Hyosung';
                                    line-height: 48px;
                                    text-align: center;
                                    color: #000;
                                }
                            }
                        }
                    }
                    .local-figure {
                        width: 60%;
                        max-width: 115rem;
                        height:54vh;
                        overflow: hidden;
                        border-radius: 4rem 4rem 0 0;

                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        img {
                            display:block;
                            width:100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
        }
    }
}










