<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Board</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section board-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Board system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;div class=&quot;board-list design1 case1 type1&quot;&gt;
	&lt;div class=&quot;board-item&quot;&gt;
		&lt;div class=&quot;board-wrap&quot;&gt;
			&lt;div class=&quot;board-head&quot;&gt;
				&lt;span class=&quot;board-subject&quot;&gt;...&lt;/span&gt;
				&lt;span class=&quot;board-caption&quot;&gt;...&lt;/span&gt;
			&lt;/div&gt;
			&lt;div class=&quot;board-info&quot;&gt;...&lt;/div&gt;
			&lt;div class=&quot;board-util&quot;&gt;...&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section board-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Info board</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design1 case1 type1">
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-subject">연결 감사보고서</p>
												<p class="board-date">2023년</p>
											</div>
											<div class="board-util">
												<div class="btn-display align2">
													<div class="btn-area">
														<a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">다운로드</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-subject">연결 감사보고서</p>
												<p class="board-date">2023년</p>
											</div>
											<div class="board-util">
												<div class="btn-display align2">
													<div class="btn-area">
														<a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">다운로드</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design2 case1 type1">
									<div class="board-item">
										<a href="#" class="board-info">
											<span class="board-name">이전글</span>
											<span class="board-caption">[엔코아] 엔코아, 2024 AI 제품 서비스 개발을 주도할 기술 인재 채용</span>
										</a>
										<a href="#" class="board-info">
											<span class="board-name">다음글</span>
											<span class="board-caption">[SK네트웍스] SK네트웍스, 탄소중립 경영 글로벌 기관 인정!
											</span>
										</a>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design3 case1 type1">
									<div class="board-item">
										<div class="board-wrap">
											<span class="board-info">
												<span class="board-name">SK네트웍스의 최신 소식과 더 많은 이야기를 들으시려면?</span>
											</span>
											<span class="board-util">
												<div class="btn-display design1 case2">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">구독</span></a>
														<a class="btn design1 case1 type1 color2" href="#"><span class="btn-text">ㅅㅋN 방문</span></a>
													</div>
												</div>
											</span>
										</div>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design4 case1 type1 scroll">
									<a href="#" class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<p class="board-caption">경영실적발표</span>
												<p class="board-name">24년 1분기 실적 및 전략 발표회</p>
											</div>
											<div class="board-util">
												<div class="mark-display case3">
													<div class="mark-list">
														<div class="mark design2 case1 al-icon-location" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">해외</span>
															</div>
														</div>
														<div class="mark design2 case1 al-icon-calendar" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">2024.04.01</span>
																<span class="mark-text accent case2 color3">오후 1시</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<p class="board-caption">해외NDR</p>
												<p class="board-name">해외 기업 설명회</p>
											</div>
											<div class="board-util">
												<div class="mark-display case3">
													<div class="mark-list">
														<div class="mark design2 case1 al-icon-location" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">해외</span>
															</div>
														</div>
														<div class="mark design2 case1 al-icon-calendar" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">2024.04.01</span>
																<span class="mark-text accent case2 color3">오후 1시</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<p class="board-caption">경영실적발표</p>
												<p class="board-name">24년 1분기 실적 및 전략 발표회</p>
											</div>
											<div class="board-util">
												<div class="mark-display case3">
													<div class="mark-list">
														<div class="mark design2 case1 al-icon-location" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">해외</span>
															</div>
														</div>
														<div class="mark design2 case1 al-icon-calendar" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">2024.04.01</span>
																<span class="mark-text accent case2 color3">오후 1시</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<p class="board-caption">해외NDR</p>
												<p class="board-name">해외 기업 설명회</p>
											</div>
											<div class="board-util">
												<div class="mark-display case3">
													<div class="mark-list">
														<div class="mark design2 case1 al-icon-location" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">해외</span>
															</div>
														</div>
														<div class="mark design2 case1 al-icon-calendar" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">2024.04.01</span>
																<span class="mark-text accent case2 color3">오후 1시</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design5 case2 type1">
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-name">배당정책</p>
											</div>
											<div class="board-body">
												<p class="para">
													배당 재원을 사업 수익과 투자 수익으로 나누어 투명하게 배당액을 산정하고 정기 배당을 통해 사업 수익의 일정 비율을 상반기에 지급하며, 중간 배당을 도입하여 사업 수익과 투자 수익의 일정 비율을 하반기에 지급하겠습니다.
												</p>
											</div>
										</div>
									</div>
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-name">자사주 운영 방안</p>
											</div>
											<div class="board-body">
												<p class="para">
													자사주는 투자 유치 확보 목적의 일부 자사주를 제외한 전량을 매입 즉시 소각하겠습니다. 
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design6 case1 type1 scroll">
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-rank">A1</p>
											</div>
											<div class="board-info">
												<div class="data-head">
													<p class="data-subject">NICE 신용평가</p>
												</div>
												<div class="data-body">
													<span class="head">평가일</span>
													<span class="body">2023.04.03</span>
												</div>
											</div>
										</div>
									</div>
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-rank">-</p>
											</div>
											<div class="board-info">
												<div class="data-head">
													<p class="data-subject">한국신용평가㈜</p>
												</div>
												<div class="data-body">
													<span class="head">평가일</span>
													<span class="body">2023.04.03</span>
												</div>
											</div>
										</div>
									</div>
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-rank">-</p>
											</div>
											<div class="board-info">
												<div class="data-head">
													<p class="data-subject">한국기업평가㈜</p>
												</div>
												<div class="data-body">
													<span class="head">평가일</span>
													<span class="body">2023.04.03</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						
                        
                        <div class="subsection line">
                            <ul class="board-list design7 case1 type1">
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="Digital Transformation 이미지">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">Digital Transformation</strong>
                                            <p class="para">Digital 기술은 우리 삶을 편리하고 스마트하게 만듭니다. 사회의 의미 있는 변화를 꿈꾸며 Digital 기술에 투자하고 있습니다.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="Web 3 이미지">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">Web 3</strong>
                                            <p class="para">보안, 탈중앙화, 투명성으로 대표되며 향후 다양한 산업에서 적용될 Web3 / 블록체인 영역에 투자하며 미래를 준비하고 있습니다.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="Sustainability 이미지">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">Sustainability</strong>
                                            <p class="para">전 세대를 아우르는 미래 가치를 만들어내기 위해 지속가능한 발전을 추구하고 있습니다.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="subsection">
                            <ul class="board-list design7 case1 type2">
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt=" ">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">FY2023 매출액</strong>
                                            <p class="para">4조 5,000억 원</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt=" ">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">FY2022 단말기 판매대수</strong>
                                            <p class="para">433만 대</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt=" ">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">전국 물류센터</strong>
                                            <p class="para">6개</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section board-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Noti board</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body"></div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section board-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Guide board</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body"></div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body"></div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section board-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Board display</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head"></div>
							<div class="subsection-body">
								<div class="board-display">
									<div class="board-list">
										<div class="board-item"></div>
										<div class="board-item"></div>
										<div class="board-item"></div>
										<div class="board-item"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body"></div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>