<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        AccordionOpen();
    });
</script>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<div class="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-subject">
						<span class="local-name">List</span>
					</h2>
				</div>
				<!-- //local-head -->
				<!-- local-body -->
				<div class="local-body">
					<!-- section -->
					<div class="section list-guide">
						<div class="section-head">
							<h4 class="section-subject"><span class="section-name">list system</span></h4>
							<p class="section-desc">성격에 맞는 클래스를 사용하여 data-list를 작성합니다.</p>
						</div>
						<div class="section-body">
							<div class="subsection">
								<div class="subsection-head">data list</div>
								<div class="subsection-body">
										<!-- highlight-js -->
	<pre class="highlight-js"><code class="html">&lt;div class=&quot;data-display design1 case1 type1&quot;&gt;
		&lt;div class=&quot;data-list&quot;&gt;
			&lt;div class=&quot;data-item&quot;&gt;
				&lt;div class=&quot;data-wrap&quot;&gt;
					&lt;div class=&quot;data-head&quot;&gt; 
						&lt;em class=&quot;data-subject&quot;&gt;&lt;/em&gt;
						&lt;sapn class=&quot;data-summary&quot;&gt;&lt;/sapn&gt;
					&lt;/div&gt;
					&lt;div class=&quot;data-body&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;data-info&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;data-util&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;data-aside&quot;&gt;...&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class=&quot;data-item&quot;&gt;
				&lt;div class=&quot;data-wrap&quot;&gt;
					&lt;div class=&quot;data-head&quot;&gt; 
						&lt;em class=&quot;data-subject&quot;&gt;&lt;/em&gt;
						&lt;sapn class=&quot;data-summary&quot;&gt;&lt;/sapn&gt;
					&lt;/div&gt;
					&lt;div class=&quot;data-body&quot;&gt;...&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;</code></pre>
											<!-- //highlight-js -->
								</div>
							</div>
							<div class="subsection">
								<!-- data-display --> 
								<div class="data-display design1 case1 type1">
									<div class="data-list">
										<div class="data-item">
											<div class="data-wrap">
												<div class="data-head">
													<em class="data-subject">자기주식 매입내역 (주식매수청구권 행사분 제외)</em>
												</div>
												<div class="data-body">
													<p class="para accent case4 color6">2023. 03. 14 ~ 2023. 09. 21</p>
													<div class="bullet-display design1 case1 type1">
														<ul class="data-list">
															<li class="data-item">자기주식 보통주 22,000,000주 (보통주 발행주식수의 8.9%)</li>
															<li class="data-item">자기주식 우선주 10,500주 (우선주 발행주식수의 9.2%) 매입</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //data-display -->
							</div>
							<div class="subsection">
								<!-- data-display --> 
								<div class="data-display design1 case1 type1">
									<div class="data-list">
										<div class="data-item">
											<div class="data-wrap">
												<div class="data-head">
													<em class="data-subject">ICT제품 全 생애 주기에 걸쳐 고객의 Pain Point를 해소하는 ICT 유통 Platform</em>
												</div>
												<div class="data-body">
													<p class="para">SK네트웍스는 국내 1위 Mobile Device 유통 사업자로서 휴대전화 단말기 도매 유통을 중심으로 연간 약 433만 대 규모의 Market을 보유하고 있으며, 그 외 노트북과 태블릿PC, ICT 액세서리 등 제조사 협업을 통해 ICT Device 상품을 폭넓게 유통하고 있습니다.</p>
													<p class="para">또한 기업 IT 불용자산을 포함한 다양한 폐제품 및 사용 후 폐기물을 처리, 재활용하는 자원순환센터를 설립, 운영하면서 자원순환 사업 영역을 넓혀나가고 있습니다.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //data-display -->
							</div>
							<div class="subsection line">
								<!-- data-display -->
								<div class="data-display design2 case1 type1">
									<ul class="data-list">
										<li class="data-item">
											<div class="item-wrap">
												<div class="item-head">
													<p class="item-date">2023년</p>
												</div>
												<div class="item-util">
													<div class="btn-display design1 case3 align1">
														<div class="btn-area">
															<a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">연결 기준</span></a>
															<a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">별도 기준</span></a>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="data-item">
											<div class="item-wrap">
												<div class="item-head">
													<p class="item-date">2022년</p>
												</div>
												<div class="item-util">
													<div class="btn-display design1 case3 align1">
														<div class="btn-area">
															<a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">연결 기준</span></a>
															<a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">별도 기준</span></a>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!-- //data-display -->
							</div>
							<div class="subsection">
								<!-- data-display -->
								<div class="data-display design2 case2 type1">
									<ul class="data-list">
										<li class="data-item">
											<div class="item-wrap">
												<div class="item-head">
													<p class="item-date">2023년</p>
												</div>
												<div class="item-util">
													<div class="btn-display design1 case3 align1">
														<div class="btn-area">
															<a class="btn design3 case2 type3 color5 al-icon-printer pc-only" href="#"><span class="btn-text">인쇄</span></a>
															<a class="btn design3 case2 type3 color5 al-icon-share" href="#"><span class="btn-text">공유</span></a>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!-- //data-display -->
							</div>
							<div class="subsection">
								<!-- data-display -->
								<div class="data-display design2 case3 type1">
									<ul class="data-list">
										<li class="data-item">
											<div class="item-wrap">
												<div class="item-head">
													<p class="item-subject">관련자료 다운로드</p>
												</div>
												<div class="item-util">
													<div class="download-list">
														<a href="#" class="download-item">2023 사업보고서 1.pdf</a>
														<a href="#" class="download-item">2023 사업보고서 2.pdf</a>
														<a href="#" class="download-item">2023 사업보고서 3.pdf</a>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!-- //data-display -->
							</div>
                            <div class="subsection">
								<!-- data-display -->
								<div class="data-display design2 case4 type1">
									<ul class="data-list">
										<li class="data-item">
											<div class="item-wrap">
												<div class="item-head">
													<p class="item-subject">경영실적 발표자료</p>
												</div>
												<div class="item-util">
													<div class="submit-form design1 case1 align1">
														<div class="form-list">
															<div class="form-item">
																<div class="form search design1 case1 type1">
																	<label for="temp-search" class="blind">
																		검색
																	</label>
																	<input id="temp-search" class="input-elem" type="text" placeholder="Default">
																	<div class="input-icon">
																		<button class="btn icon case3 remove">
																			<span class="btn-text blind">삭제</span>
																		</button>
																		<button class="btn icon case3 search">
																			<span class="btn-text blind">검색</span>
																		</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!-- //data-display -->
							</div>
							<div class="subsection">
								<div class="subsection-head">bullet list</div>
								<div class="subsection-body">
									<!-- highlight-js -->
	<pre class="highlight-js"><code class="html">&lt;div class=&quot;bullet-display design1 case1 type1&quot;&gt;
		&lt;ul class=&quot;data-list&quot;&gt;
			&lt;li class=&quot;item&quot;&gt;...&lt;/li&gt;
			&lt;li class=&quot;item&quot;&gt;...&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;</code></pre>
										<!-- //highlight-js -->
								</div>
							</div>
							<div class="subsection">
								<!-- data-display -->
								<div class="bullet-display design1 case1 type1">
									<ul class="data-list">
										<li class="data-item">자기주식 보통주 22,000,000주 (보통주 발행주식수의 8.9%)</li>
										<li class="data-item">자기주식 우선주 10,500주 (우선주 발행주식수의 9.2%) 매입</li>
									</ul>
								</div>
								<!-- //data-display -->
							</div>
							<div class="subsection line">
								<!-- data-display -->
								<div class="subsection-head">special list</div>
								<div class="subsection-body">
                                    <div class="subsection">
                                        <div class="data-display business-overview">
                                            <div class="data-head">
                                                <img src="../../../assets/images/business/thumb-01.png" alt="Global 투자 활동 이미지">
                                            </div>
                                            <div class="data-body">
                                                <div class="overview-head">
                                                    <strong class="overview-name">Investment Thesis</strong>
                                                </div>
                                                <div class="overview-body">
                                                    <p class="des">Global투자를 통해 미래 성장 동력을 발굴하고, 보유중인 사업 모델을 업그레이드하고 있습니다. 이를 통해 투자를 중심으로 지속적으로 기업가치를 높여 나가는 사업형 투자회사로의 전환을 가속화 하고 있습니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<!-- //data-display -->
							</div>
                            <div class="subsection line">
                                <div class="data-display business-network">
                                    <div class="data-head">
                                        <strong class="data-name">Network</strong>
                                    </div>
                                    <div class="data-body">
                                        <div class="network-list">
                                            <div class="network-item back-hicosystem">
                                                <div class="network-head">
                                                    <strong class="network-name">Hicosystem</strong>
                                                    <p class="para">하이코시스템은 SK네트웍스 주도로 Early Stage 투자 관련 전세계 이해관계자들과 함께 구축한 이너서클 네트워크입니다.</p>
                                                </div>
                                                <div class="network-figure">
                                                    <img src="https://unsplash.it/559/507" alt="경영철학에 대한 믿음∙실천 : 구성원 행복, VWBE 문화, SUPEX Company">
                                                </div>
                                                <div class="board-list design8 case1 type1">
                                                    <div class="board-item">
                                                        <div class="board-wrap">
                                                            <div class="board-head">
                                                                <p class="board-name">Startup Founder</p>
                                                            </div>
                                                            <div class="board-body">
                                                                <span class="accent color7">138</span> 명
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="board-item">
                                                        <div class="board-wrap">
                                                            <div class="board-head">
                                                                <p class="board-name">Investor</p>
                                                            </div>
                                                            <div class="board-body">
                                                                <span class="accent color7">119</span> 명
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="board-item">
                                                        <div class="board-wrap">
                                                            <div class="board-head">
                                                                <p class="board-name">Advisor</p>
                                                            </div>
                                                            <div class="board-body">
                                                                <span class="accent color7">39</span> 명
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="subsection line">
								<!-- data-display -->
								<div class="subsection-body">
									<div class="data-display sk-color">
										<ul class="data-list">
											<li class="data-item">
												<div class="item-wrap">
													<div class="item-head" style="background-color: #EA002C;">
														<em class="item-subject">SK Red</em>
													</div>
													<div class="item-body">
														<ul class="color-list">
															<li class="list-item">
																<span class="head">PANTONE</span>
																<span class="body">186C</span>
															</li>
															<li class="list-item">
																<span class="head">CMYK</span>
																<span class="body">0 / 100 / 81 / 4</span>
															</li>
															<li class="list-item">
																<span class="head">RGB</span>
																<span class="body">234 / 0 / 44</span>
															</li>
															<li class="list-item">
																<span class="head">HEX</span>
																<span class="body">#EA002C</span>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="data-item">
												<div class="item-wrap">
													<div class="item-head" style="background-color: #F47725;">
														<em class="item-subject">SK Orange</em>
													</div>
													<div class="item-body">
														<ul class="color-list">
															<li class="list-item">
																<span class="head">PANTONE</span>
																<span class="body">158C</span>
															</li>
															<li class="list-item">
																<span class="head">CMYK</span>
																<span class="body">0 / 66 / 91 / 4</span>
															</li>
															<li class="list-item">
																<span class="head">RGB</span>
																<span class="body">255 / 122 / 0</span>
															</li>
															<li class="list-item">
																<span class="head">HEX</span>
																<span class="body">#F47725</span>
															</li>
														</ul>
													</div>
												</div>
											</li>
											<li class="data-item">
												<div class="item-wrap">
													<div class="item-head" style="background-color: #fff; border-color: #27272A;">
														<em class="item-subject accent color5">SK White</em>
													</div>
													<div class="item-body">
														<ul class="color-list">
															<li class="list-item">
																<span class="head">PANTONE</span>
																<span class="body">White</span>
															</li>
															<li class="list-item">
																<span class="head">CMYK</span>
																<span class="body">0 / 0 / 0 / 0</span>
															</li>
															<li class="list-item">
																<span class="head">RGB</span>
																<span class="body">255 / 255 / 255</span>
															</li>
															<li class="list-item">
																<span class="head">HEX</span>
																<span class="body">#FFFFFF</span>
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<!-- //data-display -->
							</div>
							<div class="subsection line">
								<!-- data-display -->
								<div class="subsection-body">
									<div class="data-display financial-table">
										<div class="data-list">
											<div class="data-item">
												<div class="data-wrap">
													<div class="data-head">
														<div class="data-tr">
															<span class="data-th">구분</span>
															<span class="data-th">2023</span>
															<span class="data-th">2022</span>
														</div>
													</div>
													<div class="data-body">
														<div class="accordion-display design1 case1">
															<div class="accordion-list">
																<div class="accordion-item">
																	<div class="accordion-head">
																		<div class="data-tr">
																			<span class="data-th al">
																				<button type="button" class="btn design3 case4 type1 color8 ar-icon-arrow-down1-line" href="#"><span class="btn-text">자산총계</span></button>
																			</span>
																			<span class="data-th">91,104</span>
																			<span class="data-th">94,993</span>
																		</div>
																	</div>
																	<div class="accordion-body">
																		<div class="data-tr">
																			<span class="data-td">유동자산</span>
																			<span class="data-td">23,715</span>
																			<span class="data-td">27,032</span>
																		</div>
																		<div class="data-tr">
																			<span class="data-td">비유동자산</span>
																			<span class="data-td">67,389</span>
																			<span class="data-td">67,960</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="accordion-display design1 case1">
															<div class="accordion-list">
																<div class="accordion-item">
																	<div class="accordion-head">
																		<div class="data-tr">
																			<span class="data-th al">
																				<button type="button" class="btn design3 case4 type1 color8 ar-icon-arrow-down1-line" href="#"><span class="btn-text">부채총계</span></button>
																			</span>
																			<span class="data-th">69,545</span>
																			<span class="data-th">70,485</span>
																		</div>
																	</div>
																	<div class="accordion-body">
																		<div class="data-tr">
																			<span class="data-td">유동부채</span>
																			<span class="data-td">39,084</span>
																			<span class="data-td">35,678</span>
																		</div>
																		<div class="data-tr">
																			<span class="data-td">비유동부채</span>
																			<span class="data-td">30,461</span>
																			<span class="data-td">34,807</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="data-tr">
															<span class="data-th">자본총계</span>
															<span class="data-th">21,558</span>
															<span class="data-th">24,507</span>
														</div>
														<div class="data-tr">
															<span class="data-th">현금ㆍ단기금융상품</span>
															<span class="data-th">6,889</span>
															<span class="data-th">8,450</span>
														</div>
														<div class="accordion-display design1 case1">
															<div class="accordion-list">
																<div class="accordion-item">
																	<div class="accordion-head">
																		<div class="data-tr">
																			<span class="data-th al">
																				<button type="button" class="btn design3 case4 type1 color8 ar-icon-arrow-down1-line" href="#"><span class="btn-text">차입금</span></button>
																			</span>
																			<span class="data-th">51,625</span>
																			<span class="data-th">70,485</span>
																		</div>
																	</div>
																	<div class="accordion-body">
																		<div class="data-tr">
																			<span class="data-td">단기차입금</span>
																			<span class="data-td">10,411</span>
																			<span class="data-td">9,631</span>
																		</div>
																		<div class="data-tr">
																			<span class="data-td">장기차입금</span>
																			<span class="data-td">34,287</span>
																			<span class="data-td">30,475</span>
																		</div>
																		<div class="data-tr">
																			<span class="data-td">리스부채</span>
																			<span class="data-td">6,927</span>
																			<span class="data-td">10,289</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<p class="comment">* K-IFRS연결대차대조표 기준</p>
									</div>
								</div>
								<!-- //data-display -->
							</div>
							<div class="subsection line">
								<!-- data-display -->
								<div class="subsection-body">
									<div class="data-display table-layout case1">
										<div class="data-list">
											<div class="data-item">
												<div class="data-wrap">
													<div class="data-head">
														<div class="data-tr">
															<span class="data-th">번호</span>
															<span class="data-th">보고서명</span>
															<span class="data-th">제출인</span>
															<span class="data-th">접수일자</span>
														</div>
													</div>
													<div class="data-body">
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">최대주주등소유주식변동신고서</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">주식등의대량보유상황보고서(일반)</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">의결권대리행사권유참고서류</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">주주총회소집공고</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">최대주주등소유주식변동신고서</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">주식등의대량보유상황보고서(일반)</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">의결권대리행사권유참고서류</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">주주총회소집공고</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">최대주주등소유주식변동신고서</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
														<div class="data-tr">
															<span class="data-td num">10000</span>
															<span class="data-td title">주식등의대량보유상황보고서(일반)</span>
															<span class="data-td name">SK네트웍스</span>
															<span class="data-td date">2024.03.13</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<p class="comment">* 정보제공 : 금융감독원 DART</p>
									</div>
								</div>
								<!-- //data-display -->
							</div>
						</div>
					</div>
					<!-- //section -->
				</div>
				<!-- //local-body -->
			</div>
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>