<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Post</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">post system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-info">
									<!-- highlight-js -->
									<pre class="highlight-js"><code class="html">&lt;div class=&quot;post-list design1 case1&quot;&gt;
&#x9;&lt;div class=&quot;post-item&quot;&gt;
&#x9;&#x9;&lt;div class=&quot;post-wrap&quot;&gt;
&#x9;&#x9;&#x9;&lt;div class=&quot;post-figure&quot;&gt;
&#x9;&#x9;&#x9;&#x9;&lt;img src=&quot;&quot; alt=&quot;&quot;&gt;
&#x9;&#x9;&#x9;&lt;/div&gt;
&#x9;&#x9;&#x9;&lt;div class=&quot;post-info&quot;&gt;
&#x9;&#x9;&#x9;&#x9;&lt;div class=&quot;post-head&quot;&gt;
&#x9;&#x9;&#x9;&#x9;&#x9;&lt;div class=&quot;post-caption&quot;&gt;&lt;/div&gt;
&#x9;&#x9;&#x9;&#x9;&#x9;&lt;div class=&quot;post-subject&quot;&gt;&lt;/div&gt;
&#x9;&#x9;&#x9;&#x9;&#x9;&lt;div class=&quot;post-summary&quot;&gt;&lt;/div&gt;
&#x9;&#x9;&#x9;&#x9;&lt;/div&gt;
&#x9;&#x9;&#x9;&#x9;&lt;div class=&quot;post-body&quot;&gt;
&#x9;&#x9;&#x9;&#x9;&#x9;&lt;p class=&quot;data-list data&quot;&gt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&lt;span class=&quot;data-item&quot;&gt;&lt;/span&gt;
&#x9;&#x9;&#x9;&#x9;&#x9;&lt;/p&gt;
&#x9;&#x9;&#x9;&#x9;&lt;/div&gt;
&#x9;&#x9;&#x9;&lt;/div&gt;
&#x9;&#x9;&lt;/div&gt;
&#x9;&lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">thumbnail</span></h4>
					</div>
					<div class="section-body">
						<!--  IR 뉴스 -->
						<div class="subsection">
							<div class="subsection-info">
								<!-- post -->
								<div class="post-list design1 case1 type1">
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../../assets/images/ir/thumb-01.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-info">
												<div class="post-head">
													<p class="post-caption">SK네트웍스</p>
													<p class="post-subject">이호정 SK네트웍스 대표이사, 구성원들과 묘목 식재 활동</p>
												</div>
												<div class="post-body">
													<p class="post-date" title="등록일">2024.03.19</p>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../../assets/images/ir/thumb-02.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-info">
												<div class="post-head">
													<p class="post-caption">SK네트웍스</p>
													<p class="post-subject">SK렌터카, 창립 36주년 맞아 전사 봉사활동 실시</p>
												</div>
												<div class="post-body">
													<p class="post-date" title="등록일">2024.03.19</p>
												</div>
											</div>
										</div>
									</a>
										<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../../assets/images/ir/thumb-03.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-info">
												<div class="post-head">
													<p class="post-caption">SK네트웍스</p>
													<p class="post-subject">SK렌터카, ‘제주 전기차 차박’ 글램핑 수준 리뉴얼 오픈</p>
												</div>
												<div class="post-body">
													<p class="post-date" title="등록일">2024.03.19</p>
												</div>
											</div>
										</div>
									</a>
								</div>
								<!-- //post -->
							</div>
						</div>
						<!--  PR 뉴스룸 : 소셜미디어 -->
						<div class="subsection line">
							<div class="subsection-info">
								<!-- post -->
								<div class="post-list design1 case1 type2">
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../../assets/images/ir/thumb-04.jpg" alt="소셜미디어 썸네일 이미지">
												<span class="figure-name">비즈N</span>
											</div>
											<div class="post-info">
												<div class="post-head">
													<p class="post-subject">이제는 개인 비서 시대?! 온디바이스 Ai가 만들어갈 미래 알아보기!</p>
												</div>
												<div class="post-body">
													<p class="tag-list">
														<span class="tag">#SK네트웍스</span>
														<span class="tag">#ㅅㅋN</span>
														<span class="tag">#생성형AI</span>
														<span class="tag">#온디바이스AI</span>
													</p>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../../assets/images/ir/thumb-05.jpg" alt="소셜미디어 썸네일 이미지">
												<span class="figure-name">비즈N</span>
											</div>
											<div class="post-info">
												<div class="post-head">
													<p class="post-subject">SK네트웍스, 탄소중립 경영 글로벌 기관 인정!</p>
												</div>
												<div class="post-body">
													<p class="tag-list">
														<span class="tag">#SK네트웍스</span>
														<span class="tag">#ESG</span>
														<span class="tag">#탄소</span>
														<span class="tag">#글로벌경영</span>
													</p>
												</div>
											</div>
										</div>
									</a>
										<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../../assets/images/ir/thumb-06.jpg" alt="소셜미디어 썸네일 이미지">
												<span class="figure-name">비즈N</span>
											</div>
											<div class="post-info">
												<div class="post-head">
													<p class="post-subject">이제는 개인 비서 시대?! 온디바이스 Ai가 만들어갈 미래 알아보기!</p>
												</div>
												<div class="post-body">
													<p class="tag-list">
														<span class="tag">#SK네트웍스</span>
														<span class="tag">#ㅅㅋN</span>
														<span class="tag">#기업소식</span>
														<span class="tag">#이슈콘텐츠</span>
													</p>
												</div>
											</div>
										</div>
									</a>
								</div>
								<!-- //post -->
							</div>
						</div>
						<!--  PR 뉴스룸 : 보도자료 -->
						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list design1 case2 type1">
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../../assets/images/ir/thumb-01.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-info">
												<div class="post-head">
													<p class="post-caption">SK네트웍스</p>
													<p class="post-subject">이호정 SK네트웍스 대표이사, 구성원들과 묘목 식재 활동</p>
													<p class="post-summary">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제
													</p>
												</div>
												<div class="post-body">
													<p class="post-date" title="등록일">2024.03.19</p>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../../assets/images/ir/thumb-02.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-info">
												<div class="post-head">
													<p class="post-caption">SK네트웍스</p>
													<p class="post-subject">SK렌터카, 창립 36주년 맞아 전사 봉사활동 실시</p>
													<p class="post-summary">SK렌터카(대표이사 : 황일문)가 세계 3대 디자인 공모전 중 SK렌터카(대표이사 : 황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024’에서 ‘플랫폼·UI(사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다. ‘IF 디자인 어워드’는 독일 ‘인터내셔널 포럼 디자인’이 주관하는 디자인 공모전으로, 매년 50…
													</p>
												</div>
												<div class="post-body">
													<p class="post-date" title="등록일">2024.03.19</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">pagination</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-info">
									<!-- highlight-js -->
									<pre class="highlight-js"><code class="html">&lt;div class=&quot;pagination design1 case1&quot;&gt;
&#x9;&lt;span class=&quot;page-util&quot;&gt;
&#x9;&#x9;&lt;span class=&quot;util-item&quot;&gt;
&#x9;&#x9;&#x9;&lt;a class=&quot;btn prev disabled&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;&#xC774;&#xC804;&lt;/span&gt;&lt;/a&gt;
&#x9;&#x9;&lt;/span&gt;
&#x9;&lt;/span&gt;
&#x9;&lt;span class=&quot;page-list&quot;&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;1&lt;/a&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;2&lt;/a&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;3&lt;/a&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;4&lt;/a&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;5&lt;/a&gt;
&#x9;&lt;/span&gt;
&#x9;&lt;span class=&quot;page-util&quot;&gt;
&#x9;&#x9;&lt;span class=&quot;util-item&quot;&gt;
&#x9;&#x9;&#x9;&lt;a class=&quot;btn next&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;&#xB2E4;&#xC74C;&lt;/span&gt;&lt;/a&gt;
&#x9;&#x9;&lt;/span&gt;
&#x9;&lt;/span&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-body">
								<div class="pagination design1 case1">
									<span class="page-util">
										<span class="util-item disabled">
											<a class="btn icon case1 arrow-left2-bg" href="#"><span class="btn-text blind">이전</span></a>
										</span>
									</span>
									<span class="page-list">
										<a class="page-item current" href="#">1</a>
										<a class="page-item" href="#">2</a>
										<a class="page-item" href="#">3</a>
										<a class="page-item" href="#">4</a>
										<a class="page-item" href="#">5</a>
									</span>
									<span class="page-util">
										<span class="util-item">
											<a class="btn icon case1 arrow-right2-bg" href="#"><span class="btn-text blind">다음</span></a>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>