<!DOCTYPE html>
<html lang="ko">
<head>
   <%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="guide-list">
      <%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body pub-list" id="local">
			<!-- local-head -->
			<div class="local-head">
				<div class="local-subject blind"><h2 class="local-name" id="localName">preview</h2></div>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head"></div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
				</div>
				<!-- //content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
      <%-include('../_templates/_guide.footer.ejs') %>
	</div>
	<!-- //page -->
</div>
<script stype="text/javascript">
	var page = {
      "layout": [
         {"id": "page.default", "status": "완료", "name": "default"},
		 {"id": "layout.front", "status": "완료", "name": "goods-display (+ pagination)"},
         {"id": "layer.popup", "status": "완료", "name": "공통 팝업"},

		 {"id": "page.default.en", "status": "영문완료", "name": "default"},
		 {"id": "layout.front.en", "status": "영문완료", "name": "goods-display (+ pagination)"},
         {"id": "layer.popup.en", "status": "영문완료", "name": "공통 팝업"},
      ],
	  "main": [
         {"id": "MAIN.00.00", "status": "미정", "name": "메인"},
         {"id": "EN.MAIN.00.00", "status": "미정", "name": "메인"},
      ],
      "etc": [
	     {"id": "SEAR.01.00", "status": "완료", "name": "통합검색"},
         {"id": "SEAR.01.01", "status": "완료", "name": "검색 상세페이지"},
         {"id": "SEAR.01.01.01", "status": "완료", "name": "검색 상세페이지 > 더보기"},
         {"id": "SEAR.01.01.02", "status": "완료", "name": "검색 상세페이지 > 결과없음"},
         {"id": "FOOT.02.00", "status": "완료", "name": "저작권 보호 정책 상세페이지"},
		 {"id": "FOOT.03.00", "status": "완료", "name": "사이트맵"},
         {"id": "CM.01.00", "status": "완료", "name": "페이지 없음"},

		 {"id": "EN.SEAR.01.00", "status": "영문완료", "name": "통합검색"},
         {"id": "EN.SEAR.01.01", "status": "영문완료", "name": "검색 상세페이지"},
         {"id": "EN.SEAR.01.01.01", "status": "영문완료", "name": "검색 상세페이지 > 더보기"},
         {"id": "EN.SEAR.01.01.02", "status": "영문완료", "name": "검색 상세페이지 > 결과없음"},
         {"id": "EN.FOOT.02.00", "status": "영문완료", "name": "저작권 보호 정책 상세페이지"},
		 {"id": "EN.FOOT.03.00", "status": "영문완료", "name": "사이트맵"},
         {"id": "EN.CM.01.00", "status": "영문완료", "name": "페이지 없음"},
      ],
      "products": [
         {"id": "PROD.01.00", "status": "완료", "name": "위성영상 전시"},
         {"id": "PROD.01.00.01", "status": "완료", "name": "위성영상 전시 > 2분할"},
        //  {"id": "PROD.01.00.02", "status": "미정", "name": "위성영상 전시 > 속성검색_1"},
        //  {"id": "PROD.01.00.03", "status": "미정", "name": "위성영상 전시 > 속성검색_2"},
         {"id": "PROD.01.01", "status": "완료", "name": "알고리즘 문서"},

		 {"id": "EN.PROD.01.00", "status": "미정", "name": "위성영상 전시"},
         {"id": "EN.PROD.01.00.01", "status": "미정", "name": "위성영상 전시 > 2분할"},
         {"id": "EN.PROD.01.01", "status": "영문완료", "name": "알고리즘 문서"},
      ],
      "data": [
         {"id": "DATA.01.00", "status": "완료", "name": "자료서비스 > 목록"},
         {"id": "DATA.01.01", "status": "완료", "name": "자료서비스 > 산출물 상세페이지"},
         {"id": "DATA.01.02", "status": "완료", "name": "자료서비스 > 영상뷰어"},
         {"id": "DATA.01.03", "status": "완료", "name": "자료서비스 > 자료신청 현황 페이지"},
         {"id": "DATA.02.00", "status": "완료", "name": "OPEN-API > OPEN-API 키 발급"},
         {"id": "DATA.02.01", "status": "완료", "name": "OPEN-API > OPEN-API URL 생성"},
         {"id": "DATA.02.02", "status": "완료", "name": "OPEN-API > OPEN-API 란?"},
         {"id": "CART.01.00", "status": "완료", "name": "장바구니 상세페이지"},

		 {"id": "EN.DATA.01.00", "status": "영문완료", "name": "자료서비스 > 목록"},
         {"id": "EN.DATA.01.01", "status": "영문완료", "name": "자료서비스 > 산출물 상세페이지"},
         {"id": "EN.DATA.01.02", "status": "영문완료", "name": "자료서비스 > 영상뷰어"},
         {"id": "EN.DATA.01.03", "status": "영문완료", "name": "자료서비스 > 자료신청 현황 페이지"},
         {"id": "EN.DATA.02.00", "status": "미정", "name": "OPEN-API > OPEN-API 키 발급"},
         {"id": "EN.DATA.02.01", "status": "미정", "name": "OPEN-API > OPEN-API URL 생성"},
         {"id": "EN.DATA.02.02", "status": "미정", "name": "OPEN-API > OPEN-API 란?"},
         {"id": "EN.CART.01.00", "status": "영문완료", "name": "장바구니 상세페이지"},
      ],
      "satellite": [
         {"id": "SATE.01.00", "status": "완료", "name": "위성 소개"},
         {"id": "SATE.02.00", "status": "완료", "name": "환경탑재체"},
         {"id": "SATE.03.00", "status": "완료", "name": "산출물 > 개요"},
         {"id": "SATE.03.01", "status": "완료", "name": "산출물 > 에어로졸"},
         {"id": "SATE.03.02", "status": "완료", "name": "산출물 > 에어로졸 유효 고도"},
         {"id": "SATE.03.03", "status": "완료", "name": "산출물 > 구름정보"},
         {"id": "SATE.03.04", "status": "완료", "name": "산출물 > 지표면 반사도"},
         {"id": "SATE.03.05", "status": "완료", "name": "산출물 > 오존전량"},
         {"id": "SATE.03.06", "status": "완료", "name": "산출물 > 오존프로파일"},
         {"id": "SATE.03.07", "status": "완료", "name": "산출물 > 포름알데하이드"},
         {"id": "SATE.03.08", "status": "완료", "name": "산출물 > 글리옥살"},
         {"id": "SATE.03.09", "status": "완료", "name": "산출물 > 이산화질소 농도"},
         {"id": "SATE.03.10", "status": "완료", "name": "산출물 > 이산화황"},
         {"id": "SATE.03.11", "status": "완료", "name": "산출물 > 자외선지수"},
         {"id": "SATE.03.12", "status": "완료", "name": "산출물 > 에어로졸 이동량(L4)"},
         {"id": "SATE.04.00", "status": "완료", "name": "운영정보"},
         {"id": "SATE.05.00", "status": "완료", "name": "프로그램 > 소개"},
         {"id": "SATE.05.01", "status": "완료", "name": "프로그램 > 가이드"},

		 {"id": "EN.SATE.01.00", "status": "영문완료", "name": "위성 소개"},
         {"id": "EN.SATE.02.00", "status": "영문완료", "name": "환경탑재체"},
         {"id": "EN.SATE.03.00", "status": "영문완료", "name": "산출물 > 개요"},
         {"id": "EN.SATE.03.01", "status": "영문완료", "name": "산출물 > 에어로졸"},
         {"id": "EN.SATE.03.02", "status": "영문완료", "name": "산출물 > 에어로졸 유효 고도"},
         {"id": "EN.SATE.03.03", "status": "영문완료", "name": "산출물 > 구름정보"},
         {"id": "EN.SATE.03.04", "status": "영문완료", "name": "산출물 > 지표면 반사도"},
         {"id": "EN.SATE.03.05", "status": "영문완료", "name": "산출물 > 오존전량"},
         {"id": "EN.SATE.03.06", "status": "영문완료", "name": "산출물 > 오존프로파일"},
         {"id": "EN.SATE.03.07", "status": "영문완료", "name": "산출물 > 포름알데하이드"},
         {"id": "EN.SATE.03.08", "status": "영문완료", "name": "산출물 > 글리옥살"},
         {"id": "EN.SATE.03.09", "status": "영문완료", "name": "산출물 > 이산화질소 농도"},
         {"id": "EN.SATE.03.10", "status": "영문완료", "name": "산출물 > 이산화황"},
         {"id": "EN.SATE.03.11", "status": "영문완료", "name": "산출물 > 자외선지수"},
         {"id": "EN.SATE.03.12", "status": "영문완료", "name": "산출물 > 에어로졸 이동량(L4)"},
         {"id": "EN.SATE.04.00", "status": "영문완료", "name": "운영정보"},
         {"id": "EN.SATE.05.00", "status": "영문완료", "name": "프로그램 > 소개"},
         {"id": "EN.SATE.05.01", "status": "영문완료", "name": "프로그램 > 가이드"},
      ],
      "info": [
         {"id": "INFO.05.00", "status": "완료", "name": "공지사항 > 목록"},
         {"id": "INFO.05.01", "status": "완료", "name": "공지사항 > 상세"},
         {"id": "INFO.06.00", "status": "완료", "name": "홍보마당 > 목록"},
         {"id": "INFO.06.01", "status": "완료", "name": "홍보마당 > 상세"},
         {"id": "INFO.07.00", "status": "완료", "name": "간행물 > 목록"},
         {"id": "INFO.07.01", "status": "완료", "name": "간행물 > 상세"},
         {"id": "INFO.08.00", "status": "완료", "name": "설문조사 > 목록"},
         {"id": "INFO.08.01", "status": "완료", "name": "설문조사 > 참여"},
         {"id": "INFO.08.02.01", "status": "완료", "name": "설문조사 > 상세"},
         {"id": "INFO.08.02.02", "status": "완료", "name": "설문조사 > 응답제출"},
         {"id": "INFO.08.02", "status": "완료", "name": "설문조사 > 제출완료"},
         {"id": "INFO.09.00", "status": "완료", "name": "Q&A"},

		 {"id": "EN.INFO.05.00", "status": "영문완료", "name": "공지사항 > 목록"},
         {"id": "EN.INFO.05.01", "status": "영문완료", "name": "공지사항 > 상세"},
         {"id": "EN.INFO.06.00", "status": "영문완료", "name": "홍보마당 > 목록"},
         {"id": "EN.INFO.06.01", "status": "영문완료", "name": "홍보마당 > 상세"},
         {"id": "EN.INFO.07.00", "status": "영문완료", "name": "간행물 > 목록"},
         {"id": "EN.INFO.07.01", "status": "영문완료", "name": "간행물 > 상세"},
         {"id": "EN.INFO.08.00", "status": "영문완료", "name": "설문조사 > 목록"},
         {"id": "EN.INFO.08.01", "status": "영문완료", "name": "설문조사 > 참여"},
         {"id": "EN.INFO.08.02.01", "status": "영문완료", "name": "설문조사 > 상세"},
         {"id": "EN.INFO.08.02.02", "status": "영문완료", "name": "설문조사 > 응답제출"},
         {"id": "EN.INFO.08.02", "status": "영문완료", "name": "설문조사 > 제출완료"},
         {"id": "EN.INFO.09.00", "status": "영문완료", "name": "Q&A"},
      ],
      "introduce": [
         {"id": "INTR.10.00", "status": "완료", "name": "인사말"},
         {"id": "INTR.11.00", "status": "완료", "name": "연혁"},
         {"id": "INTR.12.00", "status": "완료", "name": "비전/임무"},
         {"id": "INTR.13.00", "status": "완료", "name": "주요업무"},
         {"id": "INTR.14.00", "status": "완료", "name": "조직 구성도"},
         {"id": "INTR.15.00", "status": "완료", "name": "오시는 길"},
         {"id": "INTR.16.00", "status": "완료", "name": "상징 (MI)"},

		 {"id": "EN.INTR.10.00", "status": "영문완료", "name": "인사말"},
         {"id": "EN.INTR.11.00", "status": "영문완료", "name": "연혁"},
         {"id": "EN.INTR.12.00", "status": "영문완료", "name": "비전/임무"},
         {"id": "EN.INTR.13.00", "status": "영문완료", "name": "주요업무"},
         {"id": "EN.INTR.14.00", "status": "영문완료", "name": "조직 구성도"},
         {"id": "EN.INTR.15.00", "status": "미정", "name": "오시는 길"},
         {"id": "EN.INTR.16.00", "status": "미정", "name": "상징 (MI)"},
      ],
      
   };


	document.addEventListener('DOMContentLoaded', function() {
		var listup = function(selector) {
			var directory = './../../front/';
			var dataContainer = document.querySelector(selector);

			Object.keys(page).forEach(function(dir) {
				var section = document.createElement('div');
				var sectionHead = document.createElement('div');
				var sectionTitle = document.createElement('h4');
				var sectionName = document.createElement('span');
				var sectionBody = document.createElement('div');
				var dataDisplay = document.createElement('div');
				var dataList = document.createElement('ul');

				section.className = 'section';
				sectionHead.className = 'section-head';
				sectionTitle.className = 'section-subject';
				sectionName.className = 'section-name';
				sectionBody.className = 'section-body';

				section.id = dir;
				sectionName.textContent = dir;
				sectionTitle.appendChild(sectionName);
				sectionHead.appendChild(sectionTitle);

				Array.prototype.forEach.call(page[dir], function(data) {
					var dataItem = document.createElement('li');
					var dataArea = document.createElement('a');
					var dataHead = document.createElement('span');
					var dataName = document.createElement('span');
					var dataBody = document.createElement('span');

					dataDisplay.className = 'data-display style-bui type-a';
					dataList.classList.add('data-list');

					dataItem.title = data.status;
					dataItem.classList.add('data-item');
					
					dataHead.classList.add('data-head');
					dataName.textContent = data.name;
					dataName.classList.add('data-name');
					
					dataArea.classList.add('data-area');
					dataArea.setAttribute('target', '_blank');
					dataArea.setAttribute('href', directory + section.id + '/' + data.id + '.html');

					// if (dataItem.title == "미정") {
					// 	dataArea.setAttribute('onclick', 'return false');
					// }
					
					dataBody.classList.add('data-body');
					dataBody.textContent = data.id + '.html';
					
					dataHead.appendChild(dataName);
					dataArea.appendChild(dataHead);
					dataArea.appendChild(dataBody);
					dataItem.appendChild(dataArea);
					dataList.appendChild(dataItem);
				});
				
				dataDisplay.appendChild(dataList);
				sectionBody.appendChild(dataDisplay);

				section.appendChild(sectionHead);
				section.appendChild(sectionBody);
				dataContainer.appendChild(section);

				// 페이지 전체 열기
				var openPage = document.createElement('button');
				openPage.textContent = '모두열기';
				sectionHead.appendChild(openPage);
				openPage.addEventListener('click', function() {
					var container = document.getElementById(section.id);
					Array.prototype.forEach.call(container.querySelectorAll('a'), function(page) {
						page.click();
					});
				});
			});
		}

		listup('.content-body');
	});
</script>
</body>
</html>