<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates/_local-info.ejs', {
                    caseType: 'design1',
                    depth1: 'IR',
                    depth2: '주식정보',
                    depth3: '신용등급',
                }) %>
                <div class="local-head design3">
                    <div class="local-subject">
                        <h2 class="local-name">신용등급</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">주가정보 페이지</div>
                    <div class="content-body ir">
                        <div class="section credit-rating">
                            <div class="section-head">
                                <div class="section-subject">
                                    <h4 class="section-name accent color4">년도를 선택해주세요.</h4>
                                    <span class="section-summary">
                                        <label for="year-select"></label>
                                        <select name="years" id="year-select" style="background: #fff;width: 100%;border-radius: 8px;padding: 15px;font-size: 1.6rem;font-weight: 500;color: #71717a;">
                                            <option value="1">2022년</option>
                                            <option value="2">2021년</option>
                                            <option value="3">2020년</option>
                                            <option value="4">2019년</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="section-body">
                            </div>
                        </div>

                        <!-- 2022 -->
                        <div class="section credit-area design2 type1 area-1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">회사채</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design6 case1 type1 scroll">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">NICE 신용평가</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2022.04.01</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="comment">* 신용평가등급의 범위 : AAA ~ D</p>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국신용평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2022.04.01</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국기업평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2022.04.04</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">기업어음</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design6 case1 type1 scroll">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">NICE 신용평가</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2022.04.01</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="section-util"></div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국신용평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2022.04.01</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국기업평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2022.04.04</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2021 -->
                        <div class="section credit-area design2 type1 area-2 hidden">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">회사채</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design3 case1 type1 scroll">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">NICE 신용평가</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2021.04.06</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="comment">* 신용평가등급의 범위 : AAA ~ D</p>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국신용평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2021.04.05</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국기업평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2021.04.02</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">기업어음</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design3 case1 type1 scroll">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">NICE 신용평가</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2021.04.06</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국신용평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2021.04.05</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국기업평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2021.04.02</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2020 -->
                        <div class="section credit-area design2 type1 area-3 hidden">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">회사채</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design3 case1 type1 scroll">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">NICE 신용평가</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2020.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="comment">* 신용평가등급의 범위 : AAA ~ D</p>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국신용평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2020.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국기업평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2020.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">기업어음</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design3 case1 type1 scroll">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">NICE 신용평가</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2020.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국신용평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2020.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국기업평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2020.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2019 -->
                        <div class="section credit-area design2 type1 area-4 hidden">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">회사채</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design3 case1 type1 scroll">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">NICE 신용평가</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2019.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="comment">* 신용평가등급의 범위 : AAA ~ D</p>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국신용평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2019.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">AA-</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국기업평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2019.04.17</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">기업어음</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design3 case1 type1 scroll">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">NICE 신용평가</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2019.04.05</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국신용평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2019.04.04</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-rank">A1</p>
                                                </div>
                                                <div class="board-info">
                                                    <div class="data-head">
                                                        <p class="data-subject">한국기업평가㈜</p>
                                                    </div>
                                                    <div class="data-body">
                                                        <span class="head">평가일</span>
                                                        <span class="body">2019.04.04</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>

<script>
    document.getElementById('year-select').addEventListener('change', function() {
        var selectedValue = this.value;

        document.querySelectorAll('.credit-area').forEach(function(section) {
            section.classList.add('hidden');
        });

        var sectionToShow = document.querySelector('.credit-area.area-' + selectedValue);
        if (sectionToShow) {
            sectionToShow.classList.remove('hidden');
        }
    });
</script>

</body>

</html>