<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates/_local-info.ejs', {
                    depth1: 'IR',
                    depth2: '주식정보',
                    depth3: '주가정보',
                }) %>
                <div class="local-head design3">
                    <div class="local-subject">
                        <h2 class="local-name">주가정보</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">주가정보 페이지</div>
                    <div class="content-info">
                    </div>
                    <div class="content-body">
                        <div class="section">
                            <div class="section-head">
                                <div class="section-subject">
                                    <h4 class="section-name"></h4>
                                    <span class="section-summary"></span>
                                </div>
                            </div>
                            <div class="section-body">
    
                            </div>
                        </div>
                        <div class="section">
                            <div class="section-head">
                                <div class="section-subject">
                                    <h4 class="section-name"></h4>
                                </div>
                            </div>
                            <div class="section-body">
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>