<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'main',
	pageJavascript: ''
}) %>
</head>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		pageRisize();
		pageScroll();
	});
	function pageRisize() {
		window.addEventListener('resize',() => {

		});
	}
	function pageScroll() {
		window.addEventListener('scroll',() => {

		});
	}
</script>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<%-include('../_templates/_header.ejs', {
			current: '0',
		}) %>
		<!-- page-body -->
		<div class="page-body main">
			
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_footer.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>