<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/guide/GUT00100HEAD.ejs') %>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                tncAccordion();
            });
        
            function scrollEvent(){
                window.addEventListener('scroll', () => {

                });
            }

            function resizeEvent(){
                window.addEventListener('resize', () => {

                });
            }
        </script>
    </head>
    <body>
        <div id="wrap" class="wrap guide">
            <%-include('../include/guide/GUT00101HEADER.ejs') %>
            <main class="container guide HTNCWXD10D00W09 sub">
                <section class="container-wrap">
                    <div class="container-inner">
                        <em class="guide-sort-bar">
                            <span class="text-wrap">
                                <span class="text">&lt; 아코디언 마크업 &gt;</span>
                            </span>
                            <span class="bar"></span>
                        </em>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">&lt; 아코디언 타입 01 (기업지배구조, 공시, 정보보안, 윤리경영, 리스크관리) &gt;</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="accordion-display design-1 case-1">
                                                <ul class="accordion-list">
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button case-1">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">2018년 이사회 운영현황<span class="small">사업연속성</span></em>
                                                                        <i class="accordion-icon">
                                                                            <span class="blind">button</span>
                                                                        </i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nisi illo mollitia fugit quidem excepturi, molestiae ea velit, possimus iste corrupti eaque blanditiis porro cupiditate voluptate eos quaerat veritatis eligendi ab nihil culpa. Impedit assumenda necessitatibus ducimus nesciunt fuga iusto minus, nisi modi nostrum molestias perferendis dolor porro tempora temporibus.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button case-1">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">2018년 이사회 운영현황<span class="small">사업연속성</span></em>
                                                                        <i class="accordion-icon">
                                                                            <span class="blind">button</span>
                                                                        </i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nisi illo mollitia fugit quidem excepturi, molestiae ea velit, possimus iste corrupti eaque blanditiis porro cupiditate voluptate eos quaerat veritatis eligendi ab nihil culpa. Impedit assumenda necessitatibus ducimus nesciunt fuga iusto minus, nisi modi nostrum molestias perferendis dolor porro tempora temporibus.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button case-1">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">2018년 이사회 운영현황<span class="small">사업연속성</span></em>
                                                                        <i class="accordion-icon">
                                                                            <span class="blind">button</span>
                                                                        </i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nisi illo mollitia fugit quidem excepturi, molestiae ea velit, possimus iste corrupti eaque blanditiis porro cupiditate voluptate eos quaerat veritatis eligendi ab nihil culpa. Impedit assumenda necessitatibus ducimus nesciunt fuga iusto minus, nisi modi nostrum molestias perferendis dolor porro tempora temporibus.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- // 컨텐츠 복사 영역 -->
                                            <div class="guide-br"></div>
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="accordion-display design-1 case-2">
                                                <ul class="accordion-list">
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button case-1">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">2018년 이사회 운영현황<span class="small">사업연속성</span></em>
                                                                        <i class="accordion-icon">
                                                                            <span class="blind">button</span>
                                                                        </i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body design-1">
                                                                <div class="accordion-content">
                                                                    <div class="data-display design-1 case-3 color-2">
                                                                        <ul class="data-list">
                                                                            <li class="data-item">
                                                                                <div class="data-wrap">
                                                                                    <div class="data-body">
                                                                                        <p class="data-para">
                                                                                            우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.우리는 법과 윤리를 준수하고, 고객과 임직원을 존중하며, 기업 본연의 역할과 사회적 책임을 다하기 위해 효성그룹의 행동기준이 되는 윤리강령을 제정하고 적극 실천할 것을 다짐합니다. 본 윤리강령은 효성그룹의 모든 임직원이 지켜야 할 윤리적 가치 판단 및 행동의 기준으로 작용하며, 투명하고 지속적인 윤리경영을 위한 기업의 의사결정과 행동 판단 기준이 됩니다.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button case-1">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">2018년 이사회 운영현황<span class="small">사업연속성</span></em>
                                                                        <i class="accordion-icon">
                                                                            <span class="blind">button</span>
                                                                        </i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nisi illo mollitia fugit quidem excepturi, molestiae ea velit, possimus iste corrupti eaque blanditiis porro cupiditate voluptate eos quaerat veritatis eligendi ab nihil culpa. Impedit assumenda necessitatibus ducimus nesciunt fuga iusto minus, nisi modi nostrum molestias perferendis dolor porro tempora temporibus.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button case-1">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">2018년 이사회 운영현황<span class="small">사업연속성</span></em>
                                                                        <i class="accordion-icon">
                                                                            <span class="blind">button</span>
                                                                        </i>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nisi illo mollitia fugit quidem excepturi, molestiae ea velit, possimus iste corrupti eaque blanditiis porro cupiditate voluptate eos quaerat veritatis eligendi ab nihil culpa. Impedit assumenda necessitatibus ducimus nesciunt fuga iusto minus, nisi modi nostrum molestias perferendis dolor porro tempora temporibus.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">&lt; 아코디언 타입 02 (그린경영) &gt;</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="accordion-display design-2">
                                                <ul class="accordion-list">
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">2030년까지 ’18년 배출량 대비 14.5% 감축</em>
                                                                        <span class="button design-1 case-6 color-1 icon-down-arrow02">
                                                                            <i class="button-text-core">
                                                                                <span class="blind">icon</span>
                                                                            </i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    <ul>
                                                                        <li>신기후 체제에 따른 SDM* 등 외부 감축사업을 통한 온실가스 감축</li>
                                                                        <li>사업장 에너지 절감 활동과 신재생에너지 도입 확대로 온실가스 감축</li>
                                                                        <li>사내 탄소자산관리시스템 및 제품 탄소발자국 산정시스템 운영을 통한 효율적 온실가스 관리</li>
                                                                        <li>기후변화 위기 및 기회 식별 프로세스 구축을 통해 리스크 헤지 및 기회 발굴</li>
                                                                        <li class="small">* SDM(Sustainable Development Mechanism) 파리협정상의 지속가능개발체제</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">친환경 기술 개발을 통한 시장 개척 및 사업 확대</em>
                                                                        <span class="button design-1 case-6 color-1 icon-down-arrow02">
                                                                            <i class="button-text-core">
                                                                                <span class="blind">icon</span>
                                                                            </i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    <ul>
                                                                        <li>재생 및 친환경 섬유 제품 라인업 강화</li>
                                                                        <li>친환경 철강제품 및 친환경 화학소재의 Biz 확대</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">친환경 기술 개발을 통한 시장 개척 및 사업 확대</em>
                                                                        <span class="button design-1 case-6 color-1 icon-down-arrow02">
                                                                            <i class="button-text-core">
                                                                                <span class="blind">icon</span>
                                                                            </i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    <ul>
                                                                        <li>수질 및 대기 오염물질 관리 체계 고도화를 통한 환경오염영향 최소화 추구</li>
                                                                        <li>용수 재활용을 통한 사용량 절감 및 자원재활용을 통한 폐기물 배출량 저감 추진</li>
                                                                        <li>친환경 섬유 value-chain 협력사의 역량 강화를 위한 상생협력 및 동반성장 지속 추진</li>
                                                                        <li>친환경 및 녹색기술 제품 구매확대를 통한 친환경 인프라구축</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item">
                                                        <div class="accordion-wrap">
                                                            <div class="accordion-head">
                                                                <a href="javascript:void(0)" class="accordion-button">
                                                                    <div class="accordion-button-body">
                                                                        <em class="accordion-title">투명한 정보 공개를 통한 이해관계자 신뢰 제고</em>
                                                                        <span class="button design-1 case-6 color-1 icon-down-arrow02">
                                                                            <i class="button-text-core">
                                                                                <span class="blind">icon</span>
                                                                            </i>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body">
                                                                <div class="accordion-content">
                                                                    <ul>
                                                                        <li>녹색 및 친환경 인증 확대를 통한 그린경영체계 구축</li>
                                                                        <li>CDP** 및 환경정보공개제도 참여와 지속가능경영보고서 발간을 통한 이해관계자 신뢰 구축</li>
                                                                        <li>기후변화 관련 국제 이니셔티브 자발적 참여</li>
                                                                        <li>지역 주민과의 원활한 소통 및 1사 1하천/공원/산 등 지역 자연정화 활동 추진</li>
                                                                        <li class="small">**CDP(Carbon Disclosure Project) 탄소정보 공개 프로젝트</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- // 컨텐츠 복사 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%-include('../include/guide/GUT00103FOOTER.ejs') %>
        </div>
    </body>
</html>