<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/guide/GUT00100HEAD.ejs') %>
    </head>
    <body>
        <div id="wrap" class="wrap guide">
            <%-include('../include/guide/GUT00101HEADER.ejs') %>
            <main class="container guide HTNCWXD10D00W10 sub">
                <section class="container-wrap">
                    <div class="container-inner">
                        <em class="guide-sort-bar">
                            <span class="text-wrap">
                                <span class="text">&lt; Grid table &gt;</span>
                            </span>
                            <span class="bar"></span>
                        </em>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">&lt; 그린경영 테이블 (Grid로 작업 / PC에서 table → mo에서 카드) &gt;</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="table-display design-2">
                                                <div class="table-list">
                                                    <div class="table-item">
                                                        <div class="table-wrap">
                                                            <div class="table-head">
                                                                <p class="name">시장</p>
                                                            </div>
                                                            <div class="table-body">
                                                                <p class="para type-1">
                                                                    주가, 금리, 환율변동 등 재무적 요소와<br class="br-pc" />
                                                                    연관된 시장 리스크
                                                                </p>
                                                                <div class="para type-2">
                                                                    <ul class="order-list design-1 usual-1 case-1 medium type-1 align-1">
                                                                        <li class="order-item">
                                                                            자금/무역금융 전문인력 운영을 통한 리스크 측정, 분석 및 헷징
                                                                        </li>
                                                                        <li class="order-item">
                                                                            내부회계관리제도 운영
                                                                        </li>
                                                                        <li class="order-item">
                                                                            입금 및 지출 통화를 일치시켜 환포지션 발생을 최소화하고, 환위험 관리정책에 측정주기, 헷지기간, 헷지비율 등을 구체적으로 규정하여 환위험을 체계적 관리
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-item">
                                                        <div class="table-wrap">
                                                            <div class="table-head">
                                                                <p class="name">신용</p>
                                                            </div>
                                                            <div class="table-body">
                                                                <p class="para type-1">
                                                                    고객 또는 거래상대방이 계약조건상<br class="br-pc" /> 의무사항을 지키지 못하는 리스크
                                                                </p>
                                                                <div class="para type-2">
                                                                    <ul class="order-list design-1 usual-1 case-1 medium type-1 align-1">
                                                                        <li class="order-item">
                                                                            내부 채권관리규정을 준수하여 매출채권 거래상대방에 대한 신용한도 설정 및 관리
                                                                        </li>
                                                                        <li class="order-item">
                                                                            투자 및 대여 등에 대해서는 신용조사 및 담보 등 회수방안 관리
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-item">
                                                        <div class="table-wrap">
                                                            <div class="table-head">
                                                                <p class="name">유동성</p>
                                                            </div>
                                                            <div class="table-body">
                                                                <p class="para type-1">
                                                                    예상하지 못한 유동성 악화로 인한<br class="br-pc" /> 재무적 손실 리스크
                                                                </p>
                                                                <div class="para type-2">
                                                                    <ul class="order-list design-1 usual-1 case-1 medium type-1 align-1">
                                                                        <li class="order-item">
                                                                            주기적으로 미래 현금흐름을 예측하여 적정 수준의 예금시재 유지
                                                                        </li>
                                                                        <li class="order-item">
                                                                            긴급자금 수혈과 관련하여 금융기관과 약정을 체결
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%-include('../include/guide/GUT00103FOOTER.ejs') %>
        </div>
    </body>
</html>