<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/guide/GUT00100HEAD.ejs') %>
        <script>
            document.addEventListener("DOMContentLoaded", () =>{
                safetySwiper();
            });
        </script>
    </head>
    <body>
        <div id="wrap" class="wrap guide">
            <%-include('../include/guide/GUT00101HEADER.ejs') %>
            <main class="container guide HTNCWXD10D00W05 sub">
                <section class="container-wrap">
                    <div class="container-inner">
                        <em class="guide-sort-bar">
                            <span class="text-wrap">
                                <span class="text">&lt; 슬라이드 &gt;</span>
                            </span>
                            <span class="bar"></span>
                        </em>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">&lt; Sustainability - 나눔경영 슬라이드(2개 연동) &gt;</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <!-- 컨텐츠 복사 영역 -->
                                            <div class="slide-display design-1">
                                                <div class="slide-list">
                                                    <p class="slide-subject">주요사업</p>
                                                    <div class="slide-item case-1">
                                                        <div class="slide-head swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2022년~</span>
                                                                    업과 관련된 친환경 사회공헌</p>
                                                                <p class="para">
                                                                    효성의 업과 관련된 친환경 제품을 구입, 도〮군과 협력하여 농어촌 지역에 지원하고 있습니다. 효성티앤씨는 리젠 티셔츠를, 효성중공업은 태양광 발전 설비를, 효성첨단소재는 탄소섬유를 활용한 농산물 건조기를, 효성화학은 폴리케톤으로 제작한 식판을 ㈜효성과 함께 지원했습니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2021년~</span>
                                                                    베트남 꽝남성 지역사회 지원</p>
                                                                <p class="para">
                                                                    효성은 2021년, 베트남 중부 꽝남성 탕빈현의 최빈곤층과 차상위 계층 미혼모들의 경제적 자립을 지원했습니다. 주요 소득원이 일용직 노동인 미혼모 가구를 대상으로 양돈 시설 및 종돈, 축산 의료품을 지원해 미혼모 가정의 장기적으로 소득을 만들어 자립할 수 있도록 도움을 주었습니다. 2021년에는 꽝남성 산악지역에 유치원 건축 사업에 후원했습니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2020년~</span>
                                                                    해외 성평등 증진 프로그램 후원</p>
                                                                <p class="para">
                                                                    효성은 르완다 여자청소년들을 위한 ‘걸스룸’ 건축 및 보건위생인식증진 활동을 진행했습니다. 르완다 기시가라, 카모니 지역 여자청소년들이 생리기간동안 위생적인 환경에서 학교생활을 할 수 있도록 생리위생관리시설을 건축하고, 지역사회 교육을 통해 여아 권리 인식 개선을 위해 노력했습니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2018년~</span>
                                                                    임직원 급여나눔 베트남 아동 후원</p>
                                                                <p class="para">
                                                                    해외 아동 결연 사업은 효성 임직원들의 자발적인 급여 나눔을 통해 베트남 결연 아이들의 교육, 식수 위생, 환경 개선, 생계 지원 등에 사용하는 사회공헌 프로그램입니다. 회사의 매칭 그랜트 금액은 교실 증축, 식수 개선, 인식 개선 활동, 도서관 조성 등 결연 아동이 살고 있는 지역의 개선을 위해 사용되고 있습니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2013년~</span>
                                                                    효성나눔봉사단 임직원 봉사활동</p>
                                                                <p class="para">
                                                                    효성나눔봉사단은 임직원이 자발적으로 참여하는 봉사단으로 일시적인 활동이 아닌 장기적이고 지속적인 관계를 맺어 진정성을 전달하고 있습니다. 장애,비장애 통합 보육 어린이집인 장군봉어린이집의 원아들과 매달 정기적인 활동을 진행하고 크리스마스와 같은 특별한 날에 아이들에게 선물같은 기억을 전해주기 위해 꾸준히 봉사하고 있습니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2013년~</span>
                                                                    경력보유여성 취업활성화 지원</p>
                                                                <p class="para">
                                                                    정부의 일자리 창출 목표와 연계된 사업으로서 경력보유여성과 중장년층 여성의 취업을 지원하고 있습니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2013년~</span>
                                                                    굿윌스토어 효성1호점 후원</p>
                                                                <p class="para">
                                                                    ‘굿윌스토어’는 취약계층을 고용하여 경제적 자립에 기여하고 기증받은 물품의 판매 수익금을 장애인 일자리 창출과 직업 교육훈련을 위해 사용합니다. 효성은 본사와 각 사업장에 굿윌스토어 기증함을 설치, 임직원들이 모은 물품을 은평구에 위치한 ‘효성1호점’에 전달하고 있습니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2012년~</span>
                                                                    6.25 참전용사 보금자리 지원</p>
                                                                <p class="para">
                                                                    정부의 일자리 창출 목표와 연계된 사업으로서 경력보유여성과 중장년층 여성의 취업을 지원하고 있습니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2008년~</span>
                                                                    임직원 사랑의 헌혈 나눔</p>
                                                                <p class="para">
                                                                    효성은 2008년부터 ‘사랑의 헌혈’ 행사를 진행해오고 있습니다. 임직원들의 자발적 참여로 이루어지는 헌혈 행사는 본사뿐만 아니라 울산, 경북 구미, 경남 창원 등 주요 지방사업장에서도 정기적으로 실시됩니다. 임직원들이 기증한 헌혈증은 한국백혈병 소아암협회에 전달돼 백혈병, 소아암을 앓는 어린이들을 위해 사용됩니다.
                                                                </p>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <p class="slide-summary">
                                                                    <span class="year">2008년~</span>
                                                                    사랑의 친구들 후원</p>
                                                                <p class="para">
                                                                    효성은 지역아동센터를 통해 저소득 한부모 가정 어린이들에게 영어 교육 기회를 제공하고 있습니다. 영어 교육 프로그램 지원, 아동센터 교사대상 평가회 및 워크숍, 장학금, 영어캠프 등을 지원합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slide-item case-2">
                                                        <div class="slide-body swiper-wrapper">
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-01-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-01.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-01.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-02-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-02.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-02.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-03-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-03.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-03.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-04-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-04.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-04.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-05-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-05.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-05.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-06-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-06.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-06.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-07-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-07.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-07.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-08-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-08.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-08.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-09-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-09.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-09.png" alt=" ">
                                                            </picture>
                                                            <picture class="swiper-slide">
                                                                <source media="(max-width: 1023px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-10-mo.png">
                                                                <source media="(max-width: 1920px)" srcset="../../assets/images/photo/sustainability/sharing/img-business-slide-10.png">
                                                                <img class="img" src="../../assets/images/photo/sustainability/sharing/img-business-slide-10.png" alt=" ">
                                                            </picture>
                                                        </div>
                                                        <div class="slide-paging">
                                                            <div class="swiper-button-next">
                                                                <div class="button-display form-1 sort-1 align-3">
                                                                    <div class="button-wrap form-1">
                                                                        <a href="javascript:void(0)" class="button design-1 case-6 fill-500 icon-right-arrow02">
                                                                            <span class="button-text-core">
                                                                                <span class="blind">다음</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-button-prev">
                                                                <div class="button-display form-1 sort-1 align-3">
                                                                    <div class="button-wrap form-1">
                                                                        <a href="javascript:void(0)" class="button design-1 case-6 fill-500 icon-left-arrow02">
                                                                            <span class="button-text-core">
                                                                                <span class="blind">이전</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-pagination"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// 컨텐츠 복사 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%-include('../include/guide/GUT00103FOOTER.ejs') %>
        </div>
    </body>
</html>