<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head"><%- include('../_mixin/_title.content.ejs', {name: 'goods-display'}) %></div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">

					<!-- cart-display -->
					<div class="cart-display module-a">
						<div class="cart-list">
							<div class="cart-item">
								<!-- cart-head -->
								<div class="cart-head">
									<div class="form-area">
										<label class="form checkbox module-a style-a small-1x accent-01"><input type="checkbox" class="form-elem"> <span class="form-text">전체선택</span></label>
									</div>
									<span class="cart-data">총 <strong class="em accent-01">10</strong>건</span>
								</div>
								<!-- //cart-head -->
								<!-- cart-body -->
								<div class="cart-body">
									<!-- goods-display -->
									<div class="goods-display module-a style-b">
										<div class="goods-list">
											<div class="goods-item">
												<!-- goods-wrap -->
												<div class="goods-wrap">
													<!-- goods-select -->
													<div class="goods-select">
														<span class="form checkbox module-a style-a small accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></span>
													</div>
													<!-- //goods-select -->
													<!--goods-inform-->
													<div class="goods-inform">
														<!-- goods-head -->
														<div class="goods-head">
															<p class="goods-subject"><span class="goods-name">20220719_0545</span></p>
														</div>
														<!-- //goods-head -->
														<!-- goods-data -->
														<div class="goods-data">
															<p class="data-list">
																<span class="data-item"><span class="head">속성 정보</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																<span class="data-item flex"><span class="head">설명</span> <span class="body">국내 환경위성 최초 개발 및 세계 최초의 정지궤도 환경관측 위성 개발·운영으로 선구자적인 역할</span></span>
															</p>
														</div>
														<!-- //goods-data -->
													</div>
													<!--//goods-inform-->
												</div>
												<!-- //goods-wrap -->
												<!-- goods-util -->
												<div class="goods-util">
													<span class="button-area">
														<button type="button" class="btn viewer">
															<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																<title>영상보기</title>
																<path d="M13.9,17.1h1.5v1.5c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2v-7.1c0-1.1,0.9-2,2-2h1.5V11H4c-0.3,0-0.5,0.2-0.5,0.5v7.1 c0,0.3,0.2,0.5,0.5,0.5h9.4c0.3,0,0.5-0.2,0.5-0.5V17.1z M17.3,9.8L17.3,9.8c0,0.3-0.1,0.5-0.4,0.7c0,0-0.1,0-0.1,0l-3.6,2.1 c-0.2,0.1-0.5,0.1-0.8,0C12.2,12.5,12,12.3,12,12V7.7c0-0.3,0.1-0.5,0.4-0.6c0.2-0.1,0.5-0.1,0.8,0l3.6,2.1c0,0,0.1,0,0.1,0 C17.1,9.3,17.3,9.6,17.3,9.8z M15,9.8L13.5,9v1.7L15,9.8z M22.1,5.6v8.5c0,1.2-1,2.2-2.2,2.2H8.6c-1.2,0-2.2-1-2.2-2.2V5.6 c0-1.2,1-2.2,2.2-2.2h11.2C21.1,3.3,22.1,4.4,22.1,5.6z M20.6,5.6c0-0.4-0.3-0.8-0.8-0.8H8.6c-0.4,0-0.8,0.3-0.8,0.8v8.5 c0,0.4,0.3,0.8,0.8,0.8h11.2c0.4,0,0.8-0.3,0.8-0.8V5.6z"/>
															</svg>
														</button>
														<button type="button" class="btn cart">
															<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																<title>장바구니 담기</title>
																<path d="M8.5,14c-0.3-0.3-0.3-0.8,0-1.1c0.3-0.3,0.8-0.3,1.1,0l1.7,1.7V9.5c0-0.4,0.3-0.8,0.8-0.8s0.8,0.3,0.8,0.8v5.2 l1.7-1.7c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-3,3c-0.1,0.1-0.3,0.2-0.5,0.2s-0.4-0.1-0.5-0.2L8.5,14z M20.8,6v13.5 c0,1-0.8,1.8-1.8,1.8H5c-1,0-1.8-0.8-1.8-1.8V6c0-0.1,0-0.2,0-0.3l1.3-3.4c0.3-0.7,0.9-1.1,1.6-1.1h11.6c0.7,0,1.4,0.5,1.6,1.1 l1.3,3.4C20.7,5.8,20.8,5.9,20.8,6z M5.1,5.2h13.8L18,2.9c0-0.1-0.1-0.2-0.2-0.2H6.2C6.1,2.8,6,2.8,6,2.9L5.1,5.2z M19.2,6.8H4.8 v12.8c0,0.1,0.1,0.2,0.2,0.2h14c0.1,0,0.2-0.1,0.2-0.2V6.8z"/>
															</svg>
														</button>
														<button type="button" class="btn download">
															<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																<title>다운로드</title>
																<path d="M16.5303 12.7803c.2929-.2929.2929-.7677 0-1.0606-.2929-.2929-.7677-.2929-1.0606 0L12.75 14.4393V4.75c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v9.6893l-2.71967-2.7196c-.29289-.2929-.76777-.2929-1.06066 0s-.29289.7677 0 1.0606l4.00003 4A.74969.74969 0 0 0 12 17c.1989 0 .3897-.079.5303-.2197l4-4ZM17.5 20c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75h-11c-.41421 0-.75.3358-.75.75s.33579.75.75.75h11Z"/>
															</svg>
														</button>
													</span>
												</div>
												<!--// goods-util -->
											</div>
											<div class="goods-item">
												<!-- goods-area -->
												<div class="goods-wrap">
													<!-- goods-select -->
													<div class="goods-select">
														<span class="form checkbox module-a style-a small accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></span>
													</div>
													<!-- //goods-select -->
													<!--goods-inform-->
													<div class="goods-inform">
														<!-- goods-head -->
														<div class="goods-head">
															<p class="goods-subject"><span class="goods-name">20220719_0545</span></p>
														</div>
														<!-- //goods-head -->
														<!-- goods-data -->
														<div class="goods-data">
															<p class="data-list">
																<span class="data-item"><span class="head">속성 정보</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																<span class="data-item flex"><span class="head">설명</span> <span class="body">국내 환경위성 최초 개발 및 세계 최초의 정지궤도 환경관측 위성 개발·운영으로 선구자적인 역할</span></span>
															</p>
														</div>
														<!-- //goods-data -->
													</div>
													<!--//goods-inform-->
												</div>
												<!-- //goods-wrap -->
												<!-- goods-util -->
												<div class="goods-util">
													<span class="button-area">
														<button type="button" class="btn viewer">
															<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																<title>영상보기</title>
																<path d="M13.9,17.1h1.5v1.5c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2v-7.1c0-1.1,0.9-2,2-2h1.5V11H4c-0.3,0-0.5,0.2-0.5,0.5v7.1 c0,0.3,0.2,0.5,0.5,0.5h9.4c0.3,0,0.5-0.2,0.5-0.5V17.1z M17.3,9.8L17.3,9.8c0,0.3-0.1,0.5-0.4,0.7c0,0-0.1,0-0.1,0l-3.6,2.1 c-0.2,0.1-0.5,0.1-0.8,0C12.2,12.5,12,12.3,12,12V7.7c0-0.3,0.1-0.5,0.4-0.6c0.2-0.1,0.5-0.1,0.8,0l3.6,2.1c0,0,0.1,0,0.1,0 C17.1,9.3,17.3,9.6,17.3,9.8z M15,9.8L13.5,9v1.7L15,9.8z M22.1,5.6v8.5c0,1.2-1,2.2-2.2,2.2H8.6c-1.2,0-2.2-1-2.2-2.2V5.6 c0-1.2,1-2.2,2.2-2.2h11.2C21.1,3.3,22.1,4.4,22.1,5.6z M20.6,5.6c0-0.4-0.3-0.8-0.8-0.8H8.6c-0.4,0-0.8,0.3-0.8,0.8v8.5 c0,0.4,0.3,0.8,0.8,0.8h11.2c0.4,0,0.8-0.3,0.8-0.8V5.6z"/>
															</svg>
														</button>
														<button type="button" class="btn cart">
															<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																<title>장바구니 담기</title>
																<path d="M8.5,14c-0.3-0.3-0.3-0.8,0-1.1c0.3-0.3,0.8-0.3,1.1,0l1.7,1.7V9.5c0-0.4,0.3-0.8,0.8-0.8s0.8,0.3,0.8,0.8v5.2 l1.7-1.7c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-3,3c-0.1,0.1-0.3,0.2-0.5,0.2s-0.4-0.1-0.5-0.2L8.5,14z M20.8,6v13.5 c0,1-0.8,1.8-1.8,1.8H5c-1,0-1.8-0.8-1.8-1.8V6c0-0.1,0-0.2,0-0.3l1.3-3.4c0.3-0.7,0.9-1.1,1.6-1.1h11.6c0.7,0,1.4,0.5,1.6,1.1 l1.3,3.4C20.7,5.8,20.8,5.9,20.8,6z M5.1,5.2h13.8L18,2.9c0-0.1-0.1-0.2-0.2-0.2H6.2C6.1,2.8,6,2.8,6,2.9L5.1,5.2z M19.2,6.8H4.8 v12.8c0,0.1,0.1,0.2,0.2,0.2h14c0.1,0,0.2-0.1,0.2-0.2V6.8z"/>
															</svg>
														</button>
														<button type="button" class="btn download">
															<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																<title>다운로드</title>
																<path d="M16.5303 12.7803c.2929-.2929.2929-.7677 0-1.0606-.2929-.2929-.7677-.2929-1.0606 0L12.75 14.4393V4.75c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v9.6893l-2.71967-2.7196c-.29289-.2929-.76777-.2929-1.06066 0s-.29289.7677 0 1.0606l4.00003 4A.74969.74969 0 0 0 12 17c.1989 0 .3897-.079.5303-.2197l4-4ZM17.5 20c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75h-11c-.41421 0-.75.3358-.75.75s.33579.75.75.75h11Z"/>
															</svg>
														</button>
													</span>
												</div>
												<!--// goods-util -->
											</div>
										</div>
									</div>
									<!-- //goods-display -->
								</div>
								<!-- //cart-body -->
								<!-- cart-side -->
								<div class="cart-side">
									<div class="button-display module-a style-a type-b">
										<span class="button-area">
											<button type="button" class="btn module-b style-a type-line normal-04 large-2x flex"><span class="btn-text">자료 조회</span></button>
											<button type="button" class="btn module-b style-a type-line normal-04 large-2x flex"><span class="btn-text">자료 신청</span></button>
										</span>
									</div>
								</div>
								<!-- //cart-side -->
							</div>
						</div>
					</div>
					<!-- //cart-display -->

					<br><br><br>

					<!-- goods-display -->
					<div class="goods-display module-a style-b">
						<div class="goods-list">
							<div class="goods-item">
								<!-- goods-area -->
								<div class="goods-wrap">
									<!-- goods-select -->
									<div class="goods-select">
										<span class="form checkbox module-a style-a small accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></span>
									</div>
									<!-- //goods-select -->
									<!--goods-inform-->
									<div class="goods-inform">
										<!-- goods-head -->
										<div class="goods-head">
											<p class="goods-subject"><span class="goods-name">20220719_0545</span></p>
										</div>
										<!-- //goods-head -->
										<!-- goods-data -->
										<div class="goods-data">
											<p class="data-list">
												<span class="data-item"><span class="head">속성 정보</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
												<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
												<span class="data-item flex"><span class="head">설명</span> <span class="body">국내 환경위성 최초 개발 및 세계 최초의 정지궤도 환경관측 위성 개발·운영으로 선구자적인 역할</span></span>
											</p>
										</div>
										<!-- //goods-data -->
									</div>
									<!--//goods-inform-->
								</div>
								<!-- //goods-wrap -->
								<!-- goods-util -->
								<div class="goods-util">
									<span class="button-area">
										<button type="button" class="btn viewer">
											<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<title>영상보기</title>
												<path d="M13.9,17.1h1.5v1.5c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2v-7.1c0-1.1,0.9-2,2-2h1.5V11H4c-0.3,0-0.5,0.2-0.5,0.5v7.1 c0,0.3,0.2,0.5,0.5,0.5h9.4c0.3,0,0.5-0.2,0.5-0.5V17.1z M17.3,9.8L17.3,9.8c0,0.3-0.1,0.5-0.4,0.7c0,0-0.1,0-0.1,0l-3.6,2.1 c-0.2,0.1-0.5,0.1-0.8,0C12.2,12.5,12,12.3,12,12V7.7c0-0.3,0.1-0.5,0.4-0.6c0.2-0.1,0.5-0.1,0.8,0l3.6,2.1c0,0,0.1,0,0.1,0 C17.1,9.3,17.3,9.6,17.3,9.8z M15,9.8L13.5,9v1.7L15,9.8z M22.1,5.6v8.5c0,1.2-1,2.2-2.2,2.2H8.6c-1.2,0-2.2-1-2.2-2.2V5.6 c0-1.2,1-2.2,2.2-2.2h11.2C21.1,3.3,22.1,4.4,22.1,5.6z M20.6,5.6c0-0.4-0.3-0.8-0.8-0.8H8.6c-0.4,0-0.8,0.3-0.8,0.8v8.5 c0,0.4,0.3,0.8,0.8,0.8h11.2c0.4,0,0.8-0.3,0.8-0.8V5.6z"/>
											</svg>
										</button>
										<button type="button" class="btn cart">
											<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<title>장바구니 담기</title>
												<path d="M8.5,14c-0.3-0.3-0.3-0.8,0-1.1c0.3-0.3,0.8-0.3,1.1,0l1.7,1.7V9.5c0-0.4,0.3-0.8,0.8-0.8s0.8,0.3,0.8,0.8v5.2 l1.7-1.7c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-3,3c-0.1,0.1-0.3,0.2-0.5,0.2s-0.4-0.1-0.5-0.2L8.5,14z M20.8,6v13.5 c0,1-0.8,1.8-1.8,1.8H5c-1,0-1.8-0.8-1.8-1.8V6c0-0.1,0-0.2,0-0.3l1.3-3.4c0.3-0.7,0.9-1.1,1.6-1.1h11.6c0.7,0,1.4,0.5,1.6,1.1 l1.3,3.4C20.7,5.8,20.8,5.9,20.8,6z M5.1,5.2h13.8L18,2.9c0-0.1-0.1-0.2-0.2-0.2H6.2C6.1,2.8,6,2.8,6,2.9L5.1,5.2z M19.2,6.8H4.8 v12.8c0,0.1,0.1,0.2,0.2,0.2h14c0.1,0,0.2-0.1,0.2-0.2V6.8z"/>
											</svg>
										</button>
										<button type="button" class="btn download">
											<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<title>다운로드</title>
												<path d="M16.5303 12.7803c.2929-.2929.2929-.7677 0-1.0606-.2929-.2929-.7677-.2929-1.0606 0L12.75 14.4393V4.75c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v9.6893l-2.71967-2.7196c-.29289-.2929-.76777-.2929-1.06066 0s-.29289.7677 0 1.0606l4.00003 4A.74969.74969 0 0 0 12 17c.1989 0 .3897-.079.5303-.2197l4-4ZM17.5 20c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75h-11c-.41421 0-.75.3358-.75.75s.33579.75.75.75h11Z"/>
											</svg>
										</button>
									</span>
								</div>
								<!--// goods-util -->
							</div>
							<div class="goods-item">
								<!-- goods-area -->
								<div class="goods-wrap">
									<!-- goods-select -->
									<div class="goods-select">
										<span class="form checkbox module-a style-a small accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></span>
									</div>
									<!-- //goods-select -->
									<!--goods-inform-->
									<div class="goods-inform">
										<!-- goods-head -->
										<div class="goods-head">
											<p class="goods-subject"><span class="goods-name">20220719_0545</span></p>
										</div>
										<!-- //goods-head -->
										<!-- goods-data -->
										<div class="goods-data">
											<p class="data-list">
												<span class="data-item"><span class="head">속성 정보</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
												<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
												<span class="data-item flex"><span class="head">설명</span> <span class="body">국내 환경위성 최초 개발 및 세계 최초의 정지궤도 환경관측 위성 개발·운영으로 선구자적인 역할국내 환경위성 최초 개발 및 세계 최초의 정지궤도 환경관측 위성 개발·운영으로 선구자적인 역할</span></span>
											</p>
										</div>
										<!-- //goods-data -->
									</div>
									<!--//goods-inform-->
								</div>
								<!-- //goods-wrap -->
								<!-- goods-util -->
								<div class="goods-util">
									<span class="button-area">
										<button type="button" class="btn viewer">
											<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<title>영상보기</title>
												<path d="M13.9,17.1h1.5v1.5c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2v-7.1c0-1.1,0.9-2,2-2h1.5V11H4c-0.3,0-0.5,0.2-0.5,0.5v7.1 c0,0.3,0.2,0.5,0.5,0.5h9.4c0.3,0,0.5-0.2,0.5-0.5V17.1z M17.3,9.8L17.3,9.8c0,0.3-0.1,0.5-0.4,0.7c0,0-0.1,0-0.1,0l-3.6,2.1 c-0.2,0.1-0.5,0.1-0.8,0C12.2,12.5,12,12.3,12,12V7.7c0-0.3,0.1-0.5,0.4-0.6c0.2-0.1,0.5-0.1,0.8,0l3.6,2.1c0,0,0.1,0,0.1,0 C17.1,9.3,17.3,9.6,17.3,9.8z M15,9.8L13.5,9v1.7L15,9.8z M22.1,5.6v8.5c0,1.2-1,2.2-2.2,2.2H8.6c-1.2,0-2.2-1-2.2-2.2V5.6 c0-1.2,1-2.2,2.2-2.2h11.2C21.1,3.3,22.1,4.4,22.1,5.6z M20.6,5.6c0-0.4-0.3-0.8-0.8-0.8H8.6c-0.4,0-0.8,0.3-0.8,0.8v8.5 c0,0.4,0.3,0.8,0.8,0.8h11.2c0.4,0,0.8-0.3,0.8-0.8V5.6z"/>
											</svg>
										</button>
										<button type="button" class="btn cart">
											<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<title>장바구니 담기</title>
												<path d="M8.5,14c-0.3-0.3-0.3-0.8,0-1.1c0.3-0.3,0.8-0.3,1.1,0l1.7,1.7V9.5c0-0.4,0.3-0.8,0.8-0.8s0.8,0.3,0.8,0.8v5.2 l1.7-1.7c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-3,3c-0.1,0.1-0.3,0.2-0.5,0.2s-0.4-0.1-0.5-0.2L8.5,14z M20.8,6v13.5 c0,1-0.8,1.8-1.8,1.8H5c-1,0-1.8-0.8-1.8-1.8V6c0-0.1,0-0.2,0-0.3l1.3-3.4c0.3-0.7,0.9-1.1,1.6-1.1h11.6c0.7,0,1.4,0.5,1.6,1.1 l1.3,3.4C20.7,5.8,20.8,5.9,20.8,6z M5.1,5.2h13.8L18,2.9c0-0.1-0.1-0.2-0.2-0.2H6.2C6.1,2.8,6,2.8,6,2.9L5.1,5.2z M19.2,6.8H4.8 v12.8c0,0.1,0.1,0.2,0.2,0.2h14c0.1,0,0.2-0.1,0.2-0.2V6.8z"/>
											</svg>
										</button>
										<button type="button" class="btn download">
											<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<title>다운로드</title>
												<path d="M16.5303 12.7803c.2929-.2929.2929-.7677 0-1.0606-.2929-.2929-.7677-.2929-1.0606 0L12.75 14.4393V4.75c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v9.6893l-2.71967-2.7196c-.29289-.2929-.76777-.2929-1.06066 0s-.29289.7677 0 1.0606l4.00003 4A.74969.74969 0 0 0 12 17c.1989 0 .3897-.079.5303-.2197l4-4ZM17.5 20c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75h-11c-.41421 0-.75.3358-.75.75s.33579.75.75.75h11Z"/>
											</svg>
										</button>
									</span>
								</div>
								<!--// goods-util -->
							</div>
						</div>
					</div>
					<!-- //goods-display -->

					<div class="section">
						<div class="section-body">
							<!-- order-display -->
							<div class="order-display module-c">
								<div class="order-list">
									<div class="order-item" data-bui-expand="orderDisplay">
										<!-- order-wrap -->
										<div class="order-wrap">
											<!-- data-head -->
											<div class="order-head">
												<p class="order-subject"><span class="order-name">에어로졸 광학두께 (443nm) 외 3건</span></p>
											</div>
											<!-- //data-head -->
											<!-- order-data -->
											<div class="order-data">
												<p class="data-list">
													<span class="data-item"><span class="head">자료 개수</span> <span class="body">10건</span></span>
													<span class="data-item"><span class="head">용량</span> <span class="body">2GB</span></span>
													<span class="data-item"><span class="head">상태</span> <span class="body"><span class="em accent-01">다운로드 가능</span></span></span>
												</p>
											</div>
											<!-- //order-data -->
											<!-- goods-util -->
											<div class="order-util">
												<span class="button-area">
													<button type="button" class="btn download">
														<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
															<title>다운로드</title>
															<path d="M16.5303 12.7803c.2929-.2929.2929-.7677 0-1.0606-.2929-.2929-.7677-.2929-1.0606 0L12.75 14.4393V4.75c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v9.6893l-2.71967-2.7196c-.29289-.2929-.76777-.2929-1.06066 0s-.29289.7677 0 1.0606l4.00003 4A.74969.74969 0 0 0 12 17c.1989 0 .3897-.079.5303-.2197l4-4ZM17.5 20c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75h-11c-.41421 0-.75.3358-.75.75s.33579.75.75.75h11Z"/>
														</svg>
													</button>
												</span>
											</div>
											<!--// goods-util -->
										</div>
										<!-- //order-wrap -->
										<!-- order-side -->
										<div class="order-side">
											<!-- goods-display -->
											<div class="goods-display module-c">
												<div class="goods-list">
													<div class="goods-item" data-bui-expand="goodsDisplay">
														<!-- goods-area -->
														<div class="goods-wrap">

															<!-- goods-number-->
															<div class="goods-number">1</div>
															<!-- //goods-number -->

															<!-- goods-select -->
															<div class="goods-select">
																<span class="form checkbox module-a style-a small accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></span>
															</div>
															<!-- //goods-select -->
															<!--goods-inform-->
															<div class="goods-inform">
																<!-- goods-head -->
																<div class="goods-head">
																	<p class="goods-subject"><span class="goods-name">에어로졸 광학두께 (443nm)</span></p>
																</div>
																<!-- //goods-head -->
																<!-- goods-data -->
																<div class="goods-data">
																	<p class="data-list">
																		<span class="data-item"><span class="head">속성 정보</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																		<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																		<span class="data-item"><span class="head">옵션</span> <span class="body">중급/NetCDF</span></span>
																	</p>
																</div>
																<!-- //goods-data -->
																<!-- goods-util -->
																<div class="goods-util">
																	<span class="button-area">
																		<button type="button" class="btn delete">
																			<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																				<title>삭제하기</title>
																				<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																			</svg>
																		</button>
																	</span>
																</div>
																<!--// goods-util -->
															</div>
															<!--//goods-inform-->
														</div>
														<!-- //goods-wrap -->
														<!-- goods-side -->
														<div class="goods-side">
															<!-- option-display -->
															<fieldset class="option-display module-a">
																<legend>옵션 선택</legend>
																<div class="option-list">
																	<div class="option-item checked-within">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- option-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																				</p>
																			</div>
																			<!-- //option-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn tune">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>필터</title>
																							<path d="M4 16.2222V18.1111H9.33333V16.2222H4ZM4 4.88889V6.77778H12.8889V4.88889H4ZM12.8889 20V18.1111H20V16.2222H12.8889V14.3333H11.1111V20H12.8889ZM7.55556 8.66667V10.5556H4V12.4444H7.55556V14.3333H9.33333V8.66667H7.55556ZM20 12.4444V10.5556H11.1111V12.4444H20ZM14.6667 8.66667H16.4444V6.77778H20V4.88889H16.4444V3H14.6667V8.66667Z"/>
																						</svg>
																					</button>
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																	<div class="option-item">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- goods-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																					<span class="data-item">
																						<span class="button-area">
																							<button type="button" class="btn video">
																								<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																									<title>영상보기</title>
																									<path d="M13.9,17.1h1.5v1.5c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2v-7.1c0-1.1,0.9-2,2-2h1.5V11H4c-0.3,0-0.5,0.2-0.5,0.5v7.1 c0,0.3,0.2,0.5,0.5,0.5h9.4c0.3,0,0.5-0.2,0.5-0.5V17.1z M17.3,9.8L17.3,9.8c0,0.3-0.1,0.5-0.4,0.7c0,0-0.1,0-0.1,0l-3.6,2.1 c-0.2,0.1-0.5,0.1-0.8,0C12.2,12.5,12,12.3,12,12V7.7c0-0.3,0.1-0.5,0.4-0.6c0.2-0.1,0.5-0.1,0.8,0l3.6,2.1c0,0,0.1,0,0.1,0 C17.1,9.3,17.3,9.6,17.3,9.8z M15,9.8L13.5,9v1.7L15,9.8z M22.1,5.6v8.5c0,1.2-1,2.2-2.2,2.2H8.6c-1.2,0-2.2-1-2.2-2.2V5.6 c0-1.2,1-2.2,2.2-2.2h11.2C21.1,3.3,22.1,4.4,22.1,5.6z M20.6,5.6c0-0.4-0.3-0.8-0.8-0.8H8.6c-0.4,0-0.8,0.3-0.8,0.8v8.5 c0,0.4,0.3,0.8,0.8,0.8h11.2c0.4,0,0.8-0.3,0.8-0.8V5.6z"/>
																								</svg>
																							</button>
																						</span>
																					</span>
																				</p>
																			</div>
																			<!-- //goods-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																	<div class="option-item">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- goods-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																				</p>
																			</div>
																			<!-- //goods-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn tune active">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>필터</title>
																							<path d="M4 16.2222V18.1111H9.33333V16.2222H4ZM4 4.88889V6.77778H12.8889V4.88889H4ZM12.8889 20V18.1111H20V16.2222H12.8889V14.3333H11.1111V20H12.8889ZM7.55556 8.66667V10.5556H4V12.4444H7.55556V14.3333H9.33333V8.66667H7.55556ZM20 12.4444V10.5556H11.1111V12.4444H20ZM14.6667 8.66667H16.4444V6.77778H20V4.88889H16.4444V3H14.6667V8.66667Z"/>
																						</svg>
																					</button>
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																</div>
															</fieldset>
															<!-- //option-display -->
														</div>
														<!-- //goods-side -->
													</div>
												</div>
											</div>
											<!-- //goods-display -->
										</div>
									</div>
									<div class="order-item active" data-bui-expand="orderDisplay">
										<!-- order-wrap -->
										<div class="order-wrap">
											<!-- data-head -->
											<div class="order-head">
												<p class="order-subject"><span class="order-name">에어로졸 광학두께 (443nm) 외 3건</span></p>
											</div>
											<!-- //data-head -->
											<!-- order-data -->
											<div class="order-data">
												<p class="data-list">
													<span class="data-item"><span class="head">자료 개수</span> <span class="body">10건</span></span>
													<span class="data-item"><span class="head">용량</span> <span class="body">2GB</span></span>
													<span class="data-item"><span class="head">상태</span> <span class="body"><span class="em accent-01">다운로드 가능</span></span></span>
												</p>
											</div>
											<!-- //order-data -->
											<!-- goods-util -->
											<div class="order-util">
												<span class="button-area">
													<button type="button" class="btn download">
														<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
															<title>다운로드</title>
															<path d="M16.5303 12.7803c.2929-.2929.2929-.7677 0-1.0606-.2929-.2929-.7677-.2929-1.0606 0L12.75 14.4393V4.75c0-.41421-.3358-.75-.75-.75s-.75.33579-.75.75v9.6893l-2.71967-2.7196c-.29289-.2929-.76777-.2929-1.06066 0s-.29289.7677 0 1.0606l4.00003 4A.74969.74969 0 0 0 12 17c.1989 0 .3897-.079.5303-.2197l4-4ZM17.5 20c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75h-11c-.41421 0-.75.3358-.75.75s.33579.75.75.75h11Z"/>
														</svg>
													</button>
												</span>
											</div>
											<!--// goods-util -->
										</div>
										<!-- //order-wrap -->
										<!-- order-side -->
										<div class="order-side">
											<!-- goods-display -->
											<div class="goods-display module-c">
												<div class="goods-list">
													<div class="goods-item active" data-bui-expand="goodsDisplay">
														<!-- goods-area -->
														<div class="goods-wrap">
															<!-- goods-number-->
															<div class="goods-number">1</div>
															<!-- //goods-number -->

															<!-- goods-select -->
															<div class="goods-select">
																<span class="form checkbox module-a style-a small accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></span>
															</div>
															<!-- //goods-select -->
															<!--goods-inform-->
															<div class="goods-inform">
																<!-- goods-head -->
																<div class="goods-head">
																	<p class="goods-subject"><span class="goods-name">에어로졸 광학두께 (443nm)</span></p>
																</div>
																<!-- //goods-head -->
																<!-- goods-data -->
																<div class="goods-data">
																	<p class="data-list">
																		<span class="data-item"><span class="head">속성 정보</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																		<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																		<span class="data-item"><span class="head">옵션</span> <span class="body">중급/NetCDF</span></span>
																	</p>
																</div>
																<!-- //goods-data -->
																<!-- goods-util -->
																<div class="goods-util">
																	<span class="button-area">
																		<button type="button" class="btn delete">
																			<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																				<title>삭제하기</title>
																				<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																			</svg>
																		</button>
																	</span>
																</div>
																<!--// goods-util -->
															</div>
															<!--//goods-inform-->
														</div>
														<!-- //goods-wrap -->
														<!-- goods-side -->
														<div class="goods-side">
															<!-- option-display -->
															<fieldset class="option-display module-a">
																<legend>옵션 선택</legend>
																<div class="option-list">
																	<div class="option-item checked-within">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- option-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																				</p>
																			</div>
																			<!-- //option-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																	<div class="option-item">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- goods-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																					<span class="data-item">
																						<span class="button-area">
																							<button type="button" class="btn video">
																								<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																									<title>영상보기</title>
																									<path d="M13.9,17.1h1.5v1.5c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2v-7.1c0-1.1,0.9-2,2-2h1.5V11H4c-0.3,0-0.5,0.2-0.5,0.5v7.1 c0,0.3,0.2,0.5,0.5,0.5h9.4c0.3,0,0.5-0.2,0.5-0.5V17.1z M17.3,9.8L17.3,9.8c0,0.3-0.1,0.5-0.4,0.7c0,0-0.1,0-0.1,0l-3.6,2.1 c-0.2,0.1-0.5,0.1-0.8,0C12.2,12.5,12,12.3,12,12V7.7c0-0.3,0.1-0.5,0.4-0.6c0.2-0.1,0.5-0.1,0.8,0l3.6,2.1c0,0,0.1,0,0.1,0 C17.1,9.3,17.3,9.6,17.3,9.8z M15,9.8L13.5,9v1.7L15,9.8z M22.1,5.6v8.5c0,1.2-1,2.2-2.2,2.2H8.6c-1.2,0-2.2-1-2.2-2.2V5.6 c0-1.2,1-2.2,2.2-2.2h11.2C21.1,3.3,22.1,4.4,22.1,5.6z M20.6,5.6c0-0.4-0.3-0.8-0.8-0.8H8.6c-0.4,0-0.8,0.3-0.8,0.8v8.5 c0,0.4,0.3,0.8,0.8,0.8h11.2c0.4,0,0.8-0.3,0.8-0.8V5.6z"/>
																								</svg>
																							</button>
																						</span>
																					</span>
																				</p>
																			</div>
																			<!-- //goods-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn tune">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>필터</title>
																							<path d="M4 16.2222V18.1111H9.33333V16.2222H4ZM4 4.88889V6.77778H12.8889V4.88889H4ZM12.8889 20V18.1111H20V16.2222H12.8889V14.3333H11.1111V20H12.8889ZM7.55556 8.66667V10.5556H4V12.4444H7.55556V14.3333H9.33333V8.66667H7.55556ZM20 12.4444V10.5556H11.1111V12.4444H20ZM14.6667 8.66667H16.4444V6.77778H20V4.88889H16.4444V3H14.6667V8.66667Z"/>
																						</svg>
																					</button>
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																	<div class="option-item">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- goods-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																				</p>
																			</div>
																			<!-- //goods-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn tune active">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>필터</title>
																							<path d="M4 16.2222V18.1111H9.33333V16.2222H4ZM4 4.88889V6.77778H12.8889V4.88889H4ZM12.8889 20V18.1111H20V16.2222H12.8889V14.3333H11.1111V20H12.8889ZM7.55556 8.66667V10.5556H4V12.4444H7.55556V14.3333H9.33333V8.66667H7.55556ZM20 12.4444V10.5556H11.1111V12.4444H20ZM14.6667 8.66667H16.4444V6.77778H20V4.88889H16.4444V3H14.6667V8.66667Z"/>
																						</svg>
																					</button>
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																</div>
															</fieldset>
															<!-- //option-display -->
														</div>
														<!-- //goods-side -->
													</div>

													<div class="goods-item" data-bui-expand="goodsDisplay">
														<!-- goods-area -->
														<div class="goods-wrap">
															<!-- goods-number-->
															<div class="goods-number">1</div>
															<!-- //goods-number -->

															<!-- goods-select -->
															<div class="goods-select">
																<span class="form checkbox module-a style-a small accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></span>
															</div>
															<!-- //goods-select -->
															<!--goods-inform-->
															<div class="goods-inform">
																<!-- goods-head -->
																<div class="goods-head">
																	<p class="goods-subject"><span class="goods-name">에어로졸 광학두께 (443nm)</span></p>
																</div>
																<!-- //goods-head -->
																<!-- goods-data -->
																<div class="goods-data">
																	<p class="data-list">
																		<span class="data-item"><span class="head">속성 정보</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																		<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																		<span class="data-item"><span class="head">옵션</span> <span class="body">중급/NetCDF</span></span>
																	</p>
																</div>
																<!-- //goods-data -->
																<!-- goods-util -->
																<div class="goods-util">
																	<span class="button-area">
																		<button type="button" class="btn delete">
																			<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																				<title>삭제하기</title>
																				<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																			</svg>
																		</button>
																	</span>
																</div>
																<!--// goods-util -->
															</div>
															<!--//goods-inform-->
														</div>
														<!-- //goods-wrap -->
														<!-- goods-side -->
														<div class="goods-side">
															<!-- option-display -->
															<fieldset class="option-display module-a">
																<legend>옵션 선택</legend>
																<div class="option-list">
																	<div class="option-item checked-within">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- option-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																				</p>
																			</div>
																			<!-- //option-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																	<div class="option-item">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- goods-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																				</p>
																			</div>
																			<!-- //goods-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																	<div class="option-item">
																		<div class="option-wrap">
																			<!-- option-head -->
																			<div class="option-head">
																				<span class="option-name"><label class="form checkbox module-a style-a small-2x accent-01"><input type="checkbox" class="form-elem" /> <span class="form-text">항목선택</span></label></span>
																			</div>
																			<!-- //option-head -->
																			<!-- goods-data -->
																			<div class="option-data">
																				<p class="data-list">
																					<span class="data-item"><span class="head">구분</span> <span class="body">GK2A,L1C,AERAOD443</span></span>
																					<span class="data-item"><span class="head">포맷</span> <span class="body">NetCDF</span></span>
																					<span class="data-item"><span class="head">용량</span> <span class="body">중급/NetCDF</span></span>
																				</p>
																			</div>
																			<!-- //goods-data -->
																			<!-- option-util -->
																			<div class="option-util">
																				<span class="button-area">
																					<button type="button" class="btn delete">
																						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																							<title>삭제하기</title>
																							<path d="M8 20.25C7.45 20.25 6.97933 20.0543 6.588 19.663C6.196 19.271 6 18.8 6 18.25V6.25H5V4.75H9V3.75H15V4.75H19V6.25H18V18.25C18 18.8 17.8043 19.271 17.413 19.663C17.021 20.0543 16.55 20.25 16 20.25H8ZM16.5 6.25H7.5V18.75H16.5V6.25ZM9.5 17.25H11V8.25H9.5V17.25ZM13 17.25H14.5V8.25H13V17.25Z"/>
																						</svg>
																					</button>
																				</span>
																			</div>
																			<!-- //option-util -->
																		</div>
																	</div>
																</div>
															</fieldset>
															<!-- //option-display -->
														</div>
														<!-- //goods-side -->
													</div>
												</div>
											</div>
											<!-- //goods-display -->
										</div>
									</div>
								</div>
							</div>
							<!-- //order-display -->
						</div>
					</div>
				</div>
				<!-- content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
<%-include('../_templates/_guide.footer.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>