.HTNCWKD40D13W01 {
    .container-inner {
        .contents-section {
            &.contents-section2 {
                .contents-section-inner {
                    .contents-article {
                        &.contents-article1 {
                            overflow: hidden;

                            .contents-article-inner {
                                padding: 14rem 0 18rem 0;

                                @include mobile {
                                    padding: 6rem 0 10rem 0;
                                }
                            }
                        }

                        &.contents-article2 {
                            .contents-article-inner {
                                padding: 0 0 20rem 0;

                                @include mobile {
                                    padding: 0 0 14rem 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}