.header.tnc.site {
    // background-color: unset !important;
}

.HTNCWKD00D00W00 {
    width: 100%;

    .main-contents { 
        position: relative;
        

        &.contents-01 {
            z-index: 1;
            background-color: #fff;
        }

        &.contents-02 {
            top: -100vh;
        }
    }

    .sub-section-body {
        img {
            width: 100%;
            overflow: hidden;
        }
    }

    .section {
        position: relative;
        width: 100%;
        height: 100%;
        &.story-01 {
            width: 100%;
            position: relative;
            background-color: rgba(255, 255, 255, 1);
            height: 350vh;
            min-height: 3780px;
            @include mobile {
                height: auto;
                min-height: unset;
            }
            &.act-main {
                margin: 0 auto;
                @include mobile {
                    padding: unset;
                }
            }
            .design-wrap {
                width: 100%;
                position: sticky;
                top: 0;
                @include mobile {
                    position: relative;
                }
                &.part-01 {
                    border:1px solid red;
                    height: 250vh;
                    min-height: 2700px;
                    @include mobile {
                        height: 200vh;
                        min-height: unset;
                    }
                    .data-wrap {
                        position: relative;
                        height: 100vh;
                        min-height: 1080px;
                        // overflow: hidden;
                        @include mobile {
                            min-height: unset;
                            position: sticky;
                            top: 0;
                            overflow: hidden;
                        }
                    }
                    .title-wrap {
                        position: absolute;
                        left: 50%;
                        top: 70.277%;
                        transform: translate(-50%, 20rem);
                        text-align: center;
                        opacity: 0;
                        z-index: 10;
                        @include mobile {
                            width: 100%;
                            transform: translate(-50%, 20rem);
                        }
                        .tit {
                            display: block;
                            font-family: 'Poppins';
                            font-weight: 600;
                            font-size: 6.4rem;
                            line-height: 155.556%;
                            @include mobile {
                                font-size: 3.6rem;
                            }
                        }
                        .desc {
                            font-family: 'Pretendard';
                            font-weight: 600;
                            font-size: 2.4rem;
                            line-height: 171.429%;
                            margin-top: 2.777%;
                            @include mobile {
                                font-size: 1.4rem;
                                margin-top: 1.2rem;
                            }
                        }
                    }
                    .box-wrap {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        .box {
                            width: 21.7rem;
                            height: 40rem;
                            left: 50%;
                            transform: translateX(-50%);
                            overflow: hidden;
                            position: absolute;
                            transition-duration: 0.2s;
                            @include mobile {
                                width: 11.7rem; //31.2%
                                height: 21.4rem;
                                aspect-ratio: 117 / 214;
                            }
                            &~ .box {
                                top: 24%;
                                opacity: 0;
                                border-radius: 1.6rem;
                                @include mobile {
                                    max-width: 31rem;
                                    top: 50%;
                                    transform: translate(-50%,-50%);
                                }
                            }
                            &.style-01 {
                                width: 100%;
                                height: 100%;
                                position: fixed;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                transition-timing-function: cubic-bezier(.37,.72,.92,.95);
                                transition-duration: 0.6s;
                                overflow: hidden;
                                z-index: 5;
                                .video-wrap {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    transform: translate(-50%,-50%);
                                    overflow: hidden;
                                    img {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        max-width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        vertical-align: middle;
                                    }
                                    .scroll-mark {
                                        opacity: 0;
                                        transform: translate(-50%, 10rem);
                                        width: 14.8rem;
                                        height: 4.1rem;
                                        position: absolute;
                                        left: 50%; 
                                        bottom: 4rem;
                                        transition-duration: 1s;
                                    }
                                }
                                &.act-1 {
                                    width: calc(100% - 13rem); //93.23vw
                                    height: calc(100% - 20rem); //81.49vh
                                    border-radius: 3.2rem;
                                    .video-wrap {
                                        border-radius: 3.2rem;
                                        .scroll-mark {
                                            transform: translate(-50%, 0);
                                            opacity: 1;
                                        }
                                    }
                                    @include mobile {
                                        width: calc(100% - 6.4rem); //82.94vw
                                        height: 80%;
                                    }
                                }
                            }
                            &.style-02 {
                                background: radial-gradient(62.46% 62.46% at 50% 50%, #24F3D9 0%, #05D0B8 100%);
                                z-index: 4;
                            }
                            &.style-03 {
                                background: radial-gradient(62.46% 62.46% at 50% 50%, #4C2FFE 0%, #3E16DF 100%);
                                z-index: 3;
                            }
                            &.style-04 {
                                background: radial-gradient(50% 50% at 50% 50%, #CE8FFF 0%, #BA6AF9 100%);
                                z-index: 2;
                            }
                            &.style-05 {
                                background: radial-gradient(62.46% 62.46% at 50% 50%, #FFD600 0%, #FFAE24 100%);
                                z-index: 1;
                                opacity: 0;
                                @include mobile {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &.part-02 {
                    border:1px solid rgb(255, 145, 0);
                    z-index: 2;
                    width: 100%;
                    height: 100vh;
                    min-height: 1080px;
                    max-width: 158.4rem;
                    margin: 0 auto;
                    @include mobile {
                        // height: 100vh;
                        height: 81.2rem;
                        min-height: unset;
                        // background-color: rgba(255, 255, 255, 1);
                        // padding: 15rem 0 14rem;
                    }
                    .data-wrap {
                        width: 100%;
                        height: 100%;
                        min-height: 108rem;
                        overflow: hidden;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        @include mobile {
                            height: auto;
                            overflow: visible;
                            min-height: unset;
                            left: unset;
                            transform: unset;
                            position: relative;
                            top: 0;
                        }
                    }
                    .title-wrap {
                        opacity: 0;
                        position: absolute;
                        left: 50%;
                        top: 13.888%;
                        transform: translate(-50%, 40rem);
                        text-align: center;
                        width: 100%;
                        @include mobile {
                            position: relative;
                            top: unset;
                            left: unset;
                            margin-bottom: 12rem;
                            margin-top: 30%;
                            transform: translateY(20rem);
                        }
                        .tit {
                            display: block;
                            font-family: 'Poppins';
                            font-weight: 500;
                            font-size: 1.8rem;
                            line-height: 250%;
                            @include mobile {
                                font-size: 1.2rem;
                            }
                        }
                        .desc {
                            font-family: 'Hyosung';
                            font-weight: 700;
                            font-size: 5rem;
                            line-height: 143.75%;
                            margin-top: 1.851%;
                            @include mobile {
                                font-size: 3.2rem;
                            }
                        }
                    }
                    .card-box-wrap {
                        width: 100%;
                        position: absolute;
                        top: 31.759%;
                        // top: 343px;
                        // bottom: 11.7rem;
                        left: 50%;
                        transform: translateX(-50%);
                        @include mobile {
                            padding: 0 1.8rem 3rem;
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            gap: 2.133%;
                            overflow-y: hidden;
                            overflow-x: auto;
                            top: 60%;
                            left: 50%;
                            background-color: rgba(255, 198, 51, 1);
                            opacity: 0;
                        }
                        .card-box {
                            width: calc(100% / 3 - 1rem);
                            max-width: 51.4rem;
                            min-height: 62rem;
                            padding: 5rem 1.76%;
                            border-radius: 1.6rem;
                            background: #FFF6DF;
                            overflow: hidden;
                            position: absolute;
                            top: 0;
                            opacity: 0;
                            @include mobile {
                                position: relative;
                                width: 84%;
                                min-width: 31.5rem;
                                max-height: 46rem;
                                min-height: unset;
                                height: auto;
                                padding: 6% 2rem 10%;
                                background: #FFFFFF;
                                border-radius: 1.8rem;
                                box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.09);
                                opacity: 1;
                            }
                        }
                        .tit {
                            font-family: 'Poppins';
                            font-weight: 700;
                            font-size: 3.6rem;
                            line-height: 5rem;
                            @include mobile {
                                font-size: 2.2rem;
                                line-height: 4rem;
                            }
                        }
                        .sub-tit {
                            display: block;
                            font-weight: 700;
                            font-size: 2rem;
                            line-height: 150%;
                            text-align: center;
                            @include mobile {
                                font-size: 1.5rem;
                            }
                        }
                        .tit-desc,
                        .sub-tit-desc {
                            font-weight: 500;
                            font-size: 1.6rem;
                            line-height: 2.6rem;
                            text-align: justify;
                            opacity: 0.7;
                        }
                        .tit-desc {
                            margin-top: 0.6rem;
                            @include mobile {
                                font-size: 1.2rem;
                                line-height: 200%;
                            }
                        }
                        .sub-tit-desc {
                            margin-top: 2rem;
                            margin-left: auto;
                            margin-right: auto;
                            width: 86%;
                            @include mobile {
                                font-size: 1.4rem;
                                line-height: 157.143%;
                                margin-top: 0.8rem;
                            }
                        }
                        .img-wrap {
                            position: relative;
                            width: 100%;
                            height: 0;
                            padding-bottom: 42.794%;
                            margin: 3.8rem 0 4rem;
                            border-radius: 1.2rem;
                            overflow: hidden;
                            @include mobile {
                                margin: 11% 0;
                            }
                            img {
                                display:block;
                                width:100%;
                                height: 100%;
                                object-fit: cover;
                                position: absolute;
                                top: 50%; left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
                    }
                }
            }
            // .section-wrap {
            //     .section-inner {                
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         flex-direction: column;
    
            //         .section-head {
            //             .section-title {
            //                 .section-name {
            //                     font-weight: 600;
            //                     font-size: 6.4rem;
            //                     line-height: 8rem;
            //                     color: #000;
            //                 }
            //             }
            //         }
            //     }
            // }  
        }

        &.story-02 {
            .section-wrap {
                height: 500vh;
                background: #0E0E1A;

                .section-inner {
                    position: sticky;
                    top: 0;                
                    width: 100%;
                    height: 100vh;

                    .section-head {
                        padding: 18rem 0 0 15.2rem;
                        .section-caption {
                            font-weight: 600;
                            font-size: 2.4rem;
                            line-height: 3rem;
                            color: #fff;

                            & + .section-title {
                                margin-top: 2rem;
                            }
                        }
    
                        .section-title {
                            .section-name {
                                font-weight: 700;
                                font-size: 5rem;
                                line-height: 7.4rem;
                                color: #fff;
                            }
                        }
                    }

                    .section-body {
                        .sub-section {
                            .sub-section-wrap {
                                .sub-section-body {
                                    .data-display {
                                        &.world-market-share {
                                            .data-list {
                                                display: flex;
                                                align-items: flex-end;
                                                justify-content: flex-start;
                                                .data-item {
                                                    //width: calc(100% / 5);
                                                    height: 30rem;

                                                    &:nth-child(1) {
                                                        background-color: antiquewhite;
                                                    }

                                                    &:nth-child(2) {
                                                        background-color: aqua;
                                                    }

                                                    &:nth-child(3) {
                                                        background-color: aquamarine;
                                                    }

                                                    &:nth-child(4) {
                                                        background-color: azure;
                                                    }

                                                    &:nth-child(5) {
                                                        background-color: rgb(176, 221, 241);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .section-aside {
                        content: '';
                        position: absolute;
                        top: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        // background: linear-gradient(360deg, #00B2FF 27.56%, rgba(0, 48, 74, 0) 116.75%);
                        background-image: linear-gradient(360deg, #00B2FF 0%, transparent 100%);
                        opacity: 1;
                        //transition: opacity 0.7s ease-out;
                    }
                }
            }
        }

        &.story-03 {
            // z-index: -1;
            .section-wrap {
                .section-inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .section-head {
                        .section-title {
                            .section-name {
                                font-weight: 600;
                                font-size: 6.4rem;
                                line-height: 8rem;
                                color: #000;
                            }
                        }
                    }

                    .section-body {
                        .sub-section {
                            &:first-child {
                                .sub-section-wrap {
                                    .sub-section-body {
                                        width: 100%;
                                        height: 200vh;
                                        background: #00B2FF;
                                        z-index: -1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.story-04 {
            z-index: 10;
            .section-wrap {
                height: 100vh;
                overflow: hidden;
                background: rgb(255, 255, 255);
                display: flex;
                justify-content: center;
                align-items: center;

                .section-inner {     
                    .section-head {
                        .section-title {
                            .section-name {
                                font-weight: 600;
                                font-size: 6.4rem;
                                line-height: 8rem;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
.section-head {
    display: block;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    clip: rect(0,0,0,0);
    pointer-events: none;
}*/