.HTNCWKD40D11W01 {
    .container-inner {
        .contents-section {
            &.contents-section2 {
                margin-bottom: 20rem;
                @include mobile {
                    margin-bottom: 14rem;
                }
                .contents-section-inner {
                    .contents-article {
                        &.contents-article1 {
                            width: 100%;
                            padding-left: 1.8rem;
                            padding-right: 1.8rem;
                            overflow: hidden;

                            .contents-article-inner {
                                width: 100%;
                                max-width: 133.6rem;
                                margin: 0 auto;
                                padding: 14rem 0 18rem 0;
                                .thumbnail-display {
                                    .thumbnail-wrap {
                                        @extend %form02;
                                    }
                                }

                                @include mobile {
                                    padding: 6rem 0 10rem 0;
                                }
                            }
                        }

                        &.contents-article2 {
                            padding-left: 1.8rem;
                            padding-right: 1.8rem;
                            background: #2F3939;

                            .contents-article-inner {
                                padding: 14rem 0 
                                ;

                                @include mobile {
                                    padding: 10rem 0 8rem 0;
                                }
                            }
                        }
                        &.contents-article3 {
                            margin-top: 18rem;
                            @include mobile {
                                margin-top: 10rem;
                            }
                            .contents-article-inner {
                                .data-display {
                                    padding-bottom: 6rem;
                                }
                                .pagination-display {
                                    padding-top: 12rem;
                                }
                                @include mobile {
                                    .data-display {
                                        padding-bottom: 4rem;
                                    }
                                    .pagination-display {
                                        padding-top: 6rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}