.HTNCWKD40D31W01 {
    .container-inner {
        .contents-section {
            &.contents-section2 {
                .contents-section-inner {
                    .contents-article {
                        &.contents-article1 {
                            margin-top: 29rem;
                            @include mobile {
                                margin-top: 10rem;
                            }
                        }
                        &.contents-article2,
                        &.contents-article3,
                        &.contents-article5 {
                            margin-top: 18rem;
                            @include mobile {
                                margin-top: 10rem;
                            }
                        }

                        &.contents-article4,
                        &.contents-article6,
                        &.contents-article7 {
                            margin-top: 14rem;
                            @include mobile {
                                margin-top: 10rem;
                            }
                        }

                        &.contents-article1 {
                            .data-aside {
                                margin-top: 8rem;
                                @include mobile {
                                    margin-top: 6rem;
                                }
                            }
                        }
                        &.contents-article2 {
                            .contents-article-inner {
                                .data-display {
                                    // flex-direction: column;
                                    .title.small-v2 {
                                        margin-bottom: 4rem;
                                    }
                                    .data-body {
                                        .thumbnail-display {
                                            margin-bottom: 14rem;
                                            @include mobile {
                                                margin-bottom: 8rem;
                                            }
                                        }
                                        .diagram-display {
                                            .diagram-head {
                                                margin-bottom: 4rem;
                                            }
                                        }
                                    }
                                    .data-footer {
                                        margin-top: 6rem;
                                        @include mobile {
                                            margin-top: 4rem;
                                        }
                                    }
                                }
                            }
                            @include mobile {
                                padding-bottom: 10rem;
                            }
                        }
                        &.contents-article3 {
                            .data-aside {
                                margin-top: 8rem;
                                @include mobile {
                                    margin-top: 6rem;
                                }
                            }
                        }
                        &.contents-article4 {
                            .diagram-display {
                                .diagram-body {
                                    margin-top: 6rem;
                                    @include mobile {
                                        margin-top: 2.4rem;
                                    }
                                }
                                .diagram-aside {
                                    .button-display {
                                        margin-top: 8rem;
                                        @include mobile {
                                            margin-top: 4rem;
                                        }
                                    }
                                }
                            }
                        }
                        &.contents-article5 {
                            .contents-article-inner {
                                > .data-display {
                                    flex-direction: column;
                                    > .data-body {
                                        margin-top: 6rem;
                                        @include mobile {
                                            margin-top: 4rem;
                                        }
                                    }
                                    > .data-aside {
                                        margin-top: 14rem;
                                        .diagram-head {
                                            margin-bottom: 3rem;
                                            @include mobile {
                                                margin-bottom: 2.4rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.contents-article6 {
                            .diagram-display {
                                margin-top: 6rem;
                                .diagram-body {
                                    .picture {
                                        @include mobile {
                                            min-width:101.8rem;
                                        }
                                    }
                                }
                            }
                        }
                        &.contents-article7 {
                            padding-top: 14rem;
                            padding-bottom: 14rem;
                            background-color: color(achromatic, 978);
                            .contents-article-inner {
                                .diagram-display {
                                    .diagram-head {
                                        +.diagram-body {
                                            padding-top: 4rem;
                                            @include mobile {
                                                padding-top: 2.4rem;
                                                picture {
                                                    min-width: 65.4rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            @include mobile {
                                padding-top: 10rem;
                                padding-bottom: 8rem;
                            }
                        }
                        &.contents-article8 {
                            .contents-article-inner {
                                > .data-display {
                                    .data-aside {
                                        max-width: 111rem;
                                        margin-top: 14rem;
                                        margin-left: auto;
                                        margin-right: auto;
                                        @include mobile {
                                            margin-top: 6rem;
                                        }
                                    }
                                }
                            }
                            @include mobile {
                                padding-bottom: 14rem;
                            }
                        }

                        &.contents-article2,
                        &.contents-article8 {
                            background-color: #191F26;
                            padding-top: 14rem;
                            padding-bottom: 14rem;
                            @include mobile {
                                padding-top: 10rem;
                            }
                        }
                    }
                }
            }
        }
    }
}