.HTNCWKD40D41W03 {
    .contents-section2 {
        padding-bottom: 20rem;
        @include mobile {
            padding-bottom: 14rem;
        }
        .contents-section-inner {
            @include mobile {
                padding-top: 6rem;
            }
            .contents-section-head {
                .title.small-v10 {
                    padding-bottom: 4rem;
                }
            }
            .contents-section-body {
                .contents-article {
                    .data-display.design-4 {
                        > .data-list {
                            > .data-item {
                                &:nth-child(2) {padding-top: 12rem;}
                                &:nth-child(3) {padding-top: 12rem;}
                                &:nth-child(4) {padding-top: 12rem;}
                                @include mobile {
                                    &:nth-child(2),
                                    &:nth-child(3),
                                    &:nth-child(4) {
                                        padding-top: 10rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}