.HTNCWKD10D13W01 {

    //history
    .history-display {
        overflow-x: hidden;
        min-height: 1000vw;
        
        .contents-section-inner {
            height: 100vh;
            position: relative;
            top: 0;
            white-space: nowrap;
            font-size: 0;
        }

        //intro
        .history-intro {
            .history-intro-inner {
                position: relative;
                z-index: 10;
                height: 100vh;
                min-width: 100vw;
                padding: 0 29.2rem;
                display: inline-flex;
            }
            .history-head {
                // font-size: 610px;
                font-size: 31.771vw;
                font-weight: 800;
                font-family: 'Poppins';
                color: #0D3C84;
                line-height: 100vh; 
                letter-spacing: -18.3px;
            }
            .history-body {
                .title {
                    font-size: 52px;
                    font-weight: 700;
                    color: #000;
                    line-height: 72px;
                    letter-spacing: -1.04px;
                    font-family: 'Hyosung';
                }
                .color-box {

                }
            }
        }
        .history-contents {
            height: 100vh;
            position: fixed;
            top: 0;
            white-space: nowrap;
            font-size: 0;
            .history-contents-list {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-wrap: nowrap;
                padding: 0;
                overflow: hidden;
                border-right: 1px solid blue;
            }
            .history-panel {
                position: relative;
                z-index: 10;
                height: 100vh;
                min-width: 100vw;
                padding: 0 277px;
                display: inline-flex;
                .history-panel-inner {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .history-head {
                        font-size: 320px;
                        font-weight: 800;
                        font-family: 'Poppins';
                        color: #ffffff;
                        letter-spacing: -9.6px;
                        line-height: 100vh;
                    }
                    .history-body {
                        display: flex;
                        .title {
                            font-size: 110px;
                            font-weight: 700;
                            font-family: 'Hyosung';
                            color: #FFF;
                            letter-spacing: -2.2px;
                            line-height: 118.182%;
                        }
                        .history-list {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            .history-item {
                                &~ .history-item {
                                    margin-left: 4rem;
                                }
                            }
                            .year {
                                font-size: 80px;
                                font-weight: 800;
                                font-family: 'Poppins';
                                line-height: 125%;
                                color: rgba(255, 255, 255, 0.50);
                            }
                            .detail-list {
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                .detail-item {
                                    &~ .detail-item {
                                        margin-left: 0.4rem;
                                    }
                                }
                            }
                            .detail {
                                width: 60rem;
                                border-radius: 4rem;
                                overflow: hidden;
                                background-color: #ffffff;
                                .part {
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    padding: 1.6rem 3.2rem;
                                    &:first-child {
                                        padding: 3rem 3.2rem 1.6rem;
                                    }
                                    &:last-child {
                                        padding: 1.6rem 3.2rem 3rem;
                                    }
                                    &:nth-child(even) {
                                        background-color: #F0F0F0;
                                    }
                                    .month {
                                        display: inline-block;
                                        font-size: 26px;
                                        font-weight: 700;
                                        line-height: 100%;
                                        color: #0A2B5C;
                                        text-align: right;
                                        width: 5rem;
                                        padding-left: 0.8rem;
                                        .num {
                                            display: inline-block;
                                            font-size: 26px;
                                            font-weight: 700;
                                            line-height: normal;
                                            width: 58%;
                                            text-align: right;
                                            vertical-align: middle;
                                        }
                                        .sm {
                                            display: inline-block;
                                            font-size: 14px;
                                            font-weight: 600;
                                            line-height: normal;
                                            color: #0A2B5C;
                                        }
                                    }
                                    .txt-wrap {
                                        position: relative;
                                        display: inline-block;
                                        margin-left: 24px;
                                        width: 86.2%;
                                        .tag {
                                            font-size: 1.1rem;
                                            font-weight: 600;
                                            color: #ffffff;
                                            line-height: normal;
                                            display: inline-block;
                                            margin-right: 1.2rem;
                                            padding: 0.4rem;
                                            border-radius: 0.5rem;
                                            overflow: hidden;

                                            position: absolute;
                                            left: 0;
                                            top: 4px;
                                            &.type-1 {
                                                background-color: #8185D7;
                                            }
                                            &.type-2 {
                                                background-color: #FF9742;
                                            }
                                        }
                                        .txt {
                                            display: inline-block;
                                            font-size: 16px;
                                            font-weight: 500;
                                            line-height: 28px;
                                            color: #000;
                                            white-space: normal;
                                            padding-left: 4rem;
                                            &.bold {
                                                font-weight: 600;
                                            }
                                            &.type-1 {
                                                padding-left: 0;
                                            }
                                        }
                                        .txt-list {
                                            .txt-item {
                                                position: relative;
                                                &~ .txt-item {
                                                    margin-top: 0.8rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .history-panel-01 {
                background-color: #0D3C84;

            }
            .history-panel-02 {
                background-color: #12A474;
            }
            .history-panel-03 {
                background-color: #E09E3A;
            }
            .history-panel-04 {
                background-color: #621D4C;
            }
        }
    }






    @include mobile {
    }
    &.pc {
    }
    &.mo {
    }
}