.HTNCWKD40D33W01 {
    .container-inner {
        .contents-section {
            &.contents-section2 {
                .contents-section-inner {
                    .contents-article {
                        overflow: hidden;
                        .contents-article-inner {
                            width: 100%;
                            margin: 0 auto;
                            > .data-display,
                            > .title {
                                margin-bottom: 6rem;
                                @include mobile {
                                    margin-bottom: 2.4rem;
                                }
                            }
                        }
                        &.contents-article1,
                        &.contents-article5 {
                            margin-top: 18rem;
                            padding: 14rem 1.8rem;
                            background-color: #191F26;
                            @include mobile {
                                margin-top: 10rem;
                                padding: 10rem 1.8rem;
                            }
                        }
                        &.contents-article2 {
                            margin-top: 18rem;
                            padding: 0 1.8rem;
                            .slide-display.design-1 {
                                overflow: visible;
                            }
                            @include mobile {
                                margin-top: 10rem;
                            }
                        }
                        &.contents-article3,
                        &.contents-article4 {
                            margin-top: 14rem;
                            @include mobile {
                                margin-top: 10rem;
                            }
                        }
                        &.contents-article4 {
                            .contents-article-inner {
                                .table-display {
                                    thead {
                                        > tr th {
                                            &:nth-child(1) {
                                                width: 20%;
                                            }
                                            &:nth-child(2) {
                                                width: 10%;
                                            }
                                            &:nth-child(3) {
                                                width: 70%;
                                            }
                                        }
                                    }
                                    @include mobile {
                                        table {
                                            min-width: unset;
                                        }
                                        thead {
                                            display: none;
                                        }
                                        tbody {
                                            display: flex;
                                            flex-direction: column;
                                            tr {
                                                border: none;
                                                th {
                                                    padding-top: 1.4rem;
                                                    font-size: 1.4rem;
                                                    font-weight: 700;
                                                    line-height: 2.2rem;
                                                    text-align: center;
                                                    font-family: 'Hyosung';
                                                }
                                                td {
                                                    text-align: left;
                                                    &:nth-child(2) {
                                                        color: color(chromatic, 132);
                                                        @include mobile {
                                                            padding-top: 1.4rem;
                                                            padding-bottom: 1rem;
                                                            font-weight: 600;
                                                            font-family: 'Hyosung';
                                                            .mo-only {
                                                                font-weight: 600;
                                                            }
                                                        }
                                                    }
                                                    &:nth-child(3) {
                                                        padding-top: 0;
                                                        padding-bottom: 3.4rem;
                                                    }
                                                }
                                            }
                                            th,
                                            td {
                                                display: block;
                                                width: 100%;
                                                border: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}