.HTNCWKD40D21W01 {
    .contents-section2 {
        .contents-section-head {
            +.contents-section-body {
                padding-top: 8rem;
                @include mobile {
                    padding-top: 6rem;
                }
            }
        }
        .contents-article {
            +.contents-aricle {
                padding-top: 14rem;
            }
            &.contents-article1 {
                overflow: hidden;
                .data-display {
                    +.diagram-display {
                        margin-top: 8rem;
                        @include mobile {
                            margin-top: 6rem;
                        }
                    }
                }
                .data-body {
                    +.data-aside {
                        padding-top: 8rem;
                        @include mobile {
                            padding-top: 6rem;
                        }
                    }
                }
                .data-para {
                    word-break: keep-all;
                }
                .data-aside {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 100vw;
                        height: calc(100% - 8rem);
                        background-color: rgb(244, 248, 255);
                        transform: translateX(-50%);
                        z-index: -1;
                        @include mobile {
                            height: calc(100% - 6rem);
                        }
                    }
                    .diagram-display {
                        padding-top: 6rem;
                        padding-bottom: 6rem;
                        .diagram-inner {
                            display: block;
                            max-width: 133.6rem;
                            padding-left: 1.8rem;
                            padding-right: 1.8rem;
                            margin: 0 auto;
                        }
                       @include mobile {
                        padding-top: 4rem;
                        padding-bottom: 4rem;
                       }
                    }
                    .diagram-head {
                        +.diagram-body {
                            padding-top: 2.4rem;
                        }
                    }
                    .diagram-body {
                        .order-list {
                            padding-left: 1.5rem;
                            @include mobile {
                                padding-left: 0;
                            }
                        }
                    }
                }
                @include mobile {
                    .data-head {
                        padding-right: 10rem;
                    }
                }
            }
            &.contents-article2 {
                padding-top: 18rem;
                padding-bottom: 18rem;
                .data-display {
                    +.diagram-display {
                        padding-top: 14rem;
                        @include mobile {
                            padding-top: 10rem;
                        }
                    }
                }
                .data-body {
                    +.data-aside {
                        padding-top: 14rem;
                        @include mobile {
                            padding-top: 10rem;
                        }
                    }
                }
                .diagram-display {
                    .diagram-head {
                        +.diagram-body {
                            padding-top: 5.4rem;
                            @include mobile {
                                padding-top: 2.4rem;
                            }
                        }
                    }
                    .diagram-title {
                        +.diagram {
                            padding-top: 5.4rem;
                            @include mobile {
                                padding-top: 2.4rem;
                            }
                        }
                    }
                    .title {
                        font-size: 2.8rem;
                        font-weight: 700;
                        line-height: 4.2rem;
                        @include mobile {
                            font-size: 1.8rem;
                            line-height: 3rem;
                        }
                    }
                    +.table-area {
                        margin-top: 14rem;
                        @include mobile {
                            margin-top: 10rem;
                        }
                    }
                    @include mobile {
                        .picture {
                            min-width: 130rem;
                        }
                    }
                }
                .table-area {
                    position: relative;
                    .table-head {
                        +.table-display {
                            margin-top: 2.4rem;
                        }
                    }
                    .table-title {
                        font-size: 2.8rem;
                        font-weight: 700;
                        line-height: 4.2rem;
                        @include mobile {
                            font-size: 1.8rem;
                            line-height: 3rem;
                        }
                    }
                    .table-display {
                        colgroup {
                            col {
                                &:nth-child(1) {
                                    width: 8.45%;
                                }
                                &:nth-child(2) {
                                    width: 42.29%;
                                }
                                &:nth-child(3) {
                                    width: auto;
                                }
                            }
                        }
                    }
                    .button-display {
                        position: absolute;
                        top: 0;
                        right: 0;
                        @include mobile {
                            position: relative;
                            padding-top: 4rem;
                        }
                    }
                }
                @include mobile {
                    padding-top: 10rem;
                    padding-bottom: 10rem;
                }
            }
            &.contents-article3 {
                background: url('../images/photo/sustainability/climate/bg-01.jpg') no-repeat center/cover;
                @include mobile {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            &.contents-article4 {
                padding-top: 18rem;
                padding-bottom: 18rem;
                .title {
                    +.data-display {
                        padding-top: 8rem;
                        @include mobile {
                            padding-top: 4rem;
                        }
                    }
                }
                .data-display {
                    +.data-display {
                        padding-top: 8rem;
                        @include mobile {
                            padding-top: 6rem;
                        }
                    }
                }
                .data-footer {
                    padding-top: 10rem;
                    padding-bottom: 10rem;
                    padding-left: 11.3rem;
                    padding-right: 11.3rem;
                    margin-top: 6rem;
                    background-color: color(achromatic, 975, 0.8);
                    border-radius: 1.6rem;
                    @include mobile {
                        padding-top: 4rem;
                        padding-bottom: 4rem;
                        padding-left: 2rem;
                        padding-right: 2rem;
                    }
                }
                @include mobile {
                    padding-top: 10rem;
                    padding-bottom: 10rem;
                }
            }
            &.contents-article5 {
                overflow: hidden;
                .data-body {
                    +.data-aside {
                        padding-top: 6rem;
                    }
                }
                .table-display {
                    // min-width: 61.9rem;
                    colgroup {
                        col {
                            &:nth-child(1) {
                                width: 15.41%;
                            }
                            &:nth-child(2),
                            &:nth-child(3) {
                                width: auto;
                            }
                            &:nth-child(4) {
                                width: 16.91%;
                            }
                        }
                    }
                }
                .data-aside {
                    +.data-footer {
                        padding-top: 14rem;
                        @include mobile {
                            padding-top: 6rem;
                        }
                    }
                }
                .data-footer {
                    display: flex;
                    justify-content: end;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 100vw;
                        height: calc(100% - 14rem);
                        background: url('../images/photo/sustainability/climate/bg-02-pc.jpg') no-repeat;
                        background-size: 38.75% 100%;
                        background-color: color(achromatic, 966);
                        transform: translateX(-50%);
                        @include mobile {
                            height: calc(100% - 6rem);
                            background: url('../images/photo/sustainability/climate/bg-02-mo.jpg') no-repeat;background-color: rgb(242, 248, 250);
                            background-position: bottom;
                            background-size: 100% 24.6rem;
                        }
                    }
                    .thumbnail-display {
                        padding-top: 12rem;
                        padding-bottom: 20rem;
                        margin: 0;
                        @include mobile {
                            padding-top: 10rem;
                            padding-bottom: 30.6rem;
                        }
                    }
                }
            }
        }
    }
    &.pc {
    }
    &.mo {
    }
}