.HTNCWKD40D32W01 {
    .container-inner {
        .contents-section {
            &.contents-section2 {
                margin-bottom: 20rem;
                @include mobile {
                    margin-bottom: 14rem;
                }
                .contents-section-inner {
                    .contents-article {
                        .contents-article-inner {
                            .thumbnail-display {
                                margin-top: 6rem;
                                @include mobile {
                                    margin-top: 2.4rem;
                                }

                                & + .title {
                                    &.small-v9 {
                                        margin-top: 8rem;
                                        @include mobile {
                                            margin-top: 4rem;
                                            .name {
                                                font-size: 1.8rem;
                                                line-height: 3.2rem;
                                            }
                                        }
                                    }
                                }
                            }

                            .button-display {
                                margin-top: 1rem;
                                @include mobile {
                                    margin-top: 1.6rem;
                                }
                            }
                        }
                        &.contents-article1, 
                        &.contents-article2, 
                        &.contents-article3 {
                            margin-top: 18rem;
                            @include mobile {
                                margin-top: 10rem;
                            }
                        }
                        &.contents-article1 {
                            .data-aside {
                                padding-top: 8rem;
                                @include mobile {
                                    padding-top: 6rem;
                                }
                            }
                        }
                        &.contents-article2 {
                            background-color: color(achromatic, 978);
                            padding-top: 14rem;
                            padding-bottom: 14rem;
                            .data-para {
                                padding-left: 17rem;
                                padding-right: 17rem;
                                @include mobile {
                                    padding-left: 0;
                                    padding-right: 0;
                                }
                            }
                            .diagram-display {
                                margin-top: 8rem;
                                @include mobile {
                                    margin-top: 6rem;
                                }
                            }
                            @include mobile {
                                padding-top: 10rem;
                                padding-bottom: 10rem;
                            }
                        }
                        &.contents-article3 {
                            .diagram-display {
                                margin-top: 6rem;
                                @include mobile {
                                    margin-top: 2.4rem;
                                }
                            }
                        }
                        &.contents-article4 {
                            margin-top: 14rem;
                            @include mobile {
                                margin-top: 10rem;
                                .thumbnail-display {
                                    margin-top: 4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    //popup
    .popup {
        .pc {
            display: block;

            table {
                font-size: 1.6rem;
                line-height: 2.8rem;
                &.safety-task-01 {
                    colgroup {
                        col {
                            &:nth-child(1) {
                                width: 13%;
                            }
                            &:nth-child(2) {
                                width: auto;
                            }
                            &:nth-child(3) {
                                width: 20%;
                            }
                            &:nth-child(4) {
                                width: 7%;
                            }
                            &:nth-child(5) {
                                width: 11%;
                            }
                            &:nth-child(6) {
                                width: 11%;
                            }
                        }
                    }
                    & + .order-list {
                        margin-top: 2.4rem;
                    }
                }
            }

            @include mobile {
                display: none;
            }
        }

        .mo {
            display: none;

            @include mobile {
                display: block;

                &.data-display {
                    &.design-3 {
                        & + .data-display.design-3 {
                            margin-top: 6rem;
                        }
                        
                        & + .order-list {
                            margin-top: 2.4rem;
                        }
                    }
                }

                table {
                    &.safety-task-02 {
                        min-width: 47rem;

                        colgroup {
                            col {
                                &:nth-child(1) {
                                    width: auto;
                                }
                                &:nth-child(2) {
                                    width: 14%;
                                }
                                &:nth-child(3) {
                                    width: 23%;
                                }
                                &:nth-child(4) {
                                    width: 23%;
                                }
                            }
                        }
                    }

                    &.safety-task-03,
                    &.safety-task-04,
                    &.safety-task-05,
                    &.safety-task-06,
                    &.safety-task-07,
                    &.safety-task-08,
                    &.safety-task-09,
                    &.safety-task-10 {
                        min-width: 44rem;

                        colgroup {
                            col {
                                &:nth-child(1) {
                                    width: auto;
                                }
                                &:nth-child(2) {
                                    width: 14.5%;
                                }
                                &:nth-child(3) {
                                    width: 26.8%;
                                }
                                &:nth-child(4) {
                                    width: 26.8%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}