.HTNCWKD40D10W01 {
    .contents-section {
        &.contents-section2 {
            .contents-section-head {
                width: 100%;
                height: 40rem;
                background: url('../../assets/images/photo/sustainability/sustainable/img-intro.jpg') center center no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include mobile {
                    height: 23rem;
                }
                .title.design-1.case-1.small-v2 {
                    padding-top: 2rem;
                    @include mobile {
                        padding-top: 1rem;
                    }
                }
                .title.small-v2 .name {
                    @include mobile {
                        font-size: 1.8rem;
                        line-height: 3rem;
                    }
                }
            }
            
            .contents-article {
                &.contents-article1,
                &.contents-article2,
                &.contents-article3,
                &.contents-article5,
                &.contents-article6 {
                    padding: 18rem 1.8rem 0;
                    @include mobile {
                        padding: 10rem 1.8rem 0;
                    }
                    .thumbnail-display,
                    .diagram-display,
                    .table-display {
                        padding-top: 8rem;
                        @include mobile {
                            padding-top: 6rem;
                        }
                    }
                }
                &.contents-article4 {
                    background-color: #F4F8FF;
                    padding: 14rem 1.8rem;
                    margin-top: 18rem;
                    @include mobile {
                        margin-top: 10rem;
                        padding: 10rem 1.8rem;
                    }
                    .data-display.design-1.case-3.color-10 {
                        max-width: 133.6rem;
                        margin: 0 auto;
                    }
                    .thumbnail-display {
                        padding-top: 8rem;
                        .thumbnail-inform {
                            .data-body {
                                padding-top: 0;
                            }
                        }
                    }
                }
                &.contents-article5 {
                    .contents-article-inner {
                        > .data-display {
                            display: block;
                        }
                    }
                    .table-display {
                        margin-bottom: 8rem;
                        @include mobile {
                            margin-bottom: 6rem;
                        }
                    }
                }
                &.contents-article6 {
                    @include mobile {
                        .data-display.design-1.case-9 .data-head + .data-body {
                            padding-top: 2.4rem;
                        }
                    }
                }
            }
    
            .contents-section-foot {
                width: 100%;
                height: 60rem;
                margin-top: 18rem;
                padding: 0 1.8rem;
                background: url('../../assets/images/photo/sustainability/sustainable/img-outro.jpg') center center no-repeat;
                background-size: cover;
    
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .title.design-1.case-1.small-v3 {
                    text-align: center;
                    .name {
                        line-height: 1.7;
                        @include mobile {
                            font-size: 1.8rem;
                            text-align: center;
                        }
                    }
                }
                @include mobile {
                    height: 47rem;
                }
            }
    
        }
    }
    .title.small-v13 .name{
        line-height: 3.8rem;
        @include mobile{
            line-height: 3rem;
        }
    }
}