.HTNCWKD40D50W01 {
    .container-inner {
        .contents-section {
            &.contents-section2 {
                padding-bottom: 20rem;
                @include mobile {
                    padding-bottom: 14rem;
                }
                .contents-section-inner {
                    .contents-article {
                        .contents-article-inner {
                            position: relative;
                            max-width: 111rem;
                            margin: 0 auto;
                            margin-top: 6rem;
                            @include mobile {
                                margin-top: 4rem;
                            }
                            .data-display {
                                width: 59.279%;
                                @include mobile {
                                    width: 100%;
                                }
                            }
                            .table-display {
                                padding-top: 8rem;
                                .button.design-2.color-600 .button-text-core {
                                    color: #535353;
                                }
                                @include mobile {
                                    padding-top: 4rem;
                                    margin-bottom: 4rem;
                                }
                            }
                            > .button-display {
                                &~ .button-display {
                                    @include mobile {
                                        padding-top: 1rem;
                                    }
                                }
                            }
                            > .button-display.form-1.sort-2 {
                                position: absolute;
                                top: 0;
                                right: 0;
                                @include mobile {
                                    position: relative;
                                }
                            }
                            > .button-display.form-1.sort-1 {
                                display: none;
                                @include mobile {
                                    display: flex;
                                }
                            }
                        }
                        &~ .contents-article {
                            padding-top: 18rem;
                            @include mobile {
                                padding-top: 10rem;
                            }
                        }

                        &.contents-article1,
                        &.contents-article2,
                        &.contents-article3 {
                            .table-display {
                                thead {
                                    th {
                                        &:nth-child(1) {width: 16%;}
                                        &:nth-child(2) {width: 16%;}
                                        &:nth-child(3) {width: 12%;}
                                        &:nth-child(4) {width: 12%;}
                                        &:nth-child(5) {width: 12%;}
                                        &:nth-child(6) {width: 12%;}
                                        &:nth-child(7) {width: auto;}
                                        @include mobile {
                                            width: unset !important;
                                        }
                                    }
                                }
                            }
                        }
                        &.contents-article4,
                        &.contents-article5,
                        &.contents-article6 {
                            .table-display {
                                thead {
                                    th {
                                        &:nth-child(1) {width: 21%;}
                                        &:nth-child(2) {width: 21%;}
                                        &:nth-child(3) {width: 14.5%;}
                                        &:nth-child(4) {width: 14.5%;}
                                        &:nth-child(5) {width: 14.5%;}
                                        &:nth-child(6) {width: 14.5%;}
                                        @include mobile {
                                            width: unset !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}