.HTNCWKD40D40W01 {
    .container-inner {
        .contents-section {
            &.contents-section2 {
                
                .contents-section-inner {
                    @include mobile {
                        padding-top: 6rem;
                    }
                    .contents-section-head {
                        max-width: 133.6rem;
                        margin: 0 auto;
                    }
                    .contents-article {
                        margin-top: 18rem;
                        &.contents-article1 {
                            width: 100%;
                            background-color: color(achromatic, 123);
                            overflow: hidden;
                            .contents-article-inner {
                                width: 100%;
                                padding: 10rem 0;
                                .diagram-display {
                                    .diagram-head {
                                        +.diagram-body {
                                            padding-top: 3rem;
                                        }
                                    }
                                }
                                @include mobile {
                                    padding-bottom: 8rem;
                                }
                            }
                            @include mobile {
                                margin-top: 6rem;
                            }
                        }
                        &.contents-article2 {
                            .diagram-display .diagram-head {
                                padding-bottom: 6rem;
                            }
                            .diagram-body {

                            }
                        }
                        &.contents-article3,
                        &.contents-article4,
                        &.contents-article5,
                        &.contents-article6 {
                            .data-display {
                                .data-body {
                                    +.data-aside {
                                        padding-top: 8rem;
                                    }
                                }
                            }
                        }
                        &.contents-article7 {
                            transform: none;
                            opacity: 1;
                            .accordion-display {
                                .accordion-item {
                                    &.accordion-item1 {
                                        .data-display {
                                            .data-body {
                                                +.data-aside {
                                                    padding-top: 8rem;
                                                    @include mobile {
                                                        padding-top: 3rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.accordion-item2 {
                                        .data-display {
                                            .data-body {
                                                +.data-aside {
                                                    padding-top: 3rem;
                                                    @include mobile {
                                                        padding-top: 4rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .accordion-head,
                                    .accordion-body {
                                        padding-left: 1.8rem;
                                        padding-right: 1.8rem;
                                        @include mobile {
                                            padding-left: 2rem;
                                            padding-right: 2rem;
                                        }
                                    }
                                    .accordion-head {
                                        .accordion-button {
                                            padding-left: 0;
                                            padding-right: 0;
                                        }
                                    }
                                    .accordion-body {
                                        .accordion-content {
                                            padding-left: 0;
                                            padding-right: 0;
                                            .data-display {
                                                +.data-display {
                                                    padding-top: 4rem;
                                                    @include mobile {
                                                        padding-top: 2rem;
                                                    }
                                                }
                                                .data-body {
                                                    +.data-aside {
                                                        .diagram-display {
                                                            +.button-display {
                                                                padding-top: 8rem;
                                                                @include mobile {
                                                                    padding-top: 4rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:nth-child(2) {
                                        .accordion-body {
                                            .accordion-content {
                                                .data-display {
                                                    &:nth-child(1) {
                                                        .data-body {
                                                            position: relative;
                                                            &::after {
                                                                content: '';
                                                                display: block;
                                                                position: absolute;
                                                                top: 1.2rem;
                                                                right: 0;
                                                                width: 11.98%;
                                                                height: 16rem;
                                                                background-image: url('../images/photo/sustainability/ethical/img-thumb-ethical-11-pc.jpg');
                                                                background-repeat: no-repeat;
                                                                background-size: contain;
                                                                @include mobile {
                                                                    top: unset;
                                                                    bottom: 0;
                                                                    width: 100%;
                                                                    background-image: url('../images/photo/sustainability/ethical/img-thumb-ethical-11-mo.jpg');
                                                                    background-position: center;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &:nth-child(2) {
                                                        .data-body {
                                                            position: relative;
                                                            &::after {
                                                                content: '';
                                                                display: block;
                                                                position: absolute;
                                                                top: 1.2rem;
                                                                right: 0;
                                                                width: 11.98%;
                                                                height: 16rem;
                                                                background-image: url('../images/photo/sustainability/ethical/img-thumb-ethical-10-pc.jpg');
                                                                background-repeat: no-repeat;
                                                                background-size: contain;
                                                                @include mobile {
                                                                    top: unset;
                                                                    bottom: 0;
                                                                    width: 100%;
                                                                    background-image: url('../images/photo/sustainability/ethical/img-thumb-ethical-10-mo.jpg');
                                                                    background-position: center;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &:nth-child(3) {
                                                        .data-body {
                                                            position: relative;
                                                            &::after {
                                                                content: '';
                                                                display: block;
                                                                position: absolute;
                                                                top: 1.2rem;
                                                                right: 0;
                                                                width: 11.98%;
                                                                height: 16rem;
                                                                background-image: url('../images/photo/sustainability/ethical/img-thumb-ethical-09-pc.jpg');
                                                                background-repeat: no-repeat;
                                                                background-size: contain;
                                                                @include mobile {
                                                                    top: unset;
                                                                    bottom: 0;
                                                                    width: 100%;
                                                                    background-image: url('../images/photo/sustainability/ethical/img-thumb-ethical-09-mo.jpg');
                                                                    background-position: center;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .data-body {
                                                        background-repeat: no-repeat;
                                                        background-position-y: 1.2rem;
                                                        background-position-x: right;
                                                        .data-para {
                                                            width: 83.08%;
                                                            @include mobile {
                                                                width: 100%;
                                                                padding-bottom: 19rem;
                                                            }
                                                        }
                                                        @include mobile {
                                                            background-position: bottom;
                                                        }
                                                    }
                                                    @include mobile {
                                                        +.data-display {
                                                            padding-top: 3rem;
                                                        }
                                                    }
                                                }
                                                @include mobile {
                                                    padding-right: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        @include mobile {
                            margin-top: 10rem;
                            &.contents-article3,
                            &.contents-article4 {
                                .data-display {
                                    .data-body {
                                        +.data-aside {
                                            padding-top: 6rem;
                                        }
                                    }
                                }
                            }
                            &.contents-article5,
                            &.contents-article6 {
                                .data-display {
                                    .data-body {
                                        +.data-aside {
                                            padding-top: 4rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @include mobile {
                    padding-bottom: 14rem;
                }
            }
        }
    }
}