<header id="header" class="header tnc">
    <div class="header-inner">
        <h1 class="logo-tnc-top">
            <a href="../kor/HTNCWKD00D00W00.html" class="logo-top-link" title="클릭 : 메인페이지 이동" area-label="클릭 : 메인페이지 이동">
                <em class="logo logo-hyosung-tnc-eng color-blue">HYOSUNG TNC</em>
            </a>
        </h1>
    </div>
</header>