<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Board</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Board system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;div class="board-list design1"&gt;
	&lt;div class="board-item"&gt;
		&lt;div class="board-wrap"&gt;
			&lt;div class="board-head"&gt;board&lt;/div&gt;
			&lt;div class="board-body"&gt;board&lt;/div&gt;
			&lt;div class="board-util"&gt;board&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Class options</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-head">Type</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type1</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type2</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type3</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Info board</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">design1</div>
							<div class="subsection-body"></div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-head">design2</div>
							<div class="subsection-body"></div>
						</div>
						<div class="subsection">
							<div class="subsection-head">case1</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-head">design2</div>
							<div class="subsection-body"></div>
						</div>
						<div class="subsection">
							<div class="subsection-head">case1</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Noti board</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body"></div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Guide board</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body"></div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body"></div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Board display</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head"></div>
							<div class="subsection-body">
								<div class="board-display">
									<div class="board-list">
										<div class="board-item"></div>
										<div class="board-item"></div>
										<div class="board-item"></div>
										<div class="board-item"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body"></div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>