<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
				<!-- page-body -->
				<div class="page-body">
					<!-- local-head -->
					<div class="local-head">
						<h2 class="local-subject">
							<span class="local-name">Button</span>
							<span class="local-desc">버튼은 디자인 시스템의 비주얼 스타일을 보여주는 중요한 구성요소입니다. 컬러, 사이즈, 여백 및 기타 세부사항을 통합하여 정의합니다.</span>
						</h2>
					</div>
					<!-- //local-head -->
					<!-- local-body -->
					<div class="local-body">
						<!-- section -->
						<div class="section button-variation">
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Button system</span></h4>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">HTML structure</div>
									<div class="subsection-body">
<pre class="highlight-js">
<code class="html">&lt;a href="#" class="btn"&gt;&lt;span class="btn-text"&gt;name&lt;/span&gt;&lt;/a&gt;
&lt;button type="button" class="btn"&gt;&lt;span class="btn-text"&gt;name&lt;/span&gt;&lt;/button&gt;
&lt;button type="submit" class="btn"&gt;&lt;span class="btn-text"&gt;name&lt;/span&gt;&lt;/button&gt;</code></pre>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Class options</div>
									<div class="subsection-body">
										<!-- data-table -->
										<div class="data-table design2 type1">
											<table>
												<colgroup>
													<col style="width: 128rem;">
													<col>
												</colgroup>
												<tbody>
													<tr>
														<th scope="row">module</th>
														<td>design*</td>
													</tr>
													<tr>
														<th scope="row">style</th>
														<td>case-*</td>
													</tr>
													<tr>
														<th scope="row">type</th>
														<td>type2, type1, type3</td>
													</tr>
													<tr>
														<th scope="row">outline</th>
														<td>small-2x, small-1x, small, medium, large, large-1x, large-2x</td>
													</tr>
													<tr>
														<th scope="row">accent</th>
														<td>normal-*, accent-*</td>
													</tr>
													<tr>
														<th scope="row">symbols</th>
														<td>symbol-ltr-*, symbol-rtl-*</td>
													</tr>
													<tr>
														<th scope="row">options</th>
														<td>disabled</td>
													</tr>
												</tbody>
											</table>
										</div>
										<!-- //data-table -->
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Design</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js">
	<code class="html">&lt;a href="#" class="btn design1 case1"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 case2"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 case3"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area">
											<a class="btn design1 case1 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case1</span></a>
											<a class="btn design1 case2 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case2</span></a>
											<a class="btn design1 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case3</span></a>
										</div>
									</div>
								</div>
								<div class="subsection">
									<div class="subsection-head">Type</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js">
	<code class="html">&lt;a href="#" class="btn design1 type1"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 type2"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 type3"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area">
											<a class="btn design1 case1 type2 normal-00 large-1x" href="#"><span class="btn-text">Button type1</span></a>
											<a class="btn design1 case1 type1 normal-00 large-1x" href="#"><span class="btn-text">Button type1</span></a>
											<a class="btn design1 case1 type3 normal-00 large-1x" href="#"><span class="btn-text">Button type3</span></a>
										</div>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Accent</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js">
	<code class="html">&lt;a href="#" class="btn design1 accent1"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 accent2"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 accent3"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
	</code></pre>
										<!-- //highlight-js -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">accent1</div>
											<!-- border 색 기준 -->
											<div class="subcategory-body">
												<div class="guide-button-area">
													<a class="btn design1 case1 type2 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design1 case1 type2 accent2 large-1x" href="#"><span class="btn-text">btn accent2</span></a>
													<a class="btn design1 case1 type2 accent3 large-1x" href="#"><span class="btn-text">btn accent3</span></a>
													<a class="btn design1 case1 type2 normal-04 large-1x" href="#"><span class="btn-text">btn normal-04</span></a>
													<a class="btn design1 case1 type2 normal-05 large-1x" href="#"><span class="btn-text">btn normal-05</span></a>
												</div>
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">accent2</div>
											<!-- border 색 기준 -->
											<div class="subcategory-body">
												<div class="guide-button-area">
													<a class="btn design2 case1 type1 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type1 accent2 large-1x" href="#"><span class="btn-text">btn accent2</span></a>
													<a class="btn design2 case1 type1 accent3 large-1x" href="#"><span class="btn-text">btn accent3</span></a>
													<a class="btn design2 case1 type1 normal-04 large-1x" href="#"><span class="btn-text">btn normal-04</span></a>
													<a class="btn design2 case1 type1 normal-05 large-1x" href="#"><span class="btn-text">btn normal-05</span></a>
												</div>
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">accent3</div>
											<div class="subcategory-body">
												<div class="guide-button-area">
													<a class="btn design2 case1 type3 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type3 accent2 large-1x" href="#"><span class="btn-text">btn accent2</span></a>
													<a class="btn design2 case1 type3 accent3 large-1x" href="#"><span class="btn-text">btn accent3</span></a>
													<a class="btn design2 case1 type3 normal-04 large-1x" href="#"><span class="btn-text">btn normal-04</span></a>
													<a class="btn design2 case1 type3 normal-05 large-1x" href="#"><span class="btn-text">btn normal-05</span></a>
												</div>
											</div>
										</div>
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Disabled</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js">
	<code class="html">&lt;a class="btn design2 disabled" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;button type="button" class="btn design2 type3" disabled="disabled"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/button&gt;
	</code></pre>
										<!-- //highlight-js -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">disabled</div>
											<!-- border 색 기준 -->
											<div class="subcategory-body">
												<div class="guide-button-area">
													<a class="btn design2 case1 type1 accent1 large-1x disabled" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type1 accent1 large-1x disabled" href="#"><span class="btn-text">btn accent1</span></a>
												</div>
											</div>
										</div>
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Outline</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js">
	<code class="html">
&lt;a href="#" class="btn design2 case1 x-large"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case1 large"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case1 medium"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case1 small"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case1 x-small"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
	</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area">
											<a class="btn design2 case1 type1 normal-00 small-1x" href="#"><span class="btn-text">small-1x</span></a>
											<a class="btn design2 case1 type1 normal-00 small" href="#"><span class="btn-text">small</span></a>
											<a class="btn design2 case1 type1 normal-00 medium" href="#"><span class="btn-text">medium</span></a>
											<a class="btn design2 case1 type1 normal-00 large" href="#"><span class="btn-text">large</span></a>
											<a class="btn design2 case1 type1 normal-00 large-1x" href="#"><span class="btn-text">large-1x</span></a>
											<a class="btn design2 case1 type1 normal-00 large-2x" href="#"><span class="btn-text">large-2x</span></a>
											<a class="btn design2 case1 type1 normal-00 large-3x" href="#"><span class="btn-text">large-3x</span></a>
										</div>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Symbols</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js">
	<code class="html">&lt;a href="#" class="btn design2 symbol-ltr-*"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 symbol-rtl-*"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;</code></pre>
										<!-- //highlight-js -->
										<!-- button-area -->
										<div class="guide-button-area">
											<a class="btn design2 case1 type1 normal-00 large-1x symbol-ltr-chevron-left" href="./../snippet/icon.html"><span class="btn-text">design1 insert before</span></a>
											<a class="btn design2 case1 type1 normal-00 large-1x symbol-rtl-chevron-right" href="./../snippet/icon.html"><span class="btn-text">design1 insert after</span></a>
										</div>
										<!-- //button-area -->
										<p class="para">버튼 모듈에 사용되는 아이콘의 이름은 <a href="./../snippet/icon.html">snippet/icon.html</a> 참조하세요</p>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
						<!-- section-->
						<div class="section button-variation">
							<div class="section-head"></div>
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Button design 2</span></h4>
							</div>
							<div class="section-body">
								<div class="subsection">
									<div class="subsection-head">Accent</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js">
	<code class="html">&lt;a href="#" class="btn design2 accent1"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 accent2"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;</code></pre>
										<!-- //highlight-js -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">type1</div>
											<div class="subcategory-body">
												<div class="guide-button-area">
													<a class="btn design2 case1 type1 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type1 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type1 accent2 large-1x" href="#"><span class="btn-text">btn accent2</span></a>
													<a class="btn design2 case1 type1 accent3 large-1x" href="#"><span class="btn-text">btn accent3</span></a>
													<a class="btn design2 case1 type1 normal-04 large-1x" href="#"><span class="btn-text">btn normal-04</span></a>
													<a class="btn design2 case1 type1 normal-05 large-1x" href="#"><span class="btn-text">btn normal-05</span></a>
												</div>
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">type2</div>
											<div class="subcategory-body">
												<div class="guide-button-area">
													<a class="btn design2 case1 type2 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type2 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type2 accent2 large-1x" href="#"><span class="btn-text">btn accent2</span></a>
													<a class="btn design2 case1 type2 accent3 large-1x" href="#"><span class="btn-text">btn accent3</span></a>
													<a class="btn design2 case1 type2 normal-04 large-1x" href="#"><span class="btn-text">btn normal-04</span></a>
													<a class="btn design2 case1 type2 normal-05 large-1x" href="#"><span class="btn-text">btn normal-05</span></a>
												</div>
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">type3</div>
											<div class="subcategory-body">
												<div class="guide-button-area">
													<a class="btn design2 case1 type3 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type3 accent1 large-1x" href="#"><span class="btn-text">btn accent1</span></a>
													<a class="btn design2 case1 type3 accent2 large-1x" href="#"><span class="btn-text">btn accent2</span></a>
													<a class="btn design2 case1 type3 accent3 large-1x" href="#"><span class="btn-text">btn accent3</span></a>
													<a class="btn design2 case1 type3 normal-04 large-1x" href="#"><span class="btn-text">btn normal-04</span></a>
													<a class="btn design2 case1 type3 normal-05 large-1x" href="#"><span class="btn-text">btn normal-05</span></a>
												</div>
											</div>
										</div>
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section button-variation">
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Button display</span></h4>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">HTML structure</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js">
	<code class="html">&lt;!-- button-display --&gt;
&lt;div class="button-display design1 case1 type1"&gt;
&lt;span class="button-area design1 case1 type1"&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;button name&lt;/span&gt;&lt;/a&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;button name&lt;/span&gt;&lt;/a&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;button name&lt;/span&gt;&lt;/a&gt;
&lt;/span&gt;
&lt;/div&gt;
&lt;!-- //button-display --&gt;
	</code></pre>
										<!-- //highlight-js -->
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection --> 
								<div class="subsection">
									<div class="subsection-head">Class options</div>
									<div class="subsection-body">
										<!-- data-table -->
										<div class="data-table design2 type1">
											<table>
												<colgroup>
													<col style="width: 128rem;">
													<col>
												</colgroup>
												<tbody>
													<tr>
														<th scope="row">design</th>
														<td>design*</td>
													</tr>
													<tr>
														<th scope="row">case</th>
														<td>case-*</td>
													</tr>
													<tr>
														<th scope="row">type</th>
														<td>type-*</td>
													</tr>
												</tbody>
											</table>
										</div>
										<!-- //data-table -->
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection --> 
								<div class="subsection">
									<div class="subsection-head">demos</div>
									<div class="subsection-body">
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">type1</div>
											<div class="subcategory-body">
												<!-- button-display -->
												<div class="button-display design1 case1 type1">
													<span class="button-area">
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case1</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case2</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case3</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">type2</div>
											<div class="subcategory-body">
												<!-- button-display -->
												<div class="button-display design1 case1 type2">
													<span class="button-area">
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case1</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case2</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case3</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">type3</div>
											<div class="subcategory-body">
												<!-- button-display -->
												<div class="button-display design1 case1 type-c">
													<span class="button-area">
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case1</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case2</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case3</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">type4</div>
											<div class="subcategory-body">
												<!-- button-display -->
												<div class="button-display design1 case1 type-d">
													<span class="button-area">
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case1</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case2</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case3</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory" style="display: none;">
											<div class="subcategory-head">case2</div>
											<div class="subcategory-body">
												<!-- button-display -->
												<div class="button-display design1 case2 type-d">
													<span class="button-area">
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case1</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case2</span></a>
														<a class="btn design2 case3 type1 normal-00 large-1x" href="#"><span class="btn-text">Button case3</span></a>
													</span>
												</div>
												<!-- //button-display -->
											</div>
										</div>
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection --> 
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- local-body -->
				</div>
				<!-- //page-body -->
				<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>