<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject"><span class="local-name blind">guide</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- content-head -->
				<div class="content-head">
					<h3 class="content-subject"><span class="content-name">color</span></h3>
					<p class="para">웹 페이지의 컬러는 사용자에게 이정표와 같은 역할을 하므로 일관성 없이 남용된 컬러의 사용은 사용자에게 혼란을 주게 됩니다.<br />본 프로젝트의 컬러 시스템을 아래와 같이 정의하며, 반드시 약속된 값을 사용합니다.</p>
				</div>
				<!-- //content-head -->
				
				<!-- content-body -->
				<div class="content-body">
					<!-- section -->
					<div class="section color-variation">
						<div class="section-head">
							<h4 class="section-subject"><span class="section-name">system</span></h4>
							<p class="para">Base는 총 11가지의 Variants를 포함하며, Accent Color는 Primary, Secondary가 존재합니다.</p>
						</div>
						<div class="section-body">
							<div class="subsection base">
								<div class="subsection-head">Base</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #191d26"><span class="data-name">base, 090</span> <span class="data-code">#191d26</span></li>
										<li class="data-item" style="background-color: #373b44"><span class="data-name">base, 080</span> <span class="data-code">#373b44</span></li>
										<li class="data-item" style="background-color: #696d76"><span class="data-name">base, 070</span> <span class="data-code">#696d76</span></li>
										<li class="data-item" style="background-color: #999da8"><span class="data-name">base, 060</span> <span class="data-code">#999da8</span></li>
										<li class="data-item" style="background-color: #afb2bb"><span class="data-name">base, 050</span> <span class="data-code">#afb2bb</span></li>
										<li class="data-item" style="background-color: #bfc2ca"><span class="data-name">base, 040</span> <span class="data-code">#bfc2ca</span></li>
										<li class="data-item" style="background-color: #d8dbe1"><span class="data-name">base, 030</span> <span class="data-code">#d8dbe1</span></li>
										<li class="data-item" style="background-color: #eceff5"><span class="data-name">base, 020</span> <span class="data-code">#eceff5</span></li>
										<li class="data-item" style="background-color: #f4f6fb"><span class="data-name">base, 010</span> <span class="data-code">#f4f6fb</span></li>
										<li class="data-item" style="background-color: #f9fafc"><span class="data-name">base, 005</span> <span class="data-code">#f9fafc</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">base, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection primary">
								<div class="subsection-head">primary</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #052538"><span class="data-name">primary, 090</span> <span class="data-code">#052538</span></li>
										<li class="data-item" style="background-color: #003553"><span class="data-name">primary, 080</span> <span class="data-code">#003553</span></li>
										<li class="data-item" style="background-color: #014f7d"><span class="data-name">primary, 070</span> <span class="data-code">#014f7d</span></li>
										<li class="data-item" style="background-color: #016aa6"><span class="data-name">primary, 060</span> <span class="data-code">#016aa6</span></li>
										<li class="data-item" style="background-color: #0184d0"><span class="data-name">primary, 050</span> <span class="data-code">#0184d0</span></li>
										<li class="data-item" style="background-color: #41a3dc"><span class="data-name">primary, 040</span> <span class="data-code">#41a3dc</span></li>
										<li class="data-item" style="background-color: #73bce5"><span class="data-name">primary, 030</span> <span class="data-code">#73bce5</span></li>
										<li class="data-item" style="background-color: #a6d4ef"><span class="data-name">primary, 020</span> <span class="data-code">#a6d4ef</span></li>
										<li class="data-item" style="background-color: #d9edf8"><span class="data-name">primary, 010</span> <span class="data-code">#d9edf8</span></li>
										<li class="data-item" style="background-color: #f2f9fc"><span class="data-name">primary, 005</span> <span class="data-code">#f2f9fc</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">primary, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection secondary">
								<div class="subsection-head">secondary</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #15bd68"><span class="data-name">secondary, 090</span> <span class="data-code">#15bd68</span></li>
										<li class="data-item" style="background-color: #fbbf01"><span class="data-name">secondary, 080</span> <span class="data-code">#fbbf01</span></li>
										<li class="data-item" style="background-color: #ed6701"><span class="data-name">secondary, 070</span> <span class="data-code">#ed6701</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section color-variation">
						<div class="section-head">
							<h4 class="section-subject"><span class="section-name">system</span></h4>
							<p class="para">Normal Color는 base의 Variants를 포함하며, Accent Color는 Primary, Secondary가 존재합니다.</p>
						</div>
						<div class="section-body">
							<div class="subsection normal">
								<div class="subsection-head">normal</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #000000"><span class="data-name">normal, 100</span> <span class="data-code">#000000</span></li>
										<li class="data-item" style="background-color: #191d26"><span class="data-name">normal, 010</span> <span class="data-code">#191d26</span></li>
										<li class="data-item" style="background-color: #373b44"><span class="data-name">normal, 020</span> <span class="data-code">#373b44</span></li>
										<li class="data-item" style="background-color: #afb2bb"><span class="data-name">normal, 030</span> <span class="data-code">#afb2bb</span></li>
										<li class="data-item" style="background-color: #d8dbe1"><span class="data-name">normal, 040</span> <span class="data-code">#d8dbe1</span></li>
										<li class="data-item" style="background-color: #eceff5"><span class="data-name">normal, 050</span> <span class="data-code">#eceff5</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">normal, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection accent">
								<div class="subsection-head">accent</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #0184d0"><span class="data-name">accent, 010</span> <span class="data-code">#0184d0</span></li>
										<li class="data-item" style="background-color: #15bd68"><span class="data-name">accent, 020</span> <span class="data-code">#15bd68</span></li>
										<li class="data-item" style="background-color: #fbbf01"><span class="data-name">accent, 030</span> <span class="data-code">#fbbf01</span></li>
										<li class="data-item" style="background-color: #ed6701"><span class="data-name">accent, 040</span> <span class="data-code">#ed6701</span></li>
										<li class="data-item" style="background-color: #ff2f22"><span class="data-name">accent, 050</span> <span class="data-code">#ff2f22</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section color-variation">
						<div class="section-head"></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"></div>
								<div class="subsection-body">
									<pre class="highlight-js"><code class="scss">color($theme, $variant, $opacity);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"></div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="scss">color: color(base, 020);
border-color: color(base, 060);
background-color: color(base, 000, 0.6);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
				</div>
				<!-- content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>