<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Color</span>
					<span class="local-desc">컬러는 가장 강력한 시각언어입니다. 본 프로젝트에서 사용되는 색상을 정의합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
					<!-- section -->
					<div class="section color-variation">
						<div class="section-head">
							<h4 class="section-subject"><span class="section-name">Color system</span></h4>
							<p class="para">주색(Primary Color)은 프로젝트를 대표하는 Main Color입니다. 보조색(Secondary Color)은 주색과 조화를 이루는 강조용입니다.</p>
						</div>
						<div class="section-body">
							<div class="subsection base">
								<div class="subsection-head">Primary</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item">
											<span class="data-box" style="background-color: #052538"></span>
											<span class="data-name">primary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #003553"></span>
											<span class="data-name">primary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">primary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">primary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">primary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">primary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">primary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">primary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="subsection secondary">
								<div class="subsection-head">Secondary</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item">
											<span class="data-box" style="background-color: #052538"></span>
											<span class="data-name">secondary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #003553"></span>
											<span class="data-name">secondary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">secondary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">secondary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">secondary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">secondary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">secondary, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="subsection base">
								<div class="subsection-head">Base</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item">
											<span class="data-box" style="background-color: #191d26"></span>
											<span class="data-name">base, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #373b44"></span>
											<span class="data-name">base, 090</span> 
											<span class="data-code">#373b44</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #696d76"></span>
											<span class="data-name">base, 090</span> 
											<span class="data-code">#696d76</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #999da8"></span>
											<span class="data-name">base, 090</span> 
											<span class="data-code">#999da8</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #afb2bb"></span>
											<span class="data-name">base, 090</span> 
											<span class="data-code">#afb2bb</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #bfc2ca"></span>
											<span class="data-name">base, 090</span> 
											<span class="data-code">#bfc2ca</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #d8dbe1"></span>
											<span class="data-name">base, 090</span> 
											<span class="data-code">#d8dbe1</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #eceff5"></span>
											<span class="data-name">base, 090</span> 
											<span class="data-code">#eceff5</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="subsection normal">
								<div class="subsection-head">Normal</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item">
											<span class="data-box" style="background-color: #000000"></span>
											<span class="data-name">normal, 090</span> 
											<span class="data-code">#000000</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #2f3233"></span>
											<span class="data-name">normal, 090</span> 
											<span class="data-code">#2f3233</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #707070"></span>
											<span class="data-name">normal, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #999797"></span>
											<span class="data-name">normal, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #c2c1c1"></span>
											<span class="data-name">normal, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #ebeaea"></span>
											<span class="data-name">normal, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #ffffff"></span>
											<span class="data-name">normal, 090</span> 
											<span class="data-code">#ffffff</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="subsection accent">
								<div class="subsection-head">Accent</div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item">
											<span class="data-box" style="background-color: #0184d0"></span>
											<span class="data-name">accent, 090</span> 
											<span class="data-code">#0184d0</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #fbbf01"></span>
											<span class="data-name">accent, 090</span> 
											<span class="data-code">#fbbf01</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #ed6701"></span>
											<span class="data-name">accent, 090</span> 
											<span class="data-code">#ed6701</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">accent, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
										<li class="data-item">
											<span class="data-box" style="background-color: #15BD68"></span>
											<span class="data-name">accent, 090</span> 
											<span class="data-code">#191d26</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- //section -->
					<!-- section -->
					<div class="section color-variation">
						<div class="section-head">
							<h4 class="section-subject"><span class="section-name">SCSS Usage</span></h4>
							<p class="para">scss 작성 예시입니다.</p>
						</div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head">Argument</div>
								<div class="subsection-body">
									<pre class="highlight-js"><code class="scss">color($theme, $variant, $opacity);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head">Example</div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="scss">color: color(base, 020);
border-color: color(base, 060);
background-color: color(base, 000, 0.6);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>