<!DOCTYPE html>
<html lang="ko">
<head>
	<%-include('../_templates/_guide.head.ejs', {
		pageJavascript: ''
	}) %>
</head>
<body>
	<div id="wrap">
		<div id="guide-list">
			<%-include('../_templates/_guide.header.ejs') %>
				<!-- page-body -->
				<div class="page-body">
					<!-- local-head -->
					<div class="local-head">
						<h2 class="local-subject">
							<span class="local-name">Font</span>
							<span class="local-desc">폰트를 어떻게 쓰느냐에 따라 전달하려는 내용을 더 효과적으로 보여줄 수 있습니다. 폰트 스타일이 일관되면 가독성도 향상됩니다.</span>
						</h2>
					</div>
					<!-- //local-head -->
					<!-- local-body -->
					<div class="local-body">
						<!-- section -->
						<div class="section font-guide">
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Font System</span></h4>
								<p class="section-desc">콘텐츠의 헤드라인, 타이틀, 바디, 라벨, 버튼 등에 사용되는 텍스트의 class 를 통일해주세요.</p>
							</div>
							<div class="section-body">
								<div class="subsection">
									<div class="subsection-body">
										<table class="table">
											<caption>Font 가이드</caption>
											<colgroup>
												<col style="width: auto;">
												<col style="width: 10%;">
												<col style="width: 10%;">
												<col style="width: 10%;">
												<col style="width: 10%;">
												<col style="width: 10%;">
											</colgroup>
											<thead>
												<tr>
													<th scope="col">Type</th>
													<th scope="col">Size (PC)</th>
													<th scope="col">Line (PC)</th>
													<th scope="col">Size (MO)</th>
													<th scope="col">Line (MO)</th>
													<th scope="col">Weight</th>
												</tr>
											<thead>
											<tbody>
												<tr>
													<td>
														<span style="font-size: 70px; line-height: 150%; font-weight: 700;">Heading1</span>
													</td>
													<td>
														<span>70px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>30px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>bold</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 50px; line-height: 150%; font-weight: 700;">Heading2</span>
													</td>
													<td>
														<span>50px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>25px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>bold</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 36px; line-height: 150%; font-weight: 600;">Heading3</span>
													</td>
													<td>
														<span>36px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>25px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>semibold</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 32px; line-height: 150%; font-weight: 600;">Heading4</span>
													</td>
													<td>
														<span>32px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>25px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>semibold</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 24px; line-height: 140%; font-weight: 700;">Heading5</span>
													</td>
													<td>
														<span>24px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>20px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>bold</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 20px; line-height: 140%; font-weight: 300;">Body Light</span>
													</td>
													<td>
														<span>20px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>18px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>light</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 20px; line-height: 140%; font-weight: 400;">Body Regular</span>
													</td>
													<td>
														<span>20px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>18px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>regular</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 20px; line-height: 140%; font-weight: 500;">Body Medium</span>
													</td>
													<td>
														<span>20px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>18px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>medium</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 20px; line-height: 140%; font-weight: 600;">Body Semibold</span>
													</td>
													<td>
														<span>20px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>18px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>semibold</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 14px; line-height: 140%; font-weight: 400;">Small</span>
													</td>
													<td>
														<span>14px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>12px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>regular</span>
													</td>
												</tr>
												<tr>
													<td>
														<span style="font-size: 12px; line-height: 140%; font-weight: 500;">Extra Small</span>
													</td>
													<td>
														<span>12px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>12px</span>
													</td>
													<td>
														<span>140%</span>
													</td>
													<td>
														<span>medium</span>
													</td>
												</tr>
												<!-- <tr>
													<td>
														<span>Caption</span>
													</td>
												</tr> -->
												<tr>
													<td>
														<span style="font-size: 16px; line-height: 150%; font-weight: 700; color: rgb(220, 0, 0);">BUTTON</span>
													</td>
													<td>
														<span>16px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>25px</span>
													</td>
													<td>
														<span>150%</span>
													</td>
													<td>
														<span>bold</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- //local-body -->
				</div>
				<!-- //page-body -->
				<%-include('../_templates/_guide.footer.ejs') %>
		</div>
	</div>
</body>

</html>