<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {

	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        select();
    });
</script>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Form</span>
					<span class="local-desc">효과적인 입력 폼을 설계합니다. 정확한 양식 완성률을 보장하기 위해 주의깊게 설계하고 유지 관리되어야 합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Form system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
<!-- highlight -->
<pre class="highlight-js">
<code class="html">&lt;span class="form textfield"&gt;&lt;input class="form-elem" type="text"&gt;&lt;/span&gt;
&lt;!--form-unit이 있을경우--&gt;
&lt;span class="form textfield"&gt;
	&lt;input class="form-elem" type="text"&gt;
	&lt;span class="form-func"&gt;
		&lt;span class="form-unit"&gt;&lt;/span&gt;
		&lt;span class="form-time"&gt;&lt;/span&gt;
	&lt;/span&gt;
&lt;/span&gt;
&lt;!-- //form-unit --&gt;
</code></pre>
									<!-- //highlight -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Class options</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Style</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Type</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Outline</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Accent</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Textfield</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Property</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Search</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Property</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Datepicker</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Line</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Fill</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Select</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
                                <!-- highlight -->
<pre class="highlight-js">
<code class="html">&lt;div class="form select design1 case1"&gt;
    &lt;button class="selected"&gt;
        &lt;span class="select-text"&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;div class="option-area"&gt;
        &lt;ul class="option-list"&gt;
            &lt;li class="option-item"&gt;
                &lt;button class="option"&gt;&lt;/button&gt;
            &lt;/li&gt;
            &lt;li class="option-item"&gt;
                &lt;button class="option"&gt;&lt;/button&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;div&gt;
</code></pre>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Property</div>
							<div class="subsection-body">
                                <div class="form select design1 case1" id="lang">
                                    <button title="언어 선택" aria-label="언어 선택" aria-haspopup="true" class="selected">
                                        <span class="select-text cur-lang">KR</span>
                                    </button>
                                    <div class="option-area">
                                        <ul class="option-list">
                                            <li class="option-item">
                                                <a href="javascript:void(0)" class="option active">KR</a>
                                            </li>
                                            <li class="option-item">
                                                <a href="javascript:void(0)" class="option">EN</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Textarea</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Property</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Radio</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Style</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Checkbox</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Style</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>