<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name case1">List</span>
					<span class="local-desc">list 컴포넌트 설명글을 기재합니다.list 컴포넌트 설명글을 기재합니다.list 컴포넌트 설명글을 기재합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Data list</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
									<!-- highlight-js -->
<pre class="highlight-js">
<code class="html">&lt;!-- data-table --&gt;
&lt;div class="data-table"&gt;
	&lt;table&gt;
		&lt;colgroup&gt;
			&lt;col style="width: value;" /&gt;
			&lt;col /&gt;
		&lt;/colgroup&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th scope="col"&gt;header cell&lt;/th&gt;
				&lt;th scope="col"&gt;header cell&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;data cell&lt;/td&gt;
				&lt;td&gt;data cell&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
&lt;!-- //data-table --&gt;</code></pre>
										<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Class options</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-head">Type</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type1</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type2</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type3</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type4</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-head">Accent</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">accent1</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">accent2</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Order List</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
									<!-- highlight-js -->
<pre class="highlight-js">
<code class="html">&lt;!-- data-table --&gt;
&lt;div class="data-table"&gt;
	&lt;table&gt;
		&lt;colgroup&gt;
			&lt;col style="width: value;" /&gt;
			&lt;col /&gt;
		&lt;/colgroup&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th scope="col"&gt;header cell&lt;/th&gt;
				&lt;th scope="col"&gt;header cell&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;data cell&lt;/td&gt;
				&lt;td&gt;data cell&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
&lt;!-- //data-table --&gt;</code></pre>
										<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Class options</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-head">Type</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type1</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type2</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Data display</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
									<!-- highlight-js -->
<pre class="highlight-js">
<code class="html">&lt;!-- data-table --&gt;
&lt;div class="data-table"&gt;
	&lt;table&gt;
		&lt;colgroup&gt;
			&lt;col style="width: value;" /&gt;
			&lt;col /&gt;
		&lt;/colgroup&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th scope="col"&gt;header cell&lt;/th&gt;
				&lt;th scope="col"&gt;header cell&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;data cell&lt;/td&gt;
				&lt;td&gt;data cell&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
&lt;!-- //data-table --&gt;</code></pre>
										<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Class options</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-head">Design1</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type1</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type2</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-head">Design2</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type1</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">type2</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>