<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {

	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Mark</span>
					<span class="local-desc">마크에 대한 설명마크에 대한 설명마크에 대한 설명마크에 대한 설명</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Mark system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
									<!-- highlight-js -->
									<pre class="highlight-js">
<code class="html">&lt;span class="mark design1 case1"&gt;&lt;span class="mark-text"&gt;mark Text&lt;/span&gt;&lt;/span&gt;
&lt;span class="mark design1 case2"&gt;&lt;span class="mark-text"&gt;mark Text&lt;/span&gt;&lt;/span&gt;
&lt;span class="mark design1 case3"&gt;&lt;span class="mark-text"&gt;mark Text&lt;/span&gt;&lt;/span&gt;</code></pre>
									<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Style</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Type</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">label mark</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-body">
							<!-- highlight-js -->
<pre class="highlight-js">
<code class="html">&lt;span class="mark design1 case1"&gt;&lt;span class="mark-text"&gt;mark Text&lt;/span&gt;&lt;/span&gt;
&lt;span class="mark design1 case2"&gt;&lt;span class="mark-text"&gt;mark Text&lt;/span&gt;&lt;/span&gt;
&lt;span class="mark design1 case3"&gt;&lt;span class="mark-text"&gt;mark Text&lt;/span&gt;&lt;/span&gt;</code></pre>
							<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>