<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name case1">Tab</span>
					<span class="local-desc">콘텐츠를 항목별로 구분하여 표시할 때 사용합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Tab display</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">design1</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;!-- tab-display --&gt;
&lt;div class="tab-display design1"&gt;
	&lt;div class="swiper tab-area"&gt;
		&lt;ul class="swiper-wrapper tab-list"&gt;
			&lt;li class="swiper-slide tab-item"&gt;&lt;a href="#" class="tab-text"&gt;탭1&lt;/a&gt;&lt;/li&gt;
			&lt;li class="swiper-slide tab-item"&gt;&lt;a href="#" class="tab-text"&gt;탭2&lt;/a&gt;&lt;/li&gt;
			&lt;li class="swiper-slide tab-item"&gt;&lt;a href="#" class="tab-text"&gt;탭3&lt;/a&gt;&lt;/li&gt;
			&lt;li class="swiper-slide tab-item"&gt;&lt;a href="#" class="tab-text"&gt;탭4&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;!-- //tab-display --&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Penel display</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">design1</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;!-- panel-display --&gt;
&lt;div class="panel-display design1"&gt;
	&lt;div class="panel-list"&gt;
		&lt;div class="panel-item"&gt;&lt;div class="panel-wrap"&gt;탭1내용&lt;/div&gt;&lt;/div&gt;
		&lt;div class="panel-item"&gt;&lt;div class="panel-wrap"&gt;탭2내용&lt;/div&gt;&lt;/div&gt;
		&lt;div class="panel-item"&gt;&lt;div class="panel-wrap"&gt;탭3내용&lt;/div&gt;&lt;/div&gt;
		&lt;div class="panel-item"&gt;&lt;div class="panel-wrap"&gt;탭4내용&lt;/div&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;!-- //panel-display --&gt;</code></pre>
											<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>