<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Table</span>
					<span class="local-desc">테이블 컴포넌트 입니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section table-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Data table</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
									<!-- highlight-js -->
<pre class="highlight-js">
<code class="html">&lt;!-- table-list --&gt;
&lt;div class="t-display design1 case1 type1"&gt;
	&lt;table&gt;
		&lt;colgroup&gt;
			&lt;col style="width: value;" /&gt;
			&lt;col /&gt;
		&lt;/colgroup&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th scope="col"&gt;thead text&lt;/th&gt;
				&lt;th scope="col"&gt;thead text&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;tbody text&lt;/td&gt;
				&lt;td&gt;tbody text&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
&lt;!-- //table-list --&gt;</code></pre>
										<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demo</div>
							<div class="subsection-body">
								<table>
									<caption>표의 제목을 표현하기 위해 사용합니다. 반드시 선언합니다.</caption>
									<colgroup>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">구분</th>
											<th scope="col">가격(won)</th>
											<th scope="col">열량(kcal)</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td>6,500</td>
											<td>6,500</td>
											<td>650</td>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td>3,000</td>
											<td>3,000</td>
											<td>300</td>
										</tr>
										<tr>
											<td>3,500</td>
											<td>3,500</td>
											<td>350</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section table-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Type</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Class options</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>