<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/guide/GUT00100HEAD.ejs') %>
    </head>
    <body>
        <div id="wrap" class="wrap guide">
            <%-include('../include/guide/GUT00101HEADER.ejs') %>
            <main class="container guide GUT001W00 main">
                <div class="container-inner main-contents">
                    <article class="contents main-flex-layer">
                        <a href="../../html/guide/GUT001W01.html" class="banner-box-leaf leaf-right background-blue type01" title="페이지이동">
                            <div class="banner-box-inner">
                                <h4 class="title-banner-box">
                                    <span class="text text-shdow">가이드 라인</span>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <article class="contents main-flex-layer">
                        <a href="../../html/guide/GUT001W02.html" class="banner-box-leaf leaf-right background-sea type02" title="페이지이동">
                            <div class="banner-box-inner">
                                <h4 class="title-banner-box">
                                    <span class="text text-shdow">컴포넌트</span>
                                </h4>
                            </div>
                        </a>
                        <a href="../../html/guide/GUT001W03.html" class="banner-box-leaf leaf-right background-sea type02" title="페이지이동">
                            <div class="banner-box-inner">
                                <h4 class="title-banner-box">
                                    <span class="text text-shdow">템플릿</span>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <article class="contents main-flex-layer">
                        <a href="../../html/guide/GUT002W01.html" class="banner-box-leaf leaf-right background-blue type01" title="페이지이동">
                            <div class="banner-box-inner">
                                <h4 class="title-banner-box">
                                    <span class="text text-shdow">페이지 목록</span>
                                </h4>
                            </div>
                        </a>
                    </article>
                </div>
            </main>
            <%-include('../include/guide/GUT00103FOOTER.ejs') %>
        </div>
    </body>
</html>