<!DOCTYPE html>
<html lang="ko">
    <head>
        <%-include('../include/guide/GUT00100HEAD.ejs') %>
    </head>
    <body>
        <div id="wrap" class="wrap guide">
            <%-include('../include/guide/GUT00101HEADER.ejs') %>
            <main class="container guide GUT001W01 sub">
                <section class="container-wrap">
                    <div class="container-inner">
                        <em class="guide-sort-bar">
                            <span class="text-wrap">
                                <span class="text">효성티앤씨 가이드</span>
                            </span>
                            <span class="bar"></span>
                        </em>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">Color</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <div class="categorization-custom-wrap">
                                                <h4 class="title-categorization">
                                                    <em class="text-wrap">
                                                        <span class="text">Neutral</span>
                                                    </em>
                                                </h4>
                                                <div class="color-data">
                                                    <ul class="data-list">
                                                        <li class="data-item type-2" style="background-color: #ffffff;">
                                                            <p class="name">neutral, 0</p>
                                                            <p class="hex">#FFFFFF</p>
                                                        </li>
                                                        <li class="data-item type-2" style="background-color: #F8F9FC;">
                                                            <p class="name">neutral, 100</p>
                                                            <p class="hex">#F8F9FC</p>
                                                        </li>
                                                        <li class="data-item type-2" style="background-color: #F1F3F9;">
                                                            <p class="name">neutral, 200</p>
                                                            <p class="hex">#F1F3F9</p>
                                                        </li>
                                                        <li class="data-item type-2" style="background-color: #E1E6EF;">
                                                            <p class="name">neutral, 300</p>
                                                            <p class="hex">#E1E6EF</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #3F444D;">
                                                            <p class="name">neutral, 700</p>
                                                            <p class="hex">#3F444D</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #23272F;">
                                                            <p class="name">neutral, 800</p>
                                                            <p class="hex">#23272F</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #1B1F27;">
                                                            <p class="name">neutral, 900</p>
                                                            <p class="hex">#1B1F27</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #0A0D14;">
                                                            <p class="name">neutral, 1000</p>
                                                            <p class="hex">#0A0D14</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guide-br"></div>
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <div class="categorization-custom-wrap">
                                                <h4 class="title-categorization">
                                                    <em class="text-wrap">
                                                        <span class="text">Normal</span>
                                                    </em>
                                                </h4>
                                                <div class="color-data">
                                                    <ul class="data-list">
                                                        <li class="data-item type-1" style="background-color: #C2C2C4;">
                                                            <p class="name">normal, 0</p>
                                                            <p class="hex">#C2C2C4</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #9D9EA1;">
                                                            <p class="name">normal, 100</p>
                                                            <p class="hex">#9D9EA1</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #737373;">
                                                            <p class="name">normal, 200</p>
                                                            <p class="hex">#737373</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #535353;">
                                                            <p class="name">normal, 300</p>
                                                            <p class="hex">#535353</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #282828;">
                                                            <p class="name">normal, 400</p>
                                                            <p class="hex">#282828</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #000000;">
                                                            <p class="name">normal, 500</p>
                                                            <p class="hex">#000000</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guide-br"></div>
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <div class="categorization-custom-wrap">
                                                <h4 class="title-categorization">
                                                    <em class="text-wrap">
                                                        <span class="text">Primary</span>
                                                    </em>
                                                </h4>
                                                <div class="color-data">
                                                    <ul class="data-list">
                                                        <li class="data-item type-2" style="background-color: #F0F5FF;">
                                                            <p class="name">primary, 100</p>
                                                            <p class="hex">#F0F5FF</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #2F6FED;">
                                                            <p class="name">primary, 700</p>
                                                            <p class="hex">#2F6FED</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #1D5BD6;">
                                                            <p class="name">primary, 800</p>
                                                            <p class="hex">#1D5BD6</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #1E4EAE;">
                                                            <p class="name">primary, 900</p>
                                                            <p class="hex">#1E4EAE</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guide-br"></div>
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <div class="categorization-custom-wrap">
                                                <h4 class="title-categorization">
                                                    <em class="text-wrap">
                                                        <span class="text">Secondary</span>
                                                    </em>
                                                </h4>
                                                <div class="color-data">
                                                    <ul class="data-list">
                                                        <li class="data-item type-2" style="background-color: #F8F5FF;">
                                                            <p class="name">secondary, 100</p>
                                                            <p class="hex">#F8F5FF</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #8B54F7;">
                                                            <p class="name">secondary, 700</p>
                                                            <p class="hex">#8B54F7</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #6D35DE;">
                                                            <p class="name">secondary, 800</p>
                                                            <p class="hex">#6D35DE</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #5221B5;">
                                                            <p class="name">secondary, 900</p>
                                                            <p class="hex">#5221B5</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guide-br"></div>
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <div class="categorization-custom-wrap">
                                                <h4 class="title-categorization">
                                                    <em class="text-wrap">
                                                        <span class="text">Success</span>
                                                    </em>
                                                </h4>
                                                <div class="color-data">
                                                    <ul class="data-list">
                                                        <li class="data-item type-2" style="background-color: #EDFDF8;">
                                                            <p class="name">success, 100</p>
                                                            <p class="hex">#EDFDF8</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #08875D;">
                                                            <p class="name">success, 700</p>
                                                            <p class="hex">#08875D</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #04724D;">
                                                            <p class="name">success, 800</p>
                                                            <p class="hex">#04724D</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #066042;">
                                                            <p class="name">success, 900</p>
                                                            <p class="hex">#066042</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guide-br"></div>
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <div class="categorization-custom-wrap">
                                                <h4 class="title-categorization">
                                                    <em class="text-wrap">
                                                        <span class="text">Warning</span>
                                                    </em>
                                                </h4>
                                                <div class="color-data">
                                                    <ul class="data-list">
                                                        <li class="data-item type-2" style="background-color: #FFF8EB;">
                                                            <p class="name">warning, 100</p>
                                                            <p class="hex">#FFF8EB</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #B25E09;">
                                                            <p class="name">warning, 700</p>
                                                            <p class="hex">#B25E09</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #96530F;">
                                                            <p class="name">warning, 800</p>
                                                            <p class="hex">#96530F</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #80460D;">
                                                            <p class="name">warning, 900</p>
                                                            <p class="hex">#80460D</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guide-br"></div>
                                    <div class="contents-box-inner">
                                        <div class="contents-box-line">
                                            <div class="categorization-custom-wrap">
                                                <h4 class="title-categorization">
                                                    <em class="text-wrap">
                                                        <span class="text">Danger</span>
                                                    </em>
                                                </h4>
                                                <div class="color-data">
                                                    <ul class="data-list">
                                                        <li class="data-item type-2" style="background-color: #FEF1F2;">
                                                            <p class="name">danger, 100</p>
                                                            <p class="hex">#FEF1F2</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #E02D3C;">
                                                            <p class="name">danger, 700</p>
                                                            <p class="hex">#E02D3C</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #BA2532;">
                                                            <p class="name">danger, 800</p>
                                                            <p class="hex">#BA2532</p>
                                                        </li>
                                                        <li class="data-item type-1" style="background-color: #981B25;">
                                                            <p class="name">danger, 900</p>
                                                            <p class="hex">#981B25</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="guide-info-txt" style="padding-top: 3rem; padding-left: 2rem;">
                                        작성방식 예시 : <em>color(warning, 900),</em>&nbsp;&nbsp;<em>color(primary, 800, 0.5)</em><br />
                                        &#36;opacity값은 생략 가능
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">Font Family</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-block">
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight100">font-family:'Pretendard';</span>
                                                    <span class="text font-weight100">font-weight:100;</span>
                                                    <span class="text font-weight100">前 文</span>
                                                    <span class="text font-weight100">[Thin]</span>
                                                </em>
                                            </h5>
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight200">font-family:'Pretendard';</span>
                                                    <span class="text font-weight200">font-weight:200;</span>
                                                    <span class="text font-weight200">前 文</span>
                                                    <span class="text font-weight200">[Extra Light]</span>
                                                </em>
                                            </h5>
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight300">font-family:'Pretendard';</span>
                                                    <span class="text font-weight300">font-weight:300;</span>
                                                    <span class="text font-weight300">前 文</span>
                                                    <span class="text font-weight300">[Light]</span>
                                                </em>
                                            </h5>
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight400">font-family:'Pretendard';</span>
                                                    <span class="text font-weight400">font-weight:400;</span>
                                                    <span class="text font-weight400">前 文</span>
                                                    <span class="text font-weight400">[Regular]</span>
                                                </em>
                                            </h5>
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight500">font-family:'Pretendard';</span>
                                                    <span class="text font-weight500">font-weight:500;</span>
                                                    <span class="text font-weight500">前 文</span>
                                                    <span class="text font-weight500">[Medium]</span>
                                                </em>
                                            </h5>
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight600">font-family:'Pretendard';</span>
                                                    <span class="text font-weight600">font-weight:600;</span>
                                                    <span class="text font-weight600">前 文</span>
                                                    <span class="text font-weight600">[Semi Bold]</span>
                                                </em>
                                            </h5>
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight700">font-family:'Pretendard';</span>
                                                    <span class="text font-weight700">font-weight:700;</span>
                                                    <span class="text font-weight700">前 文</span>
                                                    <span class="text font-weight700">[Bold]</span>
                                                </em>
                                            </h5>
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight800">font-family:'Pretendard';</span>
                                                    <span class="text font-weight800">font-weight:800;</span>
                                                    <span class="text font-weight800">前 文</span>
                                                    <span class="text font-weight800">[Extra Bold]</span>
                                                </em>
                                            </h5>
                                            <h5 class="title-guide-description">
                                                <em class="text-wrap">
                                                    <span class="text font-weight900">font-family:'Pretendard';</span>
                                                    <span class="text font-weight900">font-weight:900;</span>
                                                    <span class="text font-weight900">前 文</span>
                                                    <span class="text font-weight900">[Black]</span>
                                                </em>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">Font Size &amp; Line Height</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-block">
                                        <h5 class="title-guide-description">
                                            <em class="text-wrap">
                                                <span class="text font-weight600 font-size40 line-height46">(단위 : rem)</span>
                                            </em>
                                        </h5>
                                        <h5 class="title-guide-description">
                                            <em class="text-wrap">
                                                <span class="text font-size16 line-height24">font-size:1.6rem;</span>
                                                <span class="text font-size16 line-height24">line-height:2.4rem;</span>
                                            </em>
                                        </h5>
                                        <h5 class="title-guide-description">
                                            <em class="text-wrap">
                                                <span class="text font-weight700 font-size34 line-height40">font-size:3.4rem;</span>
                                                <span class="text font-weight700 font-size34 line-height40">line-height:4rem;</span>
                                            </em>
                                        </h5>
                                        <h5 class="title-guide-description">
                                            <em class="text-wrap">
                                                <span class="text font-weight700 font-size48 line-height57">font-size:4.8rem;</span>
                                                <span class="text font-weight700 font-size48 line-height57">line-height:5.7rem;</span>
                                            </em>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">Example of Code Creation</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="contents-box-block">
                                            <h5 class="title-guide-example">
                                                <em class="text-wrap">
                                                    <span class="text">EX) Pretendard Title입니다</span>
                                                </em>
                                            </h5>
                                            <div class="guide-code-view">
                                                &lt;!-- tag --&gt;<br />
                                                &lt;<span class="text color-tag">h5</span> <span class="text color-class">class</span><span class="text color-cadmission">=</span><span class="text color-class-name">&quot;title-guide-example&quot;</span>&gt;<br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="text color-tag">em</span> <span class="text color-class">class</span><span class="text color-cadmission">=</span><span class="text color-class-name">&quot;text-wrap&quot;</span>&gt;<br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="text color-tag">span</span> <span class="text color-class">class</span><span class="text color-cadmission">=</span><span class="text color-class-name">&quot;text&quot;</span>&gt;<span class="text color-text">Pretendard Title입니다</span>&lt;/<span class="text color-tag">span</span>&gt;<br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="text color-tag">em</span>&gt;<br />
                                                &lt;/<span class="text color-tag">h5</span>&gt;
                                                <br /><br />
                                                &lt;!-- scss --&gt;<br />
                                                <span class="text color-scss-class-name">.title-guide-example</span> <span class="text color-scss-mid-bracket1">{</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">display</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-text">block</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-all-selector">*</span> <span class="text color-scss-mid-bracket2">{</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">box-sizing</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-text">border-box</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-mid-bracket2">}</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-class-name">.text-wrap</span> <span class="text color-scss-mid-bracket2">{</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">display</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-text">inline-block</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">font-size</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-number">0</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-mid-bracket2">}</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-class-name">.text</span> <span class="text color-scss-mid-bracket2">{</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">display</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-text">inline-block</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">font-family</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-text">'Pretendard'</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">font-weight</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-number">600</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">font-size</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-number">2.6rem</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">line-height</span> <span class="text color-scss-colon">:</span> <span class="text color-scss-property-value-number">3.2rem</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-property-name">color</span><span class="text color-scss-colon">:</span> <span class="text color-scss-function-name">rgba</span><span class="text color-scss-bracket2">(</span><span class="text color-scss-property-value-number">0</span><span class="text color-scss-comma">,</span><span class="text color-scss-property-value-number">0</span><span class="text color-scss-comma">,</span><span class="text color-scss-property-value-number">0</span><span class="text color-scss-comma">,</span><span class="text color-scss-property-value-number">1</span><span class="text color-scss-bracket2">)</span><span class="text color-scss-semicolon">;</span><br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="text color-scss-mid-bracket2">}</span><br />
                                                <span class="text color-scss-mid-bracket1">}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="contents">
                            <div class="contents-inner">
                                <div class="title-contents-wrap">
                                    <h3 class="title-contents-guide">
                                        <span class="text color-white">Web Standard &amp; Accessibility</span>
                                    </h3>
                                </div>
                                <div class="contents-box-wrap">
                                    <div class="contents-box-inner">
                                        <div class="group-description-Area">
                                            <dl class="group-description-dl">
                                                <dt>
                                                    <dfn class="text title"><abbr title="공통 클래스 사용 방법">&lt;a&gt; 태그 웹 접근성</abbr></dfn>
                                                </dt>
                                                <dd>
                                                    <ul class="text">
                                                        <li class="bullet bold">해당 엘리먼트가 링크 이동 시 &lt;a&gt; 태그 사용</li>
                                                        <li class="bullet bold">해당 엘리먼트에 대체 텍스트가 없다면 title, aria-label 속성 기재 (국문버전에서는 국문으로, 영문버전에서는 영문으로 각 variable에 맞게 기재)</li>
                                                        <li class="bullet bold">대체 텍스트가 존재 하더라도 target="_blank"일 경우 title="새 창으로 이동" 기재 <span class="note">ex) footer &gt; FAMILY SITE</span></li>
                                                        <li class="bullet bold">다른 텍스트와 함께 사용하여 동등한 내용을 가진 대체 콘텐츠의 경우 대체 텍스트를 기재할 필요 없음</li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl class="group-description-dl">
                                                <dt>
                                                    <dfn class="text title"><abbr title="텍스트 정렬 공통 클래스 사용 방법">&lt;img&gt; 태그 웹 접근성</abbr></dfn>
                                                </dt>
                                                <dd>
                                                    <ul class="text">
                                                        <li class="bullet bold">alt 속성은 항상 존재하며, 의미와 용도를 인식할 수 있도록 기재</li>
                                                        <li class="bullet bold">의미 없는 이미지인 img 태그 일 경우, alt 속성안에 공백 문자를 기재 <span class="note">ex) alt=" "</span></li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl class="group-description-dl">
                                                <dt>
                                                    <dfn class="text title"><abbr title="박스 정렬 공통 클래스 사용 방법">&lt;button&gt; 태그 웹 접근성</abbr></dfn>
                                                </dt>
                                                <dd>
                                                    <ul class="text">
                                                        <li class="bullet bold">해당 엘리먼트가 링크 이동이 아닌 단순 조작에 의미인 경우 &lt;button&gt; 태그 사용</li>
                                                        <li class="bullet bold">해당 엘리먼트에 대체 텍스트가 없다면 title, aria-label 속성 기재</li>
                                                        <li class="bullet bold">&lt;button&gt; 태그 자식으로 &lt;div&gt;나 &lt;h2&gt;같은 block 형태의 태그들 사용 금지</li>
                                                        <li class="bullet bold">다른 텍스트와 함께 사용하여 동등한 내용을 가진 대체 콘텐츠의 경우 대체 텍스트를 기재할 필요 없음</li>
                                                        <li class="bullet bold">의미와 용도에 맞는 type속성을 올바르게 기재</li>
                                                        <li class="bullet bold">onclick="javascript:void(0)" 기재</li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl class="group-description-dl">
                                                <dt>
                                                    <dfn class="text title"><abbr title="간격 공통 클래스 사용 방법">&lt;table&gt; 태그 웹 접근성</abbr></dfn>
                                                </dt>
                                                <dd>
                                                    <ul class="text">
                                                        <li class="bullet bold">모든 제목 셀 &lt;th&gt; 태그에는 어떤 내용의 셀인지 scope 속성을 추가 <span class="note"> ex) scope="col", scope="row"</span></li>
                                                        <li class="bullet bold">html의 스타일 속성으로 width값을 잡지 않도록 주의, css로 대체할 수 있는 경우 css로 작성</li>
                                                        <li class="bullet bold">summary 속성은 html5으로 넘어오면서 지원하지 않기 때문에 사용하지 않도록 함</li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl class="group-description-dl">
                                                <dt>
                                                    <dfn class="text title"><abbr title="간격 공통 클래스 사용 방법">&lt;input&gt; &lt;select&gt; 태그 웹 접근성</abbr></dfn>
                                                </dt>
                                                <dd>
                                                    <ul class="text">
                                                        <li class="bullet bold">label 요소와 함께 연결을 시켜야 함<a href="https://rgy0409.tistory.com/4801" class="link bold"> 참고페이지 </a></li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%-include('../include/guide/GUT00103FOOTER.ejs') %>
        </div>
    </body>
</html>