		<!--page-head-->
		<div class="page-head" id="head">
			<div class="page-head-inner">
				<h1 class="page-subject"><a class="page-name" href="/">MARKUP GUIDE</a></h1>
				<!--page-control-->
				<div class="page-control">
					<div class="control-list">
						<span class="control-item"><button class="control-name" onclick="asideToggleActive()"><svg width="30" height="20" viewBox="0 0 30 20" focusable="false"><path d="M8.13 0H29.9482V2.48124H8.13V0ZM0 8.75789H30V11.2391H0V8.75789ZM29.9482 17.5156H8.13V19.9969H29.9482V17.5156Z"></path></svg></button></span>
					</div>
				</div>
			</div>
		</div>
		<script>
			function asideToggleActive() {
				var layoutPageSide = document.getElementById("layoutPageSide");
				layoutPageSide.classList.toggle("active");
			}
		</script>
		<!--//page-head-->
		<%-include('../_templates/_guide.aside.ejs') %>