		<!--page-head-->
		<div class="page-head" id="head">
			<div class="page-head-inner">
				<h1 class="page-subject" title="전우 APS"><a class="page-name" href="/">MARKUP GUIDELINE</a></h1>
				<!--page-control-->
				<div class="page-control" id="layoutPageControl">
					<div class="control-list">
						<span class="control-item"><button class="control-name" onclick="asideToggleActive()"><svg width="40" height="40" viewBox="0 0 40 40" focusable="false"><path id="svgPath" d="M35 13H13V10H35V13ZM35 22H5V19H35V22ZM13 31H35V28H13V31Z"></path></svg></button></span>
					</div>
				</div>
			</div>
		</div>
		<script>
			function asideToggleActive() {
				const layoutPageControl = document.getElementById("layoutPageControl");
				const layoutPageSide = document.getElementById("layoutPageSide");
				const layoutGuideList = document.getElementById("guide-list");
				layoutPageSide.classList.toggle("active");
				layoutPageControl.classList.toggle("active");
				layoutGuideList.classList.toggle("fixed");
				const path = document.getElementById("svgPath");
				const currentD = path.getAttribute("d");
				let newPath = "";

				if (currentD === "M35 13H13V10H35V13ZM35 22H5V19H35V22ZM13 31H35V28H13V31Z") {
					newPath = "M20.0608 22.1821L28.9985 31.1198L31.1198 28.9985L22.1821 20.0608L31.12 11.1228L28.9987 9.00151L20.0608 17.9395L11.1213 9L9 11.1213L17.9395 20.0608L9.00023 29L11.1215 31.1213L20.0608 22.1821Z";
				} else {
					newPath = "M35 13H13V10H35V13ZM35 22H5V19H35V22ZM13 31H35V28H13V31Z";
				}
				path.setAttribute("d", newPath);
			}
		</script>
		<!--//page-head-->
		<%-include('../_templates/_guide.aside.ejs') %>