		<!--page-head-->
		<div class="page-head" id="head">
			<div class="page-head-inner">
				<h1 class="page-subject"><a class="page-name" href="/">MARKUP GUIDE</a></h1>
				<!--page-control-->
				<div class="page-control">
					<div class="control-list">
						<span class="control-item"><button class="control-name" onclick="layoutPageSide.active('aside');"><svg width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>Go to Table of Content</title><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></button></span>
					</div>
				</div>
			</div>
		</div>
		<!--//page-head-->
		<%-include('../_templates/_guide.aside.ejs') %>