		<!--page-head-->
		<div class="page-head" id="head">
			<div class="page-head-inner">
				<h1 class="page-subject"><a class="page-name" href="/">MARKUP GUIDE</a></h1>
				<!--page-control-->
				<div class="page-control">
					<div class="control-list">
						<span class="control-item"><button class="control-name" onclick="asideToggleActive()"><svg width="55" height="35" viewBox="0 0 55 35" focusable="false"><path d="M14.9082 0H54.9082V4.34375H14.9082V0ZM0 15.3281H55V19.6719H0V15.3281ZM54.9082 30.6562H14.9082V35H54.9082V30.6562Z"></path></svg></button></span>
					</div>
				</div>
			</div>
		</div>
		<script>
			function asideToggleActive() {
				var layoutPageSide = document.getElementById("layoutPageSide");
				layoutPageSide.classList.toggle("active");
			}
		</script>
		<!--//page-head-->
		<%-include('../_templates/_guide.aside.ejs') %>